<!-- Content managed by Project Forge, see [projectforge.md] for details. -->
{% import (
  "github.com/kyleu/rituals/app"
  "github.com/kyleu/rituals/app/controller/cutil"
  "github.com/kyleu/rituals/app/enum"
  "github.com/kyleu/rituals/app/estimate"
  "github.com/kyleu/rituals/app/estimate/ehistory"
  "github.com/kyleu/rituals/app/estimate/emember"
  "github.com/kyleu/rituals/app/estimate/epermission"
  "github.com/kyleu/rituals/app/estimate/story"
  "github.com/kyleu/rituals/app/lib/filter"
  "github.com/kyleu/rituals/app/sprint"
  "github.com/kyleu/rituals/app/team"
  "github.com/kyleu/rituals/app/util"
  "github.com/kyleu/rituals/views/components"
  "github.com/kyleu/rituals/views/components/view"
  "github.com/kyleu/rituals/views/layout"
  "github.com/kyleu/rituals/views/vestimate/vehistory"
  "github.com/kyleu/rituals/views/vestimate/vemember"
  "github.com/kyleu/rituals/views/vestimate/vepermission"
  "github.com/kyleu/rituals/views/vestimate/vstory"
) %}

{% code type Detail struct {
  layout.Basic
  Model *estimate.Estimate
  TeamByTeamID *team.Team
  SprintBySprintID *sprint.Sprint
  Params filter.ParamSet
  RelEstimateHistoriesByEstimateID ehistory.EstimateHistories
  RelEstimateMembersByEstimateID emember.EstimateMembers
  RelEstimatePermissionsByEstimateID epermission.EstimatePermissions
  RelStoriesByEstimateID story.Stories
} %}

{% func (p *Detail) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <div class="right">
      <a href="#modal-estimate"><button type="button">{%= components.SVGButton("file", ps) %}JSON</button></a>
      <a href="{%s p.Model.WebPath() %}/edit"><button>{%= components.SVGButton("edit", ps) %}Edit</button></a>
    </div>
    <h3>{%= components.SVGIcon(`estimate`, ps) %}{%s p.Model.TitleString() %}</h3>
    <div><a href="/admin/db/estimate"><em>Estimate</em></a></div>
    <div class="mt overflow full-width">
      <table>
        <tbody>
          <tr>
            <th class="shrink" title="UUID in format (00000000-0000-0000-0000-000000000000)">ID</th>
            <td>{%= view.UUID(&p.Model.ID) %}</td>
          </tr>
          <tr>
            <th class="shrink" title="String text">Slug</th>
            <td>{%= view.String(p.Model.Slug) %}</td>
          </tr>
          <tr>
            <th class="shrink" title="String text">Title</th>
            <td><strong>{%= view.String(p.Model.Title) %}</strong></td>
          </tr>
          <tr>
            <th class="shrink" title="String text">Icon</th>
            <td>{%= view.String(p.Model.Icon) %}</td>
          </tr>
          <tr>
            <th class="shrink" title="{%s enum.AllSessionStatuses.Help() %}">Status</th>
            <td>{%s p.Model.Status.String() %}</td>
          </tr>
          <tr>
            <th class="shrink" title="UUID in format (00000000-0000-0000-0000-000000000000) (optional)">Team ID</th>
            <td class="nowrap">
              {%= view.UUID(p.Model.TeamID) %}{% if p.TeamByTeamID != nil %} ({%s p.TeamByTeamID.TitleString() %}){% endif %}
              {% if p.Model.TeamID != nil %}<a title="Team" href="{%s `/admin/db/team`+`/`+p.Model.TeamID.String() %}">{%= components.SVGSimple("team", 18, ps) %}</a>{% endif %}
            </td>
          </tr>
          <tr>
            <th class="shrink" title="UUID in format (00000000-0000-0000-0000-000000000000) (optional)">Sprint ID</th>
            <td class="nowrap">
              {%= view.UUID(p.Model.SprintID) %}{% if p.SprintBySprintID != nil %} ({%s p.SprintBySprintID.TitleString() %}){% endif %}
              {% if p.Model.SprintID != nil %}<a title="Sprint" href="{%s `/admin/db/sprint`+`/`+p.Model.SprintID.String() %}">{%= components.SVGSimple("sprint", 18, ps) %}</a>{% endif %}
            </td>
          </tr>
          <tr>
            <th class="shrink" title="Comma-separated list of values">Choices</th>
            <td>{%= view.StringArray(p.Model.Choices) %}</td>
          </tr>
          <tr>
            <th class="shrink" title="Date and time, in almost any format">Created</th>
            <td>{%= view.Timestamp(&p.Model.Created) %}</td>
          </tr>
          <tr>
            <th class="shrink" title="Date and time, in almost any format (optional)">Updated</th>
            <td>{%= view.Timestamp(p.Model.Updated) %}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  {%- comment %}$PF_SECTION_START(extra)${% endcomment -%}
  {%- comment %}$PF_SECTION_END(extra)${% endcomment -%}
  {%- code relationHelper := estimate.Estimates{p.Model} -%}
  <div class="card">
    <h3 class="mb">Relations</h3>
    <ul class="accordion">
      <li>
        <input id="accordion-EstimateHistoriesByEstimateID" type="checkbox" hidden="hidden"{% if p.Params.Specifies(`ehistory`) %} checked="checked"{% endif %} />
        <label for="accordion-EstimateHistoriesByEstimateID">
          {%= components.ExpandCollapse(3, ps) %}
          {%= components.SVGInline(`history`, 16, ps) %}
          {%s util.StringPlural(len(p.RelEstimateHistoriesByEstimateID), "History") %} by [Estimate ID]
        </label>
        <div class="bd"><div><div>
          {%- if len(p.RelEstimateHistoriesByEstimateID) == 0 -%}
          <em>no related Histories</em>
          {%- else -%}
          <div class="overflow clear">
            {%= vehistory.Table(p.RelEstimateHistoriesByEstimateID, relationHelper, p.Params, as, ps) %}
          </div>
          {%- endif -%}
        </div></div></div>
      </li>
      <li>
        <input id="accordion-EstimateMembersByEstimateID" type="checkbox" hidden="hidden"{% if p.Params.Specifies(`emember`) %} checked="checked"{% endif %} />
        <label for="accordion-EstimateMembersByEstimateID">
          {%= components.ExpandCollapse(3, ps) %}
          {%= components.SVGInline(`users`, 16, ps) %}
          {%s util.StringPlural(len(p.RelEstimateMembersByEstimateID), "Member") %} by [Estimate ID]
        </label>
        <div class="bd"><div><div>
          {%- if len(p.RelEstimateMembersByEstimateID) == 0 -%}
          <em>no related Members</em>
          {%- else -%}
          <div class="overflow clear">
            {%= vemember.Table(p.RelEstimateMembersByEstimateID, relationHelper, nil, p.Params, as, ps) %}
          </div>
          {%- endif -%}
        </div></div></div>
      </li>
      <li>
        <input id="accordion-EstimatePermissionsByEstimateID" type="checkbox" hidden="hidden"{% if p.Params.Specifies(`epermission`) %} checked="checked"{% endif %} />
        <label for="accordion-EstimatePermissionsByEstimateID">
          {%= components.ExpandCollapse(3, ps) %}
          {%= components.SVGInline(`permission`, 16, ps) %}
          {%s util.StringPlural(len(p.RelEstimatePermissionsByEstimateID), "Permission") %} by [Estimate ID]
        </label>
        <div class="bd"><div><div>
          {%- if len(p.RelEstimatePermissionsByEstimateID) == 0 -%}
          <em>no related Permissions</em>
          {%- else -%}
          <div class="overflow clear">
            {%= vepermission.Table(p.RelEstimatePermissionsByEstimateID, relationHelper, p.Params, as, ps) %}
          </div>
          {%- endif -%}
        </div></div></div>
      </li>
      <li>
        <input id="accordion-StoriesByEstimateID" type="checkbox" hidden="hidden"{% if p.Params.Specifies(`story`) %} checked="checked"{% endif %} />
        <label for="accordion-StoriesByEstimateID">
          {%= components.ExpandCollapse(3, ps) %}
          {%= components.SVGInline(`story`, 16, ps) %}
          {%s util.StringPlural(len(p.RelStoriesByEstimateID), "Story") %} by [Estimate ID]
        </label>
        <div class="bd"><div><div>
          {%- if len(p.RelStoriesByEstimateID) == 0 -%}
          <em>no related Stories</em>
          {%- else -%}
          <div class="overflow clear">
            {%= vstory.Table(p.RelStoriesByEstimateID, relationHelper, nil, p.Params, as, ps) %}
          </div>
          {%- endif -%}
        </div></div></div>
      </li>
    </ul>
  </div>
  {%= components.JSONModal("estimate", "Estimate JSON", p.Model, 1) %}
{% endfunc %}
