{% import (
  "fmt"

  "github.com/google/uuid"

  "github.com/kyleu/rituals/app"
  "github.com/kyleu/rituals/app/comment"
  "github.com/kyleu/rituals/app/controller/cutil"
  "github.com/kyleu/rituals/app/enum"
  "github.com/kyleu/rituals/app/sprint"
  "github.com/kyleu/rituals/app/team"
  "github.com/kyleu/rituals/app/util"
  "github.com/kyleu/rituals/views/components"
  "github.com/kyleu/rituals/views/layout"
  "github.com/kyleu/rituals/views/vworkspace/vwutil"
) %}

{% code type SprintList struct {
  layout.Basic
  Sprints sprint.Sprints
  Teams team.Teams
} %}

{% func (p *SprintList) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <h3>{%= components.SVGRefIcon(util.KeySprint, ps) %}{%d len(p.Sprints) %} {%s util.StringPluralMaybe("Sprint", len(p.Sprints)) %}</h3>
    <em>{%s util.KeySprintDesc %}</em>
    <table class="mt expanded">
      <tbody>
        {%- for _, s := range p.Sprints -%}
        <tr>
          <td><a href="{%s s.PublicWebPath() %}">{%= components.SVGRef(s.IconSafe(), 16, 16, "icon", ps) %}{%s s.TitleString() %}</a></td>
          <td class="text-align-right">{%= components.DisplayTimestamp(&s.Created) %}</td>
        </tr>
        {%- endfor -%}
      </tbody>
    </table>
  </div>
  <div class="card">
    <h3>{%= components.SVGRefIcon(util.KeySprint, ps) %}New Sprint</h3>
    {%= SprintForm(&sprint.Sprint{}, p.Teams, as, ps) %}
  </div>
{% endfunc %}

{% func SprintForm(s *sprint.Sprint, teams team.Teams, as *app.State, ps *cutil.PageState) %}
  <form action="" method="post">
    <table class="mt expanded">
      <tbody>
        {%= components.TableInput("title", "", "Sprint Title", s.Title, 5, "The name of your sprint") %}
        {%= components.TableInput("name", "", "Your Name", ps.Username(), 5, "Whatever you prefer to be called") %}
        {%= components.TableSelect(util.KeyTeam, "", "Team", fmt.Sprint(s.TeamID), teams.IDStrings(true), teams.TitleStrings("- no team -"), 5, "The team associated to this sprint") %}
        <tr><td colspan="2"><button type="submit">Add Sprint</button></td></tr>
      </tbody>
    </table>
  </form>
{% endfunc %}

{% func SprintListTable(sprints sprint.Sprints, teamID *uuid.UUID, showComments bool, comments comment.Comments, members util.Members, ps *cutil.PageState) %}
  <div class="card">
    <div class="right">{%= vwutil.EditWorkspaceForm(util.KeySprint, teamID, nil, "New Sprint") %}</div>
    <h3 title="{%s util.KeySprintDesc %}">{%= components.SVGRefIcon(util.KeySprint, ps) %}Sprints</h3>
    <table id="sprint-list" class="mt expanded">
      <tbody>
        {%- if len(sprints) == 0 -%}
          <tr class="empty"><td><em>no sprints</em></td></tr>
        {%- else -%}
          {%- for _, x := range sprints -%}
          <tr id="sprint-list-{%s x.ID.String() %}">
            <td>
              {%- if showComments -%}
              <div class="right">
                {%= vwutil.Comments(enum.ModelServiceSprint, x.ID, x.TitleString(), comments, members, "member-icon", ps) %}
              </div>
              {%- endif -%}
              <a href="{%s x.PublicWebPath() %}"><div>
                <span>{%= components.SVGRef(x.IconSafe(), 16, 16, "icon", ps) %}</span><span>{%s x.TitleString() %}</span>
              </div></a>
            </td>
          </tr>
          {%- endfor -%}
        {%- endif -%}
      </tbody>
    </table>
  </div>
{% endfunc %}
