{% import (
  "github.com/kyleu/rituals/app"
  "github.com/kyleu/rituals/app/action"
  "github.com/kyleu/rituals/app/controller/cutil"
	"github.com/kyleu/rituals/app/enum"
  "github.com/kyleu/rituals/app/sprint"
  "github.com/kyleu/rituals/app/team"
  "github.com/kyleu/rituals/app/util"
  "github.com/kyleu/rituals/app/workspace"
  "github.com/kyleu/rituals/views/components"
  "github.com/kyleu/rituals/views/layout"
  "github.com/kyleu/rituals/views/vworkspace/vwestimate"
  "github.com/kyleu/rituals/views/vworkspace/vwstandup"
  "github.com/kyleu/rituals/views/vworkspace/vwretro"
  "github.com/kyleu/rituals/views/vworkspace/vwutil"
) %}

{% code type SprintWorkspace struct {
  layout.Basic
  FullSprint *workspace.FullSprint
  Teams team.Teams
} %}

{% func summary(s *sprint.Sprint) %}{% stripspace %}
  <span>
    {% if s.StartDate != nil %}
      starts{% space %}
      {%= components.DisplayTimestampDay(s.StartDate) %}
      {% if s.EndDate != nil %}
        ,{% space %}
      {% endif %}
    {% endif %}
    {% if s.EndDate != nil %}
      ends{% space %}
      {%= components.DisplayTimestampDay(s.EndDate) %}
    {% endif %}
  </span>
{% endstripspace %}{% endfunc %}

{% func (p *SprintWorkspace) Body(as *app.State, ps *cutil.PageState) %}
  {%- code
    w := p.FullSprint
    s := w.Sprint
  -%}
  <div class="flex-wrap">
    <div id="panel-summary">
      <div class="card">
        <div class="right">
          {%= vwutil.PermissionsLink(enum.ModelServiceSprint, s.ID, w.Permissions.ToPermissions(), ps) %}
          {%= vwutil.Comments(enum.ModelServiceSprint, s.ID, s.TitleString(), w.Comments, w.UtilMembers, ps) %}
        </div>
        <a href="#modal-sprint-config" id="modal-sprint-config-link"><h3>
          <span id="model-icon">{%= components.SVGRefIcon(s.IconSafe(), ps) %}</span>
          <span id="model-title">{%s s.TitleString() %}</span>
        </h3></a>
        <div class="clear"></div>
        <div class="right" id="model-summary">{% if s.StartDate != nil %}starts {%= components.DisplayTimestampDay(s.StartDate) %}{% if s.EndDate != nil %}, {% endif %}{% endif %}{% if s.EndDate != nil %}ends {%= components.DisplayTimestampDay(s.EndDate) %}{% endif %}</div>
        {%= vwutil.Banner(w.Team, nil, util.KeySprint) %}
        <span id="owner-id" style="display: none;">{%s s.Owner.String() %}</span>
        {%= SprintWorkspaceModal(s, p.Teams, w.Permissions.ToPermissions(), ps) %}
      </div>
    </div>
    <div id="panel-detail">
      {%= vwestimate.EstimateListTable(w.Estimates, s.TeamID, &s.ID, true, w.Comments, ps) %}
      {%= vwstandup.StandupListTable(w.Standups, s.TeamID, &s.ID, true, w.Comments, ps) %}
      {%= vwretro.RetroListTable(w.Retros, s.TeamID, &s.ID, true, w.Comments, ps) %}
    </div>
    {%= vwutil.MemberPanels(w.UtilMembers, w.Admin(), s.PublicWebPath(), ps) %}
  </div>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      initWorkspace("{%s util.KeySprint %}", "{%s s.ID.String() %}");
    });
  </script>
{% endfunc %}

{% func SprintWorkspaceModal(s *sprint.Sprint, teams team.Teams, perms util.Permissions, ps *cutil.PageState) %}
  <div id="modal-sprint-config" class="modal" style="display: none;">
    <a class="backdrop" href="#"></a>
    <div class="modal-content">
      <div class="modal-header">
        <a href="#" class="modal-close">×</a>
        <h2>Sprint</h2>
      </div>
      <div class="modal-body">
        <form action="{%s s.PublicWebPath() %}" method="post" class="expanded">
          <input type="hidden" name="action" value="{%s string(action.ActUpdate) %}" />
          {%= components.FormVerticalInput("title", "", "Title", s.TitleString(), 5, "The name of your sprint") %}
          {%= components.FormVerticalIconPicker("icon", "Icon", s.IconSafe(), ps, 5) %}
          {%= components.FormVerticalInputTimestampDay("startDate", "", "Start Date", s.StartDate, 5, "The day your sprint begins") %}
          {%= components.FormVerticalInputTimestampDay("endDate", "", "End Date", s.EndDate, 5, "The day your sprint ends") %}
          {%= components.FormVerticalSelect(util.KeyTeam, "config-team-input", "Team", util.UUIDString(s.TeamID), teams.IDStrings(true), teams.TitleStrings("- no team -"), 5) %}
          <hr />
          {%= vwutil.PermissionsForm(util.KeySprint, perms, true, teams, false, nil, ps) %}
          <hr />
          <div class="right"><button type="submit">Save</button></div>
          <div class="clear"></div>
        </form>
      </div>
    </div>
  </div>
{% endfunc %}
