<!-- Content managed by Project Forge, see [projectforge.md] for details. -->
{% import (
  "github.com/kyleu/rituals/app"
  "github.com/kyleu/rituals/app/controller/cutil"
  "github.com/kyleu/rituals/app/enum"
  "github.com/kyleu/rituals/app/standup"
  "github.com/kyleu/rituals/app/standup/umember"
  "github.com/kyleu/rituals/app/user"
  "github.com/kyleu/rituals/views/components"
  "github.com/kyleu/rituals/views/components/view"
  "github.com/kyleu/rituals/views/layout"
) %}

{% code type Detail struct {
  layout.Basic
  Model *umember.StandupMember
  StandupByStandupID *standup.Standup
  UserByUserID *user.User
} %}

{% func (p *Detail) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <div class="right">
      <a href="#modal-standupMember"><button type="button">JSON</button></a>
      <a href="{%s p.Model.WebPath() %}/edit"><button>{%= components.SVGRef("edit", 15, 15, "icon", ps) %}Edit</button></a>
    </div>
    <h3>{%= components.SVGRefIcon(`users`, ps) %} {%s p.Model.TitleString() %}</h3>
    <div><a href="/admin/db/standup/member"><em>Member</em></a></div>
    <div class="mt overflow full-width">
      <table>
        <tbody>
          <tr>
            <th class="shrink" title="UUID in format (00000000-0000-0000-0000-000000000000)">Standup ID</th>
            <td class="nowrap">
              {%= view.UUID(&p.Model.StandupID) %}{% if p.StandupByStandupID != nil %} ({%s p.StandupByStandupID.TitleString() %}){% endif %}
              <a title="Standup" href="{%s `/admin/db/standup`+`/`+p.Model.StandupID.String() %}">{%= components.SVGRef("standup", 18, 18, "", ps) %}</a>
            </td>
          </tr>
          <tr>
            <th class="shrink" title="UUID in format (00000000-0000-0000-0000-000000000000)">User ID</th>
            <td class="nowrap">
              {%= view.UUID(&p.Model.UserID) %}{% if p.UserByUserID != nil %} ({%s p.UserByUserID.TitleString() %}){% endif %}
              <a title="User" href="{%s `/admin/db/user`+`/`+p.Model.UserID.String() %}">{%= components.SVGRef("profile", 18, 18, "", ps) %}</a>
            </td>
          </tr>
          <tr>
            <th class="shrink" title="String text">Name</th>
            <td><strong>{%= view.String(p.Model.Name) %}</strong></td>
          </tr>
          <tr>
            <th class="shrink" title="URL in string form">Picture</th>
            <td><a href="{%s p.Model.Picture %}" target="_blank" rel="noopener noreferrer">{%s p.Model.Picture %}</a></td>
          </tr>
          <tr>
            <th class="shrink" title="{%s enum.AllMemberStatuses.Help() %}">Role</th>
            <td>{%s p.Model.Role.String() %}</td>
          </tr>
          <tr>
            <th class="shrink" title="Date and time, in almost any format">Created</th>
            <td>{%= view.Timestamp(&p.Model.Created) %}</td>
          </tr>
          <tr>
            <th class="shrink" title="Date and time, in almost any format (optional)">Updated</th>
            <td>{%= view.Timestamp(p.Model.Updated) %}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  {%- comment %}$PF_SECTION_START(extra)${% endcomment -%}
  {%- comment %}$PF_SECTION_END(extra)${% endcomment -%}
  {%= components.JSONModal("standupMember", "Member JSON", p.Model, 1) %}
{% endfunc %}
