{% import (
  "github.com/kyleu/rituals/app"
  "github.com/kyleu/rituals/app/controller/cutil"
  "github.com/kyleu/rituals/app/enum"
  "github.com/kyleu/rituals/app/standup/umember"
  "github.com/kyleu/rituals/app/util"
  "github.com/kyleu/rituals/views/components"
  "github.com/kyleu/rituals/views/components/edit"
  "github.com/kyleu/rituals/views/layout"
) %}

{% code type Edit struct {
  layout.Basic
  Model *umember.StandupMember
  Paths []string
  IsNew bool
} %}

{% func (p *Edit) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    {%- if p.IsNew -%}
    <div class="right"><a href="?prototype=random"><button>Random</button></a></div>
    <h3>{%= components.SVGIcon(`users`, ps) %} New Member</h3>
    {%- else -%}
    <div class="right"><a class="link-confirm" href="{%s p.Model.WebPath(p.Paths...) %}/delete" data-message="Are you sure you wish to delete member [{%s p.Model.String() %}]?"><button>{%= components.SVGButton("times", ps) %} Delete</button></a></div>
    <h3>{%= components.SVGIcon(`users`, ps) %} Edit Member [{%s p.Model.String() %}]</h3>
    {%- endif -%}
    <form action="{%s util.Choose(p.IsNew, umember.Route(p.Paths...) + `/_new`, p.Model.WebPath(p.Paths...) + `/edit`) %}" class="mt" method="post">
      <table class="mt expanded">
        <tbody>
          {% if p.IsNew %}{%= edit.UUIDTable("standupID", "input-standupID", "Standup ID", &p.Model.StandupID, 5, "UUID in format (00000000-0000-0000-0000-000000000000)") %}{% endif %}
          {% if p.IsNew %}{%= edit.UUIDTable("userID", "input-userID", "User ID", &p.Model.UserID, 5, "UUID in format (00000000-0000-0000-0000-000000000000)") %}{% endif %}
          {%= edit.StringTable("name", "", "Name", p.Model.Name, 5, "String text") %}
          {%= edit.StringTable("picture", "", "Picture", p.Model.Picture, 5, "URL in string form") %}
          {%= edit.SelectTable("role", "", "Role", p.Model.Role.Key, enum.AllMemberStatuses.Keys(), enum.AllMemberStatuses.Strings(), 5, enum.AllMemberStatuses.Help()) %}
          <tr><td colspan="2"><button type="submit">Save Changes</button></td></tr>
        </tbody>
      </table>
    </form>
  </div>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      rituals.autocomplete(document.getElementById("input-standupID"), "/admin/db/standup?standup.l=10", "q", (o) => (o["title"] || "[no title]") + " (" + o["id"] + ")", (o) => o["id"]);
      rituals.autocomplete(document.getElementById("input-userID"), "/admin/db/user?user.l=10", "q", (o) => (o["name"] || "[no name]") + " (" + o["id"] + ")", (o) => o["id"]);
    });
  </script>
{% endfunc %}
