<!-- Content managed by Project Forge, see [projectforge.md] for details. -->
{% import (
  "github.com/kyleu/rituals/app"
  "github.com/kyleu/rituals/app/controller/cutil"
  "github.com/kyleu/rituals/app/enum"
  "github.com/kyleu/rituals/app/lib/filter"
  "github.com/kyleu/rituals/app/standup"
  "github.com/kyleu/rituals/app/standup/umember"
  "github.com/kyleu/rituals/app/user"
  "github.com/kyleu/rituals/views/components"
  "github.com/kyleu/rituals/views/components/view"
) %}

{% func Table(models umember.StandupMembers, standupsByStandupID standup.Standups, usersByUserID user.Users, params filter.ParamSet, as *app.State, ps *cutil.PageState) %}
  {%- code prms := params.Sanitized("umember", ps.Logger) -%}
  <table>
    <thead>
      <tr>
        {%= components.TableHeaderSimple("umember", "standup_id", "Standup ID", "UUID in format (00000000-0000-0000-0000-000000000000)", prms, ps.URI, ps) %}
        {%= components.TableHeaderSimple("umember", "user_id", "User ID", "UUID in format (00000000-0000-0000-0000-000000000000)", prms, ps.URI, ps) %}
        {%= components.TableHeaderSimple("umember", "name", "Name", "String text", prms, ps.URI, ps) %}
        {%= components.TableHeaderSimple("umember", "picture", "Picture", "URL in string form", prms, ps.URI, ps) %}
        {%= components.TableHeaderSimple("umember", "role", "Role", enum.AllMemberStatuses.Help(), prms, ps.URI, ps) %}
        {%= components.TableHeaderSimple("umember", "created", "Created", "Date and time, in almost any format", prms, ps.URI, ps) %}
        {%= components.TableHeaderSimple("umember", "updated", "Updated", "Date and time, in almost any format (optional)", prms, ps.URI, ps) %}
      </tr>
    </thead>
    <tbody>
      {%- for _, model := range models -%}
      <tr>
        <td class="nowrap">
          <a href="/admin/db/standup/member/{%= view.UUID(&model.StandupID) %}/{%= view.UUID(&model.UserID) %}">{%= view.UUID(&model.StandupID) %}{% if x := standupsByStandupID.Get(model.StandupID); x != nil %} ({%s x.TitleString() %}){% endif %}</a>
          <a title="Standup" href="{%s `/admin/db/standup`+`/`+model.StandupID.String() %}">{%= components.SVGRef("standup", 18, 18, "", ps) %}</a>
        </td>
        <td class="nowrap">
          <a href="/admin/db/standup/member/{%= view.UUID(&model.StandupID) %}/{%= view.UUID(&model.UserID) %}">{%= view.UUID(&model.UserID) %}{% if x := usersByUserID.Get(model.UserID); x != nil %} ({%s x.TitleString() %}){% endif %}</a>
          <a title="User" href="{%s `/admin/db/user`+`/`+model.UserID.String() %}">{%= components.SVGRef("profile", 18, 18, "", ps) %}</a>
        </td>
        <td><strong>{%= view.String(model.Name) %}</strong></td>
        <td><a href="{%s model.Picture %}" target="_blank" rel="noopener noreferrer">{%s model.Picture %}</a></td>
        <td>{%s model.Role.String() %}</td>
        <td>{%= view.Timestamp(&model.Created) %}</td>
        <td>{%= view.Timestamp(model.Updated) %}</td>
      </tr>
      {%- endfor -%}
      {%- if prms.HasNextPage(len(models) + prms.Offset) || prms.HasPreviousPage() -%}
      <tr>
        <td colspan="7">{%= components.Pagination(len(models) + prms.Offset, prms, ps.URI) %}</td>
      </tr>
      {%- endif -%}
    </tbody>
  </table>
{% endfunc %}
