<%: func AdminAuthDetail(model *auth.Record, user *user.SystemUser, ctx web.RequestContext, w io.Writer) (int, error) %>

<%~ "layout/basic.html" %>

<%@ body { %>
<div class="uk-section uk-section-small">
  <div class="uk-container">
    <div class="uk-card <%= ctx.Profile.Theme.CardClass %> uk-card-body">
      <h3 class="uk-card-title">Authorization</h3>
      <table class="uk-table uk-table-divider uk-text-left">
        <tbody>
          <tr>
            <th>ID</th>
            <td><%= model.ID.String() %></td>
          </tr>
          <tr>
            <th>User</th>
            <td>
              <a class="<%= ctx.Profile.LinkClass() %>" href="<%= ctx.Route(util.AdminLink(util.KeyUser, `detail`), `id`, model.UserID.String()) %>"><%= model.UserID.String() %></a>
              <div><%= user.Name %></div>
            </td>
          </tr>
          <tr>
            <th>Provider</th>
            <td><%= model.Provider.Key %></td>
          </tr>
          <tr>
            <th>Provider ID</th>
            <td><%= model.ProviderID %></td>
          </tr>
          <tr>
            <th>User List</th>
            <td>
              <% if len(model.UserListID) > 0 { %>
              <%= model.UserListID %>:<%= model.UserListName %>
              <% } %>
            </td>
          </tr>
          <tr>
            <th>Access Token</th>
            <td><pre><%= model.AccessToken %></pre></td>
          </tr>
          <tr>
            <th>Expires</th>
            <td><% ComponentDateTime(model.Expires, _buffer) %></td>
          </tr>
          <tr>
            <th>Name</th>
            <td><%= model.Name %></td>
          </tr>
          <tr>
            <th>Email</th>
            <td><%= model.Email %></td>
          </tr>
          <tr>
            <th>Picture</th>
            <td>
              <% if len(model.Picture) > 0 { %>
                <img src="<%= model.Picture %>" />
              <% } %>
            </td>
          </tr>
          <tr>
            <th>Created</th>
            <td><% ComponentDateTime(&model.Created, _buffer) %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<% } %>
