<%: func AdminAuthTable(auths auth.Records, params *query.Params, ctx web.RequestContext, buffer *bytes.Buffer) %>

<table class="uk-table uk-table-divider uk-text-left">
  <thead>
    <tr>
      <% ComponentTableHeader(util.KeyAuth, util.KeyID, util.Title(util.KeyID), params, ctx, buffer) %>
      <% ComponentTableHeader(util.KeyAuth, util.WithID(util.KeyUser), util.Title(util.KeyUser), params, ctx, buffer) %>
      <% ComponentTableHeader(util.KeyAuth, util.KeyProvider, util.Title(util.KeyProvider), params, ctx, buffer) %>
      <% ComponentTableHeader(util.KeyAuth, "providerID", "Provider ID", params, ctx, buffer) %>
      <% ComponentTableHeader(util.KeyAuth, util.KeyName, util.Title(util.KeyName), params, ctx, buffer) %>
      <% ComponentTableHeader(util.KeyAuth, util.KeyEmail, util.Title(util.KeyEmail), params, ctx, buffer) %>
      <% ComponentTableHeader(util.KeyAuth, util.KeyCreated, util.Title(util.KeyCreated), params, ctx, buffer) %>
    </tr>
  </thead>
  <tbody>
  <% for _, model := range auths { %>
    <tr>
      <td class="uk-table-shrink uk-text-nowrap"><a class="theme" href="<%= ctx.Route(util.AdminLink(util.KeyAuth, util.KeyDetail), `id`, model.ID.String()) %>"><% ComponentUUID(&model.ID, buffer) %></a></td>
      <td class="uk-table-shrink uk-text-nowrap"><a class="theme" href="<%= ctx.Route(util.AdminLink(util.KeyUser, util.KeyDetail), `id`, model.UserID.String()) %>"><% ComponentUUID(&model.UserID, buffer) %></a></td>
      <td class="uk-table-shrink uk-text-nowrap"><%= model.Provider.Key %></td>
      <td class="uk-table-shrink uk-text-nowrap"><%= model.ProviderID %></td>
      <td class="uk-table-shrink uk-text-nowrap"><%= model.Name %></td>
      <td class="uk-table-shrink uk-text-nowrap"><%= model.Email %></td>
      <td class="uk-table-shrink uk-text-nowrap"><% ComponentDateTime(&model.Created, buffer) %></td>
    </tr>
  <% } %>
  </tbody>
</table>
