<%: func SprintContents(model *sprint.Session, ctx *npnweb.RequestContext, buffer *bytes.Buffer) %>
<div class="uk-card uk-card-body uk-card-default">
  <div>
    <h3 class="left uk-card-title">
      <span class="h3-icon" data-uk-icon="icon: <%= util.SvcEstimate.Icon %>;"></span>
      Estimates
    </h3>
    <div class="right">
      <form method="post" action="<%= ctx.Route(util.SvcEstimate.Key + `.new`) %>">
        <% if model.TeamID != nil { %>
          <input type="hidden" name="team" value="<%=v model.TeamID %>" />
        <% } %>
        <input type="hidden" name="sprint" value="<%=v model.ID %>" />
        <div class="uk-inline uk-display-block">
          <button type="submit" class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: plus" title="new estimate"></button>
          <input class="uk-input" type="text" id="estimate-title" name="<%= npncore.KeyTitle %>" placeholder="<%= npncore.Title(npncore.KeyTitle) %>" />
        </div>
      </form>
    </div>
  </div>
  <div id="sprint-estimate-list" class="clear"><p>Loading...</p></div>
  <hr />
  <div>
    <h3 class="left uk-card-title">
      <span class="h3-icon" data-uk-icon="icon: <%= util.SvcStandup.Icon %>;"></span>
      Standups
    </h3>
    <div class="right">
      <form method="post" action="<%= ctx.Route(util.SvcStandup.Key + `.new`) %>">
        <% if model.TeamID != nil { %>
          <input type="hidden" name="team" value="<%=v model.TeamID %>" />
        <% } %>
        <input type="hidden" name="sprint" value="<%=v model.ID %>" />
        <div class="uk-inline uk-display-block">
          <button type="submit" class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: plus" title="new standup"></button>
          <input class="uk-input" type="text" id="standup-title" name="<%= npncore.KeyTitle %>" placeholder="<%= npncore.Title(npncore.KeyTitle) %>" />
        </div>
      </form>
    </div>
  </div>
  <div id="sprint-standup-list" class="clear"><p>Loading...</p></div>
  <hr />
  <div>
    <h3 class="left uk-card-title">
      <span class="h3-icon" data-uk-icon="icon: <%= util.SvcRetro.Icon %>;"></span>
      Retros
    </h3>
    <div class="right">
      <form method="post" action="<%= ctx.Route(util.SvcRetro.Key + `.new`) %>">
        <% if model.TeamID != nil { %>
          <input type="hidden" name="team" value="<%=v model.TeamID %>" />
        <% } %>
        <input type="hidden" name="sprint" value="<%=v model.ID %>" />
        <div class="uk-inline uk-display-block">
          <button type="submit" class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: plus" title="new retro"></button>
          <input class="uk-input" type="text" id="retro-title" name="<%= npncore.KeyTitle %>" placeholder="<%= npncore.Title(npncore.KeyTitle) %>" />
        </div>
      </form>
    </div>
  </div>
  <div id="sprint-retro-list" class="clear"><p>Loading...</p></div>
</div>
