<%: func SprintSession(model *sprint.Session, auths auth.Records, ctx web.RequestContext, buffer *bytes.Buffer) %>
<div class="uk-card uk-card-body uk-transition-toggle">
  <h3 class="uk-card-title">
    <% ComponentSessionIcon(util.SvcSprint, ctx, buffer) %>
    <span class="model-icon h3-icon" onclick="modal.open('<%= util.KeySession %>');" data-uk-icon="icon: <%= util.SvcSprint.Icon %>;"></span>
    <span id="model-title" onclick="modal.open('<%= util.KeySession %>');"><%= model.Title %></span>
  </h3>
  <span class="right" id="sprint-date-display"></span>
  <%= util.SvcSprint.Key %>
  <span id="team-link-container"></span>
</div>
<div id="modal-session" class="modal" data-uk-modal>
  <div class="uk-modal-dialog uk-margin-auto-vertical">
    <button class="uk-button uk-modal-close-default" type="button" data-uk-close></button>
    <div class="uk-modal-header">
      <h2 class="uk-modal-title">Edit Sprint</h2>
    </div>
    <form class="uk-form-stacked" id="form-detail" onsubmit="sprint.onSubmitSprintSession();return false;">
      <div class="uk-modal-body" data-uk-overflow-auto>
        <% SprintForm(model.Title, model.StartDate, model.EndDate, nil, auths, ctx, buffer) %>
      </div>
      <div class="uk-modal-footer uk-text-right">
        <button class="uk-button uk-button-default" type="submit">Save</button>
      </div>
    </form>
  </div>
</div>
