<%: func SprintTable(sprints sprint.Sessions, params *query.Params, ctx web.RequestContext, buffer *bytes.Buffer) %>

<table class="uk-table uk-table-divider uk-text-left">
  <thead>
    <tr>
      <% ComponentTableHeader(util.SvcSprint.Key, util.KeyTitle, util.Title(util.KeyTitle), params, ctx, buffer) %>
      <% ComponentTableHeader(util.SvcSprint.Key, "startDate", "Start Date", params, ctx, buffer) %>
      <% ComponentTableHeader(util.SvcSprint.Key, "endDate", "End Date", params, ctx, buffer) %>
      <% ComponentTableHeader(util.SvcSprint.Key, util.KeyCreated, util.Title(util.KeyCreated), params, ctx, buffer) %>
    </tr>
  </thead>
  <tbody>
  <% for _, model := range sprints { %>
    <tr>
      <td class="uk-table-shrink uk-text-nowrap"><a class="theme" href="<%= ctx.Route(util.SvcSprint.Key, util.KeyKey, model.Slug) %>"><%= model.Title %></a></td>
      <td class="uk-table-shrink uk-text-nowrap"><% ComponentDate(model.StartDate, buffer) %></td>
      <td class="uk-table-shrink uk-text-nowrap"><% ComponentDate(model.EndDate, buffer) %></td>
      <td class="uk-table-shrink uk-text-nowrap"><% ComponentDateTime(&model.Created, buffer) %></td>
    </tr>
  <% } %>
  </tbody>
</table>
