<%: func CommentDetail(model *comment.Comment, params npncore.ParamSet, ctx *npnweb.RequestContext, w io.Writer) (int, error) %>
<%~ "layout/admin.html" %>
<%@ nav { %><% npntemplate.Navbar(ctx, _buffer) %><% } %>
<%@ body { %>
<div class="uk-section uk-section-small">
  <div class="uk-container">
    <div class="uk-card uk-card-body">
      <h3 class="uk-card-title"><%= ctx.Title %></h3>
      <table class="uk-table uk-table-divider uk-text-left">
        <tbody>
          <tr>
            <th><%= npncore.Title(npncore.KeyID) %></th>
            <td><%= model.ID.String() %></td>
          </tr>
          <tr>
            <th><%= npncore.Title(npncore.KeyModel) %></th>
            <td><% npntemplate.Channel(model.Svc.Key, &model.ModelID, ctx, _buffer) %></td>
          </tr>
          <tr>
            <th><%= npncore.Title(npncore.KeyUser) %></th>
            <td><a class="theme" href="<%= ctx.Route(npnweb.AdminLink(npncore.KeyUser, npncore.KeyDetail), `id`, model.UserID.String()) %>"><% npntemplate.UUID(&model.UserID, _buffer) %></a></td>
          </tr>
          <tr>
            <th>Target</th>
            <td><%= model.TargetType %>:<%=v model.TargetID %></td>
          </tr>
          <tr>
            <th><%= npncore.Title(npncore.KeyHTML) %></th>
            <td><%== model.HTML %></td>
          </tr>
          <tr>
            <th><%= npncore.Title(npncore.KeyCreated) %></th>
            <td><% npntemplate.DateTime(&model.Created, _buffer) %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<% } %>
