{% import (
  "github.com/kyleu/rituals/app"
  "github.com/kyleu/rituals/app/controller/cutil"
  "github.com/kyleu/rituals/app/retro"
  "github.com/kyleu/rituals/app/retro/rhistory"
  "github.com/kyleu/rituals/views/components"
  "github.com/kyleu/rituals/views/components/view"
  "github.com/kyleu/rituals/views/layout"
) %}

{% code type Detail struct {
  layout.Basic
  Model *rhistory.RetroHistory
  RetroByRetroID *retro.Retro
  Paths []string
} %}

{% func (p *Detail) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <div class="right">
      <a href="#modal-retroHistory"><button type="button" title="JSON">{%= components.SVGButton("code", ps) %}</button></a>
      <a href="{%s p.Model.WebPath(p.Paths...) %}/edit" title="Edit"><button>{%= components.SVGButton("edit", ps) %}</button></a>
    </div>
    <h3>{%= components.SVGIcon(`history`, ps) %} {%s p.Model.TitleString() %}</h3>
    <div><a href="{%s rhistory.Route(p.Paths...) %}"><em>History</em></a></div>
    {%= DetailTable(p, ps) %}
  </div>
  {%- comment %}$PF_SECTION_START(extra)${% endcomment -%}
  {%- comment %}$PF_SECTION_END(extra)${% endcomment -%}
  {%= components.JSONModal("retroHistory", "History JSON", p.Model, 1) %}
{% endfunc %}

{% func DetailTable(p *Detail, ps *cutil.PageState) %}
  <div class="mt overflow full-width">
    <table>
      <tbody>
        <tr>
          <th class="shrink" title="String text">Slug</th>
          <td>{%= view.String(p.Model.Slug) %}</td>
        </tr>
        <tr>
          <th class="shrink" title="UUID in format (00000000-0000-0000-0000-000000000000)">Retro ID</th>
          <td class="nowrap">
            {% if x := p.RetroByRetroID; x != nil %}
            {%s x.TitleString() %} <a title="Retro" href="{%s x.WebPath(p.Paths...) %}">{%= components.SVGLink(`retro`, ps) %}</a>
            {% else %}
            {%= view.UUID(&p.Model.RetroID) %}
            {% endif %}
          </td>
        </tr>
        <tr>
          <th class="shrink" title="String text">Retro Name</th>
          <td>{%= view.String(p.Model.RetroName) %}</td>
        </tr>
        <tr>
          <th class="shrink" title="Date and time, in almost any format">Created</th>
          <td>{%= view.Timestamp(&p.Model.Created) %}</td>
        </tr>
      </tbody>
    </table>
  </div>
{% endfunc %}
