{% import (
  "github.com/kyleu/rituals/app"
  "github.com/kyleu/rituals/app/controller/cutil"
  "github.com/kyleu/rituals/app/retro"
  "github.com/kyleu/rituals/app/retro/rhistory"
  "github.com/kyleu/rituals/views/components"
  "github.com/kyleu/rituals/views/components/view"
  "github.com/kyleu/rituals/views/layout"
) %}

{% code type Detail struct {
  layout.Basic
  Model *rhistory.RetroHistory
  RetroByRetroID *retro.Retro
} %}

{% func (p *Detail) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <div class="right">
      <a href="#modal-retroHistory"><button type="button">{%= components.SVGButton("file", ps) %} JSON</button></a>
      <a href="{%s p.Model.WebPath() %}/edit"><button>{%= components.SVGButton("edit", ps) %} Edit</button></a>
    </div>
    <h3>{%= components.SVGIcon(`history`, ps) %} {%s p.Model.TitleString() %}</h3>
    <div><a href="/admin/db/retro/history"><em>History</em></a></div>
    <div class="mt overflow full-width">
      <table>
        <tbody>
          <tr>
            <th class="shrink" title="String text">Slug</th>
            <td>{%= view.String(p.Model.Slug) %}</td>
          </tr>
          <tr>
            <th class="shrink" title="UUID in format (00000000-0000-0000-0000-000000000000)">Retro ID</th>
            <td class="nowrap">
              {%= view.UUID(&p.Model.RetroID) %}{% if p.RetroByRetroID != nil %} ({%s p.RetroByRetroID.TitleString() %}){% endif %}
              <a title="Retro" href="{%s `/admin/db/retro`+`/`+p.Model.RetroID.String() %}">{%= components.SVGLink(`retro`, ps) %}</a>
            </td>
          </tr>
          <tr>
            <th class="shrink" title="String text">Retro Name</th>
            <td>{%= view.String(p.Model.RetroName) %}</td>
          </tr>
          <tr>
            <th class="shrink" title="Date and time, in almost any format">Created</th>
            <td>{%= view.Timestamp(&p.Model.Created) %}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  {%- comment %}$PF_SECTION_START(extra)${% endcomment -%}
  {%- comment %}$PF_SECTION_END(extra)${% endcomment -%}
  {%= components.JSONModal("retroHistory", "History JSON", p.Model, 1) %}
{% endfunc %}
