<!-- Content managed by Project Forge, see [projectforge.md] for details. -->
{% import (
  "github.com/kyleu/rituals/app"
  "github.com/kyleu/rituals/app/controller/cutil"
  "github.com/kyleu/rituals/app/lib/filter"
  "github.com/kyleu/rituals/app/retro"
  "github.com/kyleu/rituals/app/retro/rhistory"
  "github.com/kyleu/rituals/views/components"
) %}

{% func Table(models rhistory.RetroHistories, retros retro.Retros, params filter.ParamSet, as *app.State, ps *cutil.PageState) %}
  {%- code prms := params.Get("rhistory", nil, ps.Logger).Sanitize("rhistory") -%}
  <table class="mt">
    <thead>
      <tr>
        {%= components.TableHeaderSimple("rhistory", "slug", "Slug", "String text", prms, ps.URI, ps) %}
        {%= components.TableHeaderSimple("rhistory", "retro_id", "Retro ID", "UUID in format (00000000-0000-0000-0000-000000000000)", prms, ps.URI, ps) %}
        {%= components.TableHeaderSimple("rhistory", "retro_name", "Retro Name", "String text", prms, ps.URI, ps) %}
        {%= components.TableHeaderSimple("rhistory", "created", "Created", "Date and time, in almost any format", prms, ps.URI, ps) %}
      </tr>
    </thead>
    <tbody>
      {%- for _, model := range models -%}
      <tr>
        <td><a href="/admin/db/retro/history/{%u model.Slug %}">{%s model.Slug %}</a></td>
        <td class="nowrap">
          {%= components.DisplayUUID(&model.RetroID) %}{% if x := retros.Get(model.RetroID); x != nil %} ({%s x.TitleString() %}){% endif %}
          <a title="Retro" href="{%s `/retro`+`/`+model.RetroID.String() %}">{%= components.SVGRef("retro", 18, 18, "", ps) %}</a>
        </td>
        <td>{%s model.RetroName %}</td>
        <td>{%= components.DisplayTimestamp(&model.Created) %}</td>
      </tr>
      {%- endfor -%}
      {%- if prms.HasNextPage(len(models) + prms.Offset) || prms.HasPreviousPage() -%}
      <tr>
        <td colspan="4">{%= components.Pagination(len(models) + prms.Offset, prms, ps.URI) %}</td>
      </tr>
      {%- endif -%}
    </tbody>
  </table>
{% endfunc %}
