<!-- Content managed by Project Forge, see [projectforge.md] for details. -->
{% import (
  "github.com/kyleu/rituals/app"
  "github.com/kyleu/rituals/app/controller/cutil"
  "github.com/kyleu/rituals/app/email"
  "github.com/kyleu/rituals/app/user"
  "github.com/kyleu/rituals/views/components"
  "github.com/kyleu/rituals/views/layout"
) %}

{% code type Detail struct {
  layout.Basic
  Model *email.Email
  UsersByUserID user.Users
} %}

{% func (p *Detail) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <div class="right">
      <a href="#modal-email"><button type="button">JSON</button></a>
      <a href="{%s p.Model.WebPath() %}/edit"><button>{%= components.SVGRef("edit", 15, 15, "icon", ps) %}Edit</button></a>
    </div>
    <h3>{%= components.SVGRefIcon(`email`, ps) %} {%s p.Model.TitleString() %}</h3>
    <div><a href="/admin/db/email"><em>Email</em></a></div>
    <table class="mt">
      <tbody>
        <tr>
          <th class="shrink" title="UUID in format (00000000-0000-0000-0000-000000000000)">ID</th>
          <td>{%= components.DisplayUUID(&p.Model.ID) %}</td>
        </tr>
        <tr>
          <th class="shrink" title="Comma-separated list of values">Recipients</th>
          <td>{%= components.DisplayStringArray(p.Model.Recipients) %}</td>
        </tr>
        <tr>
          <th class="shrink" title="String text">Subject</th>
          <td>{%s p.Model.Subject %}</td>
        </tr>
        <tr>
          <th class="shrink" title="JSON object">Data</th>
          <td>{%= components.JSON(p.Model.Data) %}</td>
        </tr>
        <tr>
          <th class="shrink" title="String text">Plain</th>
          <td>{%s p.Model.Plain %}</td>
        </tr>
        <tr>
          <th class="shrink" title="String text">HTML</th>
          <td><pre>{%s p.Model.HTML %}</pre></td>
        </tr>
        <tr>
          <th class="shrink" title="UUID in format (00000000-0000-0000-0000-000000000000)">User ID</th>
          <td class="nowrap">
            {%= components.DisplayUUID(&p.Model.UserID) %}{% if x := p.UsersByUserID.Get(p.Model.UserID); x != nil %} ({%s x.TitleString() %}){% endif %}
            <a title="User" href="{%s `/admin/db/user`+`/`+p.Model.UserID.String() %}">{%= components.SVGRef("profile", 18, 18, "", ps) %}</a>
          </td>
        </tr>
        <tr>
          <th class="shrink" title="String text">Status</th>
          <td>{%s p.Model.Status %}</td>
        </tr>
        <tr>
          <th class="shrink" title="Date and time, in almost any format">Created</th>
          <td>{%= components.DisplayTimestamp(&p.Model.Created) %}</td>
        </tr>
      </tbody>
    </table>
  </div>
  {%- comment %}$PF_SECTION_START(extra)${% endcomment -%}
  {%- comment %}$PF_SECTION_END(extra)${% endcomment -%}
  {%= components.JSONModal("email", "Email JSON", p.Model, 1) %}
{% endfunc %}
