<!-- Content managed by Project Forge, see [projectforge.md] for details. -->
{% import (
  "github.com/kyleu/rituals/app"
  "github.com/kyleu/rituals/app/controller/cutil"
  "github.com/kyleu/rituals/app/estimate"
  "github.com/kyleu/rituals/app/estimate/epermission"
  "github.com/kyleu/rituals/app/lib/filter"
  "github.com/kyleu/rituals/views/components"
  "github.com/kyleu/rituals/views/layout"
) %}

{% code type List struct {
  layout.Basic
  Models epermission.EstimatePermissions
  EstimatesByEstimateID estimate.Estimates
  Params filter.ParamSet
} %}

{% func (p *List) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <div class="right"><a href="/admin/db/estimate/permission/_new"><button>New</button></a></div>
    <h3>{%= components.SVGRefIcon(`permission`, ps) %}{%s ps.Title %}</h3>
    {%- if len(p.Models) == 0 -%}
    <div class="mt"><em>No permissions available</em></div>
    {%- else -%}
    <div class="mt">
      {%= Table(p.Models, p.EstimatesByEstimateID, p.Params, as, ps) %}
    </div>
    {%- endif -%}
  </div>
{% endfunc %}
