<!-- Content managed by Project Forge, see [projectforge.md] for details. -->
{% import (
  "github.com/kyleu/rituals/app"
  "github.com/kyleu/rituals/app/controller/cutil"
  "github.com/kyleu/rituals/app/estimate"
  "github.com/kyleu/rituals/app/estimate/epermission"
  "github.com/kyleu/rituals/app/lib/filter"
  "github.com/kyleu/rituals/views/components"
) %}

{% func Table(models epermission.EstimatePermissions, estimatesByEstimateID estimate.Estimates, params filter.ParamSet, as *app.State, ps *cutil.PageState) %}
  {%- code prms := params.Get("epermission", nil, ps.Logger).Sanitize("epermission") -%}
  <table class="mt">
    <thead>
      <tr>
        {%= components.TableHeaderSimple("epermission", "estimate_id", "Estimate ID", "UUID in format (00000000-0000-0000-0000-000000000000)", prms, ps.URI, ps) %}
        {%= components.TableHeaderSimple("epermission", "key", "Key", "String text", prms, ps.URI, ps) %}
        {%= components.TableHeaderSimple("epermission", "value", "Value", "String text", prms, ps.URI, ps) %}
        {%= components.TableHeaderSimple("epermission", "access", "Access", "String text", prms, ps.URI, ps) %}
        {%= components.TableHeaderSimple("epermission", "created", "Created", "Date and time, in almost any format", prms, ps.URI, ps) %}
      </tr>
    </thead>
    <tbody>
      {%- for _, model := range models -%}
      <tr>
        <td class="nowrap">
          <a href="/admin/db/estimate/permission/{%= components.DisplayUUID(&model.EstimateID) %}/{%u model.Key %}/{%u model.Value %}">{%= components.DisplayUUID(&model.EstimateID) %}{% if x := estimatesByEstimateID.Get(model.EstimateID); x != nil %} ({%s x.TitleString() %}){% endif %}</a>
          <a title="Estimate" href="{%s `/admin/db/estimate`+`/`+model.EstimateID.String() %}">{%= components.SVGRef("estimate", 18, 18, "", ps) %}</a>
        </td>
        <td><a href="/admin/db/estimate/permission/{%= components.DisplayUUID(&model.EstimateID) %}/{%u model.Key %}/{%u model.Value %}">{%s model.Key %}</a></td>
        <td><a href="/admin/db/estimate/permission/{%= components.DisplayUUID(&model.EstimateID) %}/{%u model.Key %}/{%u model.Value %}">{%s model.Value %}</a></td>
        <td>{%s model.Access %}</td>
        <td>{%= components.DisplayTimestamp(&model.Created) %}</td>
      </tr>
      {%- endfor -%}
      {%- if prms.HasNextPage(len(models) + prms.Offset) || prms.HasPreviousPage() -%}
      <tr>
        <td colspan="5">{%= components.Pagination(len(models) + prms.Offset, prms, ps.URI) %}</td>
      </tr>
      {%- endif -%}
    </tbody>
  </table>
{% endfunc %}
