{% import (
  "github.com/kyleu/rituals/app"
  "github.com/kyleu/rituals/app/controller/cutil"
  "github.com/kyleu/rituals/app/lib/filter"
  "github.com/kyleu/rituals/app/team"
  "github.com/kyleu/rituals/app/team/tpermission"
  "github.com/kyleu/rituals/views/components"
  "github.com/kyleu/rituals/views/layout"
) %}

{% code type List struct {
  layout.Basic
  Models tpermission.TeamPermissions
  TeamsByTeamID team.Teams
  Params filter.ParamSet
  Paths []string
} %}

{% func (p *List) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <div class="right mrs large-buttons">
      {%- if len(p.Models) > 1 -%}<a href="/admin/db/team/permission/_random"><button>{%= components.SVGButton("gift", ps) %} Random</button></a>{%- endif -%}
      <a href="{%s tpermission.Route(p.Paths...) %}/_new"><button>{%= components.SVGButton("plus", ps) %} New</button></a>
    </div>
    <h3>{%= components.SVGIcon(`permission`, ps) %} {%s ps.Title %}</h3>
    {%- if len(p.Models) == 0 -%}
    <div class="mt"><em>No permissions available</em></div>
    {%- else -%}
    <div class="mt">
      {%= Table(p.Models, p.TeamsByTeamID, p.Params, as, ps, p.Paths...) %}
    </div>
    {%- endif -%}
  </div>
{% endfunc %}
