<!-- Content managed by Project Forge, see [projectforge.md] for details. -->
{% import (
  "github.com/kyleu/rituals/app"
  "github.com/kyleu/rituals/app/controller/cutil"
  "github.com/kyleu/rituals/app/lib/filter"
  "github.com/kyleu/rituals/app/team"
  "github.com/kyleu/rituals/app/team/tpermission"
  "github.com/kyleu/rituals/views/components"
) %}

{% func Table(models tpermission.TeamPermissions, teams team.Teams, params filter.ParamSet, as *app.State, ps *cutil.PageState) %}
  {%- code prms := params.Get("tpermission", nil, ps.Logger).Sanitize("tpermission") -%}
  <table class="mt">
    <thead>
      <tr>
        {%= components.TableHeaderSimple("tpermission", "team_id", "Team ID", "UUID in format (00000000-0000-0000-0000-000000000000)", prms, ps.URI, ps) %}
        {%= components.TableHeaderSimple("tpermission", "key", "Key", "String text", prms, ps.URI, ps) %}
        {%= components.TableHeaderSimple("tpermission", "value", "Value", "String text", prms, ps.URI, ps) %}
        {%= components.TableHeaderSimple("tpermission", "access", "Access", "String text", prms, ps.URI, ps) %}
        {%= components.TableHeaderSimple("tpermission", "created", "Created", "Date and time, in almost any format", prms, ps.URI, ps) %}
      </tr>
    </thead>
    <tbody>
      {%- for _, model := range models -%}
      <tr>
        <td>
          <div class="icon"><a href="/admin/db/team/permission/{%= components.DisplayUUID(&model.TeamID) %}/{%u model.Key %}/{%u model.Value %}">{%= components.DisplayUUID(&model.TeamID) %}{% if x := teams.Get(model.TeamID); x != nil %} ({%s x.TitleString() %}){% endif %}</a></div>
          <a title="Team" href="{%s `/team`+`/`+model.TeamID.String() %}">{%= components.SVGRefIcon("team", ps) %}</a>
        </td>
        <td><a href="/admin/db/team/permission/{%= components.DisplayUUID(&model.TeamID) %}/{%u model.Key %}/{%u model.Value %}">{%s model.Key %}</a></td>
        <td><a href="/admin/db/team/permission/{%= components.DisplayUUID(&model.TeamID) %}/{%u model.Key %}/{%u model.Value %}">{%s model.Value %}</a></td>
        <td>{%s model.Access %}</td>
        <td>{%= components.DisplayTimestamp(&model.Created) %}</td>
      </tr>
      {%- endfor -%}
      {%- if prms.HasNextPage(len(models) + prms.Offset) || prms.HasPreviousPage() -%}
      <tr>
        <td colspan="5">{%= components.Pagination(len(models) + prms.Offset, prms, ps.URI) %}</td>
      </tr>
      {%- endif -%}
    </tbody>
  </table>
{% endfunc %}
