<%: func Navbar(ctx web.RequestContext, buffer *bytes.Buffer) %>
<header>
  <div data-uk-sticky="sel-target: .uk-navbar-container; cls-active: data-uk-navbar-sticky">
    <nav id="navbar" class="uk-navbar-container <%= ctx.Profile.NavColor %>-bg" data-uk-navbar>
      <div class="uk-navbar-left">
        <a title="<%= util.AppName %>" class="uk-navbar-item uk-logo" href="<%= ctx.Route(`home`) %>">
          <span data-uk-icon="icon: git-fork; ratio: 1.6"></span>
        </a>
        <% BreadcrumbDisplay(ctx, buffer) %>
      </div>
      <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
          <li>
            <a href="<%= ctx.Route(`profile`) %>" data-uk-icon="icon:user" title="Profile"></a>
          </li>
          <li>
            <a href="<%= ctx.Route(`about`) %>" data-uk-icon="icon: bookmark" title="About <%= util.AppName %>"></a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
