<%: func Features(ctx *npnweb.RequestContext, w io.Writer) (int, error) %>
<%~ "layout/basic.html" %>
<%@ nav { %><% npntemplate.Navbar(ctx, _buffer) %><% } %>
<%@ body { %>
<div class="uk-section uk-section-small">
  <div class="uk-container">
    <div class="uk-card uk-card-body uk-card-default">
      <h3 class="uk-card-title">Features</h3>
    </div>
    <% if ctx.App.Auth().Enabled() { %>
      <% FeatureSignin(ctx, _buffer) %>
    <% } %>
    <% FeatureTeam(_buffer) %>
    <% FeatureTheme(_buffer) %>
  </div>
</div>
<% } %>
