<!DOCTYPE html>
<html lang="en">
<head>
<% Head(ctx, _buffer) %>
<%@ head { %><% } %>
</head>
<body class="<%= ctx.Profile.Theme.CSS %>">
<%@ nav { %><% } %>
<div id="<%= util.KeyContent %>" data-uk-height-viewport="expand: true">
<% for _, flash := range ctx.Flashes { %>
  <% cls, content := web.ParseFlash(flash) %>
  <div class="alert-top <%= cls %>" data-uk-alert>
    <a class="uk-alert-close" href="#" data-uk-close=""></a>
    <p><%= content %></p>
  </div>
<% } %>
<%@ body { %><% } %>
</div>
<script>
  window.addEventListener("load", function() {
    dom.initDom('<%= ctx.Profile.Theme.String() %>', '<%= ctx.Profile.LinkColor %>');
  }, false);
</script>
</body>
</html>
