<!-- Content managed by Project Forge, see [projectforge.md] for details. -->
{% import (
  "github.com/kyleu/rituals/app"
  "github.com/kyleu/rituals/app/controller/cutil"
  "github.com/kyleu/rituals/app/estimate/story"
  "github.com/kyleu/rituals/app/estimate/story/vote"
  "github.com/kyleu/rituals/app/user"
  "github.com/kyleu/rituals/views/components"
  "github.com/kyleu/rituals/views/layout"
) %}

{% code type Detail struct {
  layout.Basic
  Model *vote.Vote
  StoriesByStoryID story.Stories
  UsersByUserID user.Users
} %}

{% func (p *Detail) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <div class="right">
      <a href="#modal-vote"><button type="button">JSON</button></a>
      <a href="{%s p.Model.WebPath() %}/edit"><button>{%= components.SVGRef("edit", 15, 15, "icon", ps) %}Edit</button></a>
    </div>
    <h3>{%= components.SVGRefIcon(`vote-yea`, ps) %} {%s p.Model.TitleString() %}</h3>
    <div><a href="/admin/db/estimate/story/vote"><em>Vote</em></a></div>
    <table class="mt">
      <tbody>
        <tr>
          <th class="shrink" title="UUID in format (00000000-0000-0000-0000-000000000000)">Story ID</th>
          <td class="nowrap">
            {%= components.DisplayUUID(&p.Model.StoryID) %}{% if x := p.StoriesByStoryID.Get(p.Model.StoryID); x != nil %} ({%s x.TitleString() %}){% endif %}
            <a title="Story" href="{%s `/admin/db/estimate/story`+`/`+p.Model.StoryID.String() %}">{%= components.SVGRef("story", 18, 18, "", ps) %}</a>
          </td>
        </tr>
        <tr>
          <th class="shrink" title="UUID in format (00000000-0000-0000-0000-000000000000)">User ID</th>
          <td class="nowrap">
            {%= components.DisplayUUID(&p.Model.UserID) %}{% if x := p.UsersByUserID.Get(p.Model.UserID); x != nil %} ({%s x.TitleString() %}){% endif %}
            <a title="User" href="{%s `/admin/db/user`+`/`+p.Model.UserID.String() %}">{%= components.SVGRef("profile", 18, 18, "", ps) %}</a>
          </td>
        </tr>
        <tr>
          <th class="shrink" title="String text">Choice</th>
          <td>{%s p.Model.Choice %}</td>
        </tr>
        <tr>
          <th class="shrink" title="Date and time, in almost any format">Created</th>
          <td>{%= components.DisplayTimestamp(&p.Model.Created) %}</td>
        </tr>
        <tr>
          <th class="shrink" title="Date and time, in almost any format (optional)">Updated</th>
          <td>{%= components.DisplayTimestamp(p.Model.Updated) %}</td>
        </tr>
      </tbody>
    </table>
  </div>
  {%- comment %}$PF_SECTION_START(extra)${% endcomment -%}
  {%- comment %}$PF_SECTION_END(extra)${% endcomment -%}
  {%= components.JSONModal("vote", "Vote JSON", p.Model, 1) %}
{% endfunc %}
