<!-- Content managed by Project Forge, see [projectforge.md] for details. -->
{% import (
  "github.com/kyleu/rituals/app"
  "github.com/kyleu/rituals/app/controller/cutil"
  "github.com/kyleu/rituals/app/estimate/story/vote"
  "github.com/kyleu/rituals/views/components"
  "github.com/kyleu/rituals/views/components/edit"
  "github.com/kyleu/rituals/views/layout"
) %}

{% code type Edit struct {
  layout.Basic
  Model *vote.Vote
  IsNew bool
} %}

{% func (p *Edit) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    {%- if p.IsNew -%}
    <div class="right"><a href="?prototype=random"><button>Random</button></a></div>
    <h3>{%= components.SVGRefIcon(`vote-yea`, ps) %} New Vote</h3>
    <form action="/admin/db/estimate/story/vote/_new" class="mt" method="post">
    {%- else -%}
    <div class="right"><a href="{%s p.Model.WebPath() %}/delete" onclick="return confirm('Are you sure you wish to delete vote [{%s p.Model.String() %}]?')"><button>Delete</button></a></div>
    <h3>{%= components.SVGRefIcon(`vote-yea`, ps) %} Edit Vote [{%s p.Model.String() %}]</h3>
    <form action="" method="post">
    {%- endif -%}
      <table class="mt expanded">
        <tbody>
          {% if p.IsNew %}{%= edit.UUIDTable("storyID", "input-storyID", "Story ID", &p.Model.StoryID, 5, "UUID in format (00000000-0000-0000-0000-000000000000)") %}{% endif %}
          {% if p.IsNew %}{%= edit.UUIDTable("userID", "input-userID", "User ID", &p.Model.UserID, 5, "UUID in format (00000000-0000-0000-0000-000000000000)") %}{% endif %}
          {%= edit.StringTable("choice", "", "Choice", p.Model.Choice, 5, "String text") %}
          <tr><td colspan="2"><button type="submit">Save Changes</button></td></tr>
        </tbody>
      </table>
    </form>
  </div>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      rituals.autocomplete(document.getElementById("input-storyID"), "/admin/db/estimate/story?story.l=10", "q", (o) => o["title"] + " (" + o["id"] + ")", (o) => o["id"]);
      rituals.autocomplete(document.getElementById("input-userID"), "/admin/db/user?user.l=10", "q", (o) => o["name"] + " (" + o["id"] + ")", (o) => o["id"]);
    });
  </script>
{% endfunc %}
