<!-- Content managed by Project Forge, see [projectforge.md] for details. -->
{% import (
  "time"

  "github.com/kyleu/rituals/app"
  "github.com/kyleu/rituals/app/controller/cutil"
  "github.com/kyleu/rituals/app/util"
  "github.com/kyleu/rituals/views/components"
  "github.com/kyleu/rituals/views/components/view"
  "github.com/kyleu/rituals/views/layout"
) %}

{% code type About struct {
  layout.Basic
  Version string
  Started time.Time
} %}

{% func (p *About) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <h3>{%= components.SVGIcon(`app`, ps) %} {%s util.AppName %}</h3>
    <em>v{%s p.Version %}, started {%= view.TimestampRelative(&p.Started, false) %}</em>
  </div>
  <div class="card">
    <h3>About</h3>
    {%- comment %}$PF_SECTION_START(about)${% endcomment -%}
    <p>
      This app, <a href="https://rituals.dev">rituals.dev</a>, allows you to collaborate with your team to manage your work.
      It provides teams, sprints, estimate sessions, standup meetings, and retrospectives.
    </p>
    <p>
      Collaborative editing is supported, using a websocket to provide lightning-fast updates.
      If preferred, the app is fully functional without JavaScript.
    </p>
    {%- comment %}$PF_SECTION_END(about)${% endcomment -%}
  </div>
  {%= SourceCode() %}
  {%= Feedback() %}
{% endfunc %}

{% func SourceCode() %}
  <div class="card">
    <h3>Source Code</h3>
    <p>The project is available on <a href="https://github.com/kyleu/rituals" target="_blank" rel="noopener noreferrer">GitHub</a></p>
  </div>
{% endfunc %}

{% func Feedback() %}
  <div class="card">
    <h3>Feedback</h3>
    <p>For now, email <a href="mailto:rituals.dev@kyleu.com">Kyle U</a></p>
  </div>
{% endfunc %}
