<%: func AuthTable(auths auth.Records, params *npncore.Params, ctx *npnweb.RequestContext, buffer *bytes.Buffer) %>

<table class="uk-table uk-table-divider uk-text-left">
  <thead>
    <tr>
      <% npntemplate.TableHeader(npncore.KeyAuth, npncore.KeyID, npncore.Title(npncore.KeyID), params, ctx.Request, buffer) %>
      <% npntemplate.TableHeader(npncore.KeyAuth, npncore.WithID(npncore.KeyUser), npncore.Title(npncore.KeyUser), params, ctx.Request, buffer) %>
      <% npntemplate.TableHeader(npncore.KeyAuth, npncore.KeyProvider, npncore.Title(npncore.KeyProvider), params, ctx.Request, buffer) %>
      <% npntemplate.TableHeader(npncore.KeyAuth, "providerID", "Provider ID", params, ctx.Request, buffer) %>
      <% npntemplate.TableHeader(npncore.KeyAuth, npncore.KeyName, npncore.Title(npncore.KeyName), params, ctx.Request, buffer) %>
      <% npntemplate.TableHeader(npncore.KeyAuth, npncore.KeyEmail, npncore.Title(npncore.KeyEmail), params, ctx.Request, buffer) %>
      <% npntemplate.TableHeader(npncore.KeyAuth, npncore.KeyCreated, npncore.Title(npncore.KeyCreated), params, ctx.Request, buffer) %>
    </tr>
  </thead>
  <tbody>
  <% for _, model := range auths { %>
    <tr>
      <td class="uk-table-shrink uk-text-nowrap"><a class="theme" href="<%= ctx.Route(npnweb.AdminLink(npncore.KeyAuth, npncore.KeyDetail), `id`, model.ID.String()) %>"><% npntemplate.UUID(&model.ID, buffer) %></a></td>
      <td class="uk-table-shrink uk-text-nowrap"><a class="theme" href="<%= ctx.Route(npnweb.AdminLink(npncore.KeyUser, npncore.KeyDetail), `id`, model.UserID.String()) %>"><% npntemplate.UUID(&model.UserID, buffer) %></a></td>
      <td class="uk-table-shrink uk-text-nowrap"><%= model.Provider.Key %></td>
      <td class="uk-table-shrink uk-text-nowrap"><%= model.ProviderID %></td>
      <td class="uk-table-shrink uk-text-nowrap"><%= model.Name %></td>
      <td class="uk-table-shrink uk-text-nowrap"><%= model.Email %></td>
      <td class="uk-table-shrink uk-text-nowrap"><% npntemplate.DateTime(&model.Created, buffer) %></td>
    </tr>
  <% } %>
  </tbody>
</table>
