<%: func ActionsModal(ctx web.RequestContext, buffer *bytes.Buffer) %>
<div id="modal-<%= util.KeyAction %>" class="modal" data-uk-modal>
  <div class="uk-modal-dialog uk-margin-auto-vertical">
    <button class="uk-button uk-modal-close-default" type="button" data-uk-close></button>
    <div class="uk-modal-header">
      <h2 class="uk-modal-title">Action History</h2>
    </div>
    <div id="action-list" class="uk-modal-body" data-uk-overflow-auto>
      <p>Loading...</p>
    </div>
  </div>
</div>
