<%: func MemberOther(ctx *npnweb.RequestContext, path string, buffer *bytes.Buffer) %>
<div class="uk-card uk-card-body uk-transition-toggle">
  <h3 class="uk-card-title">
    <span class="right">
      <a class="theme uk-icon-button uk-transition-fade" data-uk-icon="plus" onclick="modal.open('<%= npncore.KeyInvitation %>');return false;" title="invite members"></a>
    </span>
    <span class="model-icon h3-icon" onclick="modal.open('<%= npncore.KeyInvitation %>');" data-uk-icon="icon: users;"></span>
    <span class="modal-title" onclick="modal.open('<%= npncore.KeyInvitation %>');">Members</span>
  </h3>
  <p id="member-detail">Loading...</p>
</div>
<div id="modal-invitation" class="modal" data-uk-modal>
  <div class="uk-modal-dialog uk-margin-auto-vertical">
    <button class="uk-button uk-modal-close-default" type="button" data-uk-close></button>
    <div class="uk-modal-header">
      <h2 class="uk-modal-title">Invite Member</h2>
    </div>
    <div class="uk-modal-body" data-uk-overflow-auto>
      <p id="team-warning-container">
        Joining this session will also join the current team, <span id="team-warning-name"></span>
      </p>
      <p id="sprint-warning-container">
        Joining this session will also join the current sprint, <span id="sprint-warning-name"></span>
      </p>
      <p>For now, just share the url of this page from your address bar, or be the world's first person to use a QR code</p>
      <p><img id="qrcode" src="" data-src="<%= ctx.Route(`qr`) %>?path=<%= url.QueryEscape(path) %>" width="128" height="128" title="lol qr code wat" /></p>
    </div>
  </div>
</div>
<div id="modal-member" class="modal" data-uk-modal>
  <div class="uk-modal-dialog uk-margin-auto-vertical">
    <button class="uk-button uk-modal-close-default" type="button" data-uk-close></button>
    <div class="uk-modal-header">
      <h2 id="member-modal-name" class="uk-modal-title"></h2>
    </div>
    <div class="uk-modal-body" data-uk-overflow-auto>
      <div class="owner-form">
        <select class="uk-select" id="member-modal-role-select">
        <% for _, r := range member.AllRoles { %>
          <option value="<%= r.Key %>"><%= r.Title %></option>
        <% } %>
        </select>
      </div>
      <div class="member-form">
        <p><span id="member-modal-role"></span></p>
      </div>
    </div>
    <div class="uk-modal-footer uk-text-right">
      <div class="owner-actions">
        <button class="left uk-button uk-button-default" type="button" onclick="member.removeMember();">Remove Member</button>
        <button class="uk-button uk-button-default" type="button" onclick="member.saveRole();">Save Changes</button>
      </div>
      <div class="member-actions">
        <button class="uk-button uk-button-default" type="button" onclick="modal.hide('<%= npncore.KeyMember %>');">Close</button>
      </div>
    </div>
  </div>
</div>
