<%: func MemberOthers(ctx web.RequestContext, buffer *bytes.Buffer) %>
<div class="uk-card <%= ctx.Profile.Theme.CardClass %> uk-card-body uk-transition-toggle">
  <h3 class="uk-card-title">
    <span class="right">
      <a class="<%= ctx.Profile.LinkClass() %> uk-icon-button uk-transition-fade" data-uk-icon="plus" onclick="events.openModal('invitation');return false;" title="invite members"></a>
    </span>
    <span class="model-icon h3-icon" onclick="events.openModal('invitation');" data-uk-icon="icon: users;"></span>
    <span class="modal-title" onclick="events.openModal('invitation');">Members</span>
  </h3>
  <p id="member-detail">Loading...</p>
</div>
<div id="modal-invitation" data-uk-modal>
  <div class="uk-modal-dialog uk-margin-auto-vertical">
    <button class="uk-button uk-modal-close-default" type="button" data-uk-close></button>
    <div class="uk-modal-header">
      <h2 class="uk-modal-title">Invite Member</h2>
    </div>
    <div class="uk-modal-body" data-uk-overflow-auto>
      <p>For now, just share the url of this page from your address bar</p>
      <p id="sprint-warning-container">
        Joining this session will also join the current sprint, <span id="sprint-warning-name"></span>
      </p>
    </div>
  </div>
</div>
<div id="modal-member" data-uk-modal>
  <div class="uk-modal-dialog uk-margin-auto-vertical">
    <button class="uk-button uk-modal-close-default" type="button" data-uk-close></button>
    <div class="uk-modal-header">
      <h2 id="member-modal-name" class="uk-modal-title"></h2>
    </div>
    <div class="uk-modal-body" data-uk-overflow-auto>
      <p><span id="member-modal-role"></span></p>
    </div>
    <div class="uk-modal-footer uk-text-right">
      <button class="left uk-button uk-button-default" type="button" onclick="alert('TODO')">Remove Member</button>
      <button class="uk-button uk-button-default" type="button" onclick="UIkit.modal('#modal-member').hide();">Close</button>
    </div>
  </div>
</div>
