<%: func MemberSelf(auths auth.Records, ctx *web.RequestContext, buffer *bytes.Buffer) %>
<div class="uk-card uk-card-body uk-transition-toggle" id="member-self">
  <h3 class="uk-card-title">
    <span class="right">
      <a class="theme uk-icon-button uk-transition-fade" data-uk-icon="pencil" onclick="modal.open('self');return false;" title="edit name"></a>
    </span>
    <span id="self-picture" onclick="modal.open('self');">
      <span class="model-icon h3-icon" onclick="modal.open('self');" data-uk-icon="icon: user;"></span>
    </span>
    <span class="member-name" onclick="modal.open('self');"><%= ctx.Profile.Name %></span>
  </h3>
  <p class="member-role"></p>
</div>
<div id="modal-self" class="modal" data-uk-modal>
  <div class="uk-modal-dialog uk-margin-auto-vertical">
    <button class="uk-button uk-modal-close-default" type="button" data-uk-close></button>
    <div class="uk-modal-header">
      <h2 class="uk-modal-title">Edit Self</h2>
    </div>
    <form class="uk-form-stacked" id="form-self-name" onsubmit="member.onSubmitSelf();return false;">
      <div class="uk-modal-body" data-uk-overflow-auto>
          <fieldset class="uk-fieldset">
            <div class="uk-margin">
              <label class="uk-form-label" for="self-name-input">Name</label>
              <input class="uk-input" id="self-name-input" type="text" />
            </div>
            <div class="uk-margin">
              <div>
                <label for="self-name-choice-local">
                  <input class="uk-radio" id="self-name-choice-local" checked="checked" type="radio" name="self-name-choice" value="local" />
                  Change for this session only
                </label>
              </div>
              <div>
                <label for="self-name-choice-global">
                  <input class="uk-radio" id="self-name-choice-global" type="radio" name="self-name-choice" value="global" />
                  Change global default
                </label>
              </div>
            </div>
            <div class="uk-margin">
              <label class="uk-form-label" for="self-picture-input">Picture</label>
              <input class="uk-input" id="self-picture-input" type="hidden" />
              <% if len(auths) == 0 { %>
                <div>To set a profile picture, <a class="theme" href="<%= ctx.Route(util.KeyProfile) %>">sign in</a></div>
              <% } else { %>
                <% for _, a := range auths { %>
                  <div class="profile-picture-choice">
                    <a href="" title="<%= a.Provider.Title %> picture" onclick="return profile.setPicture('<%= a.Picture %>');">
                      <img class="uk-border-circle" alt="<%= a.Provider.Title %> picture" src="<%= a.Picture %>" />
                    </a>
                  </div>
                <% } %>
              <div class="profile-picture-choice">
                <a href="" title="no picture" onclick="return profile.setPicture('none');">
                  <span class="" onclick="modal.open('self');" data-uk-icon="icon: user; ratio: 2.0;"></span>
                </a>
              </div>
              <% } %>
            </div>
          </fieldset>
      </div>
      <div class="uk-modal-footer uk-text-right">
        <button class="left uk-button uk-button-default" type="button" onclick="member.removeMember('self');">Leave</button>
        <button class="uk-button uk-button-default" type="submit">Save</button>
      </div>
    </form>
  </div>
</div>
