<%: func GraphiQL(ctx web.RequestContext, w io.Writer) (int, error) %>

<%~ "layout/basic.html" %>

<%@ body { %>
  <div id="graphiql" style="flex: 1 1 auto;"></div>
  <% if ctx.App.Debug { %>
  <link rel="stylesheet" media="screen" href="/assets/vendor/graphiql/graphiql.css">
  <script src="/assets/vendor/react/react.development.js"></script>
  <script src="/assets/vendor/react/react-dom.development.js"></script>
  <script src="/assets/vendor/graphiql/graphiql.js"></script>
  <% } else { %>
  <link rel="stylesheet" media="screen" href="/assets/vendor/graphiql/graphiql.min.css")>
  <script src="/assets/vendor/react/react.production.min.js"></script>
  <script src="/assets/vendor/react/react-dom.production.min.js"></script>
  <script src="/assets/vendor/graphiql/graphiql.min.js"></script>
  <% } %>

  <script>
    function graphQLFetcher(graphQLParams) {
      return fetch(
        "<%= ctx.Route(`graphql.run`) %>",
        {
          method: "post",
          headers: {
            Accept: "application/json",
            "Content-Type": "application/json",
          },
          body: JSON.stringify(graphQLParams),
          credentials: "omit",
        },
      ).then(function (response) {
        return response.text();
      });
    }

    window.onload = function() {
      ReactDOM.render(
        React.createElement(GraphiQL, {
          fetcher: graphQLFetcher,
          defaultVariableEditorOpen: true,
        }),
        document.getElementById("graphiql")
      )
    };
  </script>
<% } %>
