<!-- Content managed by Project Forge, see [projectforge.md] for details. -->
{% import (
  "github.com/kyleu/rituals/app"
  "github.com/kyleu/rituals/app/controller/cutil"
  "github.com/kyleu/rituals/app/enum"
  "github.com/kyleu/rituals/app/lib/filter"
  "github.com/kyleu/rituals/app/retro"
  "github.com/kyleu/rituals/app/retro/feedback"
  "github.com/kyleu/rituals/app/retro/rhistory"
  "github.com/kyleu/rituals/app/retro/rmember"
  "github.com/kyleu/rituals/app/retro/rpermission"
  "github.com/kyleu/rituals/app/sprint"
  "github.com/kyleu/rituals/app/team"
  "github.com/kyleu/rituals/app/util"
  "github.com/kyleu/rituals/views/components"
  "github.com/kyleu/rituals/views/components/view"
  "github.com/kyleu/rituals/views/layout"
  "github.com/kyleu/rituals/views/vretro/vfeedback"
  "github.com/kyleu/rituals/views/vretro/vrhistory"
  "github.com/kyleu/rituals/views/vretro/vrmember"
  "github.com/kyleu/rituals/views/vretro/vrpermission"
) %}

{% code type Detail struct {
  layout.Basic
  Model *retro.Retro
  TeamByTeamID *team.Team
  SprintBySprintID *sprint.Sprint
  Params filter.ParamSet
  RelFeedbacksByRetroID feedback.Feedbacks
  RelRetroHistoriesByRetroID rhistory.RetroHistories
  RelRetroMembersByRetroID rmember.RetroMembers
  RelRetroPermissionsByRetroID rpermission.RetroPermissions
} %}

{% func (p *Detail) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <div class="right">
      <a href="#modal-retro"><button type="button">{%= components.SVGButton("file", ps) %}JSON</button></a>
      <a href="{%s p.Model.WebPath() %}/edit"><button>{%= components.SVGButton("edit", ps) %}Edit</button></a>
    </div>
    <h3>{%= components.SVGIcon(`retro`, ps) %}{%s p.Model.TitleString() %}</h3>
    <div><a href="/admin/db/retro"><em>Retro</em></a></div>
    <div class="mt overflow full-width">
      <table>
        <tbody>
          <tr>
            <th class="shrink" title="UUID in format (00000000-0000-0000-0000-000000000000)">ID</th>
            <td>{%= view.UUID(&p.Model.ID) %}</td>
          </tr>
          <tr>
            <th class="shrink" title="String text">Slug</th>
            <td>{%= view.String(p.Model.Slug) %}</td>
          </tr>
          <tr>
            <th class="shrink" title="String text">Title</th>
            <td><strong>{%= view.String(p.Model.Title) %}</strong></td>
          </tr>
          <tr>
            <th class="shrink" title="String text">Icon</th>
            <td>{%= view.String(p.Model.Icon) %}</td>
          </tr>
          <tr>
            <th class="shrink" title="{%s enum.AllSessionStatuses.Help() %}">Status</th>
            <td>{%s p.Model.Status.String() %}</td>
          </tr>
          <tr>
            <th class="shrink" title="UUID in format (00000000-0000-0000-0000-000000000000) (optional)">Team ID</th>
            <td class="nowrap">
              {%= view.UUID(p.Model.TeamID) %}{% if p.TeamByTeamID != nil %} ({%s p.TeamByTeamID.TitleString() %}){% endif %}
              {% if p.Model.TeamID != nil %}<a title="Team" href="{%s `/admin/db/team`+`/`+p.Model.TeamID.String() %}">{%= components.SVGSimple("team", 18, ps) %}</a>{% endif %}
            </td>
          </tr>
          <tr>
            <th class="shrink" title="UUID in format (00000000-0000-0000-0000-000000000000) (optional)">Sprint ID</th>
            <td class="nowrap">
              {%= view.UUID(p.Model.SprintID) %}{% if p.SprintBySprintID != nil %} ({%s p.SprintBySprintID.TitleString() %}){% endif %}
              {% if p.Model.SprintID != nil %}<a title="Sprint" href="{%s `/admin/db/sprint`+`/`+p.Model.SprintID.String() %}">{%= components.SVGSimple("sprint", 18, ps) %}</a>{% endif %}
            </td>
          </tr>
          <tr>
            <th class="shrink" title="Comma-separated list of values">Categories</th>
            <td>{%= view.StringArray(p.Model.Categories) %}</td>
          </tr>
          <tr>
            <th class="shrink" title="Date and time, in almost any format">Created</th>
            <td>{%= view.Timestamp(&p.Model.Created) %}</td>
          </tr>
          <tr>
            <th class="shrink" title="Date and time, in almost any format (optional)">Updated</th>
            <td>{%= view.Timestamp(p.Model.Updated) %}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  {%- comment %}$PF_SECTION_START(extra)${% endcomment -%}
  {%- comment %}$PF_SECTION_END(extra)${% endcomment -%}
  {%- code relationHelper := retro.Retros{p.Model} -%}
  <div class="card">
    <h3 class="mb">Relations</h3>
    <ul class="accordion">
      <li>
        <input id="accordion-FeedbacksByRetroID" type="checkbox" hidden="hidden"{% if p.Params.Specifies(`feedback`) %} checked="checked"{% endif %} />
        <label for="accordion-FeedbacksByRetroID">
          {%= components.ExpandCollapse(3, ps) %}
          {%= components.SVGRef(`comment`, 16, 16, `icon`, ps) %}
          {%s util.StringPlural(len(p.RelFeedbacksByRetroID), "Feedback") %} by [Retro ID]
        </label>
        <div class="bd"><div><div>
          {%- if len(p.RelFeedbacksByRetroID) == 0 -%}
          <em>no related Feedbacks</em>
          {%- else -%}
          <div class="overflow clear">
            {%= vfeedback.Table(p.RelFeedbacksByRetroID, relationHelper, nil, p.Params, as, ps) %}
          </div>
          {%- endif -%}
        </div></div></div>
      </li>
      <li>
        <input id="accordion-RetroHistoriesByRetroID" type="checkbox" hidden="hidden"{% if p.Params.Specifies(`rhistory`) %} checked="checked"{% endif %} />
        <label for="accordion-RetroHistoriesByRetroID">
          {%= components.ExpandCollapse(3, ps) %}
          {%= components.SVGRef(`history`, 16, 16, `icon`, ps) %}
          {%s util.StringPlural(len(p.RelRetroHistoriesByRetroID), "History") %} by [Retro ID]
        </label>
        <div class="bd"><div><div>
          {%- if len(p.RelRetroHistoriesByRetroID) == 0 -%}
          <em>no related Histories</em>
          {%- else -%}
          <div class="overflow clear">
            {%= vrhistory.Table(p.RelRetroHistoriesByRetroID, relationHelper, p.Params, as, ps) %}
          </div>
          {%- endif -%}
        </div></div></div>
      </li>
      <li>
        <input id="accordion-RetroMembersByRetroID" type="checkbox" hidden="hidden"{% if p.Params.Specifies(`rmember`) %} checked="checked"{% endif %} />
        <label for="accordion-RetroMembersByRetroID">
          {%= components.ExpandCollapse(3, ps) %}
          {%= components.SVGRef(`users`, 16, 16, `icon`, ps) %}
          {%s util.StringPlural(len(p.RelRetroMembersByRetroID), "Member") %} by [Retro ID]
        </label>
        <div class="bd"><div><div>
          {%- if len(p.RelRetroMembersByRetroID) == 0 -%}
          <em>no related Members</em>
          {%- else -%}
          <div class="overflow clear">
            {%= vrmember.Table(p.RelRetroMembersByRetroID, relationHelper, nil, p.Params, as, ps) %}
          </div>
          {%- endif -%}
        </div></div></div>
      </li>
      <li>
        <input id="accordion-RetroPermissionsByRetroID" type="checkbox" hidden="hidden"{% if p.Params.Specifies(`rpermission`) %} checked="checked"{% endif %} />
        <label for="accordion-RetroPermissionsByRetroID">
          {%= components.ExpandCollapse(3, ps) %}
          {%= components.SVGRef(`permission`, 16, 16, `icon`, ps) %}
          {%s util.StringPlural(len(p.RelRetroPermissionsByRetroID), "Permission") %} by [Retro ID]
        </label>
        <div class="bd"><div><div>
          {%- if len(p.RelRetroPermissionsByRetroID) == 0 -%}
          <em>no related Permissions</em>
          {%- else -%}
          <div class="overflow clear">
            {%= vrpermission.Table(p.RelRetroPermissionsByRetroID, relationHelper, p.Params, as, ps) %}
          </div>
          {%- endif -%}
        </div></div></div>
      </li>
    </ul>
  </div>
  {%= components.JSONModal("retro", "Retro JSON", p.Model, 1) %}
{% endfunc %}
