<!-- Content managed by Project Forge, see [projectforge.md] for details. -->
{% import (
  "github.com/kyleu/rituals/app"
  "github.com/kyleu/rituals/app/controller/cutil"
  "github.com/kyleu/rituals/app/lib/filter"
  "github.com/kyleu/rituals/app/retro"
  "github.com/kyleu/rituals/app/retro/feedback"
  "github.com/kyleu/rituals/app/retro/rhistory"
  "github.com/kyleu/rituals/app/retro/rmember"
  "github.com/kyleu/rituals/app/retro/rpermission"
  "github.com/kyleu/rituals/app/sprint"
  "github.com/kyleu/rituals/app/team"
  "github.com/kyleu/rituals/app/user"
  "github.com/kyleu/rituals/views/components"
  "github.com/kyleu/rituals/views/layout"
  "github.com/kyleu/rituals/views/vretro/vfeedback"
  "github.com/kyleu/rituals/views/vretro/vrhistory"
  "github.com/kyleu/rituals/views/vretro/vrmember"
  "github.com/kyleu/rituals/views/vretro/vrpermission"
) %}

{% code type Detail struct {
  layout.Basic
  Model *retro.Retro
  Users user.Users
  Teams team.Teams
  Sprints sprint.Sprints
  Params filter.ParamSet
  FeedbacksByRetroID feedback.Feedbacks
  RetroHistoriesByRetroID rhistory.RetroHistories
  RetroMembersByRetroID rmember.RetroMembers
  RetroPermissionsByRetroID rpermission.RetroPermissions
} %}

{% func (p *Detail) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <div class="right">
      <a href="#modal-retro"><button type="button">JSON</button></a>
      <a href="{%s p.Model.WebPath() %}/edit"><button>{%= components.SVGRef("edit", 15, 15, "icon", ps) %}Edit</button></a>
    </div>
    <h3>{%= components.SVGRefIcon(`retro`, ps) %} {%s p.Model.TitleString() %}</h3>
    <div><a href="/admin/db/retro"><em>Retro</em></a></div>
    <table class="mt">
      <tbody>
        <tr>
          <th class="shrink" title="UUID in format (00000000-0000-0000-0000-000000000000)">ID</th>
          <td>{%= components.DisplayUUID(&p.Model.ID) %}</td>
        </tr>
        <tr>
          <th class="shrink" title="String text">Slug</th>
          <td>{%s p.Model.Slug %}</td>
        </tr>
        <tr>
          <th class="shrink" title="String text">Title</th>
          <td><strong>{%s p.Model.Title %}</strong></td>
        </tr>
        <tr>
          <th class="shrink" title="String text">Icon</th>
          <td>{%s p.Model.Icon %}</td>
        </tr>
        <tr>
          <th class="shrink" title="Available options: [new, active, complete, deleted]">Status</th>
          <td>{%v p.Model.Status %}</td>
        </tr>
        <tr>
          <th class="shrink" title="UUID in format (00000000-0000-0000-0000-000000000000) (optional)">Team ID</th>
          <td>
            <div class="icon">{%= components.DisplayUUID(p.Model.TeamID) %}{% if p.Model.TeamID != nil %}{% if x := p.Teams.Get(*p.Model.TeamID); x != nil %} ({%s x.TitleString() %}){% endif %}{% endif %}</div>
            {% if p.Model.TeamID != nil %}<a title="Team" href="{%s `/team`+`/`+p.Model.TeamID.String() %}">{%= components.SVGRefIcon("team", ps) %}</a>{% endif %}
          </td>
        </tr>
        <tr>
          <th class="shrink" title="UUID in format (00000000-0000-0000-0000-000000000000) (optional)">Sprint ID</th>
          <td>
            <div class="icon">{%= components.DisplayUUID(p.Model.SprintID) %}{% if p.Model.SprintID != nil %}{% if x := p.Sprints.Get(*p.Model.SprintID); x != nil %} ({%s x.TitleString() %}){% endif %}{% endif %}</div>
            {% if p.Model.SprintID != nil %}<a title="Sprint" href="{%s `/sprint`+`/`+p.Model.SprintID.String() %}">{%= components.SVGRefIcon("sprint", ps) %}</a>{% endif %}
          </td>
        </tr>
        <tr>
          <th class="shrink" title="UUID in format (00000000-0000-0000-0000-000000000000)">Owner</th>
          <td>
            <div class="icon">{%= components.DisplayUUID(&p.Model.Owner) %}{% if x := p.Users.Get(p.Model.Owner); x != nil %} ({%s x.TitleString() %}){% endif %}</div>
            <a title="User" href="{%s `/user`+`/`+p.Model.Owner.String() %}">{%= components.SVGRefIcon("profile", ps) %}</a>
          </td>
        </tr>
        <tr>
          <th class="shrink" title="Comma-separated list of values">Categories</th>
          <td>{%= components.DisplayStringArray(p.Model.Categories) %}</td>
        </tr>
        <tr>
          <th class="shrink" title="Date and time, in almost any format">Created</th>
          <td>{%= components.DisplayTimestamp(&p.Model.Created) %}</td>
        </tr>
        <tr>
          <th class="shrink" title="Date and time, in almost any format (optional)">Updated</th>
          <td>{%= components.DisplayTimestamp(p.Model.Updated) %}</td>
        </tr>
      </tbody>
    </table>
  </div>
  {%- comment %}$PF_SECTION_START(extra)${% endcomment -%}
  {%- comment %}$PF_SECTION_END(extra)${% endcomment -%}
  {%- if len(p.FeedbacksByRetroID) > 0 -%}
  <div class="card">
    <h3>{%= components.SVGRefIcon(`comment`, ps) %} Related feedbacks by [retro id]</h3>
    <div class="overflow clear">
      {%= vfeedback.Table(p.FeedbacksByRetroID, nil, nil, p.Params, as, ps) %}
    </div>
  </div>
  {%- endif -%}
  {%- if len(p.RetroHistoriesByRetroID) > 0 -%}
  <div class="card">
    <h3>{%= components.SVGRefIcon(`history`, ps) %} Related histories by [retro id]</h3>
    <div class="overflow clear">
      {%= vrhistory.Table(p.RetroHistoriesByRetroID, nil, p.Params, as, ps) %}
    </div>
  </div>
  {%- endif -%}
  {%- if len(p.RetroMembersByRetroID) > 0 -%}
  <div class="card">
    <h3>{%= components.SVGRefIcon(`users`, ps) %} Related members by [retro id]</h3>
    <div class="overflow clear">
      {%= vrmember.Table(p.RetroMembersByRetroID, nil, nil, p.Params, as, ps) %}
    </div>
  </div>
  {%- endif -%}
  {%- if len(p.RetroPermissionsByRetroID) > 0 -%}
  <div class="card">
    <h3>{%= components.SVGRefIcon(`permission`, ps) %} Related permissions by [retro id]</h3>
    <div class="overflow clear">
      {%= vrpermission.Table(p.RetroPermissionsByRetroID, nil, p.Params, as, ps) %}
    </div>
  </div>
  {%- endif -%}
  {%= components.JSONModal("retro", "Retro JSON", p.Model, 1) %}
{% endfunc %}
