<!-- Content managed by Project Forge, see [projectforge.md] for details. -->
{% import (
  "github.com/kyleu/rituals/app"
  "github.com/kyleu/rituals/app/controller/cutil"
  "github.com/kyleu/rituals/app/lib/filter"
  "github.com/kyleu/rituals/app/retro"
  "github.com/kyleu/rituals/app/sprint"
  "github.com/kyleu/rituals/app/team"
  "github.com/kyleu/rituals/views/components"
  "github.com/kyleu/rituals/views/layout"
) %}

{% code type List struct {
  layout.Basic
  Models retro.Retros
  TeamsByTeamID team.Teams
  SprintsBySprintID sprint.Sprints
  Params filter.ParamSet
  SearchQuery string
} %}

{% func (p *List) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <div class="right">{%= components.SearchForm("", "q", "Search retros", p.SearchQuery, ps) %}</div>
    <h3>{%= components.SVGRefIcon(`retro`, ps) %}{%s ps.Title %} <a href="/admin/db/retro/new"><button>New</button></a></h3>
    <div class="clear"></div>
    {%- if p.SearchQuery != "" -%}
    <em>Search results for [{%s p.SearchQuery %}]</em>
    {%- endif -%}
    {%- if len(p.Models) == 0 -%}
    <div class="mt"><em>No retros available</em></div>
    {%- else -%}
    <div class="overflow clear">
      {%= Table(p.Models, p.TeamsByTeamID, p.SprintsBySprintID, p.Params, as, ps) %}
    </div>
    {%- endif -%}
  </div>
{% endfunc %}
