<!-- Content managed by Project Forge, see [projectforge.md] for details. -->
{% import (
  "github.com/kyleu/rituals/app"
  "github.com/kyleu/rituals/app/controller/cutil"
  "github.com/kyleu/rituals/app/enum"
  "github.com/kyleu/rituals/app/lib/filter"
  "github.com/kyleu/rituals/app/retro"
  "github.com/kyleu/rituals/app/sprint"
  "github.com/kyleu/rituals/app/team"
  "github.com/kyleu/rituals/views/components"
) %}

{% func Table(models retro.Retros, teamsByTeamID team.Teams, sprintsBySprintID sprint.Sprints, params filter.ParamSet, as *app.State, ps *cutil.PageState) %}
  {%- code prms := params.Get("retro", nil, ps.Logger).Sanitize("retro") -%}
  <table>
    <thead>
      <tr>
        {%= components.TableHeaderSimple("retro", "id", "ID", "UUID in format (00000000-0000-0000-0000-000000000000)", prms, ps.URI, ps) %}
        {%= components.TableHeaderSimple("retro", "slug", "Slug", "String text", prms, ps.URI, ps) %}
        {%= components.TableHeaderSimple("retro", "title", "Title", "String text", prms, ps.URI, ps) %}
        {%= components.TableHeaderSimple("retro", "icon", "Icon", "String text", prms, ps.URI, ps) %}
        {%= components.TableHeaderSimple("retro", "status", "Status", enum.AllSessionStatuses.Help(), prms, ps.URI, ps) %}
        {%= components.TableHeaderSimple("retro", "team_id", "Team ID", "UUID in format (00000000-0000-0000-0000-000000000000) (optional)", prms, ps.URI, ps) %}
        {%= components.TableHeaderSimple("retro", "sprint_id", "Sprint ID", "UUID in format (00000000-0000-0000-0000-000000000000) (optional)", prms, ps.URI, ps) %}
        {%= components.TableHeaderSimple("retro", "categories", "Categories", "Comma-separated list of values", prms, ps.URI, ps) %}
        {%= components.TableHeaderSimple("retro", "created", "Created", "Date and time, in almost any format", prms, ps.URI, ps) %}
        {%= components.TableHeaderSimple("retro", "updated", "Updated", "Date and time, in almost any format (optional)", prms, ps.URI, ps) %}
      </tr>
    </thead>
    <tbody>
      {%- for _, model := range models -%}
      <tr>
        <td><a href="/admin/db/retro/{%= components.DisplayUUID(&model.ID) %}">{%= components.DisplayUUID(&model.ID) %}</a></td>
        <td>{%s model.Slug %}</td>
        <td><strong>{%s model.Title %}</strong></td>
        <td>{%s model.Icon %}</td>
        <td>{%s model.Status.String() %}</td>
        <td class="nowrap">
          {%= components.DisplayUUID(model.TeamID) %}{% if model.TeamID != nil %}{% if x := teamsByTeamID.Get(*model.TeamID); x != nil %} ({%s x.TitleString() %}){% endif %}{% endif %}
          {% if model.TeamID != nil %}<a title="Team" href="{%s `/admin/db/team`+`/`+model.TeamID.String() %}">{%= components.SVGRef("team", 18, 18, "", ps) %}</a>{% endif %}
        </td>
        <td class="nowrap">
          {%= components.DisplayUUID(model.SprintID) %}{% if model.SprintID != nil %}{% if x := sprintsBySprintID.Get(*model.SprintID); x != nil %} ({%s x.TitleString() %}){% endif %}{% endif %}
          {% if model.SprintID != nil %}<a title="Sprint" href="{%s `/admin/db/sprint`+`/`+model.SprintID.String() %}">{%= components.SVGRef("sprint", 18, 18, "", ps) %}</a>{% endif %}
        </td>
        <td>{%= components.DisplayStringArray(model.Categories) %}</td>
        <td>{%= components.DisplayTimestamp(&model.Created) %}</td>
        <td>{%= components.DisplayTimestamp(model.Updated) %}</td>
      </tr>
      {%- endfor -%}
      {%- if prms.HasNextPage(len(models) + prms.Offset) || prms.HasPreviousPage() -%}
      <tr>
        <td colspan="10">{%= components.Pagination(len(models) + prms.Offset, prms, ps.URI) %}</td>
      </tr>
      {%- endif -%}
    </tbody>
  </table>
{% endfunc %}
