{% import (
  "github.com/kyleu/rituals/app"
  "github.com/kyleu/rituals/app/comment"
  "github.com/kyleu/rituals/app/controller/cutil"
	"github.com/kyleu/rituals/app/enum"
	"github.com/kyleu/rituals/app/team"
	"github.com/kyleu/rituals/app/util"
  "github.com/kyleu/rituals/views/components"
  "github.com/kyleu/rituals/views/layout"
  "github.com/kyleu/rituals/views/vworkspace/vwutil"
) %}

{% code type TeamList struct {
  layout.Basic
  Teams team.Teams
} %}

{% func (p *TeamList) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <h3>{%= components.SVGRefIcon(util.KeyTeam, ps) %}{%d len(p.Teams) %} {%s util.StringPluralMaybe("Team", len(p.Teams)) %}</h3>
    <em>Join your friends and colleagues, working towards a common goal</em>
    <table class="mt expanded">
      <tbody>
        {%- for _, t := range p.Teams -%}
        <tr>
          <td><a href="{%s t.PublicWebPath() %}">{%s t.TitleString() %}</a></td>
          <td class="text-align-right">{%s string(t.Status) %}</td>
          <td class="shrink">{%= components.DisplayTimestamp(&t.Created) %}</td>
        </tr>
        {%- endfor -%}
      </tbody>
    </table>
  </div>
  <div class="card">
    <h3>{%= components.SVGRefIcon(util.KeyTeam, ps) %}New Team</h3>
    {%= TeamForm(&team.Team{}, as, ps) %}
  </div>
{% endfunc %}

{% func TeamForm(m *team.Team, as *app.State, ps *cutil.PageState) %}
  <form action="" method="post">
    <table class="mt expanded">
      <tbody>
        {%= components.TableInput("title", "", "Team Title", m.Title, 5, "The name of your team") %}
        {%= components.TableInput("name", "", "Your Name", ps.Username(), 5, "Whatever you prefer to be called") %}
        <tr><td colspan="2"><button type="submit">Add Team</button></td></tr>
      </tbody>
    </table>
  </form>
{% endfunc %}

{% func TeamListTable(teams team.Teams, showComments bool, comments comment.Comments, members util.Members, ps *cutil.PageState) %}
  <div class="card">
    <div class="right">{%= vwutil.EditWorkspaceForm(util.KeyTeam, nil, nil, "New Team") %}</div>
    <h3 title="Join your friends and work towards a common goal">{%= components.SVGRefIcon(util.KeyTeam, ps) %}Teams</h3>
    {%- if len(teams) == 0 -%}
    <div class="mt"><em>no teams</em></div>
    {%- else -%}
    <table class="mt expanded">
      <tbody>
        {%- for _, x := range teams -%}
        <tr>
          <td>
            {%- if showComments -%}
            <div class="right">
              {%= vwutil.Comments(enum.ModelServiceTeam, x.ID, x.TitleString(), comments, members, "member-icon", ps) %}
            </div>
            {%- endif -%}
            <a href="{%s x.PublicWebPath() %}"><div>
              <span>{%= components.SVGRef(x.IconSafe(), 16, 16, "icon", ps) %}</span><span>{%s x.TitleString() %}</span>
            </div></a>
          </td>
        </tr>
        {%- endfor -%}
      </tbody>
    </table>
    {%- endif -%}
  </div>
{% endfunc %}
