{% import (
  "github.com/kyleu/rituals/app"
  "github.com/kyleu/rituals/app/action"
  "github.com/kyleu/rituals/app/controller/cutil"
	"github.com/kyleu/rituals/app/enum"
  "github.com/kyleu/rituals/app/team"
  "github.com/kyleu/rituals/app/util"
  "github.com/kyleu/rituals/app/workspace"
  "github.com/kyleu/rituals/views/components"
  "github.com/kyleu/rituals/views/layout"
  "github.com/kyleu/rituals/views/vworkspace/vwestimate"
  "github.com/kyleu/rituals/views/vworkspace/vwretro"
  "github.com/kyleu/rituals/views/vworkspace/vwsprint"
  "github.com/kyleu/rituals/views/vworkspace/vwstandup"
  "github.com/kyleu/rituals/views/vworkspace/vwutil"
) %}

{% code type TeamWorkspace struct {
  layout.Basic
  FullTeam *workspace.FullTeam
} %}

{% func (p *TeamWorkspace) Body(as *app.State, ps *cutil.PageState) %}
  {%- code
    w := p.FullTeam
    t := w.Team
  -%}
  <div class="flex-wrap">
    <div id="panel-summary">
      <div class="card">
        <div class="right">
          {%= vwutil.PermissionsLink(enum.ModelServiceTeam, t.ID, w.Permissions.ToPermissions(), ps) %}
          {%= vwutil.Comments(enum.ModelServiceTeam, t.ID, t.TitleString(), w.Comments, w.UtilMembers, ps) %}
        </div>
        <a href="#modal-team-config" id="modal-team-config-link"><h3>
          <span id="model-icon">{%= components.SVGRefIcon(t.IconSafe(), ps) %}</span>
          <span id="model-title">{%s t.TitleString() %}</span>
        </h3></a>
        {%= vwutil.Banner(nil, nil, util.KeyTeam) %}
        <span id="owner-id" style="display: none;">{%s t.Owner.String() %}</span>
        {%= TeamWorkspaceModal(t, w.Permissions.ToPermissions(), ps) %}
      </div>
    </div>
    <div id="panel-detail">
      {%= vwsprint.SprintListTable(w.Sprints, &t.ID, true, w.Comments, ps) %}
      {%= vwestimate.EstimateListTable(w.Estimates, &t.ID, nil, true, w.Comments, ps) %}
      {%= vwstandup.StandupListTable(w.Standups, &t.ID, nil, true, w.Comments, ps) %}
      {%= vwretro.RetroListTable(w.Retros, &t.ID, nil, true, w.Comments, ps) %}
    </div>
    {%= vwutil.MemberPanels(w.UtilMembers, w.Admin(), t.PublicWebPath(), ps) %}
  </div>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      initWorkspace("{%s util.KeyTeam %}", "{%s t.ID.String() %}");
    });
  </script>
{% endfunc %}

{% func TeamWorkspaceModal(t *team.Team, perms util.Permissions, ps *cutil.PageState) %}
  <div id="modal-team-config" class="modal" style="display: none;">
    <a class="backdrop" href="#"></a>
    <div class="modal-content">
      <div class="modal-header">
        <a href="#" class="modal-close">×</a>
        <h2>Team</h2>
      </div>
      <div class="modal-body">
        <form action="{%s t.PublicWebPath() %}" method="post" class="expanded">
          <input type="hidden" name="action" value="{%s string(action.ActUpdate) %}" />
          {%= components.FormVerticalInput("title", "", "Title", t.TitleString(), 5, "The name of your team") %}
          {%= components.FormVerticalIconPicker("icon", "Icon", t.IconSafe(), ps, 5) %}
          <hr />
          {%= vwutil.PermissionsForm(util.KeyTeam, perms, false, nil, false, nil, ps) %}
          <hr />
          <div class="right"><button type="submit">Save</button></div>
          <div class="clear"></div>
        </form>
      </div>
    </div>
  </div>
{% endfunc %}
