<!-- Content managed by Project Forge, see [projectforge.md] for details. -->
{% import (
  "github.com/kyleu/rituals/app"
  "github.com/kyleu/rituals/app/controller/cutil"
  "github.com/kyleu/rituals/app/standup"
  "github.com/kyleu/rituals/app/standup/uhistory"
  "github.com/kyleu/rituals/views/components"
  "github.com/kyleu/rituals/views/components/view"
  "github.com/kyleu/rituals/views/layout"
) %}

{% code type Detail struct {
  layout.Basic
  Model *uhistory.StandupHistory
  StandupByStandupID *standup.Standup
} %}

{% func (p *Detail) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <div class="right">
      <a href="#modal-standupHistory"><button type="button">{%= components.SVGButton("file", ps) %}JSON</button></a>
      <a href="{%s p.Model.WebPath() %}/edit"><button>{%= components.SVGButton("edit", ps) %}Edit</button></a>
    </div>
    <h3>{%= components.SVGIcon(`history`, ps) %}{%s p.Model.TitleString() %}</h3>
    <div><a href="/admin/db/standup/history"><em>History</em></a></div>
    <div class="mt overflow full-width">
      <table>
        <tbody>
          <tr>
            <th class="shrink" title="String text">Slug</th>
            <td>{%= view.String(p.Model.Slug) %}</td>
          </tr>
          <tr>
            <th class="shrink" title="UUID in format (00000000-0000-0000-0000-000000000000)">Standup ID</th>
            <td class="nowrap">
              {%= view.UUID(&p.Model.StandupID) %}{% if p.StandupByStandupID != nil %} ({%s p.StandupByStandupID.TitleString() %}){% endif %}
              <a title="Standup" href="{%s `/admin/db/standup`+`/`+p.Model.StandupID.String() %}">{%= components.SVGSimple("standup", 18, ps) %}</a>
            </td>
          </tr>
          <tr>
            <th class="shrink" title="String text">Standup Name</th>
            <td>{%= view.String(p.Model.StandupName) %}</td>
          </tr>
          <tr>
            <th class="shrink" title="Date and time, in almost any format">Created</th>
            <td>{%= view.Timestamp(&p.Model.Created) %}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  {%- comment %}$PF_SECTION_START(extra)${% endcomment -%}
  {%- comment %}$PF_SECTION_END(extra)${% endcomment -%}
  {%= components.JSONModal("standupHistory", "History JSON", p.Model, 1) %}
{% endfunc %}
