<!-- Content managed by Project Forge, see [projectforge.md] for details. -->
{% import (
  "github.com/kyleu/rituals/app"
  "github.com/kyleu/rituals/app/controller/cutil"
  "github.com/kyleu/rituals/app/lib/filter"
  "github.com/kyleu/rituals/app/standup"
  "github.com/kyleu/rituals/app/standup/uhistory"
  "github.com/kyleu/rituals/views/components"
  "github.com/kyleu/rituals/views/components/view"
) %}

{% func Table(models uhistory.StandupHistories, standupsByStandupID standup.Standups, params filter.ParamSet, as *app.State, ps *cutil.PageState) %}
  {%- code prms := params.Sanitized("uhistory", ps.Logger) -%}
  <div class="overflow clear">
    <table>
      <thead>
        <tr>
          {%= components.TableHeaderSimple("uhistory", "slug", "Slug", "String text", prms, ps.URI, ps) %}
          {%= components.TableHeaderSimple("uhistory", "standup_id", "Standup ID", "UUID in format (00000000-0000-0000-0000-000000000000)", prms, ps.URI, ps) %}
          {%= components.TableHeaderSimple("uhistory", "standup_name", "Standup Name", "String text", prms, ps.URI, ps) %}
          {%= components.TableHeaderSimple("uhistory", "created", "Created", "Date and time, in almost any format", prms, ps.URI, ps) %}
        </tr>
      </thead>
      <tbody>
        {%- for _, model := range models -%}
        <tr>
          <td><a href="/admin/db/standup/history/{%u model.Slug %}">{%= view.String(model.Slug) %}</a></td>
          <td class="nowrap">
            {%= view.UUID(&model.StandupID) %}{% if x := standupsByStandupID.Get(model.StandupID); x != nil %} ({%s x.TitleString() %}){% endif %}
            <a title="Standup" href="{%s `/admin/db/standup`+`/`+model.StandupID.String() %}">{%= components.SVGSimple("standup", 18, ps) %}</a>
          </td>
          <td>{%= view.String(model.StandupName) %}</td>
          <td>{%= view.Timestamp(&model.Created) %}</td>
        </tr>
        {%- endfor -%}
      </tbody>
    </table>
  </div>
  {%- if prms.HasNextPage(len(models) + prms.Offset) || prms.HasPreviousPage() -%}
  <hr />
  {%= components.Pagination(len(models) + prms.Offset, prms, ps.URI) %}
  <div class="clear"></div>
  {%- endif -%}
{% endfunc %}
