{% import (
  "github.com/kyleu/rituals/app"
  "github.com/kyleu/rituals/app/controller/cutil"
  "github.com/kyleu/rituals/app/lib/filter"
  "github.com/kyleu/rituals/app/standup"
  "github.com/kyleu/rituals/app/standup/uhistory"
  "github.com/kyleu/rituals/views/components"
  "github.com/kyleu/rituals/views/components/view"
) %}

{% func TableRow(model *uhistory.StandupHistory, standupsByStandupID standup.Standups, ps *cutil.PageState, paths ...string) %}
  <tr>
    <td><a href="{%s model.WebPath(paths...) %}">{%= view.String(model.Slug) %}</a></td>
    <td class="nowrap">
      {% if x := standupsByStandupID.Get(model.StandupID); x != nil %}
      {%s x.TitleString() %} <a title="Standup" href="{%s x.WebPath(paths...) %}">{%= components.SVGLink(`standup`, ps) %}</a>
      {% else %}
      {%= view.UUID(&model.StandupID) %}
      {% endif %}
    </td>
    <td>{%= view.String(model.StandupName) %}</td>
    <td>{%= view.Timestamp(&model.Created) %}</td>
  </tr>
{% endfunc %}

{% func Table(models uhistory.StandupHistories, standupsByStandupID standup.Standups, params filter.ParamSet, as *app.State, ps *cutil.PageState, paths ...string) %}
  {%- code prms := params.Sanitized("uhistory", ps.Logger) -%}
  <div class="overflow clear">
    <table>
      <thead>
        <tr>
          {%= components.TableHeaderSimple("uhistory", "slug", "Slug", "String text", prms, ps.URI, ps) %}
          {%= components.TableHeaderSimple("uhistory", "standup_id", "Standup ID", "UUID in format (00000000-0000-0000-0000-000000000000)", prms, ps.URI, ps) %}
          {%= components.TableHeaderSimple("uhistory", "standup_name", "Standup Name", "String text", prms, ps.URI, ps) %}
          {%= components.TableHeaderSimple("uhistory", "created", "Created", "Date and time, in almost any format", prms, ps.URI, ps) %}
        </tr>
      </thead>
      <tbody>
        {%- for _, model := range models -%}
        {%= TableRow(model, standupsByStandupID, ps, paths...) -%}
        {%- endfor -%}
      </tbody>
    </table>
  </div>
  {%- if prms.HasNextPage(len(models) + prms.Offset) || prms.HasPreviousPage() -%}
  <hr />
  {%= components.Pagination(len(models) + prms.Offset, prms, ps.URI) %}
  <div class="clear"></div>
  {%- endif -%}
{% endfunc %}
