<%: func TeamHistory(model *team.Session, ctx web.RequestContext, buffer *bytes.Buffer) %>
<div class="uk-card uk-card-body">
  <div>
    <h3 class="left uk-card-title">
      <span class="h3-icon" data-uk-icon="icon: <%= util.SvcSprint.Icon %>;"></span>
      Sprints
    </h3>
    <div class="right">
      <form method="post" action="<%= ctx.Route(util.SvcSprint.Key + `.new`) %>">
        <input type="hidden" name="team" value="<%=v model.ID %>" />
        <div class="uk-inline uk-display-block">
          <button type="submit" class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: plus" title="new sprint"></button>
          <input class="uk-input" type="text" id="sprint-title" name="<%= util.KeyTitle %>" placeholder="<%= util.Title(util.KeyTitle) %>" />
        </div>
      </form>
    </div>
  </div>
  <div id="team-sprint-list" class="clear"><p>Loading...</p></div>
  <hr />
  <div>
    <h3 class="left uk-card-title">
      <span class="h3-icon" data-uk-icon="icon: <%= util.SvcEstimate.Icon %>;"></span>
      Estimates
    </h3>
    <div class="right">
      <form method="post" action="<%= ctx.Route(util.SvcEstimate.Key + `.new`) %>">
        <input type="hidden" name="team" value="<%=v model.ID %>" />
        <div class="uk-inline uk-display-block">
          <button type="submit" class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: plus" title="new estimate"></button>
          <input class="uk-input" type="text" id="estimate-title" name="<%= util.KeyTitle %>" placeholder="<%= util.Title(util.KeyTitle) %>" />
        </div>
      </form>
    </div>
  </div>
  <div id="team-estimate-list" class="clear"><p>Loading...</p></div>
  <hr />
  <div>
    <h3 class="left uk-card-title">
      <span class="h3-icon" data-uk-icon="icon: <%= util.SvcStandup.Icon %>;"></span>
      Standups
    </h3>
    <div class="right">
      <form method="post" action="<%= ctx.Route(util.SvcStandup.Key + `.new`) %>">
        <input type="hidden" name="team" value="<%=v model.ID %>" />
        <div class="uk-inline uk-display-block">
          <button type="submit" class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: plus" title="new standup"></button>
          <input class="uk-input" type="text" id="standup-title" name="<%= util.KeyTitle %>" placeholder="<%= util.Title(util.KeyTitle) %>" />
        </div>
      </form>
    </div>
  </div>
  <div id="team-standup-list" class="clear"><p>Loading...</p></div>
  <hr />
  <div>
    <h3 class="left uk-card-title">
      <span class="h3-icon" data-uk-icon="icon: <%= util.SvcRetro.Icon %>;"></span>
      Retros
    </h3>
    <div class="right">
      <form method="post" action="<%= ctx.Route(util.SvcRetro.Key + `.new`) %>">
        <input type="hidden" name="team" value="<%=v model.ID %>" />
        <div class="uk-inline uk-display-block">
          <button type="submit" class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: plus" title="new retro"></button>
          <input class="uk-input" type="text" id="retro-title" name="<%= util.KeyTitle %>" placeholder="<%= util.Title(util.KeyTitle) %>" />
        </div>
      </form>
    </div>
  </div>
  <div id="team-retro-list" class="clear"><p>Loading...</p></div>
</div>
