<%: func TeamSession(model *team.Session, auths auth.Records, ctx *npnweb.RequestContext, buffer *bytes.Buffer) %>
<div class="uk-card uk-card-body uk-transition-toggle">
  <h3 class="uk-card-title">
    <% SessionIcon(util.SvcTeam, model.ID, model.Slug, ctx, buffer) %>
    <span class="model-icon h3-icon" onclick="modal.open('<%= npncore.KeySession %>');" data-uk-icon="icon: <%= util.SvcTeam.Icon %>;"></span>
    <span id="model-title" onclick="modal.open('<%= npncore.KeySession %>');"><%= model.Title %></span>
  </h3>
  <%= util.SvcTeam.Key %>
</div>
<div id="modal-session" class="modal" data-uk-modal>
  <div class="uk-modal-dialog uk-margin-auto-vertical">
    <div id="session-view-section">
      <button class="uk-button uk-modal-close-default" type="button" data-uk-close></button>
      <div class="uk-modal-header"><h2 class="uk-modal-title"><%= util.SvcTeam.Title %></h2></div>
      <div class="uk-modal-body" data-uk-overflow-auto>
        <% TeamView(model, ctx, buffer) %>
      </div>
      <div class="uk-modal-footer uk-text-right">
        <button class="uk-button uk-button-default" onclick="modal.hide('session');">Close</button>
      </div>
    </div>

    <div id="session-edit-section">
      <button class="uk-button uk-modal-close-default" type="button" data-uk-close></button>
      <div class="uk-modal-header"><h2 class="uk-modal-title"><%= util.SvcTeam.Title %></h2></div>
      <form class="uk-form-stacked" onsubmit="team.onSubmitTeamSession();return false;">
        <div class="uk-modal-body" data-uk-overflow-auto>
          <% TeamForm(model.Title, auths, false, ctx, buffer) %>
        </div>
        <div class="uk-modal-footer uk-text-right">
          <button class="uk-button uk-button-default" type="submit">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
