<%: func TeamSession(model *team.Session, auths auth.Records, ctx web.RequestContext, buffer *bytes.Buffer) %>
<div class="uk-card uk-card-body uk-transition-toggle">
  <h3 class="uk-card-title">
    <% ComponentSessionIcon(util.SvcTeam, ctx, buffer) %>
    <span class="model-icon h3-icon" onclick="events.openModal('<%= util.KeySession %>');" data-uk-icon="icon: <%= util.SvcTeam.Icon %>;"></span>
    <span id="model-title" onclick="events.openModal('<%= util.KeySession %>');"><%= model.Title %></span>
  </h3>
  <%= util.SvcTeam.Key %>
</div>
<div id="modal-session" data-uk-modal>
  <div class="uk-modal-dialog uk-margin-auto-vertical">
    <button class="uk-button uk-modal-close-default" type="button" data-uk-close></button>
    <div class="uk-modal-header">
      <h2 class="uk-modal-title">Edit Team</h2>
    </div>
    <form class="uk-form-stacked" id="form-detail" onsubmit="team.onSubmitTeamSession();return false;">
      <div class="uk-modal-body" data-uk-overflow-auto>
        <fieldset class="uk-fieldset">
          <% TeamForm(model.Title, auths, ctx, buffer) %>
        </fieldset>
      </div>
      <div class="uk-modal-footer uk-text-right">
        <button class="uk-button uk-button-default" type="submit">Save</button>
      </div>
    </form>
  </div>
</div>
