<%: func TeamTable(teams team.Sessions, params *query.Params, ctx web.RequestContext, buffer *bytes.Buffer) %>

<table class="uk-table uk-table-divider uk-text-left">
  <thead>
    <tr>
      <% ComponentTableHeader(util.SvcTeam.Key, "title", "Title", params, ctx, buffer) %>
      <% ComponentTableHeader(util.SvcTeam.Key, util.KeyCreated, "Created", params, ctx, buffer) %>
    </tr>
  </thead>
  <tbody>
  <% for _, model := range teams { %>
    <tr>
      <td><a class="<%= ctx.Profile.LinkClass() %>" href="<%= ctx.Route(util.SvcTeam.Key, `key`, model.Slug) %>"><%= model.Title %></a></td>
      <td class="uk-table-shrink uk-text-nowrap"><% ComponentDateTime(&model.Created, buffer) %></td>
    </tr>
  <% } %>
  </tbody>
</table>
