<%: func TeamWorkspace(model *team.Session, auths auth.Records, ctx *web.RequestContext, w io.Writer) (int, error) %>
<%~ "layout/basic.html" %>
<%@ head { %><% components.Init(util.SvcTeam, model.ID, _buffer) %><% } %>
<%@ nav { %><% components.Navbar(ctx, _buffer) %><% } %>
<%@ body { %>
<div class="uk-section uk-section-small">
  <div class="uk-container">
    <div class="uk-grid-match uk-grid-small" data-uk-grid>
      <div class="uk-width-2-3@m">
        <% TeamSession(model, auths, ctx, _buffer) %>
        <% ActionsModal(ctx, _buffer) %>
      </div>
      <div class="uk-width-1-3@m">
        <% MemberSelf(auths, ctx, _buffer) %>
      </div>
      <div class="uk-width-2-3@m">
        <% TeamHistory(model, ctx, _buffer) %>
      </div>
      <div class="uk-width-1-3@m">
        <% MemberOther(ctx, ctx.Route(util.SvcTeam.Key, util.KeyKey, model.Slug), _buffer) %>
      </div>
    </div>
  </div>
</div>
<% ComponentSessionWelcome(util.SvcTeam, ctx, _buffer) %>
<% } %>
