<!-- Content managed by Project Forge, see [projectforge.md] for details. -->
{% import (
  "github.com/kyleu/rituals/app"
  "github.com/kyleu/rituals/app/action"
  "github.com/kyleu/rituals/app/comment"
  "github.com/kyleu/rituals/app/controller/cutil"
  "github.com/kyleu/rituals/app/email"
  "github.com/kyleu/rituals/app/estimate/emember"
  "github.com/kyleu/rituals/app/estimate/story"
  "github.com/kyleu/rituals/app/estimate/story/vote"
  "github.com/kyleu/rituals/app/lib/filter"
  "github.com/kyleu/rituals/app/retro/feedback"
  "github.com/kyleu/rituals/app/retro/rmember"
  "github.com/kyleu/rituals/app/sprint/smember"
  "github.com/kyleu/rituals/app/standup/report"
  "github.com/kyleu/rituals/app/standup/umember"
  "github.com/kyleu/rituals/app/team/tmember"
  "github.com/kyleu/rituals/app/user"
  "github.com/kyleu/rituals/app/util"
  "github.com/kyleu/rituals/views/components"
  "github.com/kyleu/rituals/views/layout"
  "github.com/kyleu/rituals/views/vaction"
  "github.com/kyleu/rituals/views/vcomment"
  "github.com/kyleu/rituals/views/vemail"
  "github.com/kyleu/rituals/views/vestimate/vemember"
  "github.com/kyleu/rituals/views/vestimate/vstory"
  "github.com/kyleu/rituals/views/vestimate/vstory/vvote"
  "github.com/kyleu/rituals/views/vretro/vfeedback"
  "github.com/kyleu/rituals/views/vretro/vrmember"
  "github.com/kyleu/rituals/views/vsprint/vsmember"
  "github.com/kyleu/rituals/views/vstandup/vreport"
  "github.com/kyleu/rituals/views/vstandup/vumember"
  "github.com/kyleu/rituals/views/vteam/vtmember"
) %}

{% code type Detail struct {
  layout.Basic
  Model *user.User
  Params filter.ParamSet
  RelActionsByUserID action.Actions
  RelCommentsByUserID comment.Comments
  RelEmailsByUserID email.Emails
  RelEstimateMembersByUserID emember.EstimateMembers
  RelFeedbacksByUserID feedback.Feedbacks
  RelReportsByUserID report.Reports
  RelRetroMembersByUserID rmember.RetroMembers
  RelSprintMembersByUserID smember.SprintMembers
  RelStandupMembersByUserID umember.StandupMembers
  RelStoriesByUserID story.Stories
  RelTeamMembersByUserID tmember.TeamMembers
  RelVotesByUserID vote.Votes
} %}

{% func (p *Detail) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <div class="right">
      <a href="#modal-user"><button type="button">JSON</button></a>
      <a href="{%s p.Model.WebPath() %}/edit"><button>{%= components.SVGRef("edit", 15, 15, "icon", ps) %}Edit</button></a>
    </div>
    <h3>{%= components.SVGRefIcon(`profile`, ps) %} {%s p.Model.TitleString() %}</h3>
    <div><a href="/admin/db/user"><em>User</em></a></div>
    <table class="mt">
      <tbody>
        <tr>
          <th class="shrink" title="UUID in format (00000000-0000-0000-0000-000000000000)">ID</th>
          <td>{%= components.DisplayUUID(&p.Model.ID) %}</td>
        </tr>
        <tr>
          <th class="shrink" title="String text">Name</th>
          <td><strong>{%s p.Model.Name %}</strong></td>
        </tr>
        <tr>
          <th class="shrink" title="URL in string form">Picture</th>
          <td><a href="{%s p.Model.Picture %}" target="_blank">{%s p.Model.Picture %}</a></td>
        </tr>
        <tr>
          <th class="shrink" title="Date and time, in almost any format">Created</th>
          <td>{%= components.DisplayTimestamp(&p.Model.Created) %}</td>
        </tr>
        <tr>
          <th class="shrink" title="Date and time, in almost any format (optional)">Updated</th>
          <td>{%= components.DisplayTimestamp(p.Model.Updated) %}</td>
        </tr>
      </tbody>
    </table>
  </div>
  {%- comment %}$PF_SECTION_START(extra)${% endcomment -%}
  {%- comment %}$PF_SECTION_END(extra)${% endcomment -%}
  <div class="card">
  <h3 class="mb">Relations</h3>
    <ul class="accordion">
      <li>
        <input id="accordion-ActionsByUserID" type="checkbox" hidden />
        <label for="accordion-ActionsByUserID">
          {%= components.ExpandCollapse(3, ps) %}
          {%= components.SVGRefIcon(`star`, ps) %}
          {%d len(p.RelActionsByUserID) %} {%s util.StringPluralMaybe("Action", len(p.RelActionsByUserID)) %} by [discount id]
        </label>
        <div class="bd">
          {%- if len(p.RelActionsByUserID) == 0 -%}
          <em>no related Actions</em>
          {%- else -%}
          <div class="overflow clear">
            {%= vaction.Table(p.RelActionsByUserID, nil, p.Params, as, ps) %}
          </div>
          {%- endif -%}
        </div>
      </li>
      <li>
        <input id="accordion-CommentsByUserID" type="checkbox" hidden />
        <label for="accordion-CommentsByUserID">
          {%= components.ExpandCollapse(3, ps) %}
          {%= components.SVGRefIcon(`star`, ps) %}
          {%d len(p.RelCommentsByUserID) %} {%s util.StringPluralMaybe("Comment", len(p.RelCommentsByUserID)) %} by [discount id]
        </label>
        <div class="bd">
          {%- if len(p.RelCommentsByUserID) == 0 -%}
          <em>no related Comments</em>
          {%- else -%}
          <div class="overflow clear">
            {%= vcomment.Table(p.RelCommentsByUserID, nil, p.Params, as, ps) %}
          </div>
          {%- endif -%}
        </div>
      </li>
      <li>
        <input id="accordion-EmailsByUserID" type="checkbox" hidden />
        <label for="accordion-EmailsByUserID">
          {%= components.ExpandCollapse(3, ps) %}
          {%= components.SVGRefIcon(`star`, ps) %}
          {%d len(p.RelEmailsByUserID) %} {%s util.StringPluralMaybe("Email", len(p.RelEmailsByUserID)) %} by [discount id]
        </label>
        <div class="bd">
          {%- if len(p.RelEmailsByUserID) == 0 -%}
          <em>no related Emails</em>
          {%- else -%}
          <div class="overflow clear">
            {%= vemail.Table(p.RelEmailsByUserID, nil, p.Params, as, ps) %}
          </div>
          {%- endif -%}
        </div>
      </li>
      <li>
        <input id="accordion-EstimateMembersByUserID" type="checkbox" hidden />
        <label for="accordion-EstimateMembersByUserID">
          {%= components.ExpandCollapse(3, ps) %}
          {%= components.SVGRefIcon(`users`, ps) %}
          {%d len(p.RelEstimateMembersByUserID) %} {%s util.StringPluralMaybe("Member", len(p.RelEstimateMembersByUserID)) %} by [discount id]
        </label>
        <div class="bd">
          {%- if len(p.RelEstimateMembersByUserID) == 0 -%}
          <em>no related Members</em>
          {%- else -%}
          <div class="overflow clear">
            {%= vemember.Table(p.RelEstimateMembersByUserID, nil, nil, p.Params, as, ps) %}
          </div>
          {%- endif -%}
        </div>
      </li>
      <li>
        <input id="accordion-FeedbacksByUserID" type="checkbox" hidden />
        <label for="accordion-FeedbacksByUserID">
          {%= components.ExpandCollapse(3, ps) %}
          {%= components.SVGRefIcon(`comment`, ps) %}
          {%d len(p.RelFeedbacksByUserID) %} {%s util.StringPluralMaybe("Feedback", len(p.RelFeedbacksByUserID)) %} by [discount id]
        </label>
        <div class="bd">
          {%- if len(p.RelFeedbacksByUserID) == 0 -%}
          <em>no related Feedbacks</em>
          {%- else -%}
          <div class="overflow clear">
            {%= vfeedback.Table(p.RelFeedbacksByUserID, nil, nil, p.Params, as, ps) %}
          </div>
          {%- endif -%}
        </div>
      </li>
      <li>
        <input id="accordion-ReportsByUserID" type="checkbox" hidden />
        <label for="accordion-ReportsByUserID">
          {%= components.ExpandCollapse(3, ps) %}
          {%= components.SVGRefIcon(`star`, ps) %}
          {%d len(p.RelReportsByUserID) %} {%s util.StringPluralMaybe("Report", len(p.RelReportsByUserID)) %} by [discount id]
        </label>
        <div class="bd">
          {%- if len(p.RelReportsByUserID) == 0 -%}
          <em>no related Reports</em>
          {%- else -%}
          <div class="overflow clear">
            {%= vreport.Table(p.RelReportsByUserID, nil, nil, p.Params, as, ps) %}
          </div>
          {%- endif -%}
        </div>
      </li>
      <li>
        <input id="accordion-RetroMembersByUserID" type="checkbox" hidden />
        <label for="accordion-RetroMembersByUserID">
          {%= components.ExpandCollapse(3, ps) %}
          {%= components.SVGRefIcon(`users`, ps) %}
          {%d len(p.RelRetroMembersByUserID) %} {%s util.StringPluralMaybe("Member", len(p.RelRetroMembersByUserID)) %} by [discount id]
        </label>
        <div class="bd">
          {%- if len(p.RelRetroMembersByUserID) == 0 -%}
          <em>no related Members</em>
          {%- else -%}
          <div class="overflow clear">
            {%= vrmember.Table(p.RelRetroMembersByUserID, nil, nil, p.Params, as, ps) %}
          </div>
          {%- endif -%}
        </div>
      </li>
      <li>
        <input id="accordion-SprintMembersByUserID" type="checkbox" hidden />
        <label for="accordion-SprintMembersByUserID">
          {%= components.ExpandCollapse(3, ps) %}
          {%= components.SVGRefIcon(`users`, ps) %}
          {%d len(p.RelSprintMembersByUserID) %} {%s util.StringPluralMaybe("Member", len(p.RelSprintMembersByUserID)) %} by [discount id]
        </label>
        <div class="bd">
          {%- if len(p.RelSprintMembersByUserID) == 0 -%}
          <em>no related Members</em>
          {%- else -%}
          <div class="overflow clear">
            {%= vsmember.Table(p.RelSprintMembersByUserID, nil, nil, p.Params, as, ps) %}
          </div>
          {%- endif -%}
        </div>
      </li>
      <li>
        <input id="accordion-StandupMembersByUserID" type="checkbox" hidden />
        <label for="accordion-StandupMembersByUserID">
          {%= components.ExpandCollapse(3, ps) %}
          {%= components.SVGRefIcon(`users`, ps) %}
          {%d len(p.RelStandupMembersByUserID) %} {%s util.StringPluralMaybe("Member", len(p.RelStandupMembersByUserID)) %} by [discount id]
        </label>
        <div class="bd">
          {%- if len(p.RelStandupMembersByUserID) == 0 -%}
          <em>no related Members</em>
          {%- else -%}
          <div class="overflow clear">
            {%= vumember.Table(p.RelStandupMembersByUserID, nil, nil, p.Params, as, ps) %}
          </div>
          {%- endif -%}
        </div>
      </li>
      <li>
        <input id="accordion-StoriesByUserID" type="checkbox" hidden />
        <label for="accordion-StoriesByUserID">
          {%= components.ExpandCollapse(3, ps) %}
          {%= components.SVGRefIcon(`star`, ps) %}
          {%d len(p.RelStoriesByUserID) %} {%s util.StringPluralMaybe("Story", len(p.RelStoriesByUserID)) %} by [discount id]
        </label>
        <div class="bd">
          {%- if len(p.RelStoriesByUserID) == 0 -%}
          <em>no related Stories</em>
          {%- else -%}
          <div class="overflow clear">
            {%= vstory.Table(p.RelStoriesByUserID, nil, nil, p.Params, as, ps) %}
          </div>
          {%- endif -%}
        </div>
      </li>
      <li>
        <input id="accordion-TeamMembersByUserID" type="checkbox" hidden />
        <label for="accordion-TeamMembersByUserID">
          {%= components.ExpandCollapse(3, ps) %}
          {%= components.SVGRefIcon(`users`, ps) %}
          {%d len(p.RelTeamMembersByUserID) %} {%s util.StringPluralMaybe("Member", len(p.RelTeamMembersByUserID)) %} by [discount id]
        </label>
        <div class="bd">
          {%- if len(p.RelTeamMembersByUserID) == 0 -%}
          <em>no related Members</em>
          {%- else -%}
          <div class="overflow clear">
            {%= vtmember.Table(p.RelTeamMembersByUserID, nil, nil, p.Params, as, ps) %}
          </div>
          {%- endif -%}
        </div>
      </li>
      <li>
        <input id="accordion-VotesByUserID" type="checkbox" hidden />
        <label for="accordion-VotesByUserID">
          {%= components.ExpandCollapse(3, ps) %}
          {%= components.SVGRefIcon(`star`, ps) %}
          {%d len(p.RelVotesByUserID) %} {%s util.StringPluralMaybe("Vote", len(p.RelVotesByUserID)) %} by [discount id]
        </label>
        <div class="bd">
          {%- if len(p.RelVotesByUserID) == 0 -%}
          <em>no related Votes</em>
          {%- else -%}
          <div class="overflow clear">
            {%= vvote.Table(p.RelVotesByUserID, nil, nil, p.Params, as, ps) %}
          </div>
          {%- endif -%}
        </div>
      </li>
    </ul>
  </div>
  {%= components.JSONModal("user", "User JSON", p.Model, 1) %}
{% endfunc %}
