<!-- Content managed by Project Forge, see [projectforge.md] for details. -->
{% import (
  "github.com/kyleu/rituals/app"
  "github.com/kyleu/rituals/app/controller/cutil"
  "github.com/kyleu/rituals/app/user"
  "github.com/kyleu/rituals/views/components"
  "github.com/kyleu/rituals/views/layout"
) %}

{% code type Edit struct {
  layout.Basic
  Model *user.User
  IsNew bool
} %}

{% func (p *Edit) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    {%- if p.IsNew -%}
    <div class="right"><a href="/admin/db/user/random"><button>Random</button></a></div>
    <h3>{%= components.SVGRefIcon(`profile`, ps) %} New User</h3>
    <form action="/admin/db/user/new" class="mt" method="post">
    {%- else -%}
    <div class="right"><a href="{%s p.Model.WebPath() %}/delete" onclick="return confirm('Are you sure you wish to delete user [{%s p.Model.String() %}]?')"><button>Delete</button></a></div>
    <h3>{%= components.SVGRefIcon(`profile`, ps) %} Edit User [{%s p.Model.String() %}]</h3>
    {%- endif -%}
    <form action="" method="post">
      <table class="mt expanded">
        <tbody>
          {% if p.IsNew %}{%= components.TableInputUUID("id", "ID", &p.Model.ID, 5, "UUID in format (00000000-0000-0000-0000-000000000000)") %}{% endif %}
          {%= components.TableInput("name", "Name", p.Model.Name, 5, "String text") %}
          {%= components.TableInput("picture", "Picture", p.Model.Picture, 5, "URL in string form") %}
          <tr><td colspan="2"><button type="submit">Save Changes</button></td></tr>
        </tbody>
      </table>
    </form>
  </div>
{% endfunc %}
