<%: func Home(ctx *npnweb.RequestContext, sections []string, countMap map[string]int64, recentMap map[string]*time.Time, params *npncore.Params, w io.Writer) (int, error) %>
<%~ "layout/admin.html" %>
<%@ nav { %><% npntemplate.Navbar(ctx, _buffer) %><% } %>
<%@ body { %>
<div class="uk-section uk-section-small">
  <div class="uk-container">
    <div class="uk-card uk-card-body uk-card-default">
      <h3 class="uk-card-title">Administration</h3>
      <p>Privileged actions for <%= npncore.AppName %></p>
      <table class="uk-table uk-table-divider">
        <caption class="hidden"><%= ctx.Title %></caption>
        <thead>
          <tr>
            <% npntemplate.TableHeader(npncore.KeyAdmin, npncore.KeyName, npncore.Title(npncore.KeyName), params, ctx.Request, _buffer) %>
            <% npntemplate.TableHeader(npncore.KeyAdmin, "recent", "Most Recent", params, ctx.Request, _buffer) %>
            <% npntemplate.TableHeader(npncore.KeyAdmin, "count", "#", params, ctx.Request, _buffer) %>
          </tr>
        </thead>
        <tbody>
          <% for _, section := range sections { %>
            <% HomeLink(section, countMap[section], recentMap[section], ctx, _buffer) %>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<% } %>
