<%: func AdminVoteTable(votes estimate.Votes, params *query.Params, ctx web.RequestContext, buffer *bytes.Buffer) %>

<table class="uk-table uk-table-divider uk-text-left">
  <thead>
    <tr>
      <% ComponentTableHeader(util.KeyVote, util.WithID(util.KeyUser), util.Title(util.KeyUser), params, ctx, buffer) %>
      <% ComponentTableHeader(util.KeyVote, "choice", "Choice", params, ctx, buffer) %>
      <% ComponentTableHeader(util.KeyVote, "updated", "Updated", params, ctx, buffer) %>
      <% ComponentTableHeader(util.KeyVote, util.KeyCreated, util.Title(util.KeyCreated), params, ctx, buffer) %>
    </tr>
  </thead>
  <tbody>
  <% for _, model := range votes { %>
    <tr>
      <td class="uk-table-shrink uk-text-nowrap"><a class="<%= ctx.Profile.LinkClass() %>" href="<%= ctx.Route(util.AdminLink(util.KeyUser, `detail`), `id`, model.UserID.String()) %>"><% ComponentUUID(&model.UserID, buffer) %></a></td>
      <td><%= model.Choice %></td>
      <td class="uk-table-shrink uk-text-nowrap"><% ComponentDateTime(&model.Updated, buffer) %></td>
      <td class="uk-table-shrink uk-text-nowrap"><% ComponentDateTime(&model.Created, buffer) %></td>
    </tr>
  <% } %>
  </tbody>
</table>
