<%: func AdminSandboxRun(sb *sandbox.Sandbox, content string, ctx web.RequestContext, w io.Writer) (int, error) %>

<%~ "layout/basic.html" %>

<%@ nav { %><% Navbar(ctx, _buffer) %><% } %>

<%@ body { %>
<div class="uk-section uk-section-small">
  <div class="uk-container">
    <div class="uk-card uk-card-body">
      <h3 class="uk-card-title"><%= sb.Title %></h3>
      <div class="uk-margin-top">
        <% if sb.Key == "gallery" { %>
          <% AdminSandboxGallery(ctx, _buffer) %>
        <% } else if sb.Key == "testbed" { %>
          <% AdminSandboxTestbed(ctx, _buffer) %>
        <% } else { %>
          <pre><%= content %></pre>
        <% } %>
      </div>
    </div>
  </div>
</div>
<% } %>
