{% import (
  "github.com/kyleu/rituals/app"
  "github.com/kyleu/rituals/app/action"
  "github.com/kyleu/rituals/app/controller/cutil"
  "github.com/kyleu/rituals/app/enum"
  "github.com/kyleu/rituals/app/lib/filter"
  "github.com/kyleu/rituals/app/user"
  "github.com/kyleu/rituals/views/components"
  "github.com/kyleu/rituals/views/components/view"
) %}

{% func TableRow(model *action.Action, usersByUserID user.Users, ps *cutil.PageState, paths ...string) %}
  <tr>
    <td><a href="{%s model.WebPath(paths...) %}">{%= view.UUID(&model.ID) %}</a></td>
    <td>{%s model.Svc.NameSafe() %}</td>
    <td>{%= view.UUID(&model.ModelID) %}</td>
    <td class="nowrap">
      {% if x := usersByUserID.Get(model.UserID); x != nil %}
      {%s x.TitleString() %} <a title="User" href="{%s x.WebPath(paths...) %}">{%= components.SVGLink(`profile`, ps) %}</a>
      {% else %}
      {%= view.UUID(&model.UserID) %}
      {% endif %}
    </td>
    <td>{%= view.String(model.Act) %}</td>
    <td>{%= components.JSON(model.Content) %}</td>
    <td>{%= view.String(model.Note) %}</td>
    <td>{%= view.Timestamp(&model.Created) %}</td>
  </tr>
{% endfunc %}

{% func Table(models action.Actions, usersByUserID user.Users, params filter.ParamSet, as *app.State, ps *cutil.PageState, paths ...string) %}
  {%- code prms := params.Sanitized("action", ps.Logger) -%}
  <div class="overflow clear">
    <table>
      <thead>
        <tr>
          {%= components.TableHeaderSimple("action", "id", "ID", "UUID in format (00000000-0000-0000-0000-000000000000)", prms, ps.URI, ps) %}
          {%= components.TableHeaderSimple("action", "svc", "Svc", enum.AllModelServices.Help(), prms, ps.URI, ps) %}
          {%= components.TableHeaderSimple("action", "model_id", "Model ID", "UUID in format (00000000-0000-0000-0000-000000000000)", prms, ps.URI, ps) %}
          {%= components.TableHeaderSimple("action", "user_id", "User ID", "UUID in format (00000000-0000-0000-0000-000000000000)", prms, ps.URI, ps) %}
          {%= components.TableHeaderSimple("action", "act", "Act", "String text", prms, ps.URI, ps) %}
          {%= components.TableHeaderSimple("action", "content", "Content", "JSON object", prms, ps.URI, ps) %}
          {%= components.TableHeaderSimple("action", "note", "Note", "String text", prms, ps.URI, ps) %}
          {%= components.TableHeaderSimple("action", "created", "Created", "Date and time, in almost any format", prms, ps.URI, ps) %}
        </tr>
      </thead>
      <tbody>
        {%- for _, model := range models -%}
        {%= TableRow(model, usersByUserID, ps, paths...) -%}
        {%- endfor -%}
      </tbody>
    </table>
  </div>
  {%- if prms.HasNextPage(len(models) + prms.Offset) || prms.HasPreviousPage() -%}
  <hr />
  {%= components.Pagination(len(models) + prms.Offset, prms, ps.URI) %}
  <div class="clear"></div>
  {%- endif -%}
{% endfunc %}
