{% import (
  "github.com/kyleu/rituals/app"
  "github.com/kyleu/rituals/app/controller/cutil"
  "github.com/kyleu/rituals/app/lib/filter"
  "github.com/kyleu/rituals/app/sprint"
  "github.com/kyleu/rituals/app/sprint/spermission"
  "github.com/kyleu/rituals/views/components"
  "github.com/kyleu/rituals/views/components/view"
) %}

{% func Table(models spermission.SprintPermissions, sprintsBySprintID sprint.Sprints, params filter.ParamSet, as *app.State, ps *cutil.PageState, paths ...string) %}
  {%- code prms := params.Sanitized("spermission", ps.Logger) -%}
  <div class="overflow clear">
    <table>
      <thead>
        <tr>
          {%= components.TableHeaderSimple("spermission", "sprint_id", "Sprint ID", "UUID in format (00000000-0000-0000-0000-000000000000)", prms, ps.URI, ps) %}
          {%= components.TableHeaderSimple("spermission", "key", "Key", "String text", prms, ps.URI, ps) %}
          {%= components.TableHeaderSimple("spermission", "value", "Value", "String text", prms, ps.URI, ps) %}
          {%= components.TableHeaderSimple("spermission", "access", "Access", "String text", prms, ps.URI, ps) %}
          {%= components.TableHeaderSimple("spermission", "created", "Created", "Date and time, in almost any format", prms, ps.URI, ps) %}
        </tr>
      </thead>
      <tbody>
        {%- for _, model := range models -%}
        <tr>
          <td class="nowrap">
            {% if x := sprintsBySprintID.Get(model.SprintID); x != nil %}
            <a href="{%s model.WebPath() %}">{%s x.TitleString() %}</a> <a title="Sprint" href="{%s x.WebPath(paths...) %}">{%= components.SVGLink(`sprint`, ps) %}</a>
            {% else %}
            <a href="{%s model.WebPath() %}">{%= view.UUID(&model.SprintID) %}</a>
            {% endif %}
          </td>
          <td><a href="{%s model.WebPath(paths...) %}">{%= view.String(model.Key) %}</a></td>
          <td><a href="{%s model.WebPath(paths...) %}">{%= view.String(model.Value) %}</a></td>
          <td>{%= view.String(model.Access) %}</td>
          <td>{%= view.Timestamp(&model.Created) %}</td>
        </tr>
        {%- endfor -%}
      </tbody>
    </table>
  </div>
  {%- if prms.HasNextPage(len(models) + prms.Offset) || prms.HasPreviousPage() -%}
  <hr />
  {%= components.Pagination(len(models) + prms.Offset, prms, ps.URI) %}
  <div class="clear"></div>
  {%- endif -%}
{% endfunc %}
