<!-- Content managed by Project Forge, see [projectforge.md] for details. -->
{% import (
  "github.com/kyleu/rituals/app"
  "github.com/kyleu/rituals/app/controller/cutil"
  "github.com/kyleu/rituals/app/lib/filter"
  "github.com/kyleu/rituals/app/sprint"
  "github.com/kyleu/rituals/app/sprint/spermission"
  "github.com/kyleu/rituals/views/components"
  "github.com/kyleu/rituals/views/components/view"
) %}

{% func Table(models spermission.SprintPermissions, sprintsBySprintID sprint.Sprints, params filter.ParamSet, as *app.State, ps *cutil.PageState) %}
  {%- code prms := params.Sanitized("spermission", ps.Logger) -%}
  <table>
    <thead>
      <tr>
        {%= components.TableHeaderSimple("spermission", "sprint_id", "Sprint ID", "UUID in format (00000000-0000-0000-0000-000000000000)", prms, ps.URI, ps) %}
        {%= components.TableHeaderSimple("spermission", "key", "Key", "String text", prms, ps.URI, ps) %}
        {%= components.TableHeaderSimple("spermission", "value", "Value", "String text", prms, ps.URI, ps) %}
        {%= components.TableHeaderSimple("spermission", "access", "Access", "String text", prms, ps.URI, ps) %}
        {%= components.TableHeaderSimple("spermission", "created", "Created", "Date and time, in almost any format", prms, ps.URI, ps) %}
      </tr>
    </thead>
    <tbody>
      {%- for _, model := range models -%}
      <tr>
        <td class="nowrap">
          <a href="/admin/db/sprint/permission/{%= view.UUID(&model.SprintID) %}/{%u model.Key %}/{%u model.Value %}">{%= view.UUID(&model.SprintID) %}{% if x := sprintsBySprintID.Get(model.SprintID); x != nil %} ({%s x.TitleString() %}){% endif %}</a>
          <a title="Sprint" href="{%s `/admin/db/sprint`+`/`+model.SprintID.String() %}">{%= components.SVGRef("sprint", 18, 18, "", ps) %}</a>
        </td>
        <td><a href="/admin/db/sprint/permission/{%= view.UUID(&model.SprintID) %}/{%u model.Key %}/{%u model.Value %}">{%= view.String(model.Key) %}</a></td>
        <td><a href="/admin/db/sprint/permission/{%= view.UUID(&model.SprintID) %}/{%u model.Key %}/{%u model.Value %}">{%= view.String(model.Value) %}</a></td>
        <td>{%= view.String(model.Access) %}</td>
        <td>{%= view.Timestamp(&model.Created) %}</td>
      </tr>
      {%- endfor -%}
      {%- if prms.HasNextPage(len(models) + prms.Offset) || prms.HasPreviousPage() -%}
      <tr>
        <td colspan="5">{%= components.Pagination(len(models) + prms.Offset, prms, ps.URI) %}</td>
      </tr>
      {%- endif -%}
    </tbody>
  </table>
{% endfunc %}
