@import "./comment.css";
@import "./team.css";
@import "./sprint.css";
@import "./estimate.css";
@import "./standup.css";
@import "./retro.css";
@import "./workspace.css";

.billboard {
  text-align: center;
  padding: var(--padding);
  border: var(--border);
}

a.clean {
  text-decoration: none;
  color: var(--color-foreground);
}
