.story-members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.story-members .member {
  margin: var(--padding);
  text-align: center;
}

.story-vote-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.story-vote-options .vote-option .vote-choice {
  margin: var(--padding);
  padding: var(--padding);
  min-height: 48px;
  min-width: 48px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  border-radius: 24px;
}

.story-vote-options .vote-option input {
  display: none;
}

.story-vote-options .vote-option input ~ * {
  border: 3px solid var(--color-background-muted);
}
.story-vote-options .vote-option input:checked ~ * {
  border: 3px solid var(--color-foreground-muted);
}

.final-vote {
  text-align: center;
}

.final-vote .value {
  display: inline-block;
  border: 3px solid var(--color-background-muted);
  border-radius: 36px;
  min-width: 60px;
  padding: var(--padding);
  font-size: 150%;
}

.final-vote .message {
  padding: var(--padding);
}

.vote-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.vote-results .vote-result {
  margin: var(--padding);
  text-align: center;
}

.vote-results .vote-result .number {
  border: 3px solid var(--color-background-muted);
  border-radius: 36px;
  min-width: 60px;
  padding: var(--padding);
  font-size: 150%;
}

.vote-calculations {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.vote-calculations .vote-calculation {
  margin: var(--padding);
  text-align: center;
}

.vote-calculations .vote-calculation .value {
  border: 3px solid var(--color-background-muted);
  border-radius: 36px;
  min-width: 60px;
  padding: var(--padding);
  font-size: 150%;
}
