.story-members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.story-members .member {
  margin: var(--padding);
  text-align: center;
}

.story-votes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.story-votes .vote .vote-choice {
  margin: var(--padding);
  padding: var(--padding);
  min-height: 48px;
  min-width: 48px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  border-radius: 24px;
}

.story-votes .vote input {
  display: none;
}

.story-votes .vote input ~ * {
  border: 3px solid var(--color-background-muted);
}
.story-votes .vote input:checked ~ * {
  border: 3px solid var(--color-foreground-muted);
}
