.categories {
  display: flex;
  flex-direction: row;
}

@media (max-width: 1280px) {
  .categories {
    flex-direction: column;
  }
}

.category {
  display: block;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  margin: var(--padding-small);
  padding: var(--padding);
  border: var(--border);
}

.feedback {
  display: block;
  margin: var(--padding-small);
  padding: var(--padding);
  border: var(--border);
}
