#panel-summary {
  order: 1;
  flex: 66.6%;
  margin-right: calc(var(--padding) * -1);
}

#panel-self {
  order: 2;
  flex: 33.3%;
}

#panel-detail {
  order: 3;
  flex: 66.6%;
  margin-top: calc(var(--padding) * -1);
  margin-bottom: calc(var(--padding) * -1);
  margin-right: calc(var(--padding) * -1);
}

#panel-members {
  order: 4;
  flex: 33.3%;
  margin-top: calc(var(--padding) * -1);
}

@media (max-width: 1024px) {
  #panel-summary {
    order: 1;
    flex: 100%;
    margin-right: 0;
  }

  #panel-self {
    order: 3;
    flex: 100%;
  }

  #panel-detail {
    order: 2;
    flex: 100%;
    margin-right: 0;
  }

  #panel-members {
    order: 4;
    flex: 100%;
  }
}
