<!-- Content managed by Project Forge, see [projectforge.md] for details. -->
{% import (
  "github.com/kyleu/rituals/app"
  "github.com/kyleu/rituals/app/controller/cutil"
  "github.com/kyleu/rituals/app/team/thistory"
  "github.com/kyleu/rituals/views/components"
  "github.com/kyleu/rituals/views/layout"
) %}

{% code type Edit struct {
  layout.Basic
  Model *thistory.TeamHistory
  IsNew bool
} %}

{% func (p *Edit) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    {%- if p.IsNew -%}
    <div class="right"><a href="/admin/db/team/history/random"><button>Random</button></a></div>
    <h3>{%= components.SVGRefIcon(`history`, ps) %} New History</h3>
    <form action="/admin/db/team/history/new" class="mt" method="post">
    {%- else -%}
    <div class="right"><a href="{%s p.Model.WebPath() %}/delete" onclick="return confirm('Are you sure you wish to delete history [{%s p.Model.String() %}]?')"><button>Delete</button></a></div>
    <h3>{%= components.SVGRefIcon(`history`, ps) %} Edit History [{%s p.Model.String() %}]</h3>
    <form action="" method="post">
    {%- endif -%}
      <table class="mt expanded">
        <tbody>
          {% if p.IsNew %}{%= components.TableInput("slug", "", "Slug", p.Model.Slug, 5, "String text") %}{% endif %}
          {%= components.TableInputUUID("teamID", "input-teamID", "Team ID", &p.Model.TeamID, 5, "UUID in format (00000000-0000-0000-0000-000000000000)") %}
          {%= components.TableInput("teamName", "", "Team Name", p.Model.TeamName, 5, "String text") %}
          <tr><td colspan="2"><button type="submit">Save Changes</button></td></tr>
        </tbody>
      </table>
    </form>
  </div>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      rituals.autocomplete(document.getElementById("input-teamID"), "/admin/db/team?team.l=10", "q", (o) => o["slug"] + " / " + o["title"] + " (" + o["id"] + ")", (o) => o["id"]);
    });
  </script>
{% endfunc %}
