<!-- Content managed by Project Forge, see [projectforge.md] for details. -->
{% import (
  "github.com/kyleu/rituals/app"
  "github.com/kyleu/rituals/app/controller/cutil"
  "github.com/kyleu/rituals/app/lib/filter"
  "github.com/kyleu/rituals/app/team"
  "github.com/kyleu/rituals/app/team/thistory"
  "github.com/kyleu/rituals/views/components"
  "github.com/kyleu/rituals/views/layout"
) %}

{% code type List struct {
  layout.Basic
  Models thistory.TeamHistories
  Teams team.Teams
  Params filter.ParamSet
} %}

{% func (p *List) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <div class="right"><a href="/admin/db/team/history/new"><button>New</button></a></div>
    <h3>{%= components.SVGRefIcon(`history`, ps) %}{%s ps.Title %}</h3>
    {%- if len(p.Models) == 0 -%}
    <div class="mt"><em>No histories available</em></div>
    {%- else -%}
    <div class="overflow clear">
      {%= Table(p.Models, p.Teams, p.Params, as, ps) %}
    </div>
    {%- endif -%}
  </div>
{% endfunc %}
