<%: func FeedbackTable(feedbacks retro.Feedbacks, params *query.Params, ctx *web.RequestContext, buffer *bytes.Buffer) %>

<table class="uk-table uk-table-divider uk-text-left">
  <thead>
    <tr>
      <% components.TableHeader(util.KeyFeedback, util.KeyID, util.Title(util.KeyID), params, ctx, buffer) %>
      <% components.TableHeader(util.KeyFeedback, util.KeyIdx, util.Title(util.KeyIdx), params, ctx, buffer) %>
      <% components.TableHeader(util.KeyFeedback, util.WithID(util.KeyUser), util.Title(util.KeyUser), params, ctx, buffer) %>
      <% components.TableHeader(util.KeyFeedback, util.KeyCategory, util.Title(util.KeyCategory), params, ctx, buffer) %>
      <% components.TableHeader(util.KeyFeedback, util.KeyContent, util.Title(util.KeyContent), params, ctx, buffer) %>
      <% components.TableHeader(util.KeyFeedback, util.KeyCreated, util.Title(util.KeyCreated), params, ctx, buffer) %>
    </tr>
  </thead>
  <tbody>
  <% for _, model := range feedbacks { %>
    <tr>
      <td class="uk-table-shrink uk-text-nowrap"><% components.UUID(&model.ID, buffer) %></td>
      <td class="uk-table-shrink uk-text-nowrap"><%=v model.Idx %></td>
      <td class="uk-table-shrink uk-text-nowrap"><a class="theme" href="<%= ctx.Route(util.AdminLink(util.KeyUser, util.KeyDetail), `id`, model.UserID.String()) %>"><% components.UUID(&model.UserID, buffer) %></a></td>
      <td><%= model.Category %></td>
      <td><%== model.HTML %></td>
      <td class="uk-table-shrink uk-text-nowrap"><% components.DateTime(&model.Created, buffer) %></td>
    </tr>
  <% } %>
  </tbody>
</table>
