<%: func FeedbackTable(feedbacks retro.Feedbacks, params *npncore.Params, ctx *npnweb.RequestContext, buffer *bytes.Buffer) %>

<table class="uk-table uk-table-divider uk-text-left">
  <thead>
    <tr>
      <% npntemplate.TableHeader(util.KeyFeedback, npncore.KeyID, npncore.Title(npncore.KeyID), params, ctx.Request, buffer) %>
      <% npntemplate.TableHeader(util.KeyFeedback, npncore.KeyIdx, npncore.Title(npncore.KeyIdx), params, ctx.Request, buffer) %>
      <% npntemplate.TableHeader(util.KeyFeedback, npncore.WithID(npncore.KeyUser), npncore.Title(npncore.KeyUser), params, ctx.Request, buffer) %>
      <% npntemplate.TableHeader(util.KeyFeedback, npncore.KeyCategory, npncore.Title(npncore.KeyCategory), params, ctx.Request, buffer) %>
      <% npntemplate.TableHeader(util.KeyFeedback, npncore.KeyContent, npncore.Title(npncore.KeyContent), params, ctx.Request, buffer) %>
      <% npntemplate.TableHeader(util.KeyFeedback, npncore.KeyCreated, npncore.Title(npncore.KeyCreated), params, ctx.Request, buffer) %>
    </tr>
  </thead>
  <tbody>
  <% for _, model := range feedbacks { %>
    <tr>
      <td class="uk-table-shrink uk-text-nowrap"><% npntemplate.UUID(&model.ID, buffer) %></td>
      <td class="uk-table-shrink uk-text-nowrap"><%=v model.Idx %></td>
      <td class="uk-table-shrink uk-text-nowrap"><a class="theme" href="<%= ctx.Route(npnweb.AdminLink(npncore.KeyUser, npncore.KeyDetail), `id`, model.UserID.String()) %>"><% npntemplate.UUID(&model.UserID, buffer) %></a></td>
      <td><%= model.Category %></td>
      <td><%== model.HTML %></td>
      <td class="uk-table-shrink uk-text-nowrap"><% npntemplate.DateTime(&model.Created, buffer) %></td>
    </tr>
  <% } %>
  </tbody>
</table>
