<%: func IndexPanel(svc util.Service, ctx web.RequestContext, buffer *bytes.Buffer) %>
<h3 class="uk-card-title">
  <a class="<%= ctx.Profile.LinkClass() %>" href="<%= ctx.Route(svc.Key + `.list`) %>"><span class="h3-icon" data-uk-icon="icon: <%= svc.Icon %>;"></span></a>
  <a class="<%= ctx.Profile.LinkClass() %>" href="<%= ctx.Route(svc.Key + `.list`) %>"><%= svc.PluralTitle %></a>
</h3>
<form method="post" action="<%= ctx.Route(svc.Key + `.new`) %>">
  <div class="uk-inline uk-display-block">
    <button type="submit" class="uk-form-icon uk-form-icon-flip" uk-icon="icon: plus" title="new <%= svc.Key %>"></button>
    <input class="uk-input" type="text" id="team-title" name="title" placeholder="Title" />
  </div>
</form>
