<%: func Index(ctx *npnweb.RequestContext, teams team.Sessions, sprints sprint.Sessions, estimates estimate.Sessions, standups standup.Sessions, retros retro.Sessions, w io.Writer) (int, error) %>
<%~ "layout/basic.html" %>
<%@ nav { %><% npntemplate.Navbar(ctx, _buffer) %><% } %>
<%@ body { %>
<div class="uk-section uk-section-small">
  <div class="uk-container">
    <div class="uk-grid-medium uk-grid-match uk-margin-medium" data-uk-grid>
      <div class="uk-width-1-2@s">
        <div class="uk-card uk-card-body uk-card-default">
          <h3 class="uk-card-title">
            <span class="right">
              <a class="theme uk-icon-button uk-margin-left" data-uk-icon="question" href="<%= ctx.Route(`about`) %>" title="about <%= npncore.AppName %>"></a>
            </span>
            <% if ctx.Profile.Role == npnuser.RoleAdmin { %>
            <span class="right">
              <a class="theme uk-icon-button" data-uk-icon="info" href="<%= ctx.Route(`admin`) %>" title="you have admin rights"></a>
            </span>
            <% } %>
            <%= npncore.AppName %>
          </h3>
          <p>Work with your team to estimate work, track your progress, and gather feedback</p>
        </div>
      </div>
      <div class="uk-width-1-2@s">
        <div class="uk-card uk-card-body uk-card-default uk-transition-toggle">
          <% IndexPanel(util.SvcTeam, ctx, _buffer) %>
          <% if len(teams) > 0 { %>
          <ul class="uk-list uk-list-divider mt">
            <% for _, t := range teams { %>
            <li>
              <a class="theme" href="<%= ctx.Route(util.SvcTeam.Key, npncore.KeyKey, t.Slug) %>"><%= t.Title %></a>
            </li>
            <% } %>
          </ul>
          <% } %>
        </div>
      </div>
      <div class="uk-width-1-2@s">
        <div class="uk-card uk-card-body uk-card-default uk-transition-toggle">
          <% IndexPanel(util.SvcSprint, ctx, _buffer) %>
          <% if len(sprints) > 0 { %>
            <ul class="uk-list uk-list-divider mt">
              <% for _, s := range sprints { %>
                <li>
                  <a class="theme" href="<%= ctx.Route(util.SvcSprint.Key, npncore.KeyKey, s.Slug) %>"><%= s.Title %></a>
                </li>
              <% } %>
            </ul>
          <% } %>
        </div>
      </div>
      <div class="uk-width-1-2@s">
        <div class="uk-card uk-card-body uk-card-default uk-transition-toggle">
          <% IndexPanel(util.SvcEstimate, ctx, _buffer) %>
          <% if len(estimates) > 0 { %>
            <ul class="uk-list uk-list-divider mt">
              <% for _, s := range estimates { %>
                <li>
                  <a class="theme" href="<%= ctx.Route(util.SvcEstimate.Key, npncore.KeyKey, s.Slug) %>"><%= s.Title %></a>
                </li>
              <% } %>
            </ul>
          <% } %>
        </div>
      </div>
      <div class="uk-width-1-2@s">
        <div class="uk-card uk-card-body uk-card-default uk-transition-toggle">
          <% IndexPanel(util.SvcStandup, ctx, _buffer) %>
          <% if len(standups) > 0 { %>
            <ul class="uk-list uk-list-divider mt">
              <% for _, s := range standups { %>
                <li>
                  <a class="theme" href="<%= ctx.Route(util.SvcStandup.Key, npncore.KeyKey, s.Slug) %>"><%= s.Title %></a>
                </li>
              <% } %>
            </ul>
          <% } %>
        </div>
      </div>
      <div class="uk-width-1-2@s">
        <div class="uk-card uk-card-body uk-card-default uk-transition-toggle">
          <% IndexPanel(util.SvcRetro, ctx, _buffer) %>
          <% if len(retros) > 0 { %>
            <ul class="uk-list uk-list-divider mt">
              <% for _, s := range retros { %>
                <li>
                  <a class="theme" href="<%= ctx.Route(util.SvcRetro.Key, npncore.KeyKey, s.Slug) %>"><%= s.Title %></a>
                </li>
              <% } %>
            </ul>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</div>
<% } %>
