{% import (
  "github.com/kyleu/rituals/app"
  "github.com/kyleu/rituals/app/controller/cutil"
  "github.com/kyleu/rituals/app/retro"
  "github.com/kyleu/rituals/app/retro/feedback"
  "github.com/kyleu/rituals/app/user"
  "github.com/kyleu/rituals/views/components"
  "github.com/kyleu/rituals/views/components/view"
  "github.com/kyleu/rituals/views/layout"
) %}

{% code type Detail struct {
  layout.Basic
  Model *feedback.Feedback
  RetroByRetroID *retro.Retro
  UserByUserID *user.User
  Paths []string
} %}

{% func (p *Detail) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <div class="right">
      <a href="#modal-feedback"><button type="button">{%= components.SVGButton("file", ps) %} JSON</button></a>
      <a href="{%s p.Model.WebPath(p.Paths...) %}/edit"><button>{%= components.SVGButton("edit", ps) %} Edit</button></a>
    </div>
    <h3>{%= components.SVGIcon(`comment`, ps) %} {%s p.Model.TitleString() %}</h3>
    <div><a href="{%s feedback.Route(p.Paths...) %}"><em>Feedback</em></a></div>
    {%= DetailTable(p, ps) %}
  </div>
  {%- comment %}$PF_SECTION_START(extra)${% endcomment -%}
  {%- comment %}$PF_SECTION_END(extra)${% endcomment -%}
  {%= components.JSONModal("feedback", "Feedback JSON", p.Model, 1) %}
{% endfunc %}

{% func DetailTable(p *Detail, ps *cutil.PageState) %}
  <div class="mt overflow full-width">
    <table>
      <tbody>
        <tr>
          <th class="shrink" title="UUID in format (00000000-0000-0000-0000-000000000000)">ID</th>
          <td>{%= view.UUID(&p.Model.ID) %}</td>
        </tr>
        <tr>
          <th class="shrink" title="UUID in format (00000000-0000-0000-0000-000000000000)">Retro ID</th>
          <td class="nowrap">
            {%= view.UUID(&p.Model.RetroID) %}{% if p.RetroByRetroID != nil %} ({%s p.RetroByRetroID.TitleString() %}){% endif %}
            <a title="Retro" href="{% if x := p.RetroByRetroID; x != nil %}{%s x.WebPath(p.Paths...) %}{% endif %}">{%= components.SVGLink(`retro`, ps) %}</a>
          </td>
        </tr>
        <tr>
          <th class="shrink" title="Integer">Idx</th>
          <td>{%d p.Model.Idx %}</td>
        </tr>
        <tr>
          <th class="shrink" title="UUID in format (00000000-0000-0000-0000-000000000000)">User ID</th>
          <td class="nowrap">
            {%= view.UUID(&p.Model.UserID) %}{% if p.UserByUserID != nil %} ({%s p.UserByUserID.TitleString() %}){% endif %}
            <a title="User" href="{% if x := p.UserByUserID; x != nil %}{%s x.WebPath(p.Paths...) %}{% endif %}">{%= components.SVGLink(`profile`, ps) %}</a>
          </td>
        </tr>
        <tr>
          <th class="shrink" title="String text">Category</th>
          <td>{%= view.String(p.Model.Category) %}</td>
        </tr>
        <tr>
          <th class="shrink" title="String text">Content</th>
          <td>{%= view.String(p.Model.Content) %}</td>
        </tr>
        <tr>
          <th class="shrink" title="HTML code, in string form">HTML</th>
          <td>{%= view.Format(p.Model.HTML, "html") %}</td>
        </tr>
        <tr>
          <th class="shrink" title="Date and time, in almost any format">Created</th>
          <td>{%= view.Timestamp(&p.Model.Created) %}</td>
        </tr>
        <tr>
          <th class="shrink" title="Date and time, in almost any format (optional)">Updated</th>
          <td>{%= view.Timestamp(p.Model.Updated) %}</td>
        </tr>
      </tbody>
    </table>
  </div>
{% endfunc %}
