<!-- Content managed by Project Forge, see [projectforge.md] for details. -->
{% import (
  "github.com/kyleu/rituals/app"
  "github.com/kyleu/rituals/app/controller/cutil"
  "github.com/kyleu/rituals/app/retro"
  "github.com/kyleu/rituals/app/retro/feedback"
  "github.com/kyleu/rituals/app/user"
  "github.com/kyleu/rituals/views/components"
  "github.com/kyleu/rituals/views/layout"
) %}

{% code type Detail struct {
  layout.Basic
  Model *feedback.Feedback
  RetroByRetroID *retro.Retro
  UserByUserID *user.User
} %}

{% func (p *Detail) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <div class="right">
      <a href="#modal-feedback"><button type="button">JSON</button></a>
      <a href="{%s p.Model.WebPath() %}/edit"><button>{%= components.SVGRef("edit", 15, 15, "icon", ps) %}Edit</button></a>
    </div>
    <h3>{%= components.SVGRefIcon(`comment`, ps) %} {%s p.Model.TitleString() %}</h3>
    <div><a href="/admin/db/retro/feedback"><em>Feedback</em></a></div>
    <table class="mt">
      <tbody>
        <tr>
          <th class="shrink" title="UUID in format (00000000-0000-0000-0000-000000000000)">ID</th>
          <td>{%= components.DisplayUUID(&p.Model.ID) %}</td>
        </tr>
        <tr>
          <th class="shrink" title="UUID in format (00000000-0000-0000-0000-000000000000)">Retro ID</th>
          <td class="nowrap">
            {%= components.DisplayUUID(&p.Model.RetroID) %}{% if p.RetroByRetroID != nil %} ({%s p.RetroByRetroID.TitleString() %}){% endif %}
            <a title="Retro" href="{%s `/admin/db/retro`+`/`+p.Model.RetroID.String() %}">{%= components.SVGRef("retro", 18, 18, "", ps) %}</a>
          </td>
        </tr>
        <tr>
          <th class="shrink" title="Integer">Idx</th>
          <td>{%d p.Model.Idx %}</td>
        </tr>
        <tr>
          <th class="shrink" title="UUID in format (00000000-0000-0000-0000-000000000000)">User ID</th>
          <td class="nowrap">
            {%= components.DisplayUUID(&p.Model.UserID) %}{% if p.UserByUserID != nil %} ({%s p.UserByUserID.TitleString() %}){% endif %}
            <a title="User" href="{%s `/admin/db/user`+`/`+p.Model.UserID.String() %}">{%= components.SVGRef("profile", 18, 18, "", ps) %}</a>
          </td>
        </tr>
        <tr>
          <th class="shrink" title="String text">Category</th>
          <td>{%s p.Model.Category %}</td>
        </tr>
        <tr>
          <th class="shrink" title="String text">Content</th>
          <td>{%s p.Model.Content %}</td>
        </tr>
        <tr>
          <th class="shrink" title="String text">HTML</th>
          <td><pre>{%s p.Model.HTML %}</pre></td>
        </tr>
        <tr>
          <th class="shrink" title="Date and time, in almost any format">Created</th>
          <td>{%= components.DisplayTimestamp(&p.Model.Created) %}</td>
        </tr>
        <tr>
          <th class="shrink" title="Date and time, in almost any format (optional)">Updated</th>
          <td>{%= components.DisplayTimestamp(p.Model.Updated) %}</td>
        </tr>
      </tbody>
    </table>
  </div>
  {%- comment %}$PF_SECTION_START(extra)${% endcomment -%}
  {%- comment %}$PF_SECTION_END(extra)${% endcomment -%}
  {%= components.JSONModal("feedback", "Feedback JSON", p.Model, 1) %}
{% endfunc %}
