<!-- Content managed by Project Forge, see [projectforge.md] for details. -->
{% import (
  "github.com/kyleu/rituals/app"
  "github.com/kyleu/rituals/app/controller/cutil"
  "github.com/kyleu/rituals/app/retro/feedback"
  "github.com/kyleu/rituals/views/components"
  "github.com/kyleu/rituals/views/components/edit"
  "github.com/kyleu/rituals/views/layout"
) %}

{% code type Edit struct {
  layout.Basic
  Model *feedback.Feedback
  IsNew bool
} %}

{% func (p *Edit) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    {%- if p.IsNew -%}
    <div class="right"><a href="?prototype=random"><button>Random</button></a></div>
    <h3>{%= components.SVGIcon(`comment`, ps) %} New Feedback</h3>
    <form action="/admin/db/retro/feedback/_new" class="mt" method="post">
    {%- else -%}
    <div class="right"><a class="link-confirm" href="{%s p.Model.WebPath() %}/delete" data-message="Are you sure you wish to delete feedback [{%s p.Model.String() %}]?"><button>{%= components.SVGButton("times", ps) %}Delete</button></a></div>
    <h3>{%= components.SVGIcon(`comment`, ps) %} Edit Feedback [{%s p.Model.String() %}]</h3>
    <form action="" method="post">
    {%- endif -%}
      <table class="mt expanded">
        <tbody>
          {% if p.IsNew %}{%= edit.UUIDTable("id", "", "ID", &p.Model.ID, 5, "UUID in format (00000000-0000-0000-0000-000000000000)") %}{% endif %}
          {%= edit.UUIDTable("retroID", "input-retroID", "Retro ID", &p.Model.RetroID, 5, "UUID in format (00000000-0000-0000-0000-000000000000)") %}
          {%= edit.IntTable("idx", "", "Idx", p.Model.Idx, 5, "Integer") %}
          {%= edit.UUIDTable("userID", "input-userID", "User ID", &p.Model.UserID, 5, "UUID in format (00000000-0000-0000-0000-000000000000)") %}
          {%= edit.StringTable("category", "", "Category", p.Model.Category, 5, "String text") %}
          {%= edit.StringTable("content", "", "Content", p.Model.Content, 5, "String text") %}
          {%= edit.TextareaTable("html", "", "HTML", 8, p.Model.HTML, 5, "HTML code, in string form") %}
          <tr><td colspan="2"><button type="submit">Save Changes</button></td></tr>
        </tbody>
      </table>
    </form>
  </div>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      rituals.autocomplete(document.getElementById("input-retroID"), "/admin/db/retro?retro.l=10", "q", (o) => o["slug"] + " / " + o["title"] + " / " + o["categories"] + " (" + o["id"] + ")", (o) => o["id"]);
      rituals.autocomplete(document.getElementById("input-userID"), "/admin/db/user?user.l=10", "q", (o) => o["name"] + " (" + o["id"] + ")", (o) => o["id"]);
    });
  </script>
{% endfunc %}
