<%: func AdminConnectionDetail(model *socket.Status, msg *socket.Message, ctx web.RequestContext, w io.Writer) (int, error) %>

<%~ "layout/basic.html" %>

<%@ body { %>
<div class="uk-section uk-section-small">
  <div class="uk-container">
    <div class="uk-card uk-card-body">
      <h3 class="uk-card-title">Socket Connection</h3>
      <table class="uk-table uk-table-divider uk-text-left">
        <tbody>
        <tr>
          <th>ID</th>
          <td><%= model.ID.String() %></td>
        </tr>
        <tr>
          <th>User ID</th>
          <td><a class="theme" href="<%= ctx.Route(util.AdminLink(util.KeyUser, util.KeyDetail), `id`, model.UserID.String()) %>"><%= model.UserID.String() %></a></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="uk-card uk-card-body">
      <form class="uk-form-stacked" action="<%= ctx.Route(util.AdminLink(util.KeyConnection, `post`)) %>" method="post">
        <input name=util.KeyID type="hidden" value="<%=v model.ID %>" />
        <fieldset class="uk-fieldset">
          <div class="uk-margin-small">
            <label class="uk-form-label" for="<%= util.KeySvc %>">Service</label>
            <% ComponentSelect(util.KeySvc, []string{util.SvcSystem.Key, util.SvcEstimate.Key, util.SvcStandup.Key, util.SvcRetro.Key}, msg.Svc, _buffer) %>
          </div>

          <div class="uk-margin">
            <label class="uk-form-label" for="cmd">Command</label>
            <input class="uk-input" name="cmd" type="text" value="<%= msg.Cmd %>" />
          </div>

          <div class="uk-margin">
            <label class="uk-form-label" for="param">Param</label>
            <% ComponentTextarea(web.InputParams{Name: "param", Value: util.ToJSON(msg.Param)}, _buffer) %>
          </div>

          <div class="uk-margin-top">
            <button class="uk-button uk-button-default" type="submit">Send</button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
<% } %>
