<%: func SprintList(sprints sprint.Sessions, params npncore.ParamSet, ctx *npnweb.RequestContext, w io.Writer) (int, error) %>
<%~ "layout/admin.html" %>
<%@ nav { %><% npntemplate.Navbar(ctx, _buffer) %><% } %>
<%@ body { %>
<div class="uk-section uk-section-small">
  <div class="uk-container">
    <div class="uk-card uk-card-body uk-card-default">
      <h3 class="uk-card-title">Sprints</h3>
      <% SprintTable(sprints, params.Get(util.SvcSprint.Key, ctx.Logger), ctx, _buffer) %>
    </div>
  </div>
</div>
<% } %>
