{% import (
  "github.com/google/uuid"

  "github.com/kyleu/rituals/app"
  "github.com/kyleu/rituals/app/action"
  "github.com/kyleu/rituals/app/comment"
  "github.com/kyleu/rituals/app/controller/cutil"
	"github.com/kyleu/rituals/app/enum"
  "github.com/kyleu/rituals/app/estimate"
  "github.com/kyleu/rituals/app/sprint"
  "github.com/kyleu/rituals/app/team"
  "github.com/kyleu/rituals/app/util"
  "github.com/kyleu/rituals/app/workspace"
  "github.com/kyleu/rituals/views/components"
  "github.com/kyleu/rituals/views/layout"
  "github.com/kyleu/rituals/views/vworkspace/vwutil"
) %}

{% code type EstimateWorkspace struct {
  layout.Basic
  FullEstimate *workspace.FullEstimate
  Teams team.Teams
  Sprints sprint.Sprints
} %}

{% func (p *EstimateWorkspace) Body(as *app.State, ps *cutil.PageState) %}
  {%- code
    w := p.FullEstimate
    e := w.Estimate
    self, others, _ := w.UtilMembers.Split(ps.Profile.ID)
  -%}
  <div class="flex-wrap">
    <div id="panel-summary">
      <div class="card">
        <div class="right">
          {%= vwutil.PermissionsLink(enum.ModelServiceEstimate, e.ID, w.Permissions.ToPermissions(), ps) %}
          {%= vwutil.Comments(enum.ModelServiceEstimate, e.ID, e.TitleString(), w.Comments, w.UtilMembers, ps) %}
        </div>
        <h3><a href="#modal-estimate-config" id="modal-estimate-config-link">
          <span id="model-icon">{%= components.SVGRefIcon(e.IconSafe(), ps) %}</span>
          <span id="model-title">{%s e.TitleString() %}</span>
        </a></h3>
        {%= vwutil.Banner(w.Team, w.Sprint, util.KeyEstimate) %}
        {%= EstimateWorkspaceModal(e, p.Teams, p.Sprints, w.Permissions.ToPermissions(), ps) %}
      </div>
    </div>
    <div id="panel-detail">
      <div class="card">
        <div class="right"><a class="add-story-link" href="#modal-story--add"><button>Add Story</button></a></div>
        <h3><a class="add-story-link" href="#modal-story--add">{%= components.SVGRefIcon(util.KeyStory, ps) %}Stories</a></h3>
        {%= EstimateWorkspaceStories(w, ps) %}
        {%= EstimateWorkspaceStoryModalAdd() %}
        {%= EstimateWorkspaceStoryModalEmpty(ps) %}
      </div>
    </div>
    <div id="panel-self">
      <div class="card">
        <span id="self-id" style="display: none;">{%s self.UserID.String() %}</span>
        <h3><a href="#modal-self">{%= components.SVGRefIcon(`profile`, ps) %}<span id="self-name">{%s self.Name %}</span></a></h3>
        <em id="self-role">{%s string(self.Role) %}</em>
      </div>
      {%= vwutil.SelfModal(self.Name, self.Picture, self.Role, e.PublicWebPath()) %}
    </div>
    <div id="panel-members">
      <div class="card">
        <h3><a href="#modal-invite">{%= components.SVGRefIcon(`users`, ps) %}Members</a></h3>
        <table class="mt expanded">
          <tbody>
            {%- for _, m := range others -%}
            {%= vwutil.MemberRow(m, ps) %}
            {%- endfor -%}
          </tbody>
        </table>
        <div id="member-modals">
        {%- for _, m := range others -%}
          {%= vwutil.MemberModal(m, e.PublicWebPath()) %}
        {%- endfor -%}
        </div>
      </div>
    </div>
    {%= vwutil.InviteModal() %}
  </div>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      initWorkspace("{%s util.KeyEstimate %}", "{%s e.ID.String() %}");
    });
  </script>
{% endfunc %}

{% func EstimateWorkspaceModal(e *estimate.Estimate, teams team.Teams, sprints sprint.Sprints, perms util.Permissions, ps *cutil.PageState) %}
  <div id="modal-estimate-config" class="modal" style="display: none;">
    <a class="backdrop" href="#"></a>
    <div class="modal-content">
      <div class="modal-header">
        <a href="#" class="modal-close">×</a>
        <h2>Estimate</h2>
      </div>
      <div class="modal-body">
        <form action="{%s e.PublicWebPath() %}" method="post" class="expanded">
          <input type="hidden" name="action" value="{%s string(action.ActUpdate) %}" />
          {%= components.FormVerticalInput("title", "", "Title", e.TitleString(), 5, "The name of your estimate") %}
          {%= components.FormVerticalIconPicker("icon", "Icon", e.IconSafe(), ps, 5) %}
          {%= components.FormVerticalInputTags("choices", "", "Choices", e.Choices, ps, 5, "The available options for stories in this estimate") %}
          {%= components.FormVerticalSelect(util.KeyTeam, "config-team-input", "Team", util.UUIDString(e.TeamID), teams.IDStrings(true), teams.TitleStrings("- no team -"), 5) %}
          {%= components.FormVerticalSelect(util.KeySprint, "config-sprint-input", "Sprint", util.UUIDString(e.SprintID), sprints.IDStrings(true), sprints.TitleStrings("- no sprint -"), 5) %}
          <hr />
          {%= vwutil.PermissionsForm(util.KeyEstimate, perms, true, teams, true, sprints, ps) %}
          <hr />
          <div class="right"><button type="submit">Save</button></div>
          <div class="clear"></div>
        </form>
      </div>
    </div>
  </div>
{% endfunc %}

{% func EstimateWorkspaceList(estimates estimate.Estimates, teamID *uuid.UUID, sprintID *uuid.UUID, showComments bool, comments comment.Comments, ps *cutil.PageState) %}
  <div class="card">
    <div class="right">{%= vwutil.EditWorkspaceForm(util.KeyEstimate, teamID, sprintID, "New Estimate") %}</div>
    <h3>{%= components.SVGRefIcon(util.KeyEstimate, ps) %}Estimates</h3>
    <table id="estimate-list" class="mt expanded">
      <tbody>
        {%- if len(estimates) == 0 -%}
          <tr class="empty"><td><em>no estimates</em></td></tr>
        {%- else -%}
          {%- for _, x := range estimates -%}
          <tr id="estimate-list-{%s x.ID.String() %}">
            <td>
              {%- if showComments -%}
              <div class="right">
                {%= vwutil.Comments(enum.ModelServiceEstimate, x.ID, x.TitleString(), comments, nil, ps) %}
              </div>
              {%- endif -%}
              <a href="{%s x.PublicWebPath() %}"><div>
                <span>{%= components.SVGRef(x.IconSafe(), 16, 16, "icon", ps) %}</span><span>{%s x.TitleString() %}</span>
              </div></a>
            </td>
          </tr>
          {%- endfor -%}
        {%- endif -%}
      </tbody>
    </table>
  </div>
{% endfunc %}
