{% import (
  "github.com/kyleu/rituals/app/action"
  "github.com/kyleu/rituals/app/controller/cutil"
  "github.com/kyleu/rituals/app/enum"
  "github.com/kyleu/rituals/app/estimate/story"
  "github.com/kyleu/rituals/app/estimate/story/vote"
  "github.com/kyleu/rituals/app/workspace"
  "github.com/kyleu/rituals/views/components"
) %}

{% func EstimateWorkspaceStoryPanelNew(w *workspace.FullEstimate, s *story.Story, ps *cutil.PageState) %}
  <div class="mt status-new" {% if s != nil && s.Status != enum.SessionStatusNew %} style="display: none;"{% endif %}>
    <form class="status-new-form-next" action="" method="post">
      <input type="hidden" name="storyID" value="{% if s != nil %}{%s s.ID.String() %}{% endif %}" />
      <input type="hidden" name="action" value="{%s string(action.ActChildStatus) %}" />
      <input type="hidden" name="status" value="{%s string(enum.SessionStatusActive) %}" />
      {%- if s == nil -%}
        <div class="owned">Your story is available to <a class="link-edit" href="" data-id="">edit</a> and ready to <button type="submit" class="button-link">start voting</button></div>
        <div class="unowned">This story is ready to start voting</div>
      {%- else -%}
        {%- if ps.Profile.ID == s.UserID -%}
        <div>Your story is available to <a class="link-edit" href="#modal-story-{%s s.ID.String() %}-edit" data-id="{%s s.ID.String() %}">edit</a> and ready to <button type="submit" class="button-link">start voting</button></div>
        {%- else -%}
          {%- if mem := w.Members.Get(s.EstimateID, s.UserID); mem == nil -%}
          <div>This story is ready to start voting</div>
          {%- else -%}
          <div>This story was created by <a href="{%s mem.PublicWebPath(w.Estimate.Slug) %}">{%s mem.Name %}</a> and is ready to <button type="submit" class="button-link">start voting</button></div>
          {%- endif -%}
        {%- endif -%}
      {%- endif -%}
    </form>
    <hr />
    <div class="mt">
      <form class="status-new-form-next" action="" method="post">
        <input type="hidden" name="storyID" value="{% if s != nil %}{%s s.ID.String() %}{% endif %}" />
        <input type="hidden" name="action" value="{%s string(action.ActChildStatus) %}" />
        <input type="hidden" name="status" value="{%s string(enum.SessionStatusActive) %}" />
        <div class="right"><button type="submit">Start Voting</button></div>
      </form>
      {%- if s == nil || ps.Profile.ID == s.UserID -%}
      <form class="status-new-form-delete" action="" method="post" onsubmit="return confirm('Are you sure you want to delete this story?')">
        <input type="hidden" name="storyID" value="{% if s != nil %}{%s s.ID.String() %}{% endif %}" />
        <input type="hidden" name="action" value="{%s string(action.ActChildRemove) %}" />
        <div><button type="submit">Delete Story</button></div>
      </form>
      {%- endif -%}
    </div>
  </div>
{% endfunc %}

{% func EstimateWorkspaceStoryPanelActive(w *workspace.FullEstimate, s *story.Story, ps *cutil.PageState) %}
  <div class="mt status-active" {% if s == nil || s.Status != enum.SessionStatusActive %} style="display: none;"{% endif %}>
    <h4>Members</h4>
    <div class="story-members">
      {% if s != nil %}
      {%- for _, m := range w.Members -%}
      {%- code v := w.Votes.Get(s.ID, m.UserID) -%}
      <div class="member" data-member="{%s m.UserID.String() %}">
        {%- if v == nil -%}
        <div class="choice">{%= components.SVGRef("minus", 18, 18, "", ps) %}</div>
        {%- else -%}
        <div class="choice">{%= components.SVGRef("check", 18, 18, "", ps) %}</div>
        {%- endif -%}
        <div class="name member-{%s m.UserID.String() %}-name">{%s m.Name %}</div>
      </div>
      {%- endfor -%}
      {%- endif -%}
    </div>
    <hr />
    <h4>Choices</h4>
    <form class="status-active-form-vote" action="" method="post">
      <input type="hidden" name="storyID" value="{% if s != nil %}{%s s.ID.String() %}{% endif %}" />
      <input type="hidden" name="action" value="{%s string(action.ActVote) %}" />
      <div class="story-vote-options">
        {%- if s != nil -%}
        {%- code selfVote := w.Votes.Get(s.ID, ps.Profile.ID) -%}
        {%- for _, c := range w.Estimate.Choices -%}
        <div class="vote-option" data-choice="{%s c %}">
          <label>
            {%- if selfVote != nil && selfVote.Choice == c -%}
            <input type="radio" name="vote" value="{%s c %}" checked="checked" />
            {%- else -%}
            <input type="radio" name="vote" value="{%s c %}" />
            {%- endif -%}
            <div class="vote-choice">{%s c %}</div>
          </label>
        </div>
        {%- endfor -%}
        {%- endif -%}
      </div>
      <div class="mt vote-submit-button">
        <div class="right"><button type="submit">Submit vote</button></div>
      </div>
      <div class="clear"></div>
    </form>
    <hr />
    <div class="mt">
      <form class="status-active-form-next" action="" method="post">
        <input type="hidden" name="storyID" value="{% if s != nil %}{%s s.ID.String() %}{% endif %}" />
        <input type="hidden" name="action" value="{%s string(action.ActChildStatus) %}" />
        <input type="hidden" name="status" value="{%s string(enum.SessionStatusComplete) %}" />
        <div class="right"><button type="submit">Finish Voting</button></div>
      </form>
      <form class="status-active-form-prev" action="" method="post">
        <input type="hidden" name="storyID" value="{% if s != nil %}{%s s.ID.String() %}{% endif %}" />
        <input type="hidden" name="action" value="{%s string(action.ActChildStatus) %}" />
        <input type="hidden" name="status" value="{%s string(enum.SessionStatusNew) %}" />
        <div><button type="submit">Restart</button></div>
      </form>
    </div>
  </div>
{% endfunc %}

{% func EstimateWorkspaceStoryPanelComplete(w *workspace.FullEstimate, s *story.Story, ps *cutil.PageState) %}
  <div class="mt status-complete" {% if s == nil || s.Status != enum.SessionStatusComplete %} style="display: none;"{% endif %}>
    <div class="final-vote">
      {%- if w == nil || s.FinalVote == "" -%}
      <div class="message">Choose one of the scores below to set the final score for this story</div>
      <div class="value" style="display: none;"></div>
      <div class="description" style="display: none;"><em>Final Score</em></div>
      {%- else -%}
      <div class="message" style="display: none;">Choose one of the scores below to set the final score for this story</div>
      <div class="value">{%s s.FinalVote %}</div>
      <div class="description"><em>Final Score</em></div>
      {%- endif -%}
    </div>
    <hr />
    <div class="mt story-results">
      <div class="vote-results">
        {%- if w != nil -%}
        {%- for _, m := range w.Members -%}
        <div class="vote-result">
          {%- if s != nil && s.Status == enum.SessionStatusComplete -%}
          {%- if v := w.Votes.Get(s.ID, m.UserID); v == nil -%}
          <div class="number" title="user did not vote">-</div>
          {%- else -%}
          <form action="" method="post">
            <input type="hidden" name="storyID" value="{% if s != nil %}{%s s.ID.String() %}{% endif %}" />
            <input type="hidden" name="action" value="{%s string(action.ActVote) %}" />
            <input type="hidden" name="typ" value="user" />
            <input type="hidden" name="value" value="{%s v.Choice %}" />
            <button type="submit" class="number button-link">{%s v.Choice %}</button>
          </form>
          {%- endif -%}
          {%- else -%}
          <div class="number" title="in progress">-</div>
          {%- endif -%}
          <div class="member-{%s m.UserID.String() %}-name">{%s m.Name %}</div>
        </div>
        {%- endfor -%}
        {%- endif -%}
      </div>
    </div>
    <hr />
    <div class="mt">
      {%- if s != nil && s.Status == enum.SessionStatusComplete -%}
      {%= EstimateWorkspaceStoryResultCalculations(s, w.Votes.GetByStoryIDs(s.ID)) %}
      {%- else -%}
      {%= EstimateWorkspaceStoryCalculations(s, 0, 0, 0, 0, 0, 0, "0") %}
      {%- endif -%}
    </div>
    <hr />
    <div class="mt">
      <div class="right">
        <a href="#"><button type="button">Close</button></a>
      </div>
      <form class="status-complete-form-prev" action="" method="post">
        <input type="hidden" name="storyID" value="{% if s != nil %}{%s s.ID.String() %}{% endif %}" />
        <input type="hidden" name="action" value="{%s string(action.ActChildStatus) %}" />
        <input type="hidden" name="status" value="{%s string(enum.SessionStatusActive) %}" />
        <div><button type="submit">Reopen</button></div>
      </form>
    </div>
  </div>
{% endfunc %}

{% func EstimateWorkspaceStoryResultCalculations(s *story.Story, v vote.Votes) %}
  {%- code r := v.Results() -%}
  {%= EstimateWorkspaceStoryCalculations(s, len(v), r.Count, r.Min, r.Max, r.Mean, r.Median, r.ModeString) %}
{% endfunc %}

{% func EstimateWorkspaceStoryCalculations(s *story.Story, votes int, counted int, min float64, max float64, mean float64, median float64, modeString string) %}
  <div class="vote-calculations">
    <div class="vote-calculation calc-counted" title="portion of votes that were able to be parsed as numbers">
      <div class="value">{%d counted %}/{%d votes %}</div>
      Counted
    </div>
    <div class="vote-calculation calc-range" title="the minimum and maximum vote recorded">
      <div class="value">{%f min %}-{%f max %}</div>
      Range
    </div>
    <div class="vote-calculation calc-mean" title="mean average of all votes (click to set the final score)">
      <form action="" method="post">
        <input type="hidden" name="storyID" value="{% if s != nil %}{%s s.ID.String() %}{% endif %}" />
        <input type="hidden" name="action" value="{%s string(action.ActVote) %}" />
        <input type="hidden" name="typ" value="mean" />
        <input type="hidden" name="value" value="{%f mean %}" />
        <button type="submit" class="value button-link">{%f mean %}</button>
      </form>
      <div>Average</div>
    </div>
    <div class="vote-calculation calc-median" title="median value from collected votes (click to set the final score)">
      <form action="" method="post">
        <input type="hidden" name="storyID" value="{% if s != nil %}{%s s.ID.String() %}{% endif %}" />
        <input type="hidden" name="action" value="{%s string(action.ActVote) %}" />
        <input type="hidden" name="typ" value="median" />
        <input type="hidden" name="value" value="{%f median %}" />
        <button type="submit" class="value button-link">{%f median %}</button>
      </form>
      <div>Median</div>
    </div>
    <div class="vote-calculation calc-mode" title="mode value(s) from collected votes (click to set the final score)">
      <form action="" method="post">
        <input type="hidden" name="storyID" value="{% if s != nil %}{%s s.ID.String() %}{% endif %}" />
        <input type="hidden" name="action" value="{%s string(action.ActVote) %}" />
        <input type="hidden" name="typ" value="mode" />
        <input type="hidden" name="value" value="{%s modeString %}" />
        <button type="submit" class="value button-link">{%s modeString %}</button>
      </form>
      <div>Mode</div>
    </div>
  </div>
{% endfunc %}
