{% import (
  "fmt"

  "github.com/google/uuid"

  "github.com/kyleu/rituals/app"
  "github.com/kyleu/rituals/app/comment"
  "github.com/kyleu/rituals/app/controller/cutil"
  "github.com/kyleu/rituals/app/enum"
  "github.com/kyleu/rituals/app/estimate"
  "github.com/kyleu/rituals/app/member"
  "github.com/kyleu/rituals/app/sprint"
  "github.com/kyleu/rituals/app/team"
  "github.com/kyleu/rituals/app/util"
  "github.com/kyleu/rituals/views/components"
  "github.com/kyleu/rituals/views/components/edit"
  "github.com/kyleu/rituals/views/components/view"
  "github.com/kyleu/rituals/views/layout"
  "github.com/kyleu/rituals/views/vworkspace/vwutil"
) %}

{% code type EstimateList struct {
  layout.Basic
  Estimates estimate.Estimates
  Sprints sprint.Sprints
  Teams team.Teams
} %}

{% func (p *EstimateList) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <h3>{%= components.SVGRefIcon(util.KeyEstimate, ps) %}{%s util.StringPlural(len(p.Estimates), "Estimate") %}</h3>
    <em>{%s util.KeyEstimateDesc %}</em>
    <table class="mt expanded">
      <tbody>
        {%- for _, e := range p.Estimates -%}
        <tr>
          <td><a href="{%s e.PublicWebPath() %}">{%= components.SVGRef(e.IconSafe(), 16, 16, "icon", ps) %}{%s e.TitleString() %}</a></td>
          <td class="text-align-right">{%= view.Timestamp(&e.Created) %}</td>
        </tr>
        {%- endfor -%}
      </tbody>
    </table>
  </div>
  <div class="card">
    <h3>{%= components.SVGRefIcon(util.KeyEstimate, ps) %}New Estimate</h3>
    {%= EstimateForm(&estimate.Estimate{}, p.Teams, p.Sprints, as, ps) %}
  </div>
{% endfunc %}

{% func EstimateForm(e *estimate.Estimate, teams team.Teams, sprints sprint.Sprints, as *app.State, ps *cutil.PageState) %}
  <form action="" method="post">
    <table class="mt expanded">
      <tbody>
        {%= edit.StringTable("title", "", "Estimate Title", e.Title, 5, "The name of your estimate") %}
        {%= edit.StringTable("name", "", "Your Name", ps.Username(), 5, "Whatever you prefer to be called") %}
        {%= edit.SelectTable(util.KeyTeam, "", "Team", fmt.Sprint(e.TeamID), teams.IDStrings(true), teams.TitleStrings("- no team -"), 5, "The team associated to this estimate") %}
        {%= edit.SelectTable(util.KeySprint, "", "Sprint", fmt.Sprint(e.SprintID), sprints.IDStrings(true), sprints.TitleStrings("- no sprint -"), 5, "The sprint associated to this estimate") %}
        <tr><td colspan="2"><button type="submit">Add Estimate</button></td></tr>
      </tbody>
    </table>
  </form>
{% endfunc %}

{% func EstimateListTable(estimates estimate.Estimates, teamID *uuid.UUID, sprintID *uuid.UUID, showComments bool, comments comment.Comments, members member.Members, ps *cutil.PageState) %}
  <div class="card">
    <div class="right">{%= vwutil.EditWorkspaceForm(util.KeyEstimate, teamID, sprintID, "New Estimate") %}</div>
    <h3 title="{%s util.KeyEstimateDesc %}">{%= components.SVGRefIcon(util.KeyEstimate, ps) %}Estimates</h3>
    <table id="estimate-list" class="mt expanded">
      <tbody>
        {%- if len(estimates) == 0 -%}
          <tr class="empty"><td><em>no estimates</em></td></tr>
        {%- else -%}
          {%- for _, x := range estimates -%}
          <tr id="estimate-list-{%s x.ID.String() %}">
            <td>
              {%- if showComments -%}
              <div class="right">
                {%= vwutil.Comments(enum.ModelServiceEstimate, x.ID, x.TitleString(), comments, members, "member-icon", ps) %}
              </div>
              {%- endif -%}
              <a href="{%s x.PublicWebPath() %}"><div>
                <span>{%= components.SVGRef(x.IconSafe(), 16, 16, "icon", ps) %}</span><span>{%s x.TitleString() %}</span>
              </div></a>
            </td>
          </tr>
          {%- endfor -%}
        {%- endif -%}
      </tbody>
    </table>
  </div>
{% endfunc %}
