<%: func PermissionTable(members permission.Permissions, params *query.Params, ctx *web.RequestContext, buffer *bytes.Buffer) %>

<table class="uk-table uk-table-divider uk-text-left">
  <thead>
    <tr>
      <% components.TableHeader(util.KeyPermission, "k", "K", params, ctx, buffer) %>
      <% components.TableHeader(util.KeyPermission, "v", "V", params, ctx, buffer) %>
      <% components.TableHeader(util.KeyPermission, "access", "Access", params, ctx, buffer) %>
      <% components.TableHeader(util.KeyPermission, util.KeyCreated, util.Title(util.KeyCreated), params, ctx, buffer) %>
    </tr>
  </thead>
  <tbody>
  <% for _, model := range members { %>
    <tr>
      <td class="uk-table-shrink uk-text-nowrap"><%= model.K %></td>
      <td><%= model.V %></td>
      <td class="uk-table-shrink uk-text-nowrap"><%= model.Access.String() %></td>
      <td class="uk-table-shrink uk-text-nowrap"><% components.DateTime(&model.Created, buffer) %></td>
    </tr>
  <% } %>
  </tbody>
</table>
