<%: func PermissionTable(members permission.Permissions, params *npncore.Params, ctx *npnweb.RequestContext, buffer *bytes.Buffer) %>
<table class="uk-table uk-table-divider uk-text-left">
  <caption class="hidden"><%= ctx.Title %></caption>
  <thead>
    <tr>
      <% npntemplate.TableHeader(npncore.KeyPermission, "k", "K", params, ctx.Request, buffer) %>
      <% npntemplate.TableHeader(npncore.KeyPermission, "v", "V", params, ctx.Request, buffer) %>
      <% npntemplate.TableHeader(npncore.KeyPermission, "message", "Message", params, ctx.Request, buffer) %>
      <% npntemplate.TableHeader(npncore.KeyPermission, "access", "Access", params, ctx.Request, buffer) %>
      <% npntemplate.TableHeader(npncore.KeyPermission, npncore.KeyCreated, npncore.Title(npncore.KeyCreated), params, ctx.Request, buffer) %>
    </tr>
  </thead>
  <tbody>
  <% for _, model := range members { %>
    <tr>
      <td class="uk-table-shrink uk-text-nowrap"><%= model.K %></td>
      <td><%= model.V %></td>
      <td class="uk-table-shrink uk-text-nowrap"><%= model.Message() %></td>
      <td class="uk-table-shrink uk-text-nowrap"><%= model.Access.String() %></td>
      <td class="uk-table-shrink uk-text-nowrap"><% npntemplate.DateTime(&model.Created, buffer) %></td>
    </tr>
  <% } %>
  </tbody>
</table>
