{% import (
  "strings"

  "github.com/kyleu/rituals/app"
  "github.com/kyleu/rituals/app/controller/cutil"
  "github.com/kyleu/rituals/app/estimate/story"
  "github.com/kyleu/rituals/app/sprint"
  "github.com/kyleu/rituals/app/team"
  "github.com/kyleu/rituals/app/util"
  "github.com/kyleu/rituals/app/workspace"
  "github.com/kyleu/rituals/views/components"
  "github.com/kyleu/rituals/views/layout"
) %}

{% code type EstimateWorkspace struct {
  layout.Basic
  Estimate *workspace.FullEstimate
  Teams team.Teams
  Sprints sprint.Sprints
} %}

{% func (p *EstimateWorkspace) Body(as *app.State, ps *cutil.PageState) %}
  {%- code w := p.Estimate -%}
  {%- code t := w.Estimate -%}
  {%- code
    self, others, err := w.Members.Split(ps.Profile.ID)
    if err != nil {
      panic(err)
    }
  -%}
  <div style="display: flex; flex-wrap: wrap;">
    <div id="panel-summary">
      <div class="card">
        <div class="right"><a href="#modal-estimate"><button type="button">JSON</button></a></div>
        <a href="#modal-estimate-config"><h3>{%= components.SVGRefIcon(`estimate`, ps) %}{%s t.TitleString() %}</h3></a>
        {%= Banner(w.Team, w.Sprint, "estimate") %}
        {%= EstimateWorkspaceModal(w, p.Teams, p.Sprints) %}
      </div>
    </div>
    <div id="panel-detail">
      <div class="card">
        <h3>{%= components.SVGRefIcon(`book-reader`, ps) %}Stories</h3>
        <table class="mt expanded">
          <tbody>
            {%- for _, s := range w.Stories -%}
            <tr>
              <td><a href="#modal-story-{%s s.ID.String() %}">{%s s.TitleString() %}</a></td>
              <td class="shrink">0</td>
            </tr>
            {%- endfor -%}
          </tbody>
        </table>
        {%- for _, s := range w.Stories -%}
        {%= StoryWorkspaceModal(w, s, ps) %}
        {%- endfor -%}
      </div>
    </div>
    <div id="panel-self">
      <div class="card">
        <a href="#modal-self"><h3>{%= components.SVGRefIcon(`profile`, ps) %}{%s self.Name %}</h3></a>
        <em>{%s string(self.Role) %}</em>
      </div>
      {%= SelfModal(self.Name, self.Picture, self.Role, "/estimate/" + w.Estimate.Slug) %}
    </div>
    <div id="panel-members">
      <div class="card">
        <a href="#modal-invite"><h3>{%= components.SVGRefIcon(`users`, ps) %}Members</h3></a>
        <table class="mt expanded">
          <tbody>
            {%- for _, m := range others -%}
            {%= MemberRow(m.UserID, m.Name, m.Picture, m.Role, m.Updated, ps) %}
            {%- endfor -%}
          </tbody>
        </table>
        {%- for _, m := range others -%}
        {%= MemberModal(m.UserID, m.Name, m.Picture, m.Role, m.Updated, "/estimate/" + w.Estimate.Slug) %}
        {%- endfor -%}
      </div>
    </div>
    {%= InviteModal() %}
  </div>
  {%= components.JSONModal("estimate", "Estimate JSON", w, 1) %}
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      const estimate = {%s= util.ToJSONCompact(t) %};
      const members = {%s= util.ToJSONCompact(w.Members) %};
      const permissions = {%s= util.ToJSONCompact(w.Permissions) %};
      rituals.initWorkspace("estimate", estimate, members, permissions);
    });
  </script>
{% endfunc %}

{% func StoryWorkspaceModal(w *workspace.FullEstimate, s *story.Story, ps *cutil.PageState) %}
  <div id="modal-story-{%s s.ID.String() %}" class="modal" style="display: none;">
    <a class="backdrop" href="#"></a>
    <div class="modal-content">
      <div class="modal-header">
        <a href="#" class="modal-close">×</a>
        <h2>Story</h2>
      </div>
      <div class="modal-body">
        <h2 class="billboard">{%s s.TitleString() %}</h2>
        <div>Your story is available to edit and ready to start voting</div>
        <hr />
        <div>Members</div>
        <div class="story-members">
          {%- for _, m := range w.Members -%}
          {%- code v := w.Votes.Get(s.ID, m.UserID) -%}
          <div class="member">
            {%- if v == nil -%}
            <div>-</div>
            {%- else -%}
            <div>{%s v.Choice %}</div>
            {%- endif -%}
            {%s m.Name %}
          </div>
          {%- endfor -%}
        </div>
        <hr />
        <div>Choices</div>
        <div class="story-votes">
          {%- code selfVote := w.Votes.Get(s.ID, ps.Profile.ID) -%}
          {%- for _, c := range w.Estimate.Choices -%}
          <div class="vote">
            <label>
              {%- if selfVote != nil && selfVote.Choice == c -%}
              <input type="radio" name="vote" value="{%s c %}" checked="checked" />
              {%- else -%}
              <input type="radio" name="vote" value="{%s c %}" />
              {%- endif -%}
              <div class="vote-choice">{%s c %}</div>
            </label>
          </div>
          {%- endfor -%}
        </div>
        <hr />
        <div>Results</div>
      </div>
    </div>
  </div>
{% endfunc %}

{% func EstimateWorkspaceModal(w *workspace.FullEstimate, teams team.Teams, sprints sprint.Sprints) %}
  <div id="modal-estimate-config" class="modal" style="display: none;">
    <a class="backdrop" href="#"></a>
    <div class="modal-content">
      <div class="modal-header">
        <a href="#" class="modal-close">×</a>
        <h2>Estimate</h2>
      </div>
      <div class="modal-body">
        <form action="/team/{%s w.Estimate.Slug %}" method="post" class="expanded">
          <input type="hidden" name="action" value="edit" />
          <em>Name</em><br />
          {%= components.FormInput("title", "input-title", w.Estimate.TitleString(), "The name of your estimate") %}
          <hr />
          <em>Choices</em><br />
          {%= components.FormInput("choices", "input-choices", strings.Join(w.Estimate.Choices, ", "), "The available options for stories in this estimate") %}
          <hr />
          <em>Team</em><br />
          {%= components.FormSelect("team", "input-team", util.UUIDString(w.Estimate.TeamID), teams.IDStrings(true), teams.TitleStrings("- no team -"), 5) %}
          <hr />
          <em>Sprint</em><br />
          {%= components.FormSelect("sprint", "input-sprint", util.UUIDString(w.Estimate.SprintID), sprints.IDStrings(true), sprints.TitleStrings("- no sprint -"), 5) %}
          <hr />
          <em>Permissions</em>
          <div><label><input type="checkbox" name="perm-team" value="true"> Must be a member of this estimate's team</label></div>
          <div><label><input type="checkbox" name="perm-sprint" value="true"> Must be a member of this estimate's sprint</label></div>
          <hr />
          <div class="right"><button type="submit">Save</button></div>
        </form>
      </div>
    </div>
  </div>
{% endfunc %}
