{% import (
  "github.com/kyleu/rituals/app"
  "github.com/kyleu/rituals/app/controller/cutil"
  "github.com/kyleu/rituals/app/util"
  "github.com/kyleu/rituals/app/workspace"
  "github.com/kyleu/rituals/views/components"
  "github.com/kyleu/rituals/views/layout"
) %}

{% code type EstimateWorkspace struct {
  layout.Basic
  Estimate *workspace.FullEstimate
} %}

{% func (p *EstimateWorkspace) Body(as *app.State, ps *cutil.PageState) %}
  {%- code w := p.Estimate -%}
  {%- code t := w.Estimate -%}
  <div style="display: flex; flex-wrap: wrap;">
    <div id="panel-summary" class="card">
      <div class="right"><a href="#modal-estimate"><button type="button">JSON</button></a></div>
      <h3>{%= components.SVGRefIcon(`estimate`, ps) %}{%s t.TitleString() %}</h3>
    </div>
    <div id="panel-detail" class="card">
      <h3>{%= components.SVGRefIcon(`book-reader`, ps) %}Stories</h3>
    </div>
    <div id="panel-self" class="card">
      <h3>{%= components.SVGRefIcon(`profile`, ps) %}Self</h3>
    </div>
    <div id="panel-members" class="card">
      <h3>{%= components.SVGRefIcon(`users`, ps) %}Members</h3>
    </div>
  </div>
  {%= components.JSONModal("estimate", "Estimate JSON", w, 1) %}
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      const estimate = {%s= util.ToJSONCompact(t) %};
      const members = {%s= util.ToJSONCompact(w.Members) %};
      const permissions = {%s= util.ToJSONCompact(w.Permissions) %};
      rituals.initWorkspace("estimate", estimate, members, permissions);
    });
  </script>
{% endfunc %}

