{% import (
  "time"

  "github.com/google/uuid"

  "github.com/kyleu/rituals/app/controller/cutil"
  "github.com/kyleu/rituals/app/enum"
  "github.com/kyleu/rituals/views/components"
) %}

{% func MemberRow(userID uuid.UUID, name string, picture string, role enum.MemberStatus, updated *time.Time, ps *cutil.PageState) %}
  <tr>
    <td>
      <a href="#modal-member-{%s userID.String() %}">
        <div class="left" style="padding-right: var(--padding-small);">{%= components.SVGRef(`profile`, 18, 18, ``, ps) %}</div>
        {%s name %}
      </a>
    </td>
    <td class="shrink">{%s string(role) %}</td>
  </tr>
{% endfunc %}

{% func InviteModal() %}
  <div id="modal-invite" class="modal" style="display: none;">
    <a class="backdrop" href="#"></a>
    <div class="modal-content">
      <div class="modal-header">
        <a href="#" class="modal-close">×</a>
        <h2>Invite Member</h2>
      </div>
      <div class="modal-body">
        For now, just share the url of this page from your address bar
      </div>
    </div>
  </div>
{% endfunc %}

{% func MemberModal(userID uuid.UUID, name string, picture string, role enum.MemberStatus, updated *time.Time, url string) %}
  <div id="modal-member-{%s userID.String() %}" class="modal" style="display: none;">
    <a class="backdrop" href="#"></a>
    <div class="modal-content">
      <div class="modal-header">
        <a href="#" class="modal-close">×</a>
        <h2>{%s name %}</h2>
      </div>
      <div class="modal-body">
        <form action="{%s url %}" method="post" class="expanded">
          <input type="hidden" name="userID" value="{%s userID.String() %}" />
          <em>Role</em><br />
          {%= components.FormSelect("role", "input-role", string(role), []string{"owner", "member", "observer"}, []string{"Owner", "Member", "Observer"}, 5) %}
          <hr />
          <div class="right"><button type="submit" name="action" value="member-edit">Save</button></div>
          <button type="submit" name="action" value="member-leave" onclick="return confirm('Are you sure you wish to remove this user?');">Leave</button>
        </form>
      </div>
    </div>
  </div>
{% endfunc %}
