{% import (
  "github.com/kyleu/rituals/app"
  "github.com/kyleu/rituals/app/controller/cutil"
  "github.com/kyleu/rituals/app/util"
  "github.com/kyleu/rituals/app/workspace"
  "github.com/kyleu/rituals/views/components"
  "github.com/kyleu/rituals/views/layout"
) %}

{% code type RetroWorkspace struct {
  layout.Basic
  Retro *workspace.FullRetro
} %}

{% func (p *RetroWorkspace) Body(as *app.State, ps *cutil.PageState) %}
  {%- code w := p.Retro -%}
  {%- code t := w.Retro -%}
  {%- code
    self, others, err := w.Members.Split(ps.Profile.ID)
    if err != nil {
      panic(err)
    }
  -%}
  <div style="display: flex; flex-wrap: wrap;">
    <div id="panel-summary">
      <div class="card">
        <div class="right"><a href="#modal-retro"><button type="button">JSON</button></a></div>
        <a href="#modal-retro-config"><h3>{%= components.SVGRefIcon(`retro`, ps) %}{%s t.TitleString() %}</h3></a>
        {%= Banner(w.Team, w.Sprint, "retrospective") %}
        {%= RetroWorkspaceModal(w) %}
      </div>
    </div>
    <div id="panel-detail">
      <div class="card">
        <h3>{%= components.SVGRefIcon(`comment`, ps) %}Feedback</h3>
        <table class="mt expanded">
          <tbody>
            {%- for _, f := range w.Feedbacks -%}
            <tr>
              <td><a href="#modal-feedback-{%s f.ID.String() %}">{%s f.TitleString() %}</a></td>
              <td class="shrink">0</td>
            </tr>
            {%- endfor -%}
          </tbody>
        </table>
        {%- for _, f := range w.Feedbacks -%}
        <div id="modal-feedback-{%s f.ID.String() %}" class="modal" style="display: none;">
          <a class="backdrop" href="#"></a>
          <div class="modal-content">
            <div class="modal-header">
              <a href="#" class="modal-close">×</a>
              <h2>{%s f.TitleString() %}</h2>
            </div>
            <div class="modal-body">
              TODO
            </div>
          </div>
        </div>
        {%- endfor -%}
      </div>
    </div>
    <div id="panel-self">
      <div class="card">
        <a href="#modal-self"><h3>{%= components.SVGRefIcon(`profile`, ps) %}{%s self.Name %}</h3></a>
        <em>{%s string(self.Role) %}</em>
      </div>
      {%= SelfModal(self.Name, self.Picture, self.Role) %}
    </div>
    <div id="panel-members">
      <div class="card">
        <a href="#modal-invite"><h3>{%= components.SVGRefIcon(`users`, ps) %}Members</h3></a>
        <table class="mt expanded">
          <tbody>
            {%- for _, m := range others -%}
            {%= MemberRow(m.UserID, m.Name, m.Picture, m.Role, m.Updated) %}
            {%- endfor -%}
          </tbody>
        </table>
        {%- for _, m := range others -%}
        {%= MemberModal(m.UserID, m.Name, m.Picture, m.Role, m.Updated) %}
        {%- endfor -%}
      </div>
      {%= InviteModal() %}
    </div>
  </div>
  {%= components.JSONModal("retro", "Retro JSON", w, 1) %}
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      const retro = {%s= util.ToJSONCompact(t) %};
      const members = {%s= util.ToJSONCompact(w.Members) %};
      const permissions = {%s= util.ToJSONCompact(w.Permissions) %};
      rituals.initWorkspace("retro", retro, members, permissions);
    });
  </script>
{% endfunc %}

{% func RetroWorkspaceModal(w *workspace.FullRetro) %}
  <div id="modal-retro-config" class="modal" style="display: none;">
    <a class="backdrop" href="#"></a>
    <div class="modal-content">
      <div class="modal-header">
        <a href="#" class="modal-close">×</a>
        <h2>{%s w.Retro.TitleString() %}</h2>
      </div>
      <div class="modal-body">
        TODO
      </div>
    </div>
  </div>
{% endfunc %}
