{% import (
  "fmt"

  "github.com/kyleu/rituals/app"
  "github.com/kyleu/rituals/app/controller/cutil"
  "github.com/kyleu/rituals/app/retro"
  "github.com/kyleu/rituals/app/sprint"
  "github.com/kyleu/rituals/app/team"
  "github.com/kyleu/rituals/app/util"
  "github.com/kyleu/rituals/views/components"
  "github.com/kyleu/rituals/views/layout"
) %}

{% code type RetroList struct {
  layout.Basic
  Retros retro.Retros
  Sprints sprint.Sprints
  Teams team.Teams
} %}

{% func (p *RetroList) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <h3>{%= components.SVGRefIcon(`retro`, ps) %}{%d len(p.Retros) %} {%s util.StringPluralMaybe("Retro", len(p.Retros)) %}</h3>
    <em>Discover improvements and praise for your work</em>
    <table class="mt expanded">
      <tbody>
        {%- for _, r := range p.Retros -%}
        <tr>
          <td><a href="/retro/{%s r.Slug %}">{%s r.TitleString() %}</a></td>
          <td style="text-align: right;">{%= components.DisplayTimestamp(&r.Created) %}</td>
        </tr>
        {%- endfor -%}
      </tbody>
    </table>
  </div>
  <div class="card">
    <h3>{%= components.SVGRefIcon(`retro`, ps) %}New Retro</h3>
    {%= RetroForm(&retro.Retro{}, p.Teams, p.Sprints, as, ps) %}
  </div>
{% endfunc %}

{% func RetroForm(s *retro.Retro, teams team.Teams, sprints sprint.Sprints, as *app.State, ps *cutil.PageState) %}
  <form action="" method="post">
    <table class="mt expanded">
      <tbody>
        {%= components.TableInput("title", "Team Title", s.Title, 5, "The name of your retro") %}
        {%= components.TableInput("name", "Your Name", ps.Profile.Name, 5, "Whatever you prefer to be called") %}
        {%= components.TableSelect("team", "Team", fmt.Sprint(s.TeamID), teams.IDStrings(true), teams.TitleStrings("- no team -"), 5, "The team associated to this retro") %}
        {%= components.TableSelect("sprint", "Sprint", fmt.Sprint(s.SprintID), sprints.IDStrings(true), sprints.TitleStrings("- no sprint -"), 5, "The sprint associated to this retro") %}
        <tr><td colspan="2"><button type="submit">Add Retro</button></td></tr>
      </tbody>
    </table>
  </form>
{% endfunc %}
