{% import (
  "fmt"

  "github.com/kyleu/rituals/app"
  "github.com/kyleu/rituals/app/controller/cutil"
  "github.com/kyleu/rituals/app/sprint"
  "github.com/kyleu/rituals/app/standup"
  "github.com/kyleu/rituals/app/team"
  "github.com/kyleu/rituals/app/util"
  "github.com/kyleu/rituals/views/components"
  "github.com/kyleu/rituals/views/layout"
) %}

{% code type StandupList struct {
  layout.Basic
  Sprints sprint.Sprints
  Standups standup.Standups
  Teams team.Teams
} %}

{% func (p *StandupList) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <h3>{%= components.SVGRefIcon(`standup`, ps) %}{%d len(p.Standups) %} {%s util.StringPluralMaybe("Standup", len(p.Standups)) %}</h3>
    <em>Share your progress with your team</em>
    <table class="mt expanded">
      <tbody>
        {%- for _, u := range p.Standups -%}
        <tr>
          <td><a href="/standup/{%s u.Slug %}">{%s u.TitleString() %}</a></td>
          <td style="text-align: right;">{%= components.DisplayTimestamp(&u.Created) %}</td>
        </tr>
        {%- endfor -%}
      </tbody>
    </table>
  </div>
  <div class="card">
    <h3>{%= components.SVGRefIcon(`standup`, ps) %}New Standup</h3>
    {%= StandupForm(&standup.Standup{}, p.Teams, p.Sprints, as, ps) %}
  </div>
{% endfunc %}

{% func StandupForm(s *standup.Standup, teams team.Teams, sprints sprint.Sprints, as *app.State, ps *cutil.PageState) %}
  <form action="" method="post">
    <table class="mt expanded">
      <tbody>
        {%= components.TableInput("title", "Team Title", s.Title, 5, "The name of your standup") %}
        {%= components.TableInput("name", "Your Name", ps.Profile.Name, 5, "Whatever you prefer to be called") %}
        {%= components.TableSelect("team", "Team", fmt.Sprint(s.TeamID), teams.IDStrings(true), teams.TitleStrings("- no team -"), 5, "The team associated to this standup") %}
        {%= components.TableSelect("sprint", "Sprint", fmt.Sprint(s.SprintID), sprints.IDStrings(true), sprints.TitleStrings("- no sprint -"), 5, "The sprint associated to this standup") %}
        <tr><td colspan="2"><button type="submit">Add Standup</button></td></tr>
      </tbody>
    </table>
  </form>
{% endfunc %}
