{% import (
  "github.com/kyleu/rituals/app"
  "github.com/kyleu/rituals/app/controller/cutil"
  "github.com/kyleu/rituals/app/util"
  "github.com/kyleu/rituals/app/workspace"
  "github.com/kyleu/rituals/views/components"
  "github.com/kyleu/rituals/views/layout"
) %}

{% code type StandupWorkspace struct {
  layout.Basic
  Standup *workspace.FullStandup
} %}

{% func (p *StandupWorkspace) Body(as *app.State, ps *cutil.PageState) %}
  {%- code w := p.Standup -%}
  {%- code t := w.Standup -%}
  <div style="display: flex; flex-wrap: wrap;">
    <div id="panel-summary" class="card">
      <div class="right"><a href="#modal-standup"><button type="button">JSON</button></a></div>
      <h3>{%= components.SVGRefIcon(`standup`, ps) %}{%s t.TitleString() %}</h3>
    </div>
    <div id="panel-detail" class="card">
      <h3>{%= components.SVGRefIcon(`file-alt`, ps) %}Reports</h3>
    </div>
    <div id="panel-self" class="card">
      <h3>{%= components.SVGRefIcon(`profile`, ps) %}Self</h3>
    </div>
    <div id="panel-members" class="card">
      <h3>{%= components.SVGRefIcon(`users`, ps) %}Members</h3>
    </div>
  </div>
  {%= components.JSONModal("standup", "Standup JSON", w, 1) %}
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      const standup = {%s= util.ToJSONCompact(t) %};
      const members = {%s= util.ToJSONCompact(w.Members) %};
      const permissions = {%s= util.ToJSONCompact(w.Permissions) %};
      rituals.initWorkspace("standup", standup, members, permissions);
    });
  </script>
{% endfunc %}

