{% import (
  "github.com/kyleu/rituals/app"
  "github.com/kyleu/rituals/app/controller/cutil"
  "github.com/kyleu/rituals/app/util"
  "github.com/kyleu/rituals/app/workspace"
  "github.com/kyleu/rituals/views/components"
  "github.com/kyleu/rituals/views/layout"
) %}

{% code type TeamWorkspace struct {
  layout.Basic
  Team *workspace.FullTeam
} %}

{% func (p *TeamWorkspace) Body(as *app.State, ps *cutil.PageState) %}
  {%- code w := p.Team -%}
  {%- code t := w.Team -%}
  {%- code
    self, others, err := w.Members.Split(ps.Profile.ID)
    if err != nil {
      panic(err)
    }
  -%}
  <div style="display: flex; flex-wrap: wrap;">
    <div id="panel-summary">
      <div class="card">
        <div class="right"><a href="#modal-team"><button type="button">JSON</button></a></div>
        <a href="#modal-team-config"><h3>{%= components.SVGRefIcon(`team`, ps) %}{%s t.TitleString() %}</h3></a>
        {%= Banner(nil, nil, "team") %}
        {%= TeamWorkspaceModal(w) %}
      </div>
    </div>
    <div id="panel-detail">
      <div class="card">
        <div class="right">{%= TeamWorkspaceForm("sprint", t.ID.String(), "New Sprint") %}</div>
        <h3>{%= components.SVGRefIcon(`sprint`, ps) %}Sprints</h3>
        {%- if len(w.Sprints) > 0 -%}
        <table class="mt expanded">
          <tbody>
            {%- for _, x := range w.Sprints -%}
            <tr>
              <td><a href="/sprint/{%s x.Slug %}">{%s x.TitleString() %}</a></td>
            </tr>
            {%- endfor -%}
          </tbody>
        </table>
        {%- endif -%}
      </div>
      <div class="card">
        <div class="right">{%= TeamWorkspaceForm("estimate", t.ID.String(), "New Estimate") %}</div>
        <h3>{%= components.SVGRefIcon(`estimate`, ps) %}Estimates</h3>
        {%- if len(w.Estimates) > 0 -%}
        <table class="mt expanded">
          <tbody>
            {%- for _, x := range w.Estimates -%}
            <tr>
              <td><a href="/estimate/{%s x.Slug %}">{%s x.TitleString() %}</a></td>
            </tr>
            {%- endfor -%}
          </tbody>
        </table>
        {%- endif -%}
      </div>
      <div class="card">
        <div class="right">{%= TeamWorkspaceForm("standup", t.ID.String(), "New Standup") %}</div>
        <h3>{%= components.SVGRefIcon(`standup`, ps) %}Standups</h3>
        {%- if len(w.Standups) > 0 -%}
        <table class="mt expanded">
          <tbody>
            {%- for _, x := range w.Standups -%}
            <tr>
              <td><a href="/standup/{%s x.Slug %}">{%s x.TitleString() %}</a></td>
            </tr>
            {%- endfor -%}
          </tbody>
        </table>
        {%- endif -%}
      </div>
      <div class="card">
        <div class="right">{%= TeamWorkspaceForm("retro", t.ID.String(), "New Retro") %}</div>
        <h3>{%= components.SVGRefIcon(`retro`, ps) %}Retros</h3>
        {%- if len(w.Retros) > 0 -%}
        <table class="mt expanded">
          <tbody>
            {%- for _, x := range w.Retros -%}
            <tr>
              <td><a href="/retro/{%s x.Slug %}">{%s x.TitleString() %}</a></td>
            </tr>
            {%- endfor -%}
          </tbody>
        </table>
        {%- endif -%}
      </div>
    </div>
    <div id="panel-self">
      <div class="card">
        <a href="#modal-self"><h3>{%= components.SVGRefIcon(`profile`, ps) %}{%s self.Name %}</h3></a>
        <em>{%s string(self.Role) %}</em>
      </div>
      {%= SelfModal(self.Name, self.Picture, self.Role) %}
    </div>
    <div id="panel-members">
      <div class="card">
        <a href="#modal-invite"><h3>{%= components.SVGRefIcon(`users`, ps) %}Members</h3></a>
        <table class="mt expanded">
          <tbody>
            {%- for _, m := range others -%}
            {%= MemberRow(m.UserID, m.Name, m.Picture, m.Role, m.Updated) %}
            {%- endfor -%}
          </tbody>
        </table>
        {%- for _, m := range others -%}
        {%= MemberModal(m.UserID, m.Name, m.Picture, m.Role, m.Updated) %}
        {%- endfor -%}
      </div>
      {%= InviteModal() %}
    </div>
  </div>
  {%= components.JSONModal("team", "Team JSON", w, 1) %}
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      const team = {%s= util.ToJSONCompact(t) %};
      const members = {%s= util.ToJSONCompact(w.Members) %};
      const permissions = {%s= util.ToJSONCompact(w.Permissions) %};
      rituals.initWorkspace("team", team, members, permissions);
    });
  </script>
{% endfunc %}

{% func TeamWorkspaceForm(svc string, teamID string, placeholder string) %}{% stripspace %}
  <form action="/{%s svc %}" method="post">
    <input type="hidden" name="team" value="{%s teamID %}" />
    <input type="text" name="title" class="combined" placeholder="{%s placeholder %}" />
    <button type="submit" class="combined">+</button>
  </form>
{% endstripspace %}{% endfunc %}

{% func TeamWorkspaceModal(w *workspace.FullTeam) %}
  <div id="modal-team-config" class="modal" style="display: none;">
    <a class="backdrop" href="#"></a>
    <div class="modal-content">
      <div class="modal-header">
        <a href="#" class="modal-close">×</a>
        <h2>{%s w.Team.TitleString() %}</h2>
      </div>
      <div class="modal-body">
        TODO
      </div>
    </div>
  </div>
{% endfunc %}
