<!-- Content managed by Project Forge, see [projectforge.md] for details. -->
{% import (
  "github.com/kyleu/rituals/app"
  "github.com/kyleu/rituals/app/controller/cutil"
  "github.com/kyleu/rituals/app/estimate"
  "github.com/kyleu/rituals/app/lib/filter"
  "github.com/kyleu/rituals/app/retro"
  "github.com/kyleu/rituals/app/sprint"
  "github.com/kyleu/rituals/app/sprint/shistory"
  "github.com/kyleu/rituals/app/sprint/smember"
  "github.com/kyleu/rituals/app/sprint/spermission"
  "github.com/kyleu/rituals/app/standup"
  "github.com/kyleu/rituals/app/team"
  "github.com/kyleu/rituals/app/util"
  "github.com/kyleu/rituals/views/components"
  "github.com/kyleu/rituals/views/layout"
  "github.com/kyleu/rituals/views/vestimate"
  "github.com/kyleu/rituals/views/vretro"
  "github.com/kyleu/rituals/views/vsprint/vshistory"
  "github.com/kyleu/rituals/views/vsprint/vsmember"
  "github.com/kyleu/rituals/views/vsprint/vspermission"
  "github.com/kyleu/rituals/views/vstandup"
) %}

{% code type Detail struct {
  layout.Basic
  Model *sprint.Sprint
  TeamByTeamID *team.Team
  Params filter.ParamSet
  RelEstimatesBySprintID estimate.Estimates
  RelRetrosBySprintID retro.Retros
  RelSprintHistoriesBySprintID shistory.SprintHistories
  RelSprintMembersBySprintID smember.SprintMembers
  RelSprintPermissionsBySprintID spermission.SprintPermissions
  RelStandupsBySprintID standup.Standups
} %}

{% func (p *Detail) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <div class="right">
      <a href="#modal-sprint"><button type="button">JSON</button></a>
      <a href="{%s p.Model.WebPath() %}/edit"><button>{%= components.SVGRef("edit", 15, 15, "icon", ps) %}Edit</button></a>
    </div>
    <h3>{%= components.SVGRefIcon(`sprint`, ps) %} {%s p.Model.TitleString() %}</h3>
    <div><a href="/admin/db/sprint"><em>Sprint</em></a></div>
    <table class="mt">
      <tbody>
        <tr>
          <th class="shrink" title="UUID in format (00000000-0000-0000-0000-000000000000)">ID</th>
          <td>{%= components.DisplayUUID(&p.Model.ID) %}</td>
        </tr>
        <tr>
          <th class="shrink" title="String text">Slug</th>
          <td>{%s p.Model.Slug %}</td>
        </tr>
        <tr>
          <th class="shrink" title="String text">Title</th>
          <td><strong>{%s p.Model.Title %}</strong></td>
        </tr>
        <tr>
          <th class="shrink" title="String text">Icon</th>
          <td>{%s p.Model.Icon %}</td>
        </tr>
        <tr>
          <th class="shrink" title="Available options: [new, active, complete]">Status</th>
          <td>{%v p.Model.Status %}</td>
        </tr>
        <tr>
          <th class="shrink" title="UUID in format (00000000-0000-0000-0000-000000000000) (optional)">Team ID</th>
          <td class="nowrap">
            {%= components.DisplayUUID(p.Model.TeamID) %}{% if p.TeamByTeamID != nil %} ({%s p.TeamByTeamID.TitleString() %}){% endif %}
            {% if p.Model.TeamID != nil %}<a title="Team" href="{%s `/admin/db/team`+`/`+p.Model.TeamID.String() %}">{%= components.SVGRef("team", 18, 18, "", ps) %}</a>{% endif %}
          </td>
        </tr>
        <tr>
          <th class="shrink" title="Calendar date (optional)">Start Date</th>
          <td>{%= components.DisplayTimestampDay(p.Model.StartDate) %}</td>
        </tr>
        <tr>
          <th class="shrink" title="Calendar date (optional)">End Date</th>
          <td>{%= components.DisplayTimestampDay(p.Model.EndDate) %}</td>
        </tr>
        <tr>
          <th class="shrink" title="Date and time, in almost any format">Created</th>
          <td>{%= components.DisplayTimestamp(&p.Model.Created) %}</td>
        </tr>
        <tr>
          <th class="shrink" title="Date and time, in almost any format (optional)">Updated</th>
          <td>{%= components.DisplayTimestamp(p.Model.Updated) %}</td>
        </tr>
      </tbody>
    </table>
  </div>
  {%- comment %}$PF_SECTION_START(extra)${% endcomment -%}
  {%- comment %}$PF_SECTION_END(extra)${% endcomment -%}
  <div class="card">
    <h3 class="mb">Relations</h3>
    <ul class="accordion">
      <li>
        <input id="accordion-EstimatesBySprintID" type="checkbox" hidden />
        <label for="accordion-EstimatesBySprintID">
          {%= components.ExpandCollapse(3, ps) %}
          {%= components.SVGRefIcon(`estimate`, ps) %}
          {%s util.StringPlural(len(p.RelEstimatesBySprintID), "Estimate") %} by [EstimatesBySprintID]%!!(MISSING)(EXTRA string=sprint_id)
        </label>
        <div class="bd">
          {%- if len(p.RelEstimatesBySprintID) == 0 -%}
          <em>no related Estimates</em>
          {%- else -%}
          <div class="overflow clear">
            {%= vestimate.Table(p.RelEstimatesBySprintID, nil, nil, p.Params, as, ps) %}
          </div>
          {%- endif -%}
        </div>
      </li>
      <li>
        <input id="accordion-RetrosBySprintID" type="checkbox" hidden />
        <label for="accordion-RetrosBySprintID">
          {%= components.ExpandCollapse(3, ps) %}
          {%= components.SVGRefIcon(`retro`, ps) %}
          {%s util.StringPlural(len(p.RelRetrosBySprintID), "Retro") %} by [RetrosBySprintID]%!!(MISSING)(EXTRA string=sprint_id)
        </label>
        <div class="bd">
          {%- if len(p.RelRetrosBySprintID) == 0 -%}
          <em>no related Retros</em>
          {%- else -%}
          <div class="overflow clear">
            {%= vretro.Table(p.RelRetrosBySprintID, nil, nil, p.Params, as, ps) %}
          </div>
          {%- endif -%}
        </div>
      </li>
      <li>
        <input id="accordion-SprintHistoriesBySprintID" type="checkbox" hidden />
        <label for="accordion-SprintHistoriesBySprintID">
          {%= components.ExpandCollapse(3, ps) %}
          {%= components.SVGRefIcon(`history`, ps) %}
          {%s util.StringPlural(len(p.RelSprintHistoriesBySprintID), "History") %} by [SprintHistoriesBySprintID]%!!(MISSING)(EXTRA string=sprint_id)
        </label>
        <div class="bd">
          {%- if len(p.RelSprintHistoriesBySprintID) == 0 -%}
          <em>no related Histories</em>
          {%- else -%}
          <div class="overflow clear">
            {%= vshistory.Table(p.RelSprintHistoriesBySprintID, nil, p.Params, as, ps) %}
          </div>
          {%- endif -%}
        </div>
      </li>
      <li>
        <input id="accordion-SprintMembersBySprintID" type="checkbox" hidden />
        <label for="accordion-SprintMembersBySprintID">
          {%= components.ExpandCollapse(3, ps) %}
          {%= components.SVGRefIcon(`users`, ps) %}
          {%s util.StringPlural(len(p.RelSprintMembersBySprintID), "Member") %} by [SprintMembersBySprintID]%!!(MISSING)(EXTRA string=sprint_id)
        </label>
        <div class="bd">
          {%- if len(p.RelSprintMembersBySprintID) == 0 -%}
          <em>no related Members</em>
          {%- else -%}
          <div class="overflow clear">
            {%= vsmember.Table(p.RelSprintMembersBySprintID, nil, nil, p.Params, as, ps) %}
          </div>
          {%- endif -%}
        </div>
      </li>
      <li>
        <input id="accordion-SprintPermissionsBySprintID" type="checkbox" hidden />
        <label for="accordion-SprintPermissionsBySprintID">
          {%= components.ExpandCollapse(3, ps) %}
          {%= components.SVGRefIcon(`permission`, ps) %}
          {%s util.StringPlural(len(p.RelSprintPermissionsBySprintID), "Permission") %} by [SprintPermissionsBySprintID]%!!(MISSING)(EXTRA string=sprint_id)
        </label>
        <div class="bd">
          {%- if len(p.RelSprintPermissionsBySprintID) == 0 -%}
          <em>no related Permissions</em>
          {%- else -%}
          <div class="overflow clear">
            {%= vspermission.Table(p.RelSprintPermissionsBySprintID, nil, p.Params, as, ps) %}
          </div>
          {%- endif -%}
        </div>
      </li>
      <li>
        <input id="accordion-StandupsBySprintID" type="checkbox" hidden />
        <label for="accordion-StandupsBySprintID">
          {%= components.ExpandCollapse(3, ps) %}
          {%= components.SVGRefIcon(`standup`, ps) %}
          {%s util.StringPlural(len(p.RelStandupsBySprintID), "Standup") %} by [StandupsBySprintID]%!!(MISSING)(EXTRA string=sprint_id)
        </label>
        <div class="bd">
          {%- if len(p.RelStandupsBySprintID) == 0 -%}
          <em>no related Standups</em>
          {%- else -%}
          <div class="overflow clear">
            {%= vstandup.Table(p.RelStandupsBySprintID, nil, nil, p.Params, as, ps) %}
          </div>
          {%- endif -%}
        </div>
      </li>
    </ul>
  </div>
  {%= components.JSONModal("sprint", "Sprint JSON", p.Model, 1) %}
{% endfunc %}
