<!-- Content managed by Project Forge, see [projectforge.md] for details. -->
{% import (
  "github.com/kyleu/rituals/app"
  "github.com/kyleu/rituals/app/controller/cutil"
  "github.com/kyleu/rituals/app/lib/filter"
  "github.com/kyleu/rituals/app/sprint"
  "github.com/kyleu/rituals/app/team"
  "github.com/kyleu/rituals/views/components"
) %}

{% func Table(models sprint.Sprints, teamsByTeamID team.Teams, params filter.ParamSet, as *app.State, ps *cutil.PageState) %}
  {%- code prms := params.Get("sprint", nil, ps.Logger).Sanitize("sprint") -%}
  <table class="mt">
    <thead>
      <tr>
        {%= components.TableHeaderSimple("sprint", "id", "ID", "UUID in format (00000000-0000-0000-0000-000000000000)", prms, ps.URI, ps) %}
        {%= components.TableHeaderSimple("sprint", "slug", "Slug", "String text", prms, ps.URI, ps) %}
        {%= components.TableHeaderSimple("sprint", "title", "Title", "String text", prms, ps.URI, ps) %}
        {%= components.TableHeaderSimple("sprint", "icon", "Icon", "String text", prms, ps.URI, ps) %}
        {%= components.TableHeaderSimple("sprint", "status", "Status", "Available options: [new, active, complete]", prms, ps.URI, ps) %}
        {%= components.TableHeaderSimple("sprint", "team_id", "Team ID", "UUID in format (00000000-0000-0000-0000-000000000000) (optional)", prms, ps.URI, ps) %}
        {%= components.TableHeaderSimple("sprint", "start_date", "Start Date", "Calendar date (optional)", prms, ps.URI, ps) %}
        {%= components.TableHeaderSimple("sprint", "end_date", "End Date", "Calendar date (optional)", prms, ps.URI, ps) %}
        {%= components.TableHeaderSimple("sprint", "created", "Created", "Date and time, in almost any format", prms, ps.URI, ps) %}
        {%= components.TableHeaderSimple("sprint", "updated", "Updated", "Date and time, in almost any format (optional)", prms, ps.URI, ps) %}
      </tr>
    </thead>
    <tbody>
      {%- for _, model := range models -%}
      <tr>
        <td><a href="/admin/db/sprint/{%= components.DisplayUUID(&model.ID) %}">{%= components.DisplayUUID(&model.ID) %}</a></td>
        <td>{%s model.Slug %}</td>
        <td><strong>{%s model.Title %}</strong></td>
        <td>{%s model.Icon %}</td>
        <td>{%v model.Status %}</td>
        <td class="nowrap">
          {%= components.DisplayUUID(model.TeamID) %}{% if model.TeamID != nil %}{% if x := teamsByTeamID.Get(*model.TeamID); x != nil %} ({%s x.TitleString() %}){% endif %}{% endif %}
          {% if model.TeamID != nil %}<a title="Team" href="{%s `/admin/db/team`+`/`+model.TeamID.String() %}">{%= components.SVGRef("team", 18, 18, "", ps) %}</a>{% endif %}
        </td>
        <td>{%= components.DisplayTimestampDay(model.StartDate) %}</td>
        <td>{%= components.DisplayTimestampDay(model.EndDate) %}</td>
        <td>{%= components.DisplayTimestamp(&model.Created) %}</td>
        <td>{%= components.DisplayTimestamp(model.Updated) %}</td>
      </tr>
      {%- endfor -%}
      {%- if prms.HasNextPage(len(models) + prms.Offset) || prms.HasPreviousPage() -%}
      <tr>
        <td colspan="10">{%= components.Pagination(len(models) + prms.Offset, prms, ps.URI) %}</td>
      </tr>
      {%- endif -%}
    </tbody>
  </table>
{% endfunc %}
