{% import (
  "github.com/kyleu/rituals/app/action"
  "github.com/kyleu/rituals/app/controller/cutil"
  "github.com/kyleu/rituals/app/enum"
  "github.com/kyleu/rituals/app/standup/report"
  "github.com/kyleu/rituals/app/util"
  "github.com/kyleu/rituals/app/workspace"
  "github.com/kyleu/rituals/views/components"
  "github.com/kyleu/rituals/views/vworkspace/vwutil"
) %}

{% func StandupWorkspaceReports(w *workspace.FullStandup, ps *cutil.PageState) %}
  <ul id="report-groups" class="accordion">
    {%- for _, g := range w.Reports.Grouped() -%}
    <li id="report-group-{%s g.DayString() %}">
      <input id="accordion-{%s g.DayString() %}" type="checkbox" hidden checked="checked" />
      <label for="accordion-{%s g.DayString() %}">{%= components.ExpandCollapse(3, ps) %} {%s g.DayString() %}</label>
      <div class="bd">
        {%- for _, r := range g.Reports -%}
        <div class="report" id="report-{%s r.ID.String() %}">
          <div>
            {%- code
              uname := "Former Guest"
              curr := w.Members.Get(w.Standup.ID, r.UserID)
              if curr != nil {
                uname = curr.Name
              }
            -%}
            <div class="right">{%= vwutil.Comments(enum.ModelServiceReport, r.ID, r.TitleString(), w.Comments, w.UtilMembers, ps) %}</div>
            <a href="#modal-report-{%s r.ID.String() %}" data-id="{%s r.ID.String() %}" class="clean modal-report-edit-link">
              <h4 class="username">{%s uname %}</h4>
              <div class="pt">{%s= r.HTML %}</div>
            </a>
          </div>
        </div>
        {%- endfor -%}
      </div>
    </li>
    {%- endfor -%}
  </ul>
  <div id="report-modals">
  {%- for _, r := range w.Reports -%}
  {%- if ps.Profile.ID == r.UserID -%}
  {%= StandupWorkspaceReportModalEdit(r) %}
  {%- else -%}
  {%= StandupWorkspaceReportModalView(r) %}
  {%- endif -%}
  {%- endfor -%}
  </div>
{% endfunc %}

{% func StandupWorkspaceReportModalAdd() %}
  <div id="modal-report--add" class="modal" style="display: none;">
    <a class="backdrop" href="#"></a>
    <div class="modal-content">
      <div class="modal-header">
        <a href="#" class="modal-close">×</a>
        <h2>New Report</h2>
      </div>
      <div class="modal-body">
        <form action="#" method="post">
          <input type="hidden" name="action" value="{%s string(action.ActChildAdd) %}" />
          {%= components.FormVerticalInputTimestampDay("day", "report-add-day", "Day", util.TimeToday(), 5, ) %}
          {%= components.FormVerticalTextarea("content", "report-add-content", "Content", 8, "", 5, "HTML and Markdown supported") %}
          <div class="right"><button type="submit">Add Report</button></div>
        </form>
      </div>
    </div>
  </div>
{% endfunc %}

{% func StandupWorkspaceReportModalEdit(r *report.Report) %}
  <div id="modal-report-{%s r.ID.String() %}" class="modal modal-report-edit" style="display: none;">
    <a class="backdrop" href="#"></a>
    <div class="modal-content">
      <div class="modal-header">
        <a href="#" class="modal-close">×</a>
        <h2>{%s r.TitleString() %}</h2>
      </div>
      <div class="modal-body">
        <form action="#" method="post">
          <input type="hidden" name="reportID" value="{%s r.ID.String() %}" />
          {%= components.FormVerticalInputTimestampDay("day", "", "Day", &r.Day, 5, ) %}
          {%= components.FormVerticalTextarea("content", "input-content-"+r.ID.String(), "Content", 8, r.Content, 5, "HTML and Markdown supported") %}
          <div class="right"><button class="report-edit-save" type="submit" name="action" value="{%s string(action.ActChildUpdate) %}">Save Changes</button></div>
          <button class="report-edit-delete" type="submit" name="action" value="{%s string(action.ActChildRemove) %}" onclick="return confirm('Are you sure you want to delete this report?');">Delete</button>
        </form>
      </div>
    </div>
  </div>
{% endfunc %}

{% func StandupWorkspaceReportModalView(r *report.Report) %}
  <div id="modal-report-{%s r.ID.String() %}" class="modal modal-report-view" style="display: none;">
    <a class="backdrop" href="#"></a>
    <div class="modal-content">
      <div class="modal-header">
        <a href="#" class="modal-close">×</a>
        <h2>{%s r.TitleString() %}</h2>
      </div>
      <div class="modal-body">
        {%s= r.HTML %}
      </div>
    </div>
  </div>
{% endfunc %}
