{% import (
  "github.com/google/uuid"

  "github.com/kyleu/rituals/app"
  "github.com/kyleu/rituals/app/action"
  "github.com/kyleu/rituals/app/comment"
  "github.com/kyleu/rituals/app/controller/cutil"
	"github.com/kyleu/rituals/app/enum"
  "github.com/kyleu/rituals/app/sprint"
  "github.com/kyleu/rituals/app/standup"
  "github.com/kyleu/rituals/app/team"
  "github.com/kyleu/rituals/app/util"
  "github.com/kyleu/rituals/app/workspace"
  "github.com/kyleu/rituals/views/components"
  "github.com/kyleu/rituals/views/layout"
  "github.com/kyleu/rituals/views/vworkspace/vwutil"
) %}

{% code type StandupWorkspace struct {
  layout.Basic
  FullStandup *workspace.FullStandup
  Teams team.Teams
  Sprints sprint.Sprints
} %}

{% func (p *StandupWorkspace) Body(as *app.State, ps *cutil.PageState) %}
  {%- code
    w := p.FullStandup
    u := w.Standup
    self, others, _ := w.UtilMembers.Split(ps.Profile.ID)
  -%}
  <div class="flex-wrap">
    <div id="panel-summary">
      <div class="card">
        <div class="right">
          {%= vwutil.PermissionsLink(enum.ModelServiceStandup, u.ID, w.Permissions.ToPermissions(), ps) %}
          {%= vwutil.Comments(enum.ModelServiceStandup, u.ID, u.TitleString(), w.Comments, w.UtilMembers, ps) %}
        </div>
        <h3><a href="#modal-standup-config" id="modal-standup-config-link">
          <span id="model-icon">{%= components.SVGRefIcon(u.IconSafe(), ps) %}</span>
          <span id="model-title">{%s u.TitleString() %}</span>
        </a></h3>
        {%= vwutil.Banner(w.Team, w.Sprint, util.KeyStandup) %}
        {%= StandupWorkspaceModal(u, p.Teams, p.Sprints, w.Permissions.ToPermissions(), ps) %}
      </div>
    </div>
    <div id="panel-detail">
      <div class="card">
        <div class="right"><a class="add-report-link" href="#modal-report--add"><button>Add Report</button></a></div>
        <h3><a class="add-report-link" href="#modal-report--add">{%= components.SVGRefIcon(`file-alt`, ps) %}Reports</a></h3>
        <div class="mt">{%= StandupWorkspaceReports(w, ps) %}</div>
        {%= StandupWorkspaceReportModalAdd() %}
      </div>
    </div>
    <div id="panel-self">
      <div class="card">
        <span id="self-id" style="display: none;">{%s self.UserID.String() %}</span>
        <h3><a href="#modal-self">{%= components.SVGRefIcon(`profile`, ps) %}<span id="self-name">{%s self.Name %}</span></a></h3>
        <em id="self-role">{%s string(self.Role) %}</em>
      </div>
      {%= vwutil.SelfModal(self.Name, self.Picture, self.Role, u.PublicWebPath()) %}
    </div>
    <div id="panel-members">
      <div class="card">
        <h3><a href="#modal-invite">{%= components.SVGRefIcon(`users`, ps) %}Members</a></h3>
        <table class="mt expanded">
          <tbody>
            {%- for _, m := range others -%}
            {%= vwutil.MemberRow(m, ps) %}
            {%- endfor -%}
          </tbody>
        </table>
        <div id="member-modals">
        {%- for _, m := range others -%}
          {%= vwutil.MemberModal(m, u.PublicWebPath()) %}
        {%- endfor -%}
        </div>
      </div>
      {%= vwutil.InviteModal() %}
    </div>
  </div>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      initWorkspace("{%s util.KeyStandup %}", "{%s u.ID.String() %}");
    });
  </script>
{% endfunc %}

{% func StandupWorkspaceModal(u *standup.Standup, teams team.Teams, sprints sprint.Sprints, perms util.Permissions, ps *cutil.PageState) %}
  <div id="modal-standup-config" class="modal" style="display: none;">
    <a class="backdrop" href="#"></a>
    <div class="modal-content">
      <div class="modal-header">
        <a href="#" class="modal-close">×</a>
        <h2>Standup</h2>
      </div>
      <div class="modal-body">
        <form action="{%s u.PublicWebPath() %}" method="post" class="expanded">
          <input type="hidden" name="action" value="{%s string(action.ActUpdate) %}" />
          {%= components.FormVerticalInput("title", "", "Title", u.TitleString(), 5, "The name of your standup") %}
          {%= components.FormVerticalIconPicker("icon", "Icon", u.IconSafe(), ps, 5) %}
          {%= components.FormVerticalSelect(util.KeyTeam, "config-team-input", "Team", util.UUIDString(u.TeamID), teams.IDStrings(true), teams.TitleStrings("- no team -"), 5) %}
          {%= components.FormVerticalSelect(util.KeySprint, "config-sprint-input", "Sprint", util.UUIDString(u.SprintID), sprints.IDStrings(true), sprints.TitleStrings("- no sprint -"), 5) %}
          <hr />
          {%= vwutil.PermissionsForm(util.KeyStandup, perms, true, teams, true, sprints, ps) %}
          <hr />
          <div class="right"><button type="submit">Save</button></div>
        </form>
      </div>
    </div>
  </div>
{% endfunc %}

{% func StandupWorkspaceList(standups standup.Standups, teamID *uuid.UUID, sprintID *uuid.UUID, showComments bool, comments comment.Comments, ps *cutil.PageState) %}
  <div class="card">
    <div class="right">{%= vwutil.EditWorkspaceForm(util.KeyStandup, teamID, sprintID, "New Standup") %}</div>
    <h3>{%= components.SVGRefIcon(util.KeyStandup, ps) %}Standups</h3>
    <table id="standup-list" class="mt expanded">
      <tbody>
        {%- if len(standups) == 0 -%}
          <tr class="empty"><td><em>no standups</em></td></tr>
        {%- else -%}
          {%- for _, x := range standups -%}
          <tr id="standup-list-{%s x.ID.String() %}">
            <td>
              {%- if showComments -%}
              <div class="right">
                {%= vwutil.Comments(enum.ModelServiceStandup, x.ID, x.TitleString(), comments, nil, ps) %}
              </div>
              {%- endif -%}
              <a href="{%s x.PublicWebPath() %}"><div>
                <span>{%= components.SVGRef(x.IconSafe(), 16, 16, "icon", ps) %}</span><span>{%s x.TitleString() %}</span>
              </div></a>
            </td>
          </tr>
          {%- endfor -%}
        {%- endif -%}
      </tbody>
    </table>
  </div>
{% endfunc %}
