$dark-bg-color: #121212;
$light-bg-color: #fff;

$clear: $light-bg-color;
$clear-dark: $dark-bg-color;

$grey: #dddddd;
$grey-dark: #2c3531;

$bluegrey: #89b6cc;
$bluegrey-dark: #30444e;

$red: #c1301c;
$red-dark: #44110a;

$orange: #c96112;
$orange-dark: #462206;

$yellow: #c4a705;
$yellow-dark: #453a02;

$green: #177245;
$green-dark: #072918;

$blue: #397adb;
$blue-dark: #101e33;

$purple: #b768a2;
$purple-dark: #1a0e2d;

$x: #000000;
$x-dark: #000000;

.uk-dark {
  .clear-fg {
    color: $clear-dark;
  }
  .grey-fg {
    color: $grey-dark;
  }
  .bluegrey-fg {
    color: $bluegrey-dark;
  }
  .red-fg {
    color: $red-dark;
  }
  .orange-fg {
    color: $orange-dark;
  }
  .yellow-fg {
    color: $yellow-dark;
  }
  .green-fg {
    color: $green-dark;
  }
  .blue-fg {
    color: $blue-dark;
  }
  .purple-fg {
    color: $purple-dark;
  }
  .x-fg {
    color: $x-dark;
  }

  .clear-bg {
    background: $clear !important;
  }
  .grey-bg {
    background: $grey !important;
  }
  .bluegrey-bg {
    background: $bluegrey !important;
  }
  .red-bg {
    background: $red !important;
  }
  .orange-bg {
    background: $orange !important;
  }
  .yellow-bg {
    background: $yellow !important;
  }
  .green-bg {
    background: $green !important;
  }
  .blue-bg {
    background: $blue !important;
  }
  .purple-bg {
    background: $purple !important;
  }
  .x-bg {
    background: $x !important;
  }

  .clear-border {
    border-color: $clear-dark !important;
  }
  .grey-border {
    border-color: $grey-dark !important;
  }
  .bluegrey-border {
    border-color: $bluegrey-dark !important;
  }
  .red-border {
    border-color: $red-dark !important;
  }
  .orange-border {
    border-color: $orange-dark !important;
  }
  .yellow-border {
    border-color: $yellow-dark !important;
  }
  .green-border {
    border-color: $green-dark !important;
  }
  .blue-border {
    border-color: $blue-dark !important;
  }
  .purple-border {
    border-color: $purple-dark !important;
  }
  .x-border {
    border-color: $x-dark !important;
  }
}

.uk-light {
  .clear-fg {
    color: $clear;
  }
  .grey-fg {
    color: $grey;
  }
  .bluegrey-fg {
    color: $bluegrey;
  }
  .red-fg {
    color: $red;
  }
  .orange-fg {
    color: $orange;
  }
  .yellow-fg {
    color: $yellow;
  }
  .green-fg {
    color: $green;
  }
  .blue-fg {
    color: $blue;
  }
  .purple-fg {
    color: $purple;
  }
  .x-fg {
    color: $x;
  }

  .clear-bg {
    background: $clear-dark !important;
  }
  .grey-bg {
    background: $grey-dark !important;
  }
  .bluegrey-bg {
    background: $bluegrey-dark !important;
  }
  .red-bg {
    background: $red-dark !important;
  }
  .orange-bg {
    background: $orange-dark !important;
  }
  .yellow-bg {
    background: $yellow-dark !important;
  }
  .green-bg {
    background: $green-dark !important;
  }
  .blue-bg {
    background: $blue-dark !important;
  }
  .purple-bg {
    background: $purple-dark !important;
  }
  .x-bg {
    background: $x-dark !important;
  }

  .clear-border {
    border-color: $clear !important;
  }
  .grey-border {
    border-color: $grey !important;
  }
  .bluegrey-border {
    border-color: $bluegrey !important;
  }
  .red-border {
    border-color: $red !important;
  }
  .orange-border {
    border-color: $orange !important;
  }
  .yellow-border {
    border-color: $yellow !important;
  }
  .green-border {
    border-color: $green !important;
  }
  .blue-border {
    border-color: $blue !important;
  }
  .purple-border {
    border-color: $purple !important;
  }
  .x-border {
    border-color: $x !important;
  }
}
