#story-title {
  text-align: center;
  font-size: 150%;
  margin-bottom: 18px;
  border: 1px solid #666;
  padding: 12px;
}

.uk-dark #story-title {
  border-color: #ddd;
}

.story-status-body, .story-status-actions {
  display: none;
  &.active {
    display: block;
  }
}

#story-vote-choices {
  margin-top: 48px;
  .vote-choice {
    margin: 6px;
    padding: 6px;

    min-height: 36px;
    min-width: 36px;

    cursor: pointer;
    font-size: 125%;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid #666;
    &.active {
      background-color: #9992;
    }
  }
}

.uk-dark #story-vote-choices .vote-choice {
  border-color: #ddd;
}


#story-vote-members {
  min-height: 100px;
  .vote-member {
    margin: 6px;
    padding: 12px;
    text-align: center;
  }
}

#story-vote-results {
  min-height: 100px;
  .vote-result {
    margin: 6px;
    padding: 12px;
    text-align: center;
  }
  .uk-border-circle {
    font-size: 150%;
    margin-bottom: 6px;
  }
}

#story-vote-summary {
  .result-container {
    margin-top: 36px;
  }
  .result {
    min-width: 128px;
    text-align: center;
  }
  .uk-border-circle {
    border: 2px solid #666;
    display: inline-block;
    padding: 8px;
    min-height: 48px;
    min-width: 48px;
    line-height: 48px;
    font-size: 125%;
    margin-bottom: 6px;
  }
  .mean {
    font-size: 150%;
  }
}

.uk-dark #story-vote-summary .uk-border-circle {
  border-color: #ddd;
}
