.online-indicator {
  display: none;
  cursor: default;

  &.offline {
    display: block;
  }
}

.member-name {
  cursor: pointer;
}

#model-title {
  cursor: pointer;
}

.section {
  cursor: pointer;
  &:hover {
    .section-link {
      text-decoration: underline;
    }
  }
}
