.online-indicator {
  display: none;
  cursor: default;

  &.offline {
    display: block;
  }
}

.member-name {
  cursor: pointer;
}

#model-title, .model-icon {
  cursor: pointer;
}

.section {
  cursor: pointer;
  &:hover {
    .section-link {
      text-decoration: underline;
    }
  }
}

.profile-pic {
  height: 32px;
  width: 32px;
}
.profile-title {
  padding: 4px 0;
}
.profile-remove {
  padding-top: 4px;
}
