.swatch {
  width: 32px;
  height: 32px;
  margin: 0 6px;
  cursor: pointer;
  border: 1px solid #444;
  color: #fff;

  &.light {
    border: 1px solid #ddd;
    color: #000;
  }

  &.active {
    .icon {
      color: inherit;
    }
  }

  .icon {
    margin-top: 6px;
    color: transparent;
  }
}
