.feedback-list {
  display: block;
}

.feedback-category-header {
  font-size: 125%;
  margin-bottom: 16px;
  .feedback-category-title {
    cursor: pointer;
  }
}

.feedback-detail {
  border: 1px solid #666;
  margin-bottom: 8px;
  padding: 14px;

  a {
    display: block;
  }

  .feedback-content {
    display: none;
    margin-top: 6px;
    p {
      margin: 0;
    }
    ul {
      list-style: disc;
    }
  }
}

#feedback-detail {
  h5 {
    margin-bottom: 8px;
  }
  ul {
    margin: 0;
  }
}

.uk-dark .feedback-detail {
  border-color: #ddd;
}
