$navbar-nav-item-height: 54px;

@import "colors.scss";
@import "overrides.scss";
@import "common.scss";

// Marketing
.marketing {
  .uk-align-right {
    margin: 0;
  }
  .uk-list-divider {
    margin: 0;
  }
}

// Comments
.uk-comment-header {
  margin-bottom: 6px;
}

.uk-comment-body {
  margin-bottom: 8px;
}

.comment-drop {
  width: 482px;
  .uk-comment-list {
    max-height: 400px;
    overflow: auto;
  }
  .uk-card {
    width: 480px;
  }
}

.drop {
  font-size: 16px;
  text-align: left;
  .uk-card-body {
    padding-bottom: 0;
    p {
      margin: 0;
    }
  }
}

.uk-light {
  .drop {
    border: 1px solid #444;
  }
}

.uk-dark  {
  .drop {
    border: 1px solid #e5e5e5;
  }
}

@import "form.scss";
@import "tags.scss";
@import "profile.scss";
@import "permission.scss";
@import "members.scss";
@import "session.scss";
@import "team.scss";
@import "sprint.scss";
@import "estimate.scss";
@import "standup.scss";
@import "retro.scss";
