$navbar-nav-item-height: 54px;

@import "vendor/uikit/src/scss/variables-theme.scss";
@import "vendor/uikit/src/scss/mixins-theme.scss";

@mixin hook-card() {
  color: #000;
}

@import "components.scss";
@import "colors.scss";

@import "overrides.scss";

// Common
.right {
  float: right;
}

.left {
  float: left;
}

h4 {
  margin-top: 0;
}

// Content
#content {
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

html.uk-light, body.uk-light {
  background-color: $dark_bg_color;
}

html.uk-dark, body.uk-dark {
  background-color: $light_bg_color;
}

.row-index {
  color: #999
}


// Sidebar
.sidebar-left {
  position: fixed;
  top: 54px;
  bottom: 0;
  box-sizing: border-box;
  width: 240px !important;
  padding: 40px;
  overflow: auto;
  z-index: 1000;

  .status-panel {
    position: fixed;
    bottom: 40px;
  }
}

.sidebar-left + #workspace {
  padding-left: 240px;
}

.uk-light .sidebar-left {
  border-right: 1px #444 solid;
  background-color: $dark_bg_color;
}

.uk-dark .sidebar-left {
  border-right: 1px #e5e5e5 solid;
  background-color: $light_bg_color;
}


// Backtrace
.frame {
  border-top: 1px solid #ddd;
  padding: 12px;

  &.owned {
    .message {
      color: green;
    }
  }

  .loc, .additional {
    margin-left: 32px;
    color: #999;
  }
}

// Profile
.swatch {
  width: 32px;
  height: 32px;
  margin: 0 4px;
  cursor: pointer;
  display: inline-block;
  border: 1px solid #444;
  color: #fff;

  &.light {
    border: 1px solid #ddd;
    color: #000;
  }

  &.active {
    .icon {
      color: inherit;
    }
  }

  .icon {
    margin-top: 6px;
    color: transparent;
  }
}

// Navbar
#navbar {
  max-height: 54px;
  overflow: hidden;

  svg {
    max-width: none;
  }
}

// Alerts
.alert-top {
  margin: 12px;
}

// Errors
.error-key {
}
.error-owned {
  color: green;
}
.error-location {
  margin-left: 16px;
  margin-bottom: 16px;
}
