{% import (
  "github.com/kyleu/rituals/app"
  "github.com/kyleu/rituals/app/comment"
  "github.com/kyleu/rituals/app/controller/cutil"
  "github.com/kyleu/rituals/app/enum"
  "github.com/kyleu/rituals/app/user"
  "github.com/kyleu/rituals/views/components"
  "github.com/kyleu/rituals/views/components/view"
  "github.com/kyleu/rituals/views/layout"
) %}

{% code type Detail struct {
  layout.Basic
  Model *comment.Comment
  UserByUserID *user.User
  Paths []string
} %}

{% func (p *Detail) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <div class="right">
      <a href="#modal-comment"><button type="button" title="JSON">{%= components.SVGButton("code", ps) %}</button></a>
      <a href="{%s p.Model.WebPath(p.Paths...) %}/edit" title="Edit"><button>{%= components.SVGButton("edit", ps) %}</button></a>
    </div>
    <h3>{%= components.SVGIcon(`comments`, ps) %} {%s p.Model.TitleString() %}</h3>
    <div><a href="{%s comment.Route(p.Paths...) %}"><em>Comment</em></a></div>
    {%= DetailTable(p, ps) %}
  </div>
  {%- comment %}$PF_SECTION_START(extra)${% endcomment -%}
  {%- comment %}$PF_SECTION_END(extra)${% endcomment -%}
  {%= components.JSONModal("comment", "Comment JSON", p.Model, 1) %}
{% endfunc %}

{% func DetailTable(p *Detail, ps *cutil.PageState) %}
  <div class="mt overflow full-width">
    <table>
      <tbody>
        <tr>
          <th class="shrink" title="UUID in format (00000000-0000-0000-0000-000000000000)">ID</th>
          <td>{%= view.UUID(&p.Model.ID) %}</td>
        </tr>
        <tr>
          <th class="shrink" title="{%s enum.AllModelServices.Help() %}">Svc</th>
          <td>{%s p.Model.Svc.String() %}</td>
        </tr>
        <tr>
          <th class="shrink" title="UUID in format (00000000-0000-0000-0000-000000000000)">Model ID</th>
          <td>{%= view.UUID(&p.Model.ModelID) %}</td>
        </tr>
        <tr>
          <th class="shrink" title="UUID in format (00000000-0000-0000-0000-000000000000)">User ID</th>
          <td class="nowrap">
            {% if x := p.UserByUserID; x != nil %}
            {%s x.TitleString() %} <a title="User" href="{%s x.WebPath(p.Paths...) %}">{%= components.SVGLink(`profile`, ps) %}</a>
            {% else %}
            {%= view.UUID(&p.Model.UserID) %}
            {% endif %}
          </td>
        </tr>
        <tr>
          <th class="shrink" title="String text">Content</th>
          <td>{%= view.String(p.Model.Content) %}</td>
        </tr>
        <tr>
          <th class="shrink" title="HTML code, in string form">HTML</th>
          <td>{%= view.FormatLang(p.Model.HTML, "html") %}</td>
        </tr>
        <tr>
          <th class="shrink" title="Date and time, in almost any format">Created</th>
          <td>{%= view.Timestamp(&p.Model.Created) %}</td>
        </tr>
      </tbody>
    </table>
  </div>
{% endfunc %}
