<!-- Content managed by Project Forge, see [projectforge.md] for details. -->
{% import (
  "github.com/kyleu/rituals/app"
  "github.com/kyleu/rituals/app/comment"
  "github.com/kyleu/rituals/app/controller/cutil"
  "github.com/kyleu/rituals/app/lib/filter"
  "github.com/kyleu/rituals/app/user"
  "github.com/kyleu/rituals/views/components"
  "github.com/kyleu/rituals/views/layout"
) %}

{% code type List struct {
  layout.Basic
  Models comment.Comments
  UsersByUserID user.Users
  Params filter.ParamSet
} %}

{% func (p *List) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <div class="right"><a href="/admin/db/comment/_new"><button>New</button></a></div>
    <h3>{%= components.SVGRefIcon(`comments`, ps) %}{%s ps.Title %}</h3>
    {%- if len(p.Models) == 0 -%}
    <div class="mt"><em>No comments available</em></div>
    {%- else -%}
    <div class="overflow clear mt">
      {%= Table(p.Models, p.UsersByUserID, p.Params, as, ps) %}
    </div>
    {%- endif -%}
  </div>
{% endfunc %}
