<%: func StoryDetail(model *estimate.Story, votes estimate.Votes, params npncore.ParamSet, ctx *npnweb.RequestContext, w io.Writer) (int, error) %>
<%~ "layout/admin.html" %>
<%@ nav { %><% npntemplate.Navbar(ctx, _buffer) %><% } %>
<%@ body { %>
<div class="uk-section uk-section-small">
  <div class="uk-container">
    <div class="uk-card uk-card-body uk-card-default">
      <h3 class="uk-card-title"><%= ctx.Title %></h3>
      <table class="uk-table uk-table-divider uk-text-left">
        <caption class="hidden"><%= ctx.Title %></caption>
        <tbody>
          <tr>
             <th scope="row"><%= npncore.Title(npncore.KeyID) %></th>
            <td><%= model.ID.String() %></td>
          </tr>
          <tr>
             <th scope="row"><%= util.SvcEstimate.Title %></th>
            <td><a class="theme" href="<%= ctx.Route(npnweb.AdminLink(util.SvcEstimate.Key, npncore.KeyDetail), `id`, model.EstimateID.String()) %>"><%= model.EstimateID.String() %></a></td>
          </tr>
          <tr>
             <th scope="row"><%= npncore.Title(npncore.KeyIdx) %></th>
            <td><%=v model.Idx %></td>
          </tr>
          <tr>
             <th scope="row"><%= npncore.Title(npncore.KeyStatus) %></th>
            <td><%= model.Status.String() %></td>
          </tr>
          <tr>
             <th scope="row"><%= npncore.Title(npncore.KeyTitle) %></th>
            <td><%= model.Title %></td>
          </tr>
          <tr>
             <th scope="row"><%= npncore.Title(npncore.KeyUser) %></th>
            <td><a class="theme" href="<%= ctx.Route(npnweb.AdminLink(npncore.KeyUser, npncore.KeyDetail), `id`, model.UserID.String()) %>"><%= model.UserID.String() %></a></td>
          </tr>
          <tr>
             <th scope="row"><%= npncore.Title(npncore.KeyCreated) %></th>
            <td><% npntemplate.DateTime(&model.Created, _buffer) %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="uk-card uk-card-body uk-card-default uk-margin-top">
      <h3 class="uk-card-title">Votes</h3>
      <% if len(votes) == 0 { %>
        <p>No votes available</p>
      <% } else { %>
        <% VoteTable(votes, params.Get(util.KeyVote, ctx.Logger), ctx, _buffer) %>
      <% } %>
    </div>
  </div>
</div>
<% } %>
