<%: func StoryDetail(model *estimate.Story, votes estimate.Votes, params query.ParamSet, ctx *web.RequestContext, w io.Writer) (int, error) %>
<%~ "layout/admin.html" %>
<%@ nav { %><% components.Navbar(ctx, _buffer) %><% } %>
<%@ body { %>
<div class="uk-section uk-section-small">
  <div class="uk-container">
    <div class="uk-card uk-card-body">
      <h3 class="uk-card-title"><%= ctx.Title %></h3>
      <table class="uk-table uk-table-divider uk-text-left">
        <tbody>
          <tr>
            <th><%= util.Title(util.KeyID) %></th>
            <td><%= model.ID.String() %></td>
          </tr>
          <tr>
            <th><%= util.SvcEstimate.Title %></th>
            <td><a class="theme" href="<%= ctx.Route(util.AdminLink(util.SvcEstimate.Key, util.KeyDetail), `id`, model.EstimateID.String()) %>"><%= model.EstimateID.String() %></a></td>
          </tr>
          <tr>
            <th><%= util.Title(util.KeyIdx) %></th>
            <td><%=v model.Idx %></td>
          </tr>
          <tr>
            <th><%= util.Title(util.KeyStatus) %></th>
            <td><%= model.Status.String() %></td>
          </tr>
          <tr>
            <th><%= util.Title(util.KeyTitle) %></th>
            <td><%= model.Title %></td>
          </tr>
          <tr>
            <th><%= util.Title(util.KeyUser) %></th>
            <td><a class="theme" href="<%= ctx.Route(util.AdminLink(util.KeyUser, util.KeyDetail), `id`, model.UserID.String()) %>"><%= model.UserID.String() %></a></td>
          </tr>
          <tr>
            <th><%= util.Title(util.KeyCreated) %></th>
            <td><% components.DateTime(&model.Created, _buffer) %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="uk-card uk-card-body uk-margin-top">
      <h3 class="uk-card-title">Votes</h3>
      <% if len(votes) == 0 { %>
        <p>No votes available</p>
      <% } else { %>
        <% VoteTable(votes, params.Get(util.KeyVote, ctx.Logger), ctx, _buffer) %>
      <% } %>
    </div>
  </div>
</div>
<% } %>
