<%: func SandboxForm(key string, ctx web.RequestContext, w io.Writer) (int, error) %>

<%~ "layout/basic.html" %>

<%@ body { %>
<div class="uk-section uk-section-small">
  <div class="uk-container">
    <div>
      <h1 class="uk-heading-hero">Sandbox [<%= key %>]</h1>
      <div class="uk-margin-top">
        <% switch key { %>
        <% case "gallery": %>
          <% SandboxGallery(ctx, _buffer) %>
        <% default: %>
          TODO!
        <% } %>
      </div>
    </div>
  </div>
</div>
<% } %>
