<%: func HistoryTable(histories history.Entries, params *query.Params, ctx web.RequestContext, buffer *bytes.Buffer) %>

<table class="uk-table uk-table-divider uk-text-left">
  <thead>
    <tr>
      <% components.TableHeader(util.KeyHistory, util.KeySlug, util.Title(util.KeySlug), params, ctx, buffer) %>
      <% components.TableHeader(util.KeyHistory, "modelName", util.Title(util.KeyTitle), params, ctx, buffer) %>
      <% components.TableHeader(util.KeyHistory, util.KeyCreated, util.Title(util.KeyCreated), params, ctx, buffer) %>
    </tr>
  </thead>
  <tbody>
  <% for _, model := range histories { %>
    <tr>
      <td><%= model.Slug %></td>
      <td><%= model.ModelName %></td>
      <td class="uk-table-shrink uk-text-nowrap"><% components.DateTime(&model.Created, buffer) %></td>
    </tr>
  <% } %>
  </tbody>
</table>
