<%: func ActionDetail(model *action.Action, user *user.SystemUser, ctx web.RequestContext, w io.Writer) (int, error) %>
<%~ "layout/admin.html" %>
<%@ nav { %><% templates.Navbar(ctx, _buffer) %><% } %>
<%@ body { %>
<div class="uk-section uk-section-small">
  <div class="uk-container">
    <div class="uk-card uk-card-body">
      <h3 class="uk-card-title">App Action</h3>
      <table class="uk-table uk-table-divider uk-text-left">
        <tbody>
          <tr>
            <th>ID</th>
            <td><%= model.ID.String() %></td>
          </tr>
          <tr>
            <th>Model</th>
            <td><% templates.ComponentChannel(model.Svc, &model.ModelID, ctx, _buffer) %></td>
          </tr>
          <tr>
            <th>User ID</th>
            <td><a class="theme" href="<%= ctx.Route(util.AdminLink(util.KeyUser, util.KeyDetail), `id`, model.UserID.String()) %>"><%= model.UserID.String() %></a></td>
          </tr>
          <tr>
            <th>Act</th>
            <td><%= model.Act %></td>
          </tr>
          <tr>
            <th>Content</th>
            <td><pre><%= util.ToJSON(model, ctx.Logger) %></pre></td>
          </tr>
          <tr>
            <th>Note</th>
            <td><%= model.Note %></td>
          </tr>
          <tr>
            <th><%= util.Title(util.KeyCreated) %></th>
            <td><% templates.ComponentDateTime(&model.Created, _buffer) %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<% } %>
