<%: func ActionDetail(model *action.Action, user *user.SystemUser, ctx *npnweb.RequestContext, w io.Writer) (int, error) %>
<%~ "layout/admin.html" %>
<%@ nav { %><% npntemplate.Navbar(ctx, _buffer) %><% } %>
<%@ body { %>
<div class="uk-section uk-section-small">
  <div class="uk-container">
    <div class="uk-card uk-card-body">
      <h3 class="uk-card-title">App Action</h3>
      <table class="uk-table uk-table-divider uk-text-left">
        <caption class="hidden"><%= ctx.Title %></caption>
        <tbody>
          <tr>
            <th scope="row"><%= npncore.Title(npncore.KeyID) %></th>
            <td><%= model.ID.String() %></td>
          </tr>
          <tr>
            <th scope="row"><%= npncore.Title(npncore.KeyModel) %></th>
            <td><% npntemplate.Channel(model.Svc.Key, &model.ModelID, ctx, _buffer) %></td>
          </tr>
          <tr>
            <th scope="row">User ID</th>
            <td><a class="theme" href="<%= ctx.Route(npnweb.AdminLink(npncore.KeyUser, npncore.KeyDetail), `id`, model.UserID.String()) %>"><%= model.UserID.String() %></a></td>
          </tr>
          <tr>
            <th scope="row">Act</th>
            <td><%= model.Act %></td>
          </tr>
          <tr>
            <th scope="row">Content</th>
            <td><pre><%= npncore.ToJSON(model, ctx.Logger) %></pre></td>
          </tr>
          <tr>
            <th scope="row">Note</th>
            <td><%= model.Note %></td>
          </tr>
          <tr>
            <th scope="row"><%= npncore.Title(npncore.KeyCreated) %></th>
            <td><% npntemplate.DateTime(&model.Created, _buffer) %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<% } %>
