<%: func ActionTable(actions action.Actions, params *npncore.Params, ctx *npnweb.RequestContext, buffer *bytes.Buffer) %>

<table class="uk-table uk-table-divider uk-text-left">
  <thead>
    <tr>
      <% npntemplate.TableHeader(npncore.KeyAction, npncore.KeyID, npncore.Title(npncore.KeyID), params, ctx.Request, buffer) %>
      <% npntemplate.TableHeader(npncore.KeyAction, npncore.WithID(npncore.KeyModel), npncore.Title(npncore.KeyModel), params, ctx.Request, buffer) %>
      <% npntemplate.TableHeader(npncore.KeyAction, npncore.WithID(npncore.KeyUser), npncore.WithID(npncore.KeyUser), params, ctx.Request, buffer) %>
      <% npntemplate.TableHeader(npncore.KeyAction, npncore.KeyAct, npncore.Title(npncore.KeyAct), params, ctx.Request, buffer) %>
      <% npntemplate.TableHeader(npncore.KeyAction, npncore.KeyNote, npncore.Title(npncore.KeyNote), params, ctx.Request, buffer) %>
      <% npntemplate.TableHeader(npncore.KeyAction, npncore.KeyCreated, npncore.Title(npncore.KeyCreated), params, ctx.Request, buffer) %>
    </tr>
  </thead>
  <tbody>
  <% for _, model := range actions { %>
    <tr>
      <td class="uk-table-shrink uk-text-nowrap"><a class="theme" href="<%= ctx.Route(npnweb.AdminLink(npncore.KeyAction, npncore.KeyDetail), `id`, model.ID.String()) %>"><% npntemplate.UUID(&model.ID, buffer) %></a></td>
      <td class="uk-table-shrink uk-text-nowrap"><% Channel(model.Svc, &model.ModelID, ctx, buffer) %></td>
      <td class="uk-table-shrink uk-text-nowrap"><a class="theme" href="<%= ctx.Route(npnweb.AdminLink(npncore.KeyUser, npncore.KeyDetail), `id`, model.UserID.String()) %>"><% npntemplate.UUID(&model.UserID, buffer) %></a></td>
      <td class="uk-table-shrink uk-text-nowrap"><%= model.Act %></td>
      <td><%= model.Note %></td>
      <td class="uk-table-shrink uk-text-nowrap"><% npntemplate.DateTime(&model.Created, buffer) %></td>
    </tr>
  <% } %>
  </tbody>
</table>
