{% import (
  "github.com/google/uuid"
	"golang.org/x/exp/slices"

  "github.com/kyleu/rituals/app/action"
  "github.com/kyleu/rituals/app/controller/cutil"
  "github.com/kyleu/rituals/app/enum"
  "github.com/kyleu/rituals/app/retro/feedback"
  "github.com/kyleu/rituals/app/workspace"
  "github.com/kyleu/rituals/views/components"
  "github.com/kyleu/rituals/views/vworkspace/vwutil"
) %}

{% func RetroWorkspaceFeedbacks(userID uuid.UUID, username string, w *workspace.FullRetro, ps *cutil.PageState) %}
  <div id="category-list">
    {%- for _, grp := range w.Feedbacks.Grouped(w.Retro.Categories) -%}
    <div id="category-{%s grp.Category %}" data-category="{%s grp.Category %}" class="category">
      <div class="right"><a class="add-feedback-link" data-category="{%s grp.Category %}" href="#modal-feedback--add-{%s grp.Category %}">
        <button>New</button>
      </a></div>
      <h4><a href="#modal-feedback--add-{%s grp.Category %}">{%s grp.Category %}</a></h4>
      <div class="clear"></div>
      <div class="feedback-list">
      {%- for _, f := range grp.Feedbacks -%}
      {%- code
        uname := "Former Guest"
        curr := w.Members.Get(w.Retro.ID, f.UserID)
        if curr != nil {
          uname = curr.Name
        }
      -%}
      <div id="feedback-{%s f.ID.String() %}" class="feedback mt clear">
        <div class="right">{%= vwutil.Comments(enum.ModelServiceFeedback, f.ID, f.TitleString(), w.Comments, w.UtilMembers, "member-icon", ps) %}</div>
        <a href="#modal-feedback-{%s f.ID.String() %}" class="clean modal-feedback-edit-link" data-id="{%s f.ID.String() %}">
          <div>{%s uname %}</div>
          <div class="pt feedback-content">{%s= f.HTML %}</div>
        </a>
      </div>
      {%- endfor -%}
      </div>
      {%= RetroWorkspaceFeedbackModalAdd(w.Retro.Categories, grp.Category) %}
    </div>
    {%- endfor -%}
  </div>
  <div id="feedback-modals">
  {%- for _, f := range w.Feedbacks -%}
  {%- if userID == f.UserID -%}
  {%= RetroWorkspaceFeedbackModalEdit(f, w.Retro.Categories, username) %}
  {%- else -%}
  {%= RetroWorkspaceFeedbackModalView(f, username) %}
  {%- endif -%}
  {%- endfor -%}
  </div>
{% endfunc %}

{% func RetroWorkspaceFeedbackModalAdd(categories []string, category string) %}
  {%- if !slices.Contains(categories, category) -%}
  {%- code categories = append(categories, category) -%}
  {%- endif -%}
  <div id="modal-feedback--add-{%s category %}" class="modal modal-feedback-add" data-category="{%s category %}" style="display: none;">
    <a class="backdrop" href="#"></a>
    <div class="modal-content">
      <div class="modal-header">
        <a href="#" class="modal-close">×</a>
        <h2>New Feedback</h2>
      </div>
      <div class="modal-body">
        <form action="#" method="post">
          <input type="hidden" name="action" value="{%s string(action.ActChildAdd) %}" />
          {%= components.FormVerticalSelect("category", "", "Category", category, categories, categories, 5) %}
          {%= components.FormVerticalTextarea("content", "feedback-add-content-" + category, "Content", 8, "", 5, "HTML and Markdown supported") %}
          <div class="right"><button type="submit">Add Feedback</button></div>
        </form>
      </div>
    </div>
  </div>
{% endfunc %}

{% func RetroWorkspaceFeedbackModalEdit(f *feedback.Feedback, categories []string, username string) %}
  {%- if !slices.Contains(categories, f.Category) -%}
  {%- code categories = append(categories, f.Category) -%}
  {%- endif -%}
  <div id="modal-feedback-{%s f.ID.String() %}" class="modal modal-feedback-edit" style="display: none;">
    <a class="backdrop" href="#"></a>
    <div class="modal-content">
      <div class="modal-header">
        <a href="#" class="modal-close">×</a>
        <h2>{%s f.Category %} :: {%s username %}</h2>
      </div>
      <div class="modal-body">
        <form action="#" method="post">
          <input type="hidden" name="feedbackID" value="{%s f.ID.String() %}" />
          <table class="mt expanded">
            <tbody>
              {%= components.FormVerticalSelect("category", "", "Category", string(f.Category), categories, categories, 5) %}
              {%= components.FormVerticalTextarea("content", "input-content-" + f.ID.String(), "Content", 8, f.Content, 5, "HTML and Markdown supported") %}
              <tr><td colspan="2">
                <div class="right"><button class="feedback-edit-save" type="submit" name="action" value="{%s string(action.ActChildUpdate) %}">Save Changes</button></div>
                <button class="feedback-edit-delete" type="submit" name="action" value="{%s string(action.ActChildRemove) %}" onclick="return confirm('Are you sure you want to delete this feedback?');">Delete</button>
              </td></tr>
            </tbody>
          </table>
        </form>
      </div>
    </div>
  </div>
{% endfunc %}

{% func RetroWorkspaceFeedbackModalView(f *feedback.Feedback, username string) %}
<div id="modal-feedback-{%s f.ID.String() %}" class="modal" style="display: none;">
  <a class="backdrop" href="#"></a>
  <div class="modal-content">
    <div class="modal-header">
      <a href="#" class="modal-close">×</a>
      <h2>{%s f.Category %} :: {%s username %}</h2>
    </div>
    <div class="modal-body">
      <div>{%s= f.HTML %}</div>
    </div>
  </div>
</div>
{% endfunc %}
