{% import (
  "github.com/google/uuid"

  "github.com/kyleu/rituals/app"
  "github.com/kyleu/rituals/app/action"
  "github.com/kyleu/rituals/app/comment"
  "github.com/kyleu/rituals/app/controller/cutil"
  "github.com/kyleu/rituals/app/enum"
  "github.com/kyleu/rituals/app/retro"
  "github.com/kyleu/rituals/app/sprint"
  "github.com/kyleu/rituals/app/team"
  "github.com/kyleu/rituals/app/util"
  "github.com/kyleu/rituals/app/workspace"
  "github.com/kyleu/rituals/views/components"
  "github.com/kyleu/rituals/views/layout"
  "github.com/kyleu/rituals/views/vworkspace/vwutil"
) %}

{% code type RetroWorkspace struct {
  layout.Basic
  FullRetro *workspace.FullRetro
  Teams team.Teams
  Sprints sprint.Sprints
} %}

{% func (p *RetroWorkspace) Body(as *app.State, ps *cutil.PageState) %}
  {%- code
    w := p.FullRetro
    r := w.Retro
    self, others, _ := w.UtilMembers.Split(ps.Profile.ID)
  -%}
  <div class="flex-wrap">
    <div id="panel-summary">
      <div class="card">
        <div class="right">
          {%= vwutil.PermissionsLink(enum.ModelServiceRetro, r.ID, w.Permissions.ToPermissions(), ps) %}
          {%= vwutil.Comments(enum.ModelServiceRetro, r.ID, r.TitleString(), w.Comments, w.UtilMembers, ps) %}
        </div>
        <h3><a href="#modal-retro-config" id="modal-retro-config-link">
          <span id="model-icon">{%= components.SVGRefIcon(r.IconSafe(), ps) %}</span>
          <span id="model-title">{%s r.TitleString() %}</span>
        </a></h3>
        {%= vwutil.Banner(w.Team, w.Sprint, "retrospective") %}
        {%= RetroWorkspaceModal(r, p.Teams, p.Sprints, w.Permissions.ToPermissions(), ps) %}
      </div>
    </div>
    <div id="panel-detail">
      <div class="card">
        <h3>{%= components.SVGRefIcon(`comment`, ps) %}Feedback</h3>
        <div class="clear"></div>
        {%= RetroWorkspaceFeedbacks(ps.Profile.ID, ps.Profile.Name, w, ps) %}
      </div>
    </div>
    <div id="panel-self">
      <div class="card">
        <span id="self-id" style="display: none;">{%s self.UserID.String() %}</span>
        <h3><a href="#modal-self">{%= components.SVGRefIcon(`profile`, ps) %}<span id="self-name">{%s self.Name %}</span></a></h3>
        <em id="self-role">{%s string(self.Role) %}</em>
      </div>
      {%= vwutil.SelfModal(self.Name, self.Picture, self.Role, r.PublicWebPath()) %}
    </div>
    <div id="panel-members">
      <div class="card">
        <h3><a href="#modal-invite">{%= components.SVGRefIcon(`users`, ps) %}Members</a></h3>
        <table class="mt expanded">
          <tbody>
            {%- for _, m := range others -%}
            {%= vwutil.MemberRow(m, ps) %}
            {%- endfor -%}
          </tbody>
        </table>
        <div id="member-modals">
        {%- for _, m := range others -%}
          {%= vwutil.MemberModal(m, r.PublicWebPath()) %}
        {%- endfor -%}
        </div>
      </div>
      {%= vwutil.InviteModal() %}
    </div>
  </div>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      initWorkspace("{%s util.KeyRetro %}", "{%s r.ID.String() %}");
    });
  </script>
{% endfunc %}

{% func RetroWorkspaceModal(r *retro.Retro, teams team.Teams, sprints sprint.Sprints, perms util.Permissions, ps *cutil.PageState) %}
  <div id="modal-retro-config" class="modal" style="display: none;">
    <a class="backdrop" href="#"></a>
    <div class="modal-content">
      <div class="modal-header">
        <a href="#" class="modal-close">×</a>
        <h2>Retro</h2>
      </div>
      <div class="modal-body">
        <form action="{%s r.PublicWebPath() %}" method="post" class="expanded">
          <input type="hidden" name="action" value="{%s string(action.ActUpdate) %}" />
          {%= components.FormVerticalInput("title", "", "Title", r.TitleString(), 5, "The name of your retro") %}
          {%= components.FormVerticalIconPicker("icon", "Icon", r.IconSafe(), ps, 5) %}
          {%= components.FormVerticalInputTags("categories", "", "Categories", r.Categories, ps, 5, "The available categories for this retro") %}
          {%= components.FormVerticalSelect(util.KeyTeam, "config-team-input", "Team", util.UUIDString(r.TeamID), teams.IDStrings(true), teams.TitleStrings("- no team -"), 5) %}
          {%= components.FormVerticalSelect(util.KeySprint, "config-sprint-input", "Sprint", util.UUIDString(r.SprintID), sprints.IDStrings(true), sprints.TitleStrings("- no sprint -"), 5) %}
          <hr />
          {%= vwutil.PermissionsForm(util.KeyRetro, perms, true, teams, true, sprints, ps) %}
          <hr />
          <div class="right"><button type="submit">Save</button></div>
        </form>
      </div>
    </div>
  </div>
{% endfunc %}

{% func RetroWorkspaceList(retros retro.Retros, teamID *uuid.UUID, sprintID *uuid.UUID, showComments bool, comments comment.Comments, ps *cutil.PageState) %}
  <div class="card">
    <div class="right">
      {%= vwutil.EditWorkspaceForm(util.KeyRetro, teamID, sprintID, "New Retro") %}
    </div>
    <h3>{%= components.SVGRefIcon(`retro`, ps) %}Retros</h3>
    <table id="retro-list" class="mt expanded">
      <tbody>
        {%- if len(retros) == 0 -%}
          <tr class="empty"><td><em>no retros</em></td></tr>
        {%- else -%}
          {%- for _, x := range retros -%}
          <tr id="retro-list-{%s x.ID.String() %}">
            <td>
              {%- if showComments -%}
              <div class="right">
                {%= vwutil.Comments(enum.ModelServiceRetro, x.ID, x.TitleString(), comments, nil, ps) %}
              </div>
              {%- endif -%}
              <a href="{%s x.PublicWebPath() %}"><div>
                <span>{%= components.SVGRef(x.IconSafe(), 16, 16, "icon", ps) %}</span><span>{%s x.TitleString() %}</span>
              </div></a>
            </td>
          </tr>
          {%- endfor -%}
        {%- endif -%}
      </tbody>
    </table>
  </div>
{% endfunc %}
