{% import (
  "github.com/kyleu/rituals/app"
  "github.com/kyleu/rituals/app/action"
  "github.com/kyleu/rituals/app/controller/cutil"
  "github.com/kyleu/rituals/app/enum"
  "github.com/kyleu/rituals/app/retro"
  "github.com/kyleu/rituals/app/sprint"
  "github.com/kyleu/rituals/app/team"
  "github.com/kyleu/rituals/app/util"
  "github.com/kyleu/rituals/app/workspace"
  "github.com/kyleu/rituals/views/components"
  "github.com/kyleu/rituals/views/layout"
  "github.com/kyleu/rituals/views/vworkspace/vwutil"
) %}

{% code type RetroWorkspace struct {
  layout.Basic
  FullRetro *workspace.FullRetro
  Teams team.Teams
  Sprints sprint.Sprints
} %}

{% func (p *RetroWorkspace) Body(as *app.State, ps *cutil.PageState) %}
  {%- code
    w := p.FullRetro
    r := w.Retro
  -%}
  <div class="flex-wrap">
    <div id="panel-summary">
      <div class="card">
        <div class="right">
          {%= vwutil.PermissionsLink(enum.ModelServiceRetro, r.ID, w.Permissions.ToPermissions(), ps) %}
          {%= vwutil.Comments(enum.ModelServiceRetro, r.ID, r.TitleString(), w.Comments, w.UtilMembers, ps) %}
        </div>
        <a href="#modal-retro-config" id="modal-retro-config-link"><h3>
          <span id="model-icon">{%= components.SVGRefIcon(r.IconSafe(), ps) %}</span>
          <span id="model-title">{%s r.TitleString() %}</span>
        </h3></a>
        {%= vwutil.Banner(w.Team, w.Sprint, "retrospective") %}
        <span id="owner-id" style="display: none;">{%s r.Owner.String() %}</span>
        {%= RetroWorkspaceModal(r, p.Teams, p.Sprints, w.Permissions.ToPermissions(), ps) %}
      </div>
    </div>
    <div id="panel-detail">
      <div class="card">
        <h3>{%= components.SVGRefIcon(`comment`, ps) %}Feedback</h3>
        <div class="clear"></div>
        {%= RetroWorkspaceFeedbacks(ps.Profile.ID, ps.Username(), w, ps) %}
      </div>
    </div>
    {%= vwutil.MemberPanels(w.UtilMembers, w.Admin(), r.PublicWebPath(), ps) %}
  </div>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      initWorkspace("{%s util.KeyRetro %}", "{%s r.ID.String() %}");
    });
  </script>
{% endfunc %}

{% func RetroWorkspaceModal(r *retro.Retro, teams team.Teams, sprints sprint.Sprints, perms util.Permissions, ps *cutil.PageState) %}
  <div id="modal-retro-config" class="modal" style="display: none;">
    <a class="backdrop" href="#"></a>
    <div class="modal-content">
      <div class="modal-header">
        <a href="#" class="modal-close">×</a>
        <h2>Retro</h2>
      </div>
      <div class="modal-body">
        <form action="{%s r.PublicWebPath() %}" method="post" class="expanded">
          <input type="hidden" name="action" value="{%s string(action.ActUpdate) %}" />
          {%= components.FormVerticalInput("title", "", "Title", r.TitleString(), 5, "The name of your retro") %}
          {%= components.FormVerticalIconPicker("icon", "Icon", r.IconSafe(), ps, 5) %}
          {%= components.FormVerticalInputTags("categories", "", "Categories", r.Categories, ps, 5, "The available categories for this retro") %}
          {%= components.FormVerticalSelect(util.KeyTeam, "config-team-input", "Team", util.UUIDString(r.TeamID), teams.IDStrings(true), teams.TitleStrings("- no team -"), 5) %}
          {%= components.FormVerticalSelect(util.KeySprint, "config-sprint-input", "Sprint", util.UUIDString(r.SprintID), sprints.IDStrings(true), sprints.TitleStrings("- no sprint -"), 5) %}
          <hr />
          {%= vwutil.PermissionsForm(util.KeyRetro, perms, true, teams, true, sprints, ps) %}
          <hr />
          <div class="right"><button type="submit">Save</button></div>
          <div class="clear"></div>
        </form>
      </div>
    </div>
  </div>
{% endfunc %}
