<%: func RetroFeedback(ctx web.RequestContext, buffer *bytes.Buffer) %>
<div class="uk-card uk-card-body">
  <h3 class="uk-card-title">
    <span class="model-icon h3-icon" onclick="modal.open('add-<%= util.KeyFeedback %>');" data-uk-icon="icon: <%= util.SvcRetro.Icon %>;"></span>
    <span class="modal-title" onclick="modal.open('add-<%= util.KeyFeedback %>');">Feedback</span>
  </h3>
  <p id="feedback-detail">Loading...</p>
</div>
<div id="modal-add-feedback" class="modal" data-uk-modal>
  <div class="uk-modal-dialog uk-margin-auto-vertical">
    <button class="uk-button uk-modal-close-default" type="button" data-uk-close></button>
    <div class="uk-modal-header">
      <h2 class="uk-modal-title">Add Feedback</h2>
    </div>
    <form class="uk-form-stacked" onsubmit="return feedback.onSubmitFeedback();">
      <div class="uk-modal-body" data-uk-overflow-auto>
        <fieldset class="uk-fieldset">
          <div class="uk-margin">
            <label class="uk-form-label" for="feedback-category"><%= util.Title(util.KeyCategory) %></label>
            <select class="uk-select" id="feedback-category"></select>
          </div>
          <div class="uk-margin">
            <label class="uk-form-label" for="feedback-content"><%= util.Title(util.KeyFeedback) %></label>
            <% components.Textarea(web.InputParams{ID: "feedback-content", Placeholder: "Markdown and HTML supported"}, buffer) %>
          </div>
        </fieldset>
      </div>
      <div class="uk-modal-footer uk-text-right">
        <button class="uk-button uk-button-default" type="submit">Save</button>
      </div>
    </form>
  </div>
</div>
<div id="modal-feedback" class="modal" data-uk-modal>
  <div class="uk-modal-dialog uk-margin-auto-vertical">
    <button class="uk-button uk-modal-close-default" type="button" data-uk-close></button>
    <div class="uk-modal-header">
      <h2 class="uk-modal-title" id="feedback-title">...</h2>
    </div>
    <div class="uk-modal-body" data-uk-overflow-auto>
      <div class="content-edit">
        <div class="uk-margin">
          <label class="uk-form-label" for="feedback-edit-category"><%= util.Title(util.KeyCategory) %></label>
          <select class="uk-select" id="feedback-edit-category"></select>
        </div>
        <div class="uk-margin">
          <label class="uk-form-label" for="feedback-edit-content"><%= util.Title(util.KeyContent) %></label>
          <% components.Textarea(web.InputParams{ID: "feedback-edit-content", Placeholder: "Markdown and HTML supported"}, buffer) %>
        </div>
      </div>
      <div class="content-view"></div>
    </div>
    <div class="uk-modal-footer uk-text-right">
      <div id="modal-comment-count" class="left"><% ComponentCommentBadge("modal", ctx, buffer) %></div>
      <div class="buttons-edit right">
        <button class="uk-button uk-button-default" type="button" onclick="feedback.onRemoveFeedback();">Delete</button>
        <button class="uk-button uk-button-default" type="button" onclick="feedback.onEditFeedback();">Save</button>
      </div>
      <div class="buttons-view right">
        <button class="uk-button uk-button-default" type="button" onclick="modal.hide('<%= util.KeyFeedback %>');">Close</button>
      </div>
    </div>
  </div>
</div>
