<%: func RetroForm(title string, categories []string, teams team.Sessions, sprints sprint.Sessions, auths auth.Records, ctx web.RequestContext, buffer *bytes.Buffer) %>
<fieldset class="uk-fieldset">
  <% ComponentSessionTitle(title, ctx, buffer) %>
  <div class="uk-margin">
    <label class="uk-form-label" for="model-categories-input">Categories</label>
    <input class="uk-input" id="model-categories-input" type="text" name="categories" value="<%= strings.Join(categories, `,`) %>" />
  </div>
  <% ComponentSessionTeam(teams, ctx, buffer) %>
  <% ComponentSessionSprint(sprints, ctx, buffer) %>
  <% ComponentSessionPerm(util.SvcRetro, true, true, auths, ctx, buffer) %>
</fieldset>
