<%: func RetroWorkspace(model *retro.Session, auths auth.Records, ctx *web.RequestContext, w io.Writer) (int, error) %>
<%~ "layout/basic.html" %>
<%@ head { %><% components.Init(util.SvcRetro, model.ID, _buffer) %><% } %>
<%@ nav { %><% components.Navbar(ctx, _buffer) %><% } %>
<%@ body { %>
<div class="uk-section uk-section-small">
  <div class="uk-container uk-container-expand">
    <div class="uk-grid-match uk-grid-small" data-uk-grid>
      <div class="uk-width-3-4@m">
        <% RetroSession(model, auths, ctx, _buffer) %>
        <% ActionsModal(ctx, _buffer) %>
      </div>
      <div class="uk-width-1-4@m">
        <% MemberSelf(auths, ctx, _buffer) %>
      </div>
      <div class="uk-width-3-4@m">
        <% RetroFeedback(ctx, _buffer) %>
      </div>
      <div class="uk-width-1-4@m">
        <% MemberOther(ctx, _buffer) %>
      </div>
    </div>
  </div>
</div>
<% ComponentSessionWelcome(util.SvcRetro, ctx, _buffer) %>
<% } %>
