<%: func RetroSession(model *retro.Session, auths auth.Records, ctx web.RequestContext, buffer *bytes.Buffer) %>
<div class="uk-card <%= ctx.Profile.Theme.CardClass %> uk-card-body">
  <h3 class="uk-card-title">
    <% ComponentSessionPublic(util.SvcRetro, ctx, buffer) %>
    <span class="model-icon h3-icon" onclick="events.openModal('<%= util.KeySession %>');" data-uk-icon="icon: <%= util.SvcRetro.Icon %>;"></span>
    <span id="model-title" onclick="events.openModal('<%= util.KeySession %>');"><%= model.Title %></span>
    <a class="<%= ctx.Profile.LinkClass() %> uk-icon uk-margin-small-left uk-transition-fade" data-uk-icon="comments" onclick="events.openModal('<%= util.KeyPlural(util.KeyAction) %>');return false;" title="view history"></a>
  </h3>
  <span id="sprint-link-container"></span>
  <%= util.SvcRetro.Key %>
  <span id="team-link-container"></span>
</div>
<div id="modal-session" data-uk-modal>
  <div class="uk-modal-dialog uk-margin-auto-vertical">
    <button class="uk-button uk-modal-close-default" type="button" data-uk-close></button>
    <div class="uk-modal-header">
      <h2 class="uk-modal-title">Edit <%= util.SvcRetro.Title %></h2>
    </div>
    <form class="uk-form-stacked" id="form-detail" onsubmit="retro.onSubmitRetroSession();return false;">
      <div class="uk-modal-body" data-uk-overflow-auto>
        <fieldset class="uk-fieldset">
          <% RetroForm(model.Title, model.Categories, nil, nil, auths, ctx, buffer) %>
        </fieldset>
      </div>
      <div class="uk-modal-footer uk-text-right">
        <button class="uk-button uk-button-default" type="submit">Save</button>
      </div>
    </form>
  </div>
</div>
