<%: func RetroView(s *retro.Session, ctx *npnweb.RequestContext, buffer *bytes.Buffer) %>
<table class="uk-table uk-table-divider uk-text-left">
  <tbody>
  <tr>
    <td class="uk-table-shrink uk-text-nowrap">Categories</td>
    <td><span class="categories">...</span></td>
  </tr>
  <tr>
    <td class="uk-table-shrink uk-text-nowrap">Team</td>
    <td><span class="team">...</span></td>
  </tr>
  <tr>
    <td class="uk-table-shrink uk-text-nowrap">Sprint</td>
    <td><span class="sprint">...</span></td>
  </tr>
  <tr>
    <td class="uk-table-shrink uk-text-nowrap">Permissions</td>
    <td class="perms">...</td>
  </tr>
  </tbody>
</table>
