<%: func EmailTable(emails email.Emails, params *npncore.Params, ctx *npnweb.RequestContext, buffer *bytes.Buffer) %>
<table class="uk-table uk-table-divider uk-text-left">
  <caption class="hidden"><%= ctx.Title %></caption>
  <thead>
    <tr>
      <% npntemplate.TableHeader(npncore.KeyEmail, npncore.KeyID, npncore.Title(npncore.KeyID), params, ctx.Request, buffer) %>
      <% npntemplate.TableHeader(npncore.KeyEmail, "subject", "Subject", params, ctx.Request, buffer) %>
      <% npntemplate.TableHeader(npncore.KeyEmail, npncore.KeyStatus, npncore.Title(npncore.KeyStatus), params, ctx.Request, buffer) %>
      <% npntemplate.TableHeader(util.KeyStory, npncore.KeyCreated, npncore.Title(npncore.KeyCreated), params, ctx.Request, buffer) %>
    </tr>
  </thead>
  <tbody>
  <% for _, model := range emails { %>
    <tr>
      <td class="uk-table-shrink uk-text-nowrap"><a class="theme" href="<%= ctx.Route(npnweb.AdminLink(npncore.KeyEmail, npncore.KeyDetail), `id`, model.ID) %>"><%= model.ID %></a></td>
      <td><%= model.Subject %></td>
      <td><%= model.Status %></td>
      <td class="uk-table-shrink uk-text-nowrap"><% npntemplate.DateTime(&model.Created, buffer) %></td>
    </tr>
  <% } %>
  </tbody>
</table>
