<%: func RetroTable(retros retro.Sessions, params *query.Params, ctx *web.RequestContext, buffer *bytes.Buffer) %>

<table class="uk-table uk-table-divider uk-text-left">
  <thead>
    <tr>
      <% components.TableHeader(util.SvcRetro.Key, util.KeyID, util.Title(util.KeyID), params, ctx, buffer) %>
      <% components.TableHeader(util.SvcRetro.Key, util.KeySlug, util.Title(util.KeySlug), params, ctx, buffer) %>
      <% components.TableHeader(util.SvcRetro.Key, util.KeyTitle, util.Title(util.KeyTitle), params, ctx, buffer) %>
      <% components.TableHeader(util.SvcRetro.Key, util.KeyOwner, util.Title(util.KeyOwner), params, ctx, buffer) %>
      <% components.TableHeader(util.SvcRetro.Key, util.KeyCreated, util.Title(util.KeyCreated), params, ctx, buffer) %>
    </tr>
  </thead>
  <tbody>
  <% for _, model := range retros { %>
    <tr>
      <td class="uk-table-shrink uk-text-nowrap"><a class="theme" href="<%= ctx.Route(util.AdminLink(util.SvcRetro.Key, util.KeyDetail), `id`, model.ID.String()) %>"><% components.UUID(&model.ID, buffer) %></a></td>
      <td><a class="theme" href="<%= ctx.Route(util.SvcRetro.Key, util.KeyKey, model.Slug) %>"><%= model.Slug %></a></td>
      <td><%= model.Title %></td>
      <td class="uk-table-shrink uk-text-nowrap"><a class="theme" href="<%= ctx.Route(util.AdminLink(util.KeyUser, util.KeyDetail), `id`, model.Owner.String()) %>"><% components.UUID(&model.Owner, buffer) %></a></td>
      <td class="uk-table-shrink uk-text-nowrap"><% components.DateTime(&model.Created, buffer) %></td>
    </tr>
  <% } %>
  </tbody>
</table>
