<%: func AdminActionTable(actions []*action.Action, ctx web.RequestContext, buffer *bytes.Buffer) %>

<table class="uk-table uk-table-divider uk-text-left">
  <thead>
    <tr>
      <th>ID</th>
      <th>Model</th>
      <th>AuthorID</th>
      <th>Act</th>
      <th>Note</th>
      <th>Created</th>
    </tr>
  </thead>
  <tbody>
  <% for _, model := range actions { %>
    <tr>
      <td class="uk-table-shrink uk-text-nowrap"><a class="<%= ctx.Profile.LinkClass() %>" href="<%= ctx.Route(`admin.action.detail`, `id`, model.ID.String()) %>"><% ComponentUUID(&model.ID, buffer) %></a></td>
      <td class="uk-table-shrink uk-text-nowrap"><% ComponentChannel(model.Svc, &model.ModelID, ctx, buffer) %></td>
      <td class="uk-table-shrink uk-text-nowrap"><a class="<%= ctx.Profile.LinkClass() %>" href="<%= ctx.Route(`admin.user.detail`, `id`, model.ID.String()) %>"><% ComponentUUID(&model.AuthorID, buffer) %></a></td>
      <td class="uk-table-shrink uk-text-nowrap"><%= model.Act %></td>
      <td><%= model.Note %></td>
      <td class="uk-table-shrink uk-text-nowrap"><% ComponentDateTime(&model.Occurred, buffer) %></td>
    </tr>
  <% } %>
  </tbody>
</table>
