<%: func AdminAuthTable(auths []*auth.Record, params *query.Params, ctx web.RequestContext, buffer *bytes.Buffer) %>

<table class="uk-table uk-table-divider uk-text-left">
  <thead>
    <tr>
      <% ComponentTableHeader("id", "ID", params, ctx, buffer) %>
      <% ComponentTableHeader("userID", "User", params, ctx, buffer) %>
      <% ComponentTableHeader("provider", "Provider", params, ctx, buffer) %>
      <% ComponentTableHeader("providerID", "Provider ID", params, ctx, buffer) %>
      <% ComponentTableHeader("name", "Name", params, ctx, buffer) %>
      <% ComponentTableHeader("email", "Email", params, ctx, buffer) %>
      <% ComponentTableHeader("created", "Created", params, ctx, buffer) %>
    </tr>
  </thead>
  <tbody>
  <% for _, model := range auths { %>
    <tr>
      <td class="uk-table-shrink uk-text-nowrap"><a class="<%= ctx.Profile.LinkClass() %>" href="<%= ctx.Route(`admin.auth.detail`, `id`, model.ID.String()) %>"><% ComponentUUID(&model.ID, buffer) %></a></td>
      <td class="uk-table-shrink uk-text-nowrap"><a class="<%= ctx.Profile.LinkClass() %>" href="<%= ctx.Route(`admin.user.detail`, `id`, model.UserID.String()) %>"><% ComponentUUID(&model.UserID, buffer) %></a></td>
      <td class="uk-table-shrink uk-text-nowrap"><%= model.Provider.Key %></td>
      <td class="uk-table-shrink uk-text-nowrap"><%= model.ProviderID %></td>
      <td class="uk-table-shrink uk-text-nowrap"><%= model.Name %></td>
      <td class="uk-table-shrink uk-text-nowrap"><%= model.Email %></td>
      <td class="uk-table-shrink uk-text-nowrap"><% ComponentDateTime(&model.Created, buffer) %></td>
    </tr>
  <% } %>
  </tbody>
</table>
