<%: func AdminEstimateTable(estimates []estimate.Session, ctx web.RequestContext, buffer *bytes.Buffer) %>

<table class="uk-table uk-table-divider uk-text-left">
  <thead>
    <tr>
      <th>Slug</th>
      <th>Title</th>
      <th>Owner</th>
      <th>Created</th>
    </tr>
  </thead>
  <tbody>
  <% for _, model := range estimates { %>
    <tr>
      <td><a class="<%= ctx.Profile.LinkClass() %>" href="<%= ctx.Route(`admin.estimate.detail`, `id`, model.ID.String()) %>"><%=v model.Slug %></a></td>
      <td><%= model.Title %></td>
      <td><a class="<%= ctx.Profile.LinkClass() %>" href="<%= ctx.Route(`admin.user.detail`, `id`, model.Owner.String()) %>"><%=v model.Owner %></a></td>
      <td><% ComponentDateTime(&model.Created, buffer) %></td>
    </tr>
  <% } %>
  </tbody>
</table>
