<%: func AdminHome(ctx web.RequestContext, w io.Writer) (int, error) %>

<%~ "layout/basic.html" %>

<%@ body { %>
<div class="uk-section uk-section-small">
  <div class="uk-container">
    <div class="uk-card <%= ctx.Profile.Theme.CardClass %> uk-card-body">
      <h3 class="uk-card-title">Administration</h3>
      <p>Privileged actions for <%= util.AppName %></p>
      <ul class="uk-list uk-list-divider">
        <li><a class="<%= ctx.Profile.LinkClass() %>" href="<%= ctx.Route(`admin.user`) %>">Users</a></li>
        <li><a class="<%= ctx.Profile.LinkClass() %>" href="<%= ctx.Route(`admin.auth`) %>">Auth</a></li>
        <li><a class="<%= ctx.Profile.LinkClass() %>" href="<%= ctx.Route(`admin.action`) %>">Actions</a></li>
        <li><a class="<%= ctx.Profile.LinkClass() %>" href="<%= ctx.Route(`admin.team`) %>">Teams</a></li>
        <li><a class="<%= ctx.Profile.LinkClass() %>" href="<%= ctx.Route(`admin.sprint`) %>">Sprints</a></li>
        <li><a class="<%= ctx.Profile.LinkClass() %>" href="<%= ctx.Route(`admin.invitation`) %>">Invitations</a></li>
        <li><a class="<%= ctx.Profile.LinkClass() %>" href="<%= ctx.Route(`admin.estimate`) %>">Estimates</a></li>
        <li><a class="<%= ctx.Profile.LinkClass() %>" href="<%= ctx.Route(`admin.standup`) %>"><%= util.SvcStandup.PluralTitle %></a></li>
        <li><a class="<%= ctx.Profile.LinkClass() %>" href="<%= ctx.Route(`admin.retro`) %>"><%= util.SvcRetro.PluralTitle %></a></li>
        <li><a class="<%= ctx.Profile.LinkClass() %>" href="<%= ctx.Route(`admin.connection`) %>">Connections</a></li>
        <li><a class="<%= ctx.Profile.LinkClass() %>" href="<%= ctx.Route(`graphql`) %>">GraphQL</a></li>
      </ul>
    </div>
  </div>
</div>
<% } %>
