<%: func AdminInviteList(invites []*invite.Invitation, ctx web.RequestContext, w io.Writer) (int, error) %>

<%~ "layout/basic.html" %>

<%@ body { %>
<div class="uk-section uk-section-small">
  <div class="uk-container">
    <div class="uk-card <%= ctx.Profile.Theme.CardClass %> uk-card-body">
      <h3 class="uk-card-title">Invitations</h3>
      <table class="uk-table uk-table-divider uk-text-left">
        <thead>
          <tr>
            <th>Key</th>
            <th>Relation</th>
            <th>Source</th>
            <th>Target</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
        <% for _, i := range invites { %>
          <tr>
            <td><a class="<%= ctx.Profile.LinkClass() %>" href="<%= ctx.Route(`admin.invite.detail`, `key`, i.Key) %>"><%= i.Key %></a></td>
            <td><%= i.K.String() %>:<%= i.V %></td>
            <td><% ComponentUUID(i.Src, _buffer) %></td>
            <td><% ComponentUUID(i.Tgt, _buffer) %></td>
            <td><%= i.Status.String() %></td>
          </tr>
        <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<% } %>
