<%: func AdminInviteTable(invites []*invite.Invitation, params *query.Params, ctx web.RequestContext, buffer *bytes.Buffer) %>

<table class="uk-table uk-table-divider uk-text-left">
  <thead>
    <tr>
      <% ComponentTableHeader("key", "Key", params, ctx, buffer) %>
      <% ComponentTableHeader("relation", "Relation", params, ctx, buffer) %>
      <% ComponentTableHeader("source", "Source", params, ctx, buffer) %>
      <% ComponentTableHeader("target", "Target", params, ctx, buffer) %>
      <% ComponentTableHeader("status", "Status", params, ctx, buffer) %>
    </tr>
  </thead>
  <tbody>
  <% for _, i := range invites { %>
    <tr>
      <td><a class="<%= ctx.Profile.LinkClass() %>" href="<%= ctx.Route(`admin.invite.detail`, `key`, i.Key) %>"><%= i.Key %></a></td>
      <td><%= i.K.String() %>:<%= i.V %></td>
      <td><% ComponentUUID(i.Src, buffer) %></td>
      <td><% ComponentUUID(i.Tgt, buffer) %></td>
      <td><%= i.Status.String() %></td>
    </tr>
  <% } %>
  </tbody>
</table>
