<%: func AdminSprintDetail(model *sprint.Session, members []*member.Entry, estimates []*estimate.Session, standups []*standup.Session, retros []*retro.Session, actions []*action.Action, params query.ParamSet, ctx web.RequestContext, w io.Writer) (int, error) %>

<%~ "layout/basic.html" %>

<%@ body { %>
<div class="uk-section uk-section-small">
  <div class="uk-container">
    <div class="uk-card <%= ctx.Profile.Theme.CardClass %> uk-card-body">
      <h3 class="uk-card-title">
        <div class="right"><a class="uk-button uk-button-default" href="<%= ctx.Route(util.SvcSprint.Key, `key`, model.Slug) %>">Join</a></div>
        Sprint
      </h3>
      <table class="uk-table uk-table-divider uk-text-left">
        <tbody>
          <tr>
            <th>ID</th>
            <td><%= model.ID.String() %></td>
          </tr>
          <tr>
            <th>Slug</th>
            <td><%= model.Slug %></td>
          </tr>
          <tr>
            <th>Title</th>
            <td><%= model.Title %></td>
          </tr>
          <tr>
            <th>Owner</th>
            <td><a class="<%= ctx.Profile.LinkClass() %>" href="<%= ctx.Route(`admin.user.detail`, `id`, model.Owner.String()) %>"><% ComponentUUID(&model.Owner, _buffer) %></a></td>
          </tr>
          <tr>
            <th>Start Date</th>
            <td><% ComponentDate(model.StartDate, _buffer) %></td>
          </tr>
          <tr>
            <th>End Date</th>
            <td><% ComponentDate(model.EndDate, _buffer) %></td>
          </tr>
          <tr>
            <th>Created</th>
            <td><% ComponentDateTime(&model.Created, _buffer) %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="uk-card <%= ctx.Profile.Theme.CardClass %> uk-card-body uk-margin-top">
      <h3 class="uk-card-title">Members</h3>
        <% if len(members) == 0 { %>
      <p>No members available</p>
      <% } else { %>
        <% AdminMemberTable(members, params.Get(util.KeyMember, ctx.Logger), ctx, _buffer) %>
      <% } %>
    </div>
    <div class="uk-card <%= ctx.Profile.Theme.CardClass %> uk-card-body uk-margin-top">
      <h3 class="uk-card-title">Estimates</h3>
      <% if len(estimates) == 0 { %>
      <p>No estimates available</p>
      <% } else { %>
      <% AdminEstimateTable(estimates, params.Get(util.SvcEstimate.Key, ctx.Logger), ctx, _buffer) %>
      <% } %>
    </div>
    <div class="uk-card <%= ctx.Profile.Theme.CardClass %> uk-card-body uk-margin-top">
      <h3 class="uk-card-title">Standups</h3>
      <% if len(standups) == 0 { %>
      <p>No standups available</p>
      <% } else { %>
      <% AdminStandupTable(standups, params.Get(util.SvcStandup.Key, ctx.Logger), ctx, _buffer) %>
      <% } %>
    </div>
    <div class="uk-card <%= ctx.Profile.Theme.CardClass %> uk-card-body uk-margin-top">
      <h3 class="uk-card-title">Retros</h3>
      <% if len(retros) == 0 { %>
        <p>No retros available</p>
      <% } else { %>
        <% AdminRetroTable(retros, params.Get(util.SvcRetro.Key, ctx.Logger), ctx, _buffer) %>
      <% } %>
    </div>
    <div class="uk-card <%= ctx.Profile.Theme.CardClass %> uk-card-body uk-margin-top">
      <h3 class="uk-card-title">Actions</h3>
      <% if len(actions) == 0 { %>
        <p>No actions available</p>
      <% } else { %>
        <% AdminActionTable(actions, params.Get(util.KeyAction, ctx.Logger), ctx, _buffer) %>
      <% } %>
    </div>
  </div>
</div>
<% } %>
