<%: func AdminStandupDetail(model *standup.Session, members []*member.Entry, reports []*standup.Report, actions []*action.Action, ctx web.RequestContext, w io.Writer) (int, error) %>

<%~ "layout/basic.html" %>

<%@ body { %>
<div class="uk-section uk-section-small">
  <div class="uk-container">
    <div class="uk-card <%= ctx.Profile.Theme.CardClass %> uk-card-body">
      <h3 class="uk-card-title">
        <div class="right"><a class="uk-button uk-button-default" href="<%= ctx.Route(util.SvcStandup, `key`, model.Slug) %>">Join</a></div>
        Daily Standup
      </h3>
      <table class="uk-table uk-table-divider uk-text-left">
        <tbody>
          <tr>
            <th>ID</th>
            <td><%= model.ID.String() %></td>
          </tr>
          <tr>
            <th>Slug</th>
            <td><%= model.Slug %></td>
          </tr>
          <tr>
            <th>Title</th>
            <td><%= model.Title %></td>
          </tr>
          <tr>
            <th>Owner</th>
            <td><a class="<%= ctx.Profile.LinkClass() %>" href="<%= ctx.Route(`admin.user.detail`, `id`, model.Owner.String()) %>"><% ComponentUUID(&model.Owner, _buffer) %></a></td>
          </tr>
          <tr>
            <th>Status</th>
            <td><%= model.Status.String() %></td>
          </tr>
          <tr>
            <th>Created</th>
            <td><% ComponentDateTime(&model.Created, _buffer) %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="uk-card <%= ctx.Profile.Theme.CardClass %> uk-card-body uk-margin-top">
      <h3 class="uk-card-title">Members</h3>
      <% if len(members) == 0 { %>
      <p>No members available</p>
      <% } else { %>
      <% AdminMemberTable(members, ctx, _buffer) %>
      <% } %>
    </div>
    <div class="uk-card <%= ctx.Profile.Theme.CardClass %> uk-card-body uk-margin-top">
      <h3 class="uk-card-title">Reports</h3>
      <% if len(reports) == 0 { %>
      <p>No reports available</p>
      <% } else { %>
      <% AdminReportTable(reports, ctx, _buffer) %>
      <% } %>
    </div>
    <div class="uk-card <%= ctx.Profile.Theme.CardClass %> uk-card-body uk-margin-top">
      <h3 class="uk-card-title">Actions</h3>
      <% if len(actions) == 0 { %>
      <p>No actions available</p>
      <% } else { %>
      <% AdminActionTable(actions, ctx, _buffer) %>
      <% } %>
    </div>
  </div>
</div>
<% } %>
