<%: func AdminStandupTable(standups []*standup.Session, ctx web.RequestContext, buffer *bytes.Buffer) %>

<table class="uk-table uk-table-divider uk-text-left">
  <thead>
    <tr>
      <th>ID</th>
      <th>Slug</th>
      <th>Title</th>
      <th>Owner</th>
      <th>Created</th>
    </tr>
  </thead>
  <tbody>
  <% for _, model := range standups { %>
    <tr>
      <td class="uk-table-shrink uk-text-nowrap"><a class="<%= ctx.Profile.LinkClass() %>" href="<%= ctx.Route(`admin.standup.detail`, `id`, model.ID.String()) %>"><% ComponentUUID(&model.ID, buffer) %></a></td>
      <td><a class="<%= ctx.Profile.LinkClass() %>" href="<%= ctx.Route(`standup`, `key`, model.Slug) %>"><%= model.Slug %></a></td>
      <td><%= model.Title %></td>
      <td class="uk-table-shrink uk-text-nowrap"><a class="<%= ctx.Profile.LinkClass() %>" href="<%= ctx.Route(`admin.user.detail`, `id`, model.Owner.String()) %>"><% ComponentUUID(&model.Owner, buffer) %></a></td>
      <td class="uk-table-shrink uk-text-nowrap"><% ComponentDateTime(&model.Created, buffer) %></td>
    </tr>
  <% } %>
  </tbody>
</table>
