<%: func AdminStoryTable(stories []*estimate.Story, ctx web.RequestContext, buffer *bytes.Buffer) %>

<table class="uk-table uk-table-divider uk-text-left">
  <thead>
    <tr>
      <th>ID</th>
      <th>Index</th>
      <th>Status</th>
      <th>Title</th>
      <th>Author</th>
      <th>Created</th>
    </tr>
  </thead>
  <tbody>
  <% for _, model := range stories { %>
    <tr>
      <td class="uk-table-shrink uk-text-nowrap"><a class="<%= ctx.Profile.LinkClass() %>" href="<%= ctx.Route(`admin.story.detail`, `id`, model.ID.String()) %>"><% ComponentUUID(&model.ID, buffer) %></a></td>
      <td class="uk-table-shrink uk-text-nowrap"><%=v model.Idx %></td>
      <td class="uk-table-shrink uk-text-nowrap"><%= model.Status.String() %></td>
      <td><%= model.Title %></td>
      <td class="uk-table-shrink uk-text-nowrap"><a class="<%= ctx.Profile.LinkClass() %>" href="<%= ctx.Route(`admin.user.detail`, `id`, model.AuthorID.String()) %>"><% ComponentUUID(&model.AuthorID, buffer) %></a></td>
      <td class="uk-table-shrink uk-text-nowrap"><% ComponentDateTime(&model.Created, buffer) %></td>
    </tr>
  <% } %>
  </tbody>
</table>
