<%: func AdminUserTable(users []*user.SystemUser, params *query.Params, ctx web.RequestContext, buffer *bytes.Buffer) %>

<table class="uk-table uk-table-divider uk-text-left">
  <thead>
    <tr>
      <% ComponentTableHeader(util.KeyUser, "id", "ID", params, ctx, buffer) %>
      <% ComponentTableHeader(util.KeyUser, "name", "Name", params, ctx, buffer) %>
      <% ComponentTableHeader(util.KeyUser, "role", "Role", params, ctx, buffer) %>
      <% ComponentTableHeader(util.KeyUser, "theme", "Theme", params, ctx, buffer) %>
      <% ComponentTableHeader(util.KeyUser, "locale", "Locale", params, ctx, buffer) %>
      <% ComponentTableHeader(util.KeyUser, "created", "Created", params, ctx, buffer) %>
    </tr>
  </thead>
  <tbody>
  <% for _, u := range users { %>
    <tr>
      <td><a class="<%= ctx.Profile.LinkClass() %>" href="<%= ctx.Route(util.AdminLink(util.KeyUser, `detail`), `id`, u.UserID.String()) %>"><% ComponentUUID(&u.UserID, buffer) %></a></td>
      <td><%= u.Name %></td>
      <td><%= u.Role %></td>
      <td><%= u.Theme %></td>
      <td><%=v u.Locale %></td>
      <td><% ComponentDateTime(&u.Created, buffer) %></td>
    </tr>
  <% } %>
  </tbody>
</table>
