{% import (
  "github.com/kyleu/rituals/app"
  "github.com/kyleu/rituals/app/controller/cutil"
  "github.com/kyleu/rituals/app/enum"
  "github.com/kyleu/rituals/app/retro"
  "github.com/kyleu/rituals/app/retro/rmember"
  "github.com/kyleu/rituals/app/user"
  "github.com/kyleu/rituals/views/components"
  "github.com/kyleu/rituals/views/components/view"
  "github.com/kyleu/rituals/views/layout"
) %}

{% code type Detail struct {
  layout.Basic
  Model *rmember.RetroMember
  RetroByRetroID *retro.Retro
  UserByUserID *user.User
  Paths []string
} %}

{% func (p *Detail) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <div class="right">
      <a href="#modal-retroMember"><button type="button">{%= components.SVGButton("file", ps) %} JSON</button></a>
      <a href="{%s p.Model.WebPath(p.Paths...) %}/edit"><button>{%= components.SVGButton("edit", ps) %} Edit</button></a>
    </div>
    <h3>{%= components.SVGIcon(`users`, ps) %} {%s p.Model.TitleString() %}</h3>
    <div><a href="{%s rmember.Route(p.Paths...) %}"><em>Member</em></a></div>
    <div class="mt overflow full-width">
      <table>
        <tbody>
          <tr>
            <th class="shrink" title="UUID in format (00000000-0000-0000-0000-000000000000)">Retro ID</th>
            <td class="nowrap">
              {%= view.UUID(&p.Model.RetroID) %}{% if p.RetroByRetroID != nil %} ({%s p.RetroByRetroID.TitleString() %}){% endif %}
              <a title="Retro" href="{%s p.Model.WebPath(p.Paths...) %}">{%= components.SVGLink(`retro`, ps) %}</a>
            </td>
          </tr>
          <tr>
            <th class="shrink" title="UUID in format (00000000-0000-0000-0000-000000000000)">User ID</th>
            <td class="nowrap">
              {%= view.UUID(&p.Model.UserID) %}{% if p.UserByUserID != nil %} ({%s p.UserByUserID.TitleString() %}){% endif %}
              <a title="User" href="{%s p.Model.WebPath(p.Paths...) %}">{%= components.SVGLink(`profile`, ps) %}</a>
            </td>
          </tr>
          <tr>
            <th class="shrink" title="String text">Name</th>
            <td><strong>{%= view.String(p.Model.Name) %}</strong></td>
          </tr>
          <tr>
            <th class="shrink" title="URL in string form">Picture</th>
            <td><a href="{%s p.Model.Picture %}" target="_blank" rel="noopener noreferrer">{%s p.Model.Picture %}</a></td>
          </tr>
          <tr>
            <th class="shrink" title="{%s enum.AllMemberStatuses.Help() %}">Role</th>
            <td>{%s p.Model.Role.String() %}</td>
          </tr>
          <tr>
            <th class="shrink" title="Date and time, in almost any format">Created</th>
            <td>{%= view.Timestamp(&p.Model.Created) %}</td>
          </tr>
          <tr>
            <th class="shrink" title="Date and time, in almost any format (optional)">Updated</th>
            <td>{%= view.Timestamp(p.Model.Updated) %}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  {%- comment %}$PF_SECTION_START(extra)${% endcomment -%}
  {%- comment %}$PF_SECTION_END(extra)${% endcomment -%}
  {%= components.JSONModal("retroMember", "Member JSON", p.Model, 1) %}
{% endfunc %}
