<%: func MemberTable(members member.Entries, params *npncore.Params, ctx *npnweb.RequestContext, buffer *bytes.Buffer) %>

<table class="uk-table uk-table-divider uk-text-left">
  <thead>
    <tr>
      <% npntemplate.TableHeader(npncore.KeyMember, npncore.WithID(npncore.KeyUser), "User ID", params, ctx.Request, buffer) %>
      <% npntemplate.TableHeader(npncore.KeyMember, npncore.KeyName, "Name", params, ctx.Request, buffer) %>
      <% npntemplate.TableHeader(npncore.KeyMember, npncore.KeyRole, "Role", params, ctx.Request, buffer) %>
      <% npntemplate.TableHeader(npncore.KeyMember, npncore.KeyCreated, npncore.Title(npncore.KeyCreated), params, ctx.Request, buffer) %>
    </tr>
  </thead>
  <tbody>
  <% for _, model := range members { %>
    <tr>
      <td class="uk-table-shrink uk-text-nowrap"><a class="theme" href="<%= ctx.Route(npnweb.AdminLink(npncore.KeyUser, npncore.KeyDetail), `id`, model.UserID.String()) %>"><% npntemplate.UUID(&model.UserID, buffer) %></a></td>
      <td><%= model.Name %></td>
      <td class="uk-table-shrink uk-text-nowrap"><%= model.Role.String() %></td>
      <td class="uk-table-shrink uk-text-nowrap"><% npntemplate.DateTime(&model.Created, buffer) %></td>
    </tr>
  <% } %>
  </tbody>
</table>
