<%: func EstimateForm(title string, choices []string, teams team.Sessions, sprints sprint.Sessions, auths auth.Records, showName bool, ctx *web.RequestContext, buffer *bytes.Buffer) %>
<fieldset class="uk-fieldset">
  <% ComponentSessionTitle(title, ctx, buffer) %>
  <div class="uk-margin">
    <label class="uk-form-label" for="model-choices-input">Choices</label>
    <input class="uk-input" id="model-choices-input" name="<%= util.Plural(util.KeyChoice) %>" type="text" value="<%= strings.Join(choices, `,`) %>" />
  </div>
  <% if showName { %>
  <% ComponentSessionMemberName(ctx.Profile.Name, ctx, buffer) %>
  <% } %>
  <% ComponentSessionTeam(teams, ctx, buffer) %>
  <% ComponentSessionSprint(sprints, ctx, buffer) %>
  <% ComponentSessionPerm(util.SvcEstimate, true, true, auths, ctx, buffer) %>
</fieldset>
