<%: func EstimateList(sessions estimate.Sessions, teams team.Sessions, sprints sprint.Sessions, auths auth.Records, params *npncore.Params, ctx *npnweb.RequestContext, w io.Writer) (int, error) %>
<%~ "layout/basic.html" %>
<%@ nav { %><% npntemplate.Navbar(ctx, _buffer) %><% } %>
<%@ body { %>
<div class="uk-section uk-section-small">
  <div class="uk-container">
    <div class="uk-card uk-card-body">
      <h3 class="uk-card-title"><span class="h3-icon" data-uk-icon="icon: <%= util.SvcEstimate.Icon %>"></span> <%= util.SvcEstimate.PluralTitle %></h3>
      <p><%= util.SvcEstimate.Description %></p>
      <% if len(sessions) > 0 { %>
        <% EstimateTable(sessions, params, ctx, _buffer) %>
      <% } %>
    </div>

    <div class="uk-card uk-card-body uk-margin-top">
      <h3 class="uk-card-title">New <%= util.SvcEstimate.Title %></h3>
      <form class="uk-form-stacked" action="<%= ctx.Route(util.SvcEstimate.Key + `.new`) %>" method="post">
        <% EstimateForm("", estimate.DefaultChoices, teams, sprints, auths, true, ctx, _buffer) %>
        <div class="uk-margin-top">
          <button class="uk-button uk-button-default" type="submit">Start</button>
        </div>
      </form>
    </div>
  </div>
</div>
<% } %>
