<%: func EstimateSession(model *estimate.Session, auths auth.Records, ctx *web.RequestContext, buffer *bytes.Buffer) %>
<div class="uk-card uk-card-body uk-transition-toggle">
  <h3 class="uk-card-title">
    <% ComponentSessionIcon(util.SvcEstimate, ctx, buffer) %>
    <span class="model-icon h3-icon" onclick="modal.open('<%= util.KeySession %>');" data-uk-icon="icon: <%= util.SvcEstimate.Icon %>;"></span>
    <span id="model-title" onclick="modal.open('<%= util.KeySession %>');"><%= model.Title %></span>
  </h3>
  <span id="sprint-link-container"></span>
  <%= util.SvcEstimate.Key %>
  <span id="team-link-container"></span>
</div>
<div id="modal-session" class="modal" data-uk-modal>
  <div class="uk-modal-dialog uk-margin-auto-vertical">
    <button class="uk-button uk-modal-close-default" type="button" data-uk-close></button>
    <div id="session-view-section">
      <div class="uk-modal-header">
        <h2 class="uk-modal-title">View <%= util.SvcEstimate.Title %></h2>
      </div>
      <p>Choices: </p>
    </div>
    <div id="session-edit-section">
      <div class="uk-modal-header">
        <h2 class="uk-modal-title">Edit <%= util.SvcEstimate.Title %></h2>
      </div>
      <form class="uk-form-stacked" onsubmit="estimate.onSubmitEstimateSession();return false;">
        <div class="uk-modal-body" data-uk-overflow-auto>
          <% EstimateForm(model.Title, model.Choices, nil, nil, auths, false, ctx, buffer) %>
        </div>
        <div class="uk-modal-footer uk-text-right">
          <button class="uk-button uk-button-default" type="submit">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
