<%: func EstimateStories(ctx web.RequestContext, buffer *bytes.Buffer) %>
<div class="uk-card <%= ctx.Profile.Theme.CardClass %> uk-card-body uk-transition-toggle">
  <h3 class="uk-card-title">
    <span class="right">
      <a class="<%= ctx.Profile.LinkClass() %> uk-icon-button uk-transition-fade" data-uk-icon="plus" onclick="events.openModal('add-story');return false;" title="add story"></a>
    </span>
    <span class="modal-title" onclick="events.openModal('add-story');">Stories</span>
  </h3>
  <p id="story-detail">Loading...</p>
</div>
<div id="modal-add-story" data-uk-modal>
  <div class="uk-modal-dialog uk-margin-auto-vertical">
    <button class="uk-button uk-modal-close-default" type="button" data-uk-close></button>
    <div class="uk-modal-header">
      <h2 class="uk-modal-title">Add New Story</h2>
    </div>
    <form class="uk-form-stacked" id="form-detail" onsubmit="return story.onSubmitStory();">
      <div class="uk-modal-body" data-uk-overflow-auto>
        <fieldset class="uk-fieldset">
          <div class="uk-margin">
            <label class="uk-form-label" for="story-title-input">Title</label>
            <input class="uk-input" id="story-title-input" type="text" />
          </div>
        </fieldset>
      </div>
      <div class="uk-modal-footer uk-text-right">
        <button class="uk-button uk-button-default" type="submit">Save</button>
      </div>
    </form>
  </div>
</div>
<div id="modal-story" class="uk-modal-container" data-uk-modal>
  <div class="uk-modal-dialog uk-margin-auto-vertical">
    <button class="uk-button uk-modal-close-default" type="button" data-uk-close></button>
    <div class="uk-modal-header">
      <h2 class="uk-modal-title" id="story-status">...</h2>
    </div>
    <div class="uk-modal-body" data-uk-overflow-auto>
      <div id="story-title" class="uk-border-rounded">Story Detail</div>
      <div class="modal-body-height">
        <div id="story-status-body-pending" class="story-status-body active">
          <p>Your story is ready to <a class="<%= ctx.Profile.LinkColor %>-fg" href="" onclick="story.requestStoryStatus('active');return false;">start voting</a></p>
        </div>
        <div id="story-status-body-active" class="story-status-body">
          <div id="story-vote-members"></div>
          <hr />
          <div id="story-vote-choices"></div>
        </div>
        <div id="story-status-body-complete" class="story-status-body">
          <div id="story-vote-results"></div>
          <hr />
          <div id="story-vote-summary"></div>
        </div>
      </div>
    </div>
    <div class="uk-modal-footer uk-text-right">
      <div id="story-status-actions-pending" class="story-status-actions">
        <button class="uk-button uk-button-default" type="button" onclick="story.requestStoryStatus('active');">Start Voting</button>
      </div>

      <div id="story-status-actions-active" class="story-status-actions">
        <button class="uk-button uk-button-default" type="button" onclick="story.requestStoryStatus('pending');">Reset</button>
        <button class="uk-button uk-button-default" type="button" onclick="story.requestStoryStatus('complete');">Finish</button>
      </div>

      <div id="story-status-actions-complete" class="story-status-actions">
        <button class="uk-button uk-button-default" type="button" onclick="story.requestStoryStatus('active');">Reopen</button>
        <button class="uk-button uk-button-default" type="button" onclick="UIkit.modal('#modal-story').hide();">Close</button>
      </div>
    </div>
  </div>
</div>
