<%: func EstimateStories(ctx web.RequestContext, buffer *bytes.Buffer) %>
<div class="uk-card <%= ctx.Profile.Theme.CardClass %> uk-card-body uk-transition-toggle">
  <h3 class="uk-card-title">
    <span class="right">
      <a class="<%= ctx.Profile.LinkClass() %> uk-icon-button uk-transition-fade" data-uk-icon="plus" onclick="events.openModal('add-story');return false;" title="add story"></a>
    </span>
    <span class="modal-title" onclick="events.openModal('add-story');">Stories</span>
  </h3>
  <p id="story-detail">Loading...</p>
</div>
<div id="modal-add-story" data-uk-modal>
  <div class="uk-modal-dialog uk-margin-auto-vertical">
    <button class="uk-button uk-modal-close-default" type="button" data-uk-close></button>
    <div class="uk-modal-header">
      <h2 class="uk-modal-title">Add New Story</h2>
    </div>
    <form class="uk-form-stacked" id="form-detail" onsubmit="return story.onSubmitStory();">
      <div class="uk-modal-body" data-uk-overflow-auto>
        <fieldset class="uk-fieldset">
          <div class="uk-margin">
            <label class="uk-form-label" for="story-title-input">Title</label>
            <input class="uk-input" id="story-title-input" type="text" />
          </div>
        </fieldset>
      </div>
      <div class="uk-modal-footer uk-text-right">
        <button class="uk-button uk-button-default" type="submit">Save</button>
      </div>
    </form>
  </div>
</div>
<div id="modal-story" class="uk-modal-container" data-uk-modal>
  <div class="uk-modal-dialog uk-margin-auto-vertical">
    <button class="uk-button uk-modal-close-default" type="button" data-uk-close></button>
    <div class="uk-modal-header">
      <h2 class="uk-modal-title" id="story-title">Story Detail</h2>
    </div>
    <div id="story-status-section-pending" class="story-status-section active">
      <div class="uk-modal-body" data-uk-overflow-auto>
        <div class="modal-body-height-200">
          <p>Pending!</p>
        </div>
      </div>
      <div class="uk-modal-footer uk-text-right">
        <button class="uk-button uk-button-default" type="button" onclick="story.requestStoryStatus('active');">Vote</button>
      </div>
    </div>
    <div id="story-status-section-active" class="story-status-section">
      <div class="uk-modal-body" data-uk-overflow-auto>
        <div class="modal-body-height-200">
          <div id="story-vote-members"></div>
          <hr />
          <div id="story-vote-choices"></div>
        </div>
      </div>
      <div class="uk-modal-footer uk-text-right">
        <button class="uk-button uk-button-default" type="button" onclick="story.requestStoryStatus('pending');">Edit</button>
        <button class="uk-button uk-button-default" type="button" onclick="story.requestStoryStatus('complete');">Finish</button>
      </div>
    </div>
    <div id="story-status-section-complete" class="story-status-section">
      <div class="uk-modal-body" data-uk-overflow-auto>
        <div class="modal-body-height-200">
          <div id="story-vote-results"></div>
        </div>
      </div>
      <div class="uk-modal-footer uk-text-right">
        <button class="uk-button uk-button-default" type="button" onclick="story.requestStoryStatus('active');">Reopen</button>
        <button class="uk-button uk-button-default" type="button" onclick="UIkit.modal('#modal-story').hide();">Close</button>
      </div>
    </div>
  </div>
</div>
