<%: func EstimateTable(estimates estimate.Sessions, params *query.Params, ctx web.RequestContext, buffer *bytes.Buffer) %>

<table class="uk-table uk-table-divider uk-text-left">
  <thead>
    <tr>
      <% components.TableHeader(util.SvcEstimate.Key, util.KeyTitle, util.Title(util.KeyTitle), params, ctx, buffer) %>
      <% components.TableHeader(util.SvcEstimate.Key, util.KeyCreated, util.Title(util.KeyCreated), params, ctx, buffer) %>
    </tr>
  </thead>
  <tbody>
  <% for _, model := range estimates { %>
    <tr>
      <td class="uk-table-shrink uk-text-nowrap"><a class="theme" href="<%= ctx.Route(util.SvcEstimate.Key, util.KeyKey, model.Slug) %>"><%= model.Title %></a></td>
      <td class="uk-table-shrink uk-text-nowrap"><% components.DateTime(&model.Created, buffer) %></td>
    </tr>
  <% } %>
  </tbody>
</table>
