{% import (
  "github.com/kyleu/rituals/app"
  "github.com/kyleu/rituals/app/controller/cutil"
  "github.com/kyleu/rituals/app/enum"
  "github.com/kyleu/rituals/app/estimate"
  "github.com/kyleu/rituals/app/estimate/story"
  "github.com/kyleu/rituals/app/estimate/story/vote"
  "github.com/kyleu/rituals/app/lib/filter"
  "github.com/kyleu/rituals/app/user"
  "github.com/kyleu/rituals/app/util"
  "github.com/kyleu/rituals/views/components"
  "github.com/kyleu/rituals/views/components/view"
  "github.com/kyleu/rituals/views/layout"
  "github.com/kyleu/rituals/views/vestimate/vstory/vvote"
) %}

{% code type Detail struct {
  layout.Basic
  Model *story.Story
  EstimateByEstimateID *estimate.Estimate
  UserByUserID *user.User
  Params filter.ParamSet
  RelVotesByStoryID vote.Votes
  Paths []string
} %}

{% func (p *Detail) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <div class="right">
      <a href="#modal-story"><button type="button" title="JSON">{%= components.SVGButton("code", ps) %}</button></a>
      <a href="{%s p.Model.WebPath(p.Paths...) %}/edit" title="Edit"><button>{%= components.SVGButton("edit", ps) %}</button></a>
    </div>
    <h3>{%= components.SVGIcon(`story`, ps) %} {%s p.Model.TitleString() %}</h3>
    <div><a href="{%s story.Route(p.Paths...) %}"><em>Story</em></a></div>
    {%= DetailTable(p, ps) %}
  </div>
  {%- comment %}$PF_SECTION_START(extra)${% endcomment -%}
  {%- comment %}$PF_SECTION_END(extra)${% endcomment -%}
  {%= DetailRelations(as, p, ps) %}
  {%= components.JSONModal("story", "Story JSON", p.Model, 1) %}
{% endfunc %}

{% func DetailTable(p *Detail, ps *cutil.PageState) %}
  <div class="mt overflow full-width">
    <table>
      <tbody>
        <tr>
          <th class="shrink" title="UUID in format (00000000-0000-0000-0000-000000000000)">ID</th>
          <td>{%= view.UUID(&p.Model.ID) %}</td>
        </tr>
        <tr>
          <th class="shrink" title="UUID in format (00000000-0000-0000-0000-000000000000)">Estimate ID</th>
          <td class="nowrap">
            {% if x := p.EstimateByEstimateID; x != nil %}
            {%s x.TitleString() %} <a title="Estimate" href="{%s x.WebPath(p.Paths...) %}">{%= components.SVGLink(`estimate`, ps) %}</a>
            {% else %}
            {%= view.UUID(&p.Model.EstimateID) %}
            {% endif %}
          </td>
        </tr>
        <tr>
          <th class="shrink" title="Integer">Idx</th>
          <td>{%d p.Model.Idx %}</td>
        </tr>
        <tr>
          <th class="shrink" title="UUID in format (00000000-0000-0000-0000-000000000000)">User ID</th>
          <td class="nowrap">
            {% if x := p.UserByUserID; x != nil %}
            {%s x.TitleString() %} <a title="User" href="{%s x.WebPath(p.Paths...) %}">{%= components.SVGLink(`profile`, ps) %}</a>
            {% else %}
            {%= view.UUID(&p.Model.UserID) %}
            {% endif %}
          </td>
        </tr>
        <tr>
          <th class="shrink" title="String text">Title</th>
          <td><strong>{%= view.String(p.Model.Title) %}</strong></td>
        </tr>
        <tr>
          <th class="shrink" title="{%s enum.AllSessionStatuses.Help() %}">Status</th>
          <td>{%s p.Model.Status.String() %}</td>
        </tr>
        <tr>
          <th class="shrink" title="String text">Final Vote</th>
          <td>{%= view.String(p.Model.FinalVote) %}</td>
        </tr>
        <tr>
          <th class="shrink" title="Date and time, in almost any format">Created</th>
          <td>{%= view.Timestamp(&p.Model.Created) %}</td>
        </tr>
        <tr>
          <th class="shrink" title="Date and time, in almost any format (optional)">Updated</th>
          <td>{%= view.Timestamp(p.Model.Updated) %}</td>
        </tr>
      </tbody>
    </table>
  </div>
{% endfunc %}

{% func DetailRelations(as *app.State, p *Detail, ps *cutil.PageState) %}
  {%- code relationHelper := story.Stories{p.Model} -%}
  <div class="card">
    <h3 class="mb">Relations</h3>
    <ul class="accordion">
      <li>
        <input id="accordion-VotesByStoryID" type="checkbox" hidden="hidden"{% if p.Params.Specifies(`vote`) %} checked="checked"{% endif %} />
        <label for="accordion-VotesByStoryID">
          {%= components.ExpandCollapse(3, ps) %}
          {%= components.SVGInline(`vote-yea`, 16, ps) %}
          {%s util.StringPlural(len(p.RelVotesByStoryID), "Vote") %} by [Story ID]
        </label>
        <div class="bd"><div><div>
          {%- if len(p.RelVotesByStoryID) == 0 -%}
          <em>no related Votes</em>
          {%- else -%}
          <div class="overflow clear">
            {%= vvote.Table(p.RelVotesByStoryID, relationHelper, nil, p.Params, as, ps) %}
          </div>
          {%- endif -%}
        </div></div></div>
      </li>
    </ul>
  </div>
{% endfunc %}
