{% import (
  "github.com/kyleu/rituals/app"
  "github.com/kyleu/rituals/app/controller/cutil"
  "github.com/kyleu/rituals/app/estimate"
  "github.com/kyleu/rituals/app/estimate/story"
  "github.com/kyleu/rituals/app/lib/filter"
  "github.com/kyleu/rituals/app/user"
  "github.com/kyleu/rituals/views/components"
  "github.com/kyleu/rituals/views/components/edit"
  "github.com/kyleu/rituals/views/layout"
) %}

{% code type List struct {
  layout.Basic
  Models story.Stories
  EstimatesByEstimateID estimate.Estimates
  UsersByUserID user.Users
  Params filter.ParamSet
  Paths []string
  SearchQuery string
} %}

{% func (p *List) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <div class="right">{%= edit.SearchForm("", "q", "Search Stories", p.SearchQuery, ps) %}</div>
    <div class="right mrs large-buttons">
      {%- if len(p.Models) > 1 -%}<a href="{%s story.Route(p.Paths...) %}/_random"><button>{%= components.SVGButton("gift", ps) %} Random</button></a>{%- endif -%}
      <a href="{%s story.Route(p.Paths...) %}/_new"><button>{%= components.SVGButton("plus", ps) %} New</button></a>
    </div>
    <h3>{%= components.SVGIcon(`story`, ps) %} {%s ps.Title %}</h3>
    <div class="clear"></div>
    {%- if p.SearchQuery != "" -%}
    <hr />
    <em>Search results for [{%s p.SearchQuery %}]</em> (<a href="?">clear</a>)
    {%- endif -%}
    {%- if len(p.Models) == 0 -%}
    <div class="mt"><em>No stories available</em></div>
    {%- else -%}
    <div class="mt">
      {%= Table(p.Models, p.EstimatesByEstimateID, p.UsersByUserID, p.Params, as, ps, p.Paths...) %}
    </div>
    {%- endif -%}
  </div>
{% endfunc %}
