{% import (
  "github.com/kyleu/rituals/app"
  "github.com/kyleu/rituals/app/controller/cutil"
  "github.com/kyleu/rituals/app/lib/filter"
  "github.com/kyleu/rituals/app/standup"
  "github.com/kyleu/rituals/app/standup/upermission"
  "github.com/kyleu/rituals/views/components"
  "github.com/kyleu/rituals/views/components/view"
) %}

{% func Table(models upermission.StandupPermissions, standupsByStandupID standup.Standups, params filter.ParamSet, as *app.State, ps *cutil.PageState, paths ...string) %}
  {%- code prms := params.Sanitized("upermission", ps.Logger) -%}
  <div class="overflow clear">
    <table>
      <thead>
        <tr>
          {%= components.TableHeaderSimple("upermission", "standup_id", "Standup ID", "UUID in format (00000000-0000-0000-0000-000000000000)", prms, ps.URI, ps) %}
          {%= components.TableHeaderSimple("upermission", "key", "Key", "String text", prms, ps.URI, ps) %}
          {%= components.TableHeaderSimple("upermission", "value", "Value", "String text", prms, ps.URI, ps) %}
          {%= components.TableHeaderSimple("upermission", "access", "Access", "String text", prms, ps.URI, ps) %}
          {%= components.TableHeaderSimple("upermission", "created", "Created", "Date and time, in almost any format", prms, ps.URI, ps) %}
        </tr>
      </thead>
      <tbody>
        {%- for _, model := range models -%}
        <tr>
          <td class="nowrap">
            <a href="{%s model.WebPath(paths...) %}">{%= view.UUID(&model.StandupID) %}{% if x := standupsByStandupID.Get(model.StandupID); x != nil %} ({%s x.TitleString() %}){% endif %}</a>
            <a title="Standup" href="{% if x := standupsByStandupID.Get(model.StandupID); x != nil %}{%s x.WebPath(paths...) %}{% endif %}">{%= components.SVGLink(`standup`, ps) %}</a>
          </td>
          <td><a href="{%s model.WebPath(paths...) %}">{%= view.String(model.Key) %}</a></td>
          <td><a href="{%s model.WebPath(paths...) %}">{%= view.String(model.Value) %}</a></td>
          <td>{%= view.String(model.Access) %}</td>
          <td>{%= view.Timestamp(&model.Created) %}</td>
        </tr>
        {%- endfor -%}
      </tbody>
    </table>
  </div>
  {%- if prms.HasNextPage(len(models) + prms.Offset) || prms.HasPreviousPage() -%}
  <hr />
  {%= components.Pagination(len(models) + prms.Offset, prms, ps.URI) %}
  <div class="clear"></div>
  {%- endif -%}
{% endfunc %}
