<%: func EstimateDetail(model *estimate.Session, stories estimate.Stories, data *session.Data, params npncore.ParamSet, ctx *npnweb.RequestContext, w io.Writer) (int, error) %>
<%~ "layout/admin.html" %>
<%@ nav { %><% npntemplate.Navbar(ctx, _buffer) %><% } %>
<%@ body { %>
<div class="uk-section uk-section-small">
  <div class="uk-container">
    <div class="uk-card uk-card-body uk-card-default">
      <h3 class="uk-card-title">
        <div class="right"><a class="uk-button uk-button-default" href="<%= ctx.Route(util.SvcEstimate.Key, npncore.KeyKey, model.Slug) %>">Join</a></div>
        <%= util.SvcEstimate.Title %>
      </h3>
      <table class="uk-table uk-table-divider uk-text-left">
        <caption class="hidden"><%= ctx.Title %></caption>
        <tbody>
          <tr>
            <th scope="row"><%= npncore.Title(npncore.KeyID) %></th>
            <td><%= model.ID.String() %></td>
          </tr>
          <tr>
            <th scope="row"><%= npncore.Title(npncore.KeySlug) %></th>
            <td><%= model.Slug %></td>
          </tr>
          <tr>
            <th scope="row"><%= npncore.Title(npncore.KeyTitle) %></th>
            <td><%= model.Title %></td>
          </tr>
          <tr>
            <th scope="row"><%= util.SvcTeam.Title %></th>
            <td>
              <% if model.TeamID != nil { %>
                <a class="theme" href="<%= ctx.Route(npnweb.AdminLink(util.SvcTeam.Key, npncore.KeyDetail), `id`, model.TeamID.String()) %>"><% npntemplate.UUID(model.TeamID, _buffer) %></a>
              <% } %>
            </td>
          </tr>
          <tr>
            <th scope="row"><%= util.SvcSprint.Title %></th>
            <td>
              <% if model.SprintID != nil { %>
                <a class="theme" href="<%= ctx.Route(npnweb.AdminLink(util.SvcSprint.Key, npncore.KeyDetail), `id`, model.SprintID.String()) %>"><% npntemplate.UUID(model.SprintID, _buffer) %></a>
              <% } %>
            </td>
          </tr>
          <tr>
            <th scope="row"><%= npncore.Title(npncore.KeyOwner) %></th>
            <td><a class="theme" href="<%= ctx.Route(npnweb.AdminLink(npncore.KeyUser, npncore.KeyDetail), `id`, model.Owner.String()) %>"><% npntemplate.UUID(&model.Owner, _buffer) %></a></td>
          </tr>
          <tr>
            <th scope="row"><%= npncore.Title(npncore.KeyStatus) %></th>
            <td><%= model.Status.String() %></td>
          </tr>
          <tr>
            <th scope="row">Choices</th>
            <td>
              <% for _, choice := range model.Choices { %>
                <span class="uk-badge"><%= choice %></span>
              <% } %>
            </td>
          </tr>
          <tr>
            <th scope="row"><%= npncore.Title(npncore.KeyCreated) %></th>
            <td><% npntemplate.DateTime(&model.Created, _buffer) %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <% StoryCard(stories, params, ctx, _buffer) %>

    <% SessionData(data, params, ctx, _buffer) %>
  </div>
</div>
<% } %>
