<%: func EstimateList(estimates estimate.Sessions, params query.ParamSet, ctx web.RequestContext, w io.Writer) (int, error) %>
<%~ "layout/admin.html" %>
<%@ nav { %><% templates.Navbar(ctx, _buffer) %><% } %>
<%@ body { %>
<div class="uk-section uk-section-small">
  <div class="uk-container">
    <div class="uk-card uk-card-body">
      <h3 class="uk-card-title"><%= util.SvcEstimate.PluralTitle %></h3>
      <% EstimateTable(estimates, params.Get(util.SvcEstimate.Key, ctx.Logger), ctx, _buffer) %>
    </div>
  </div>
</div>
<% } %>
