<%: func EstimateTable(estimates estimate.Sessions, params *npncore.Params, ctx *npnweb.RequestContext, buffer *bytes.Buffer) %>

<table class="uk-table uk-table-divider uk-text-left">
  <thead>
    <tr>
      <% npntemplate.TableHeader(util.SvcEstimate.Key, npncore.KeyID, npncore.Title(npncore.KeyID), params, ctx.Request, buffer) %>
      <% npntemplate.TableHeader(util.SvcEstimate.Key, npncore.KeySlug, npncore.Title(npncore.KeySlug), params, ctx.Request, buffer) %>
      <% npntemplate.TableHeader(util.SvcEstimate.Key, npncore.KeyTitle, npncore.Title(npncore.KeyTitle), params, ctx.Request, buffer) %>
      <% npntemplate.TableHeader(util.SvcEstimate.Key, npncore.KeyOwner, npncore.Title(npncore.KeyOwner), params, ctx.Request, buffer) %>
      <% npntemplate.TableHeader(util.SvcEstimate.Key, npncore.KeyCreated, npncore.Title(npncore.KeyCreated), params, ctx.Request, buffer) %>
    </tr>
  </thead>
  <tbody>
  <% for _, model := range estimates { %>
    <tr>
      <td class="uk-table-shrink uk-text-nowrap"><a class="theme" href="<%= ctx.Route(npnweb.AdminLink(util.SvcEstimate.Key, npncore.KeyDetail), `id`, model.ID.String()) %>"><% npntemplate.UUID(&model.ID, buffer) %></a></td>
      <td><a class="theme" href="<%= ctx.Route(util.SvcEstimate.Key, npncore.KeyKey, model.Slug) %>"><%= model.Slug %></a></td>
      <td><%= model.Title %></td>
      <td class="uk-table-shrink uk-text-nowrap"><a class="theme" href="<%= ctx.Route(npnweb.AdminLink(npncore.KeyUser, npncore.KeyDetail), `id`, model.Owner.String()) %>"><% npntemplate.UUID(&model.Owner, buffer) %></a></td>
      <td class="uk-table-shrink uk-text-nowrap"><% npntemplate.DateTime(&model.Created, buffer) %></td>
    </tr>
  <% } %>
  </tbody>
</table>
