<%: func StandupList(sessions standup.Sessions, teams team.Sessions, sprints sprint.Sessions, auths auth.Records, params *npncore.Params, ctx *npnweb.RequestContext, w io.Writer) (int, error) %>
<%~ "layout/basic.html" %>
<%@ nav { %><% npntemplate.Navbar(ctx, _buffer) %><% } %>
<%@ body { %>
<div class="uk-section uk-section-small">
  <div class="uk-container">
    <div class="uk-card uk-card-body uk-card-default">
      <h3 class="uk-card-title"><span class="h3-icon" data-uk-icon="icon: <%= util.SvcStandup.Icon %>"></span> <%= util.SvcStandup.PluralTitle %></h3>
      <p><%= util.SvcStandup.Description %></p>
      <% if len(sessions) > 0 { %>
        <% StandupTable(sessions, params, ctx, _buffer) %>
      <% } %>
    </div>

    <div class="uk-card uk-card-body uk-card-default uk-margin-top">
      <h3 class="uk-card-title">New Standup</h3>
      <form class="uk-form-stacked" action="<%= ctx.Route(util.SvcStandup.Key + `.new`) %>" method="post">
        <% StandupForm("", teams, sprints, auths, true, ctx, _buffer) %>
        <div class="uk-margin-top">
          <button class="uk-button uk-button-default" type="submit">Start</button>
        </div>
      </form>
    </div>
  </div>
</div>
<% } %>
