<%: func StandupReport(ctx *npnweb.RequestContext, buffer *bytes.Buffer) %>
<div class="uk-card uk-card-body uk-transition-toggle">
  <h3 class="uk-card-title">
    <span class="right">
      <a class="theme uk-icon-button uk-transition-fade" data-uk-icon="plus" onclick="modal.open('add-<%= npncore.KeyReport %>');return false;" title="add <%= npncore.KeyReport %>"></a>
    </span>
    <span class="model-icon h3-icon" onclick="modal.open('add-<%= npncore.KeyReport %>');" data-uk-icon="icon: <%= util.SvcStandup.Icon %>;"></span>
    <span class="modal-title" onclick="modal.open('add-<%= npncore.KeyReport %>');"><%= npncore.PluralTitle(npncore.KeyReport) %></span>
  </h3>
  <p id="report-detail">Loading...</p>
</div>
<div id="modal-add-report" class="modal" data-uk-modal>
  <div class="uk-modal-dialog uk-margin-auto-vertical">
    <button class="uk-button uk-modal-close-default" type="button" data-uk-close></button>
    <div class="uk-modal-header">
      <h2 class="uk-modal-title">Add Report</h2>
    </div>
    <form class="uk-form-stacked" onsubmit="return report.onSubmitReport();">
      <div class="uk-modal-body" data-uk-overflow-auto>
        <fieldset class="uk-fieldset">
          <div class="uk-margin">
            <label class="uk-form-label" for="report-date">Date</label>
            <input class="uk-input" id="report-date" type="date" />
          </div>
          <div class="uk-margin">
            <label class="uk-form-label" for="report-content">Report</label>
            <% npntemplate.Textarea(npnweb.InputParams{ID: "report-content", Placeholder: "Markdown and HTML supported"}, buffer) %>
          </div>
        </fieldset>
      </div>
      <div class="uk-modal-footer uk-text-right">
        <button class="uk-button uk-button-default" type="submit">Save</button>
      </div>
    </form>
  </div>
</div>
<div id="modal-<%= npncore.KeyReport %>" class="modal" data-uk-modal>
  <div class="uk-modal-dialog uk-margin-auto-vertical">
    <button class="uk-button uk-modal-close-default" type="button" data-uk-close></button>
    <div class="uk-modal-header">
      <h2 class="uk-modal-title" id="report-title">...</h2>
    </div>
    <div class="uk-modal-body" data-uk-overflow-auto>
      <div class="content-edit">
        <div class="uk-margin">
          <label class="uk-form-label" for="report-edit-date">Date</label>
          <input class="uk-input" id="report-edit-date" type="date" />
        </div>
        <div class="uk-margin">
          <label class="uk-form-label" for="report-edit-content">Content</label>
          <% npntemplate.Textarea(npnweb.InputParams{ID: "report-edit-content", Placeholder: "Markdown and HTML supported"}, buffer) %>
        </div>
      </div>
      <div class="content-view"></div>
    </div>
    <div class="uk-modal-footer uk-text-right">
      <div id="modal-comment-count" class="left"><% CommentBadge("modal", ctx, buffer) %></div>
      <div class="buttons-edit">
        <button class="uk-button uk-button-default" type="button" onclick="report.onRemoveReport();">Delete</button>
        <button class="uk-button uk-button-default" type="button" onclick="report.onEditReport();">Save</button>
      </div>
      <div class="buttons-view">
        <button class="uk-button uk-button-default" type="button" onclick="modal.hide('<%= npncore.KeyReport %>');">Close</button>
      </div>
    </div>
  </div>
</div>
