<%: func StandupSession(model *standup.Session, auths auth.Records, ctx web.RequestContext, buffer *bytes.Buffer) %>
<div class="uk-card uk-card-body">
  <h3 class="uk-card-title">
    <% ComponentSessionIcon(util.SvcStandup, ctx, buffer) %>
    <span class="model-icon h3-icon" onclick="modal.open('<%= util.KeySession %>');" data-uk-icon="icon: <%= util.SvcStandup.Icon %>;"></span>
    <span id="model-title" onclick="modal.open('<%= util.KeySession %>');"><%= model.Title %></span>
  </h3>
  <span id="sprint-link-container"></span>
  <%= util.SvcStandup.Key %>
  <span id="team-link-container"></span>
</div>
<div id="modal-session" class="modal" data-uk-modal>
  <div class="uk-modal-dialog uk-margin-auto-vertical">
    <button class="uk-button uk-modal-close-default" type="button" data-uk-close></button>
    <div class="uk-modal-header">
      <h2 class="uk-modal-title">Edit <%= util.SvcStandup.Title %></h2>
    </div>
    <form class="uk-form-stacked" id="form-detail" onsubmit="standup.onSubmitStandupSession();return false;">
      <div class="uk-modal-body" data-uk-overflow-auto>
        <fieldset class="uk-fieldset">
          <% StandupForm(model.Title, nil, nil, auths, ctx, buffer) %>
        </fieldset>
      </div>
      <div class="uk-modal-footer uk-text-right">
        <button class="uk-button uk-button-default" type="submit">Save</button>
      </div>
    </form>
  </div>
</div>
