<%: func StandupTable(standups standup.Sessions, params *npncore.Params, ctx *npnweb.RequestContext, buffer *bytes.Buffer) %>

<table class="uk-table uk-table-divider uk-text-left">
  <thead>
    <tr>
      <% npntemplate.TableHeader(util.SvcStandup.Key, npncore.KeyTitle, npncore.Title(npncore.KeyTitle), params, ctx.Request, buffer) %>
      <% npntemplate.TableHeader(util.SvcStandup.Key, npncore.KeyCreated, npncore.Title(npncore.KeyCreated), params, ctx.Request, buffer) %>
    </tr>
  </thead>
  <tbody>
  <% for _, model := range standups { %>
    <tr>
      <td class="uk-table-shrink uk-text-nowrap"><a class="theme" href="<%= ctx.Route(util.SvcStandup.Key, npncore.KeyKey, model.Slug) %>"><%= model.Title %></a></td>
      <td class="uk-table-shrink uk-text-nowrap"><% npntemplate.DateTime(&model.Created, buffer) %></td>
    </tr>
  <% } %>
  </tbody>
</table>
