<%: func StandupUpdates(ctx web.RequestContext, buffer *bytes.Buffer) %>
<div class="uk-card <%= ctx.Profile.Theme.CardClass %> uk-card-body uk-transition-toggle">
  <h3 class="uk-card-title">
    <span class="right">
      <a class="<%= ctx.Profile.LinkClass() %> uk-icon-button uk-transition-fade" data-uk-icon="plus" onclick="events.openModal('add-update');return false;" title="add update"></a>
    </span>
    <span class="modal-title" onclick="events.openModal('add-update');">Updates</span>
  </h3>
  <p id="update-detail">Loading...</p>
</div>
<div id="modal-add-update" data-uk-modal>
  <div class="uk-modal-dialog uk-margin-auto-vertical">
    <button class="uk-button uk-modal-close-default" type="button" data-uk-close></button>
    <div class="uk-modal-header">
      <h2 class="uk-modal-title">Add Update</h2>
    </div>
    <form class="uk-form-stacked" id="form-detail" onsubmit="return update.onSubmitUpdate();">
      <div class="uk-modal-body" data-uk-overflow-auto>
        <fieldset class="uk-fieldset">
          <div class="uk-margin">
            <label class="uk-form-label" for="standup-update-date">Date</label>
            <input class="uk-input" id="standup-update-date" type="date" />
          </div>
          <div class="uk-margin">
            <label class="uk-form-label" for="standup-update-input">Update</label>
            <textarea class="uk-textarea" id="standup-update-input" placeholder="one task per line"></textarea>
          </div>
        </fieldset>
      </div>
      <div class="uk-modal-footer uk-text-right">
        <button class="uk-button uk-button-default" type="submit">Save</button>
      </div>
    </form>
  </div>
</div>
<div id="modal-update" class="uk-modal-container" data-uk-modal>
  <div class="uk-modal-dialog uk-margin-auto-vertical">
    <button class="uk-button uk-modal-close-default" type="button" data-uk-close></button>
    <div class="uk-modal-header">
      <h2 class="uk-modal-title" id="update-title">...</h2>
    </div>
    <div class="uk-modal-body" data-uk-overflow-auto>
      <p>Update stuff!</p>
    </div>
    <div class="uk-modal-footer uk-text-right">
      <button class="uk-button uk-button-default" type="button" onclick="update.saveUpdate();">Save</button>
    </div>
  </div>
</div>
