<!-- Content managed by Project Forge, see [projectforge.md] for details. -->
{% import (
  "github.com/kyleu/rituals/app"
  "github.com/kyleu/rituals/app/controller/cutil"
  "github.com/kyleu/rituals/views/components"
  "github.com/kyleu/rituals/views/layout"
) %}

{% code type Run struct {
  layout.Basic
  Key string
  Title string
  Icon string
  Result any
} %}

{% func (p *Run) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <h3>{%= components.SVGRefIcon(p.Icon, ps) %}{%s p.Title %}</h3>
    <div class="mt">{%= components.JSON(p.Result) %}</div>
  </div>
{% endfunc %}

