{% import (
  "github.com/kyleu/rituals/app"
  "github.com/kyleu/rituals/app/controller/cutil"
  "github.com/kyleu/rituals/app/estimate"
  "github.com/kyleu/rituals/app/estimate/ehistory"
  "github.com/kyleu/rituals/views/components"
  "github.com/kyleu/rituals/views/components/view"
  "github.com/kyleu/rituals/views/layout"
) %}

{% code type Detail struct {
  layout.Basic
  Model *ehistory.EstimateHistory
  EstimateByEstimateID *estimate.Estimate
  Paths []string
} %}

{% func (p *Detail) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <div class="right">
      <a href="#modal-estimateHistory"><button type="button">{%= components.SVGButton("file", ps) %} JSON</button></a>
      <a href="{%s p.Model.WebPath(p.Paths...) %}/edit"><button>{%= components.SVGButton("edit", ps) %} Edit</button></a>
    </div>
    <h3>{%= components.SVGIcon(`history`, ps) %} {%s p.Model.TitleString() %}</h3>
    <div><a href="{%s ehistory.Route(p.Paths...) %}"><em>History</em></a></div>
    {%= DetailTable(p, ps) %}
  </div>
  {%- comment %}$PF_SECTION_START(extra)${% endcomment -%}
  {%- comment %}$PF_SECTION_END(extra)${% endcomment -%}
  {%= components.JSONModal("estimateHistory", "History JSON", p.Model, 1) %}
{% endfunc %}

{% func DetailTable(p *Detail, ps *cutil.PageState) %}
  <div class="mt overflow full-width">
    <table>
      <tbody>
        <tr>
          <th class="shrink" title="String text">Slug</th>
          <td>{%= view.String(p.Model.Slug) %}</td>
        </tr>
        <tr>
          <th class="shrink" title="UUID in format (00000000-0000-0000-0000-000000000000)">Estimate ID</th>
          <td class="nowrap">
            {%= view.UUID(&p.Model.EstimateID) %}{% if p.EstimateByEstimateID != nil %} ({%s p.EstimateByEstimateID.TitleString() %}){% endif %}
            <a title="Estimate" href="{% if x := p.EstimateByEstimateID; x != nil %}{%s x.WebPath(p.Paths...) %}{% endif %}">{%= components.SVGLink(`estimate`, ps) %}</a>
          </td>
        </tr>
        <tr>
          <th class="shrink" title="String text">Estimate Name</th>
          <td>{%= view.String(p.Model.EstimateName) %}</td>
        </tr>
        <tr>
          <th class="shrink" title="Date and time, in almost any format">Created</th>
          <td>{%= view.Timestamp(&p.Model.Created) %}</td>
        </tr>
      </tbody>
    </table>
  </div>
{% endfunc %}
