<!-- Content managed by Project Forge, see [projectforge.md] for details. -->
{% import (
  "github.com/kyleu/rituals/app"
  "github.com/kyleu/rituals/app/controller/cutil"
  "github.com/kyleu/rituals/app/estimate"
  "github.com/kyleu/rituals/app/estimate/ehistory"
  "github.com/kyleu/rituals/app/lib/filter"
  "github.com/kyleu/rituals/views/components"
  "github.com/kyleu/rituals/views/layout"
) %}

{% code type List struct {
  layout.Basic
  Models ehistory.EstimateHistories
  EstimatesByEstimateID estimate.Estimates
  Params filter.ParamSet
} %}

{% func (p *List) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <div class="right mrs large-buttons">
      {%- if len(p.Models) > 0 -%}<a href="/admin/db/estimate/history/_random"><button>{%= components.SVGButton("gift", ps) %} Random</button></a>{%- endif -%}
      <a href="/admin/db/estimate/history/_new"><button>{%= components.SVGButton("plus", ps) %} New</button></a>
    </div>
    <h3>{%= components.SVGIcon(`history`, ps) %} {%s ps.Title %}</h3>
    {%- if len(p.Models) == 0 -%}
    <div class="mt"><em>No histories available</em></div>
    {%- else -%}
    <div class="mt">
      {%= Table(p.Models, p.EstimatesByEstimateID, p.Params, as, ps) %}
    </div>
    {%- endif -%}
  </div>
{% endfunc %}
