<%: func AdminInvitationTable(invitations invitation.Invitations, params *query.Params, ctx web.RequestContext, buffer *bytes.Buffer) %>

<table class="uk-table uk-table-divider uk-text-left">
  <thead>
    <tr>
      <% ComponentTableHeader(util.KeyInvitation, util.KeyKey, util.Title(util.KeyKey), params, ctx, buffer) %>
      <% ComponentTableHeader(util.KeyInvitation, "relation", "Relation", params, ctx, buffer) %>
      <% ComponentTableHeader(util.KeyInvitation, "source", "Source", params, ctx, buffer) %>
      <% ComponentTableHeader(util.KeyInvitation, "target", "Target", params, ctx, buffer) %>
      <% ComponentTableHeader(util.KeyInvitation, util.KeyStatus, util.Title(util.KeyStatus), params, ctx, buffer) %>
    </tr>
  </thead>
  <tbody>
  <% for _, i := range invitations { %>
    <tr>
      <td><a class="<%= ctx.Profile.LinkClass() %>" href="<%= ctx.Route(util.AdminLink(util.KeyInvitation, `detail`), util.KeyKey, i.Key) %>"><%= i.Key %></a></td>
      <td><%= i.K.String() %>:<%= i.V %></td>
      <td><% ComponentUUID(i.Src, buffer) %></td>
      <td><% ComponentUUID(i.Tgt, buffer) %></td>
      <td><%= i.Status.String() %></td>
    </tr>
  <% } %>
  </tbody>
</table>
