<!-- Content managed by Project Forge, see [projectforge.md] for details. -->
{% import (
  "github.com/kyleu/rituals/app"
  "github.com/kyleu/rituals/app/controller/cutil"
  "github.com/kyleu/rituals/app/estimate"
  "github.com/kyleu/rituals/app/lib/filter"
  "github.com/kyleu/rituals/app/retro"
  "github.com/kyleu/rituals/app/sprint"
  "github.com/kyleu/rituals/app/standup"
  "github.com/kyleu/rituals/app/team"
  "github.com/kyleu/rituals/app/team/thistory"
  "github.com/kyleu/rituals/app/team/tmember"
  "github.com/kyleu/rituals/app/team/tpermission"
  "github.com/kyleu/rituals/app/util"
  "github.com/kyleu/rituals/views/components"
  "github.com/kyleu/rituals/views/layout"
  "github.com/kyleu/rituals/views/vestimate"
  "github.com/kyleu/rituals/views/vretro"
  "github.com/kyleu/rituals/views/vsprint"
  "github.com/kyleu/rituals/views/vstandup"
  "github.com/kyleu/rituals/views/vteam/vthistory"
  "github.com/kyleu/rituals/views/vteam/vtmember"
  "github.com/kyleu/rituals/views/vteam/vtpermission"
) %}

{% code type Detail struct {
  layout.Basic
  Model *team.Team
  Params filter.ParamSet
  RelEstimatesByTeamID estimate.Estimates
  RelRetrosByTeamID retro.Retros
  RelSprintsByTeamID sprint.Sprints
  RelStandupsByTeamID standup.Standups
  RelTeamHistoriesByTeamID thistory.TeamHistories
  RelTeamMembersByTeamID tmember.TeamMembers
  RelTeamPermissionsByTeamID tpermission.TeamPermissions
} %}

{% func (p *Detail) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <div class="right">
      <a href="#modal-team"><button type="button">JSON</button></a>
      <a href="{%s p.Model.WebPath() %}/edit"><button>{%= components.SVGRef("edit", 15, 15, "icon", ps) %}Edit</button></a>
    </div>
    <h3>{%= components.SVGRefIcon(`team`, ps) %} {%s p.Model.TitleString() %}</h3>
    <div><a href="/admin/db/team"><em>Team</em></a></div>
    <table class="mt">
      <tbody>
        <tr>
          <th class="shrink" title="UUID in format (00000000-0000-0000-0000-000000000000)">ID</th>
          <td>{%= components.DisplayUUID(&p.Model.ID) %}</td>
        </tr>
        <tr>
          <th class="shrink" title="String text">Slug</th>
          <td>{%s p.Model.Slug %}</td>
        </tr>
        <tr>
          <th class="shrink" title="String text">Title</th>
          <td><strong>{%s p.Model.Title %}</strong></td>
        </tr>
        <tr>
          <th class="shrink" title="String text">Icon</th>
          <td>{%s p.Model.Icon %}</td>
        </tr>
        <tr>
          <th class="shrink" title="Available options: [new, active, complete]">Status</th>
          <td>{%v p.Model.Status %}</td>
        </tr>
        <tr>
          <th class="shrink" title="Date and time, in almost any format">Created</th>
          <td>{%= components.DisplayTimestamp(&p.Model.Created) %}</td>
        </tr>
        <tr>
          <th class="shrink" title="Date and time, in almost any format (optional)">Updated</th>
          <td>{%= components.DisplayTimestamp(p.Model.Updated) %}</td>
        </tr>
      </tbody>
    </table>
  </div>
  {%- comment %}$PF_SECTION_START(extra)${% endcomment -%}
  {%- comment %}$PF_SECTION_END(extra)${% endcomment -%}
  <div class="card">
    <h3 class="mb">Relations</h3>
    <ul class="accordion">
      <li>
        <input id="accordion-EstimatesByTeamID" type="checkbox" hidden />
        <label for="accordion-EstimatesByTeamID">
          {%= components.ExpandCollapse(3, ps) %}
          {%= components.SVGRefIcon(`estimate`, ps) %}
          {%s util.StringPlural(len(p.RelEstimatesByTeamID), "Estimate") %} by [Team ID]
        </label>
        <div class="bd"><div><div>
          {%- if len(p.RelEstimatesByTeamID) == 0 -%}
          <em>no related Estimates</em>
          {%- else -%}
          <div class="overflow clear">
            {%= vestimate.Table(p.RelEstimatesByTeamID, nil, nil, p.Params, as, ps) %}
          </div>
          {%- endif -%}
        </div></div></div>
      </li>
      <li>
        <input id="accordion-RetrosByTeamID" type="checkbox" hidden />
        <label for="accordion-RetrosByTeamID">
          {%= components.ExpandCollapse(3, ps) %}
          {%= components.SVGRefIcon(`retro`, ps) %}
          {%s util.StringPlural(len(p.RelRetrosByTeamID), "Retro") %} by [Team ID]
        </label>
        <div class="bd"><div><div>
          {%- if len(p.RelRetrosByTeamID) == 0 -%}
          <em>no related Retros</em>
          {%- else -%}
          <div class="overflow clear">
            {%= vretro.Table(p.RelRetrosByTeamID, nil, nil, p.Params, as, ps) %}
          </div>
          {%- endif -%}
        </div></div></div>
      </li>
      <li>
        <input id="accordion-SprintsByTeamID" type="checkbox" hidden />
        <label for="accordion-SprintsByTeamID">
          {%= components.ExpandCollapse(3, ps) %}
          {%= components.SVGRefIcon(`sprint`, ps) %}
          {%s util.StringPlural(len(p.RelSprintsByTeamID), "Sprint") %} by [Team ID]
        </label>
        <div class="bd"><div><div>
          {%- if len(p.RelSprintsByTeamID) == 0 -%}
          <em>no related Sprints</em>
          {%- else -%}
          <div class="overflow clear">
            {%= vsprint.Table(p.RelSprintsByTeamID, nil, p.Params, as, ps) %}
          </div>
          {%- endif -%}
        </div></div></div>
      </li>
      <li>
        <input id="accordion-StandupsByTeamID" type="checkbox" hidden />
        <label for="accordion-StandupsByTeamID">
          {%= components.ExpandCollapse(3, ps) %}
          {%= components.SVGRefIcon(`standup`, ps) %}
          {%s util.StringPlural(len(p.RelStandupsByTeamID), "Standup") %} by [Team ID]
        </label>
        <div class="bd"><div><div>
          {%- if len(p.RelStandupsByTeamID) == 0 -%}
          <em>no related Standups</em>
          {%- else -%}
          <div class="overflow clear">
            {%= vstandup.Table(p.RelStandupsByTeamID, nil, nil, p.Params, as, ps) %}
          </div>
          {%- endif -%}
        </div></div></div>
      </li>
      <li>
        <input id="accordion-TeamHistoriesByTeamID" type="checkbox" hidden />
        <label for="accordion-TeamHistoriesByTeamID">
          {%= components.ExpandCollapse(3, ps) %}
          {%= components.SVGRefIcon(`history`, ps) %}
          {%s util.StringPlural(len(p.RelTeamHistoriesByTeamID), "History") %} by [Team ID]
        </label>
        <div class="bd"><div><div>
          {%- if len(p.RelTeamHistoriesByTeamID) == 0 -%}
          <em>no related Histories</em>
          {%- else -%}
          <div class="overflow clear">
            {%= vthistory.Table(p.RelTeamHistoriesByTeamID, nil, p.Params, as, ps) %}
          </div>
          {%- endif -%}
        </div></div></div>
      </li>
      <li>
        <input id="accordion-TeamMembersByTeamID" type="checkbox" hidden />
        <label for="accordion-TeamMembersByTeamID">
          {%= components.ExpandCollapse(3, ps) %}
          {%= components.SVGRefIcon(`users`, ps) %}
          {%s util.StringPlural(len(p.RelTeamMembersByTeamID), "Member") %} by [Team ID]
        </label>
        <div class="bd"><div><div>
          {%- if len(p.RelTeamMembersByTeamID) == 0 -%}
          <em>no related Members</em>
          {%- else -%}
          <div class="overflow clear">
            {%= vtmember.Table(p.RelTeamMembersByTeamID, nil, nil, p.Params, as, ps) %}
          </div>
          {%- endif -%}
        </div></div></div>
      </li>
      <li>
        <input id="accordion-TeamPermissionsByTeamID" type="checkbox" hidden />
        <label for="accordion-TeamPermissionsByTeamID">
          {%= components.ExpandCollapse(3, ps) %}
          {%= components.SVGRefIcon(`permission`, ps) %}
          {%s util.StringPlural(len(p.RelTeamPermissionsByTeamID), "Permission") %} by [Team ID]
        </label>
        <div class="bd"><div><div>
          {%- if len(p.RelTeamPermissionsByTeamID) == 0 -%}
          <em>no related Permissions</em>
          {%- else -%}
          <div class="overflow clear">
            {%= vtpermission.Table(p.RelTeamPermissionsByTeamID, nil, p.Params, as, ps) %}
          </div>
          {%- endif -%}
        </div></div></div>
      </li>
    </ul>
  </div>
  {%= components.JSONModal("team", "Team JSON", p.Model, 1) %}
{% endfunc %}
