<!-- Content managed by Project Forge, see [projectforge.md] for details. -->
{% import (
  "github.com/kyleu/rituals/app"
  "github.com/kyleu/rituals/app/controller/cutil"
  "github.com/kyleu/rituals/app/enum"
  "github.com/kyleu/rituals/app/estimate"
  "github.com/kyleu/rituals/app/lib/filter"
  "github.com/kyleu/rituals/app/retro"
  "github.com/kyleu/rituals/app/sprint"
  "github.com/kyleu/rituals/app/standup"
  "github.com/kyleu/rituals/app/team"
  "github.com/kyleu/rituals/app/team/thistory"
  "github.com/kyleu/rituals/app/team/tmember"
  "github.com/kyleu/rituals/app/team/tpermission"
  "github.com/kyleu/rituals/app/util"
  "github.com/kyleu/rituals/views/components"
  "github.com/kyleu/rituals/views/components/view"
  "github.com/kyleu/rituals/views/layout"
  "github.com/kyleu/rituals/views/vestimate"
  "github.com/kyleu/rituals/views/vretro"
  "github.com/kyleu/rituals/views/vsprint"
  "github.com/kyleu/rituals/views/vstandup"
  "github.com/kyleu/rituals/views/vteam/vthistory"
  "github.com/kyleu/rituals/views/vteam/vtmember"
  "github.com/kyleu/rituals/views/vteam/vtpermission"
) %}

{% code type Detail struct {
  layout.Basic
  Model *team.Team
  Params filter.ParamSet
  RelEstimatesByTeamID estimate.Estimates
  RelRetrosByTeamID retro.Retros
  RelSprintsByTeamID sprint.Sprints
  RelStandupsByTeamID standup.Standups
  RelTeamHistoriesByTeamID thistory.TeamHistories
  RelTeamMembersByTeamID tmember.TeamMembers
  RelTeamPermissionsByTeamID tpermission.TeamPermissions
} %}

{% func (p *Detail) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <div class="right">
      <a href="#modal-team"><button type="button">{%= components.SVGButton("file", ps) %}JSON</button></a>
      <a href="{%s p.Model.WebPath() %}/edit"><button>{%= components.SVGButton("edit", ps) %}Edit</button></a>
    </div>
    <h3>{%= components.SVGIcon(`team`, ps) %}{%s p.Model.TitleString() %}</h3>
    <div><a href="/admin/db/team"><em>Team</em></a></div>
    <div class="mt overflow full-width">
      <table>
        <tbody>
          <tr>
            <th class="shrink" title="UUID in format (00000000-0000-0000-0000-000000000000)">ID</th>
            <td>{%= view.UUID(&p.Model.ID) %}</td>
          </tr>
          <tr>
            <th class="shrink" title="String text">Slug</th>
            <td>{%= view.String(p.Model.Slug) %}</td>
          </tr>
          <tr>
            <th class="shrink" title="String text">Title</th>
            <td><strong>{%= view.String(p.Model.Title) %}</strong></td>
          </tr>
          <tr>
            <th class="shrink" title="String text">Icon</th>
            <td>{%= view.String(p.Model.Icon) %}</td>
          </tr>
          <tr>
            <th class="shrink" title="{%s enum.AllSessionStatuses.Help() %}">Status</th>
            <td>{%s p.Model.Status.String() %}</td>
          </tr>
          <tr>
            <th class="shrink" title="Date and time, in almost any format">Created</th>
            <td>{%= view.Timestamp(&p.Model.Created) %}</td>
          </tr>
          <tr>
            <th class="shrink" title="Date and time, in almost any format (optional)">Updated</th>
            <td>{%= view.Timestamp(p.Model.Updated) %}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  {%- comment %}$PF_SECTION_START(extra)${% endcomment -%}
  {%- comment %}$PF_SECTION_END(extra)${% endcomment -%}
  {%- code relationHelper := team.Teams{p.Model} -%}
  <div class="card">
    <h3 class="mb">Relations</h3>
    <ul class="accordion">
      <li>
        <input id="accordion-EstimatesByTeamID" type="checkbox" hidden="hidden"{% if p.Params.Specifies(`estimate`) %} checked="checked"{% endif %} />
        <label for="accordion-EstimatesByTeamID">
          {%= components.ExpandCollapse(3, ps) %}
          {%= components.SVGInline(`estimate`, 16, ps) %}
          {%s util.StringPlural(len(p.RelEstimatesByTeamID), "Estimate") %} by [Team ID]
        </label>
        <div class="bd"><div><div>
          {%- if len(p.RelEstimatesByTeamID) == 0 -%}
          <em>no related Estimates</em>
          {%- else -%}
          <div class="overflow clear">
            {%= vestimate.Table(p.RelEstimatesByTeamID, relationHelper, nil, p.Params, as, ps) %}
          </div>
          {%- endif -%}
        </div></div></div>
      </li>
      <li>
        <input id="accordion-RetrosByTeamID" type="checkbox" hidden="hidden"{% if p.Params.Specifies(`retro`) %} checked="checked"{% endif %} />
        <label for="accordion-RetrosByTeamID">
          {%= components.ExpandCollapse(3, ps) %}
          {%= components.SVGInline(`retro`, 16, ps) %}
          {%s util.StringPlural(len(p.RelRetrosByTeamID), "Retro") %} by [Team ID]
        </label>
        <div class="bd"><div><div>
          {%- if len(p.RelRetrosByTeamID) == 0 -%}
          <em>no related Retros</em>
          {%- else -%}
          <div class="overflow clear">
            {%= vretro.Table(p.RelRetrosByTeamID, relationHelper, nil, p.Params, as, ps) %}
          </div>
          {%- endif -%}
        </div></div></div>
      </li>
      <li>
        <input id="accordion-SprintsByTeamID" type="checkbox" hidden="hidden"{% if p.Params.Specifies(`sprint`) %} checked="checked"{% endif %} />
        <label for="accordion-SprintsByTeamID">
          {%= components.ExpandCollapse(3, ps) %}
          {%= components.SVGInline(`sprint`, 16, ps) %}
          {%s util.StringPlural(len(p.RelSprintsByTeamID), "Sprint") %} by [Team ID]
        </label>
        <div class="bd"><div><div>
          {%- if len(p.RelSprintsByTeamID) == 0 -%}
          <em>no related Sprints</em>
          {%- else -%}
          <div class="overflow clear">
            {%= vsprint.Table(p.RelSprintsByTeamID, relationHelper, p.Params, as, ps) %}
          </div>
          {%- endif -%}
        </div></div></div>
      </li>
      <li>
        <input id="accordion-StandupsByTeamID" type="checkbox" hidden="hidden"{% if p.Params.Specifies(`standup`) %} checked="checked"{% endif %} />
        <label for="accordion-StandupsByTeamID">
          {%= components.ExpandCollapse(3, ps) %}
          {%= components.SVGInline(`standup`, 16, ps) %}
          {%s util.StringPlural(len(p.RelStandupsByTeamID), "Standup") %} by [Team ID]
        </label>
        <div class="bd"><div><div>
          {%- if len(p.RelStandupsByTeamID) == 0 -%}
          <em>no related Standups</em>
          {%- else -%}
          <div class="overflow clear">
            {%= vstandup.Table(p.RelStandupsByTeamID, relationHelper, nil, p.Params, as, ps) %}
          </div>
          {%- endif -%}
        </div></div></div>
      </li>
      <li>
        <input id="accordion-TeamHistoriesByTeamID" type="checkbox" hidden="hidden"{% if p.Params.Specifies(`thistory`) %} checked="checked"{% endif %} />
        <label for="accordion-TeamHistoriesByTeamID">
          {%= components.ExpandCollapse(3, ps) %}
          {%= components.SVGInline(`history`, 16, ps) %}
          {%s util.StringPlural(len(p.RelTeamHistoriesByTeamID), "History") %} by [Team ID]
        </label>
        <div class="bd"><div><div>
          {%- if len(p.RelTeamHistoriesByTeamID) == 0 -%}
          <em>no related Histories</em>
          {%- else -%}
          <div class="overflow clear">
            {%= vthistory.Table(p.RelTeamHistoriesByTeamID, relationHelper, p.Params, as, ps) %}
          </div>
          {%- endif -%}
        </div></div></div>
      </li>
      <li>
        <input id="accordion-TeamMembersByTeamID" type="checkbox" hidden="hidden"{% if p.Params.Specifies(`tmember`) %} checked="checked"{% endif %} />
        <label for="accordion-TeamMembersByTeamID">
          {%= components.ExpandCollapse(3, ps) %}
          {%= components.SVGInline(`users`, 16, ps) %}
          {%s util.StringPlural(len(p.RelTeamMembersByTeamID), "Member") %} by [Team ID]
        </label>
        <div class="bd"><div><div>
          {%- if len(p.RelTeamMembersByTeamID) == 0 -%}
          <em>no related Members</em>
          {%- else -%}
          <div class="overflow clear">
            {%= vtmember.Table(p.RelTeamMembersByTeamID, relationHelper, nil, p.Params, as, ps) %}
          </div>
          {%- endif -%}
        </div></div></div>
      </li>
      <li>
        <input id="accordion-TeamPermissionsByTeamID" type="checkbox" hidden="hidden"{% if p.Params.Specifies(`tpermission`) %} checked="checked"{% endif %} />
        <label for="accordion-TeamPermissionsByTeamID">
          {%= components.ExpandCollapse(3, ps) %}
          {%= components.SVGInline(`permission`, 16, ps) %}
          {%s util.StringPlural(len(p.RelTeamPermissionsByTeamID), "Permission") %} by [Team ID]
        </label>
        <div class="bd"><div><div>
          {%- if len(p.RelTeamPermissionsByTeamID) == 0 -%}
          <em>no related Permissions</em>
          {%- else -%}
          <div class="overflow clear">
            {%= vtpermission.Table(p.RelTeamPermissionsByTeamID, relationHelper, p.Params, as, ps) %}
          </div>
          {%- endif -%}
        </div></div></div>
      </li>
    </ul>
  </div>
  {%= components.JSONModal("team", "Team JSON", p.Model, 1) %}
{% endfunc %}
