{% import (
  "github.com/kyleu/rituals/app"
  "github.com/kyleu/rituals/app/controller/cutil"
  "github.com/kyleu/rituals/app/enum"
  "github.com/kyleu/rituals/app/lib/filter"
  "github.com/kyleu/rituals/app/team"
  "github.com/kyleu/rituals/views/components"
  "github.com/kyleu/rituals/views/components/view"
) %}

{% func TableRow(model *team.Team, ps *cutil.PageState, paths ...string) %}
  <tr>
    <td><a href="{%s model.WebPath(paths...) %}">{%= view.UUID(&model.ID) %}</a></td>
    <td>{%= view.String(model.Slug) %}</td>
    <td><a href="{%s model.WebPath(paths...) %}"><strong>{%= view.String(model.Title) %}</strong></a></td>
    <td>{%= view.String(model.Icon) %}</td>
    <td>{%s model.Status.NameSafe() %}</td>
    <td>{%= view.Timestamp(&model.Created) %}</td>
    <td>{%= view.Timestamp(model.Updated) %}</td>
  </tr>
{% endfunc %}

{% func Table(models team.Teams, params filter.ParamSet, as *app.State, ps *cutil.PageState, paths ...string) %}
  {%- code prms := params.Sanitized("team", ps.Logger) -%}
  <div class="overflow clear">
    <table>
      <thead>
        <tr>
          {%= components.TableHeaderSimple("team", "id", "ID", "UUID in format (00000000-0000-0000-0000-000000000000)", prms, ps.URI, ps) %}
          {%= components.TableHeaderSimple("team", "slug", "Slug", "String text", prms, ps.URI, ps) %}
          {%= components.TableHeaderSimple("team", "title", "Title", "String text", prms, ps.URI, ps) %}
          {%= components.TableHeaderSimple("team", "icon", "Icon", "String text", prms, ps.URI, ps) %}
          {%= components.TableHeaderSimple("team", "status", "Status", enum.AllSessionStatuses.Help(), prms, ps.URI, ps) %}
          {%= components.TableHeaderSimple("team", "created", "Created", "Date and time, in almost any format", prms, ps.URI, ps) %}
          {%= components.TableHeaderSimple("team", "updated", "Updated", "Date and time, in almost any format (optional)", prms, ps.URI, ps) %}
        </tr>
      </thead>
      <tbody>
        {%- for _, model := range models -%}
        {%= TableRow(model, ps, paths...) -%}
        {%- endfor -%}
      </tbody>
    </table>
  </div>
  {%- if prms.HasNextPage(len(models) + prms.Offset) || prms.HasPreviousPage() -%}
  <hr />
  {%= components.Pagination(len(models) + prms.Offset, prms, ps.URI) %}
  <div class="clear"></div>
  {%- endif -%}
{% endfunc %}
