{% import (
  "github.com/kyleu/rituals/app"
  "github.com/kyleu/rituals/app/controller/cutil"
  "github.com/kyleu/rituals/app/enum"
  "github.com/kyleu/rituals/app/estimate"
  "github.com/kyleu/rituals/app/estimate/emember"
  "github.com/kyleu/rituals/app/user"
  "github.com/kyleu/rituals/views/components"
  "github.com/kyleu/rituals/views/components/view"
  "github.com/kyleu/rituals/views/layout"
) %}

{% code type Detail struct {
  layout.Basic
  Model *emember.EstimateMember
  EstimateByEstimateID *estimate.Estimate
  UserByUserID *user.User
  Paths []string
} %}

{% func (p *Detail) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <div class="right">
      <a href="#modal-estimateMember"><button type="button" title="JSON">{%= components.SVGButton("code", ps) %}</button></a>
      <a href="{%s p.Model.WebPath(p.Paths...) %}/edit" title="Edit"><button>{%= components.SVGButton("edit", ps) %}</button></a>
    </div>
    <h3>{%= components.SVGIcon(`users`, ps) %} {%s p.Model.TitleString() %}</h3>
    <div><a href="{%s emember.Route(p.Paths...) %}"><em>Member</em></a></div>
    {%= DetailTable(p, ps) %}
  </div>
  {%- comment %}$PF_SECTION_START(extra)${% endcomment -%}
  {%- comment %}$PF_SECTION_END(extra)${% endcomment -%}
  {%= components.JSONModal("estimateMember", "Member JSON", p.Model, 1) %}
{% endfunc %}

{% func DetailTable(p *Detail, ps *cutil.PageState) %}
  <div class="mt overflow full-width">
    <table>
      <tbody>
        <tr>
          <th class="shrink" title="UUID in format (00000000-0000-0000-0000-000000000000)">Estimate ID</th>
          <td class="nowrap">
            {% if x := p.EstimateByEstimateID; x != nil %}
            <a href="{%s p.Model.WebPath() %}">{%s x.TitleString() %}</a> <a title="Estimate" href="{%s x.WebPath(p.Paths...) %}">{%= components.SVGLink(`estimate`, ps) %}</a>
            {% else %}
            <a href="{%s p.Model.WebPath() %}">{%= view.UUID(&p.Model.EstimateID) %}</a>
            {% endif %}
          </td>
        </tr>
        <tr>
          <th class="shrink" title="UUID in format (00000000-0000-0000-0000-000000000000)">User ID</th>
          <td class="nowrap">
            {% if x := p.UserByUserID; x != nil %}
            <a href="{%s p.Model.WebPath() %}">{%s x.TitleString() %}</a> <a title="User" href="{%s x.WebPath(p.Paths...) %}">{%= components.SVGLink(`profile`, ps) %}</a>
            {% else %}
            <a href="{%s p.Model.WebPath() %}">{%= view.UUID(&p.Model.UserID) %}</a>
            {% endif %}
          </td>
        </tr>
        <tr>
          <th class="shrink" title="String text">Name</th>
          <td><strong>{%= view.String(p.Model.Name) %}</strong></td>
        </tr>
        <tr>
          <th class="shrink" title="URL in string form">Picture</th>
          <td><a href="{%s p.Model.Picture %}" target="_blank" rel="noopener noreferrer">{%s p.Model.Picture %}</a></td>
        </tr>
        <tr>
          <th class="shrink" title="{%s enum.AllMemberStatuses.Help() %}">Role</th>
          <td>{%s p.Model.Role.String() %}</td>
        </tr>
        <tr>
          <th class="shrink" title="Date and time, in almost any format">Created</th>
          <td>{%= view.Timestamp(&p.Model.Created) %}</td>
        </tr>
        <tr>
          <th class="shrink" title="Date and time, in almost any format (optional)">Updated</th>
          <td>{%= view.Timestamp(p.Model.Updated) %}</td>
        </tr>
      </tbody>
    </table>
  </div>
{% endfunc %}
