<!-- Content managed by Project Forge, see [projectforge.md] for details. -->
{% import (
  "github.com/kyleu/rituals/app"
  "github.com/kyleu/rituals/app/controller/cutil"
  "github.com/kyleu/rituals/app/enum"
  "github.com/kyleu/rituals/app/estimate"
  "github.com/kyleu/rituals/app/estimate/emember"
  "github.com/kyleu/rituals/app/lib/filter"
  "github.com/kyleu/rituals/app/user"
  "github.com/kyleu/rituals/views/components"
  "github.com/kyleu/rituals/views/components/view"
) %}

{% func Table(models emember.EstimateMembers, estimatesByEstimateID estimate.Estimates, usersByUserID user.Users, params filter.ParamSet, as *app.State, ps *cutil.PageState) %}
  {%- code prms := params.Sanitized("emember", ps.Logger) -%}
  <div class="overflow clear">
    <table>
      <thead>
        <tr>
          {%= components.TableHeaderSimple("emember", "estimate_id", "Estimate ID", "UUID in format (00000000-0000-0000-0000-000000000000)", prms, ps.URI, ps) %}
          {%= components.TableHeaderSimple("emember", "user_id", "User ID", "UUID in format (00000000-0000-0000-0000-000000000000)", prms, ps.URI, ps) %}
          {%= components.TableHeaderSimple("emember", "name", "Name", "String text", prms, ps.URI, ps) %}
          {%= components.TableHeaderSimple("emember", "picture", "Picture", "URL in string form", prms, ps.URI, ps) %}
          {%= components.TableHeaderSimple("emember", "role", "Role", enum.AllMemberStatuses.Help(), prms, ps.URI, ps) %}
          {%= components.TableHeaderSimple("emember", "created", "Created", "Date and time, in almost any format", prms, ps.URI, ps) %}
          {%= components.TableHeaderSimple("emember", "updated", "Updated", "Date and time, in almost any format (optional)", prms, ps.URI, ps) %}
        </tr>
      </thead>
      <tbody>
        {%- for _, model := range models -%}
        <tr>
          <td class="nowrap">
            <a href="/admin/db/estimate/member/{%= view.UUID(&model.EstimateID) %}/{%= view.UUID(&model.UserID) %}">{%= view.UUID(&model.EstimateID) %}{% if x := estimatesByEstimateID.Get(model.EstimateID); x != nil %} ({%s x.TitleString() %}){% endif %}</a>
            <a title="Estimate" href="{%s `/admin/db/estimate`+`/`+model.EstimateID.String() %}">{%= components.SVGSimple("estimate", 18, ps) %}</a>
          </td>
          <td class="nowrap">
            <a href="/admin/db/estimate/member/{%= view.UUID(&model.EstimateID) %}/{%= view.UUID(&model.UserID) %}">{%= view.UUID(&model.UserID) %}{% if x := usersByUserID.Get(model.UserID); x != nil %} ({%s x.TitleString() %}){% endif %}</a>
            <a title="User" href="{%s `/admin/db/user`+`/`+model.UserID.String() %}">{%= components.SVGSimple("profile", 18, ps) %}</a>
          </td>
          <td><strong>{%= view.String(model.Name) %}</strong></td>
          <td><a href="{%s model.Picture %}" target="_blank" rel="noopener noreferrer">{%s model.Picture %}</a></td>
          <td>{%s model.Role.String() %}</td>
          <td>{%= view.Timestamp(&model.Created) %}</td>
          <td>{%= view.Timestamp(model.Updated) %}</td>
        </tr>
        {%- endfor -%}
      </tbody>
    </table>
  </div>
  {%- if prms.HasNextPage(len(models) + prms.Offset) || prms.HasPreviousPage() -%}
  <hr />
  {%= components.Pagination(len(models) + prms.Offset, prms, ps.URI) %}
  <div class="clear"></div>
  {%- endif -%}
{% endfunc %}
