<%: func MigrationDetail(model *npndatabase.Migration, params npncore.ParamSet, ctx *npnweb.RequestContext, w io.Writer) (int, error) %>
<%~ "layout/admin.html" %>
<%@ nav { %><% npntemplate.Navbar(ctx, _buffer) %><% } %>
<%@ body { %>
<div class="uk-section uk-section-small">
  <div class="uk-container">
    <div class="uk-card uk-card-body">
      <h3 class="uk-card-title"><%= ctx.Title %></h3>
      <table class="uk-table uk-table-divider uk-text-left">
        <tbody>
        <tr>
          <th><%= npncore.Title(npncore.KeyIdx) %></th>
          <td><%=v model.Idx %></td>
        </tr>
        <tr>
          <th><%= npncore.Title(npncore.KeyTitle) %></th>
          <td><%= model.Title %></td>
        </tr>
          <tr>
            <th>Source</th>
            <td><pre><%= model.Src %></pre></td>
          </tr>
          <tr>
            <th><%= npncore.Title(npncore.KeyCreated) %></th>
            <td><% npntemplate.DateTime(&model.Created, _buffer) %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<% } %>
