<%: func MigrationTable(migrations npndatabase.Migrations, params *npncore.Params, ctx *npnweb.RequestContext, buffer *bytes.Buffer) %>

<table class="uk-table uk-table-divider uk-text-left">
  <thead>
    <tr>
      <% npntemplate.TableHeader(npncore.KeyMigration, npncore.KeyIdx, npncore.Title(npncore.KeyIdx), params, ctx.Request, buffer) %>
      <% npntemplate.TableHeader(npncore.KeyMigration, npncore.KeyTitle, npncore.Title(npncore.KeyTitle), params, ctx.Request, buffer) %>
      <% npntemplate.TableHeader(util.KeyStory, npncore.KeyCreated, npncore.Title(npncore.KeyCreated), params, ctx.Request, buffer) %>
    </tr>
  </thead>
  <tbody>
  <% for _, model := range migrations { %>
    <tr>
      <td class="uk-table-shrink uk-text-nowrap"><a class="theme" href="<%= ctx.Route(npnweb.AdminLink(npncore.KeyMigration, npncore.KeyDetail), `idx`, fmt.Sprintf(`%v`, model.Idx)) %>"><%=v model.Idx %></a></td>
      <td><%= model.Title %></td>
      <td class="uk-table-shrink uk-text-nowrap"><% npntemplate.DateTime(&model.Created, buffer) %></td>
    </tr>
  <% } %>
  </tbody>
</table>
