{% import (
  "github.com/kyleu/rituals/app"
  "github.com/kyleu/rituals/app/controller/cutil"
  "github.com/kyleu/rituals/app/lib/user"
  "github.com/kyleu/rituals/app/util"
  "github.com/kyleu/rituals/views/components"
  "github.com/kyleu/rituals/views/components/view"
  "github.com/kyleu/rituals/views/layout"
  "github.com/kyleu/rituals/views/vauth"
) %}

{% code type Settings struct {
  layout.Basic
  Perms user.Permissions
  BuildInfo *app.BuildInfo
} %}

{% func (p *Settings) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    {%- if util.AppSource != "" -%}
    <div class="right"><a target="_blank" rel="noopener noreferrer" href="{%s util.AppSource %}"><button>GitHub</button></a></div>
    {%- endif -%}
    <h3 title="github:{%s p.BuildInfo.Commit %}">{%= components.SVGIcon(`cog`, ps) %} {%s util.AppName %} {%s p.BuildInfo.String() %}</h3>
    {%- if util.AppLegal != "" -%}
    <div class="mt">{%s= util.AppLegal %}</div>
    {%- endif -%}
    {%- if util.AppURL != "" -%}
    <p>{%= view.URL(util.AppURL, "", true, ps) %}</p>
    {%- endif -%}
    <em>This page is for the settings of the application. To change your user preferences, such as themes, <a href="/profile">edit your profile</a>.</em>
  </div>

  <div class="card">
    <h3>{%= components.SVGIcon(`archive`, ps) %} Admin Functions</h3>
    {%= settingsLink("/admin/server", "archive", "App Information", "All sorts of info about the server and runtime", ps) %}
    {%= settingsLink("/admin/modules", "robot", "Go Modules", "The Go modules used by " + util.AppName, ps) %}
    {%= settingsLink("/theme", "archive", "Edit Themes", "Configure the design themes available to end users", ps) %}
    {%= settingsLink("/admin/logs", "folder", "Recent Logs", "Displays the 100 most recent app logs", ps) %}
    <div class="clear"></div>
  </div>
  <div class="card">
    <h3>{%= components.SVGIcon(`bolt`, ps) %} HTTP Methods</h3>
    {%= settingsLink("/admin/sitemap", "graph", "Sitemap", "Displays the HTTP actions that are available, with documentation", ps) %}
    {%= settingsLink("/admin/routes", "folder", "HTTP routes", "Enumerates all registered HTTP routes, by method", ps) %}
    {%= settingsLink("/admin/session", "play", "User Session", "View the user session, including all cookies and settings", ps) %}
    {%= settingsLink("/admin/request", "download", "Debug HTTP Request", "Full debug view of an HTTP request from your browser", ps) %}
    {%= settingsLink("/admin/sockets", "cog", "Active WebSockets", "Manage the active WebSockets in this server", ps) %}
    <div class="clear"></div>
  </div>
  <div class="card">
    <h3>{%= components.SVGIcon(`cog`, ps) %} App Profiling</h3>
    {%= settingsLink("/admin/memusage", "desktop", "Memory Usage", "Detailed memory usage statistics for this application", ps) %}
    {%= settingsLink("/admin/gc", "cog", "Collect Garbage", "Runs the Go garbage collector", ps) %}
    {%= settingsLink("/admin/heap", "cog", "Write Memory Dump", "Writes a memory dump to <em>./tmp/mem.pprof</em>, use script to view", ps) %}
    {%= settingsLink("/admin/cpu/start", "cog", "Start CPU Profile", "Profiles the CPU using <em>./tmp/cpu.pprof</em>, use script to view", ps) %}
    {%= settingsLink("/admin/cpu/stop", "cog", "Stop CPU Profile", "Stops the active CPU profile", ps) %}
    <div class="clear"></div>
  </div>
  <div class="card">
    <h3>{%= components.SVGIcon(`database`, ps) %} Database Management</h3>
    {%= settingsLink("/admin/database", "database", "Database Management", "Tools for exploring and manipulating your database", ps) %}
    {%= settingsLink("/admin/migrations", "archive", "Migrations", "Shows the full content of all database SQL migrations", ps) %}
  </div>

  {%= vauth.Authentication(as, ps) %}

  {%= vauth.Permissions(p.Perms, as) %}
{% endfunc %}

{% func settingsLink(href string, icon string, title string, description string, ps *cutil.PageState) %}{% stripspace %}
  <hr class="clear" />
  <div class="mts ml">
    <a href="{%s href %}">{%= components.SVGInline(icon, 16, ps) %}{% space %}<strong>{%s title %}</strong></a>
    <div><em>{%s= description %}</em></div>
  </div>
{% endstripspace %}{% endfunc %}
