<%: func ComponentChannel(svc string, id *uuid.UUID, ctx web.RequestContext, buffer *bytes.Buffer) %>
<% if id == nil { %>
  &lt;nil&gt;
<% } else { %>
  <%
    var url = ""
    switch svc {
    case util.SvcTeam.Key:
      url = ctx.Route(util.AdminLink(util.SvcTeam.Key, `detail`), util.KeyID, id.String())
    case util.SvcSprint.Key:
      url = ctx.Route(util.AdminLink(util.SvcSprint.Key, `detail`), util.KeyID, id.String())
    case util.SvcEstimate.Key:
      url = ctx.Route(util.AdminLink(util.SvcEstimate.Key, `detail`), util.KeyID, id.String())
    case util.SvcStandup.Key:
      url = ctx.Route(util.AdminLink(util.SvcStandup.Key, `detail`), util.KeyID, id.String())
    case util.SvcRetro.Key:
      url = ctx.Route(util.AdminLink(util.SvcRetro.Key, `detail`), util.KeyID, id.String())
    }
  %>
  <% if url == "" { %>
    <%= svc %>:<% ComponentUUID(id, buffer) %>
  <% } else { %>
    <a class="<%= ctx.Profile.LinkClass() %>" href="<%= url %>"><%= svc %>:<% ComponentUUID(id, buffer) %></a>
  <% } %>
<% } %>
